<div ng-controller="commodity_detail_del_ctrl">
    <header>
        <div>
            <i class="glyphicon glyphicon-home"></i>
            <span class="shop_manage" ui-sref="merchant_index">商城管理</span>
            <span class="shop_manage" ui-sref="commodity.deleted({id:storeid})">>商品管理</span>
            <span class="commodity_manage">>商品详情</span>
            <img ng-src="pages/mall_manage/merchant_manage/commodity_manage/images/user.png" alt=""/>
        </div>
    </header>
    <section>
        <!--商品分类-->
        <div class="margin_top">
            <span>商品分类</span>
            <span class="margin_left" ng-bind="category_title"></span>
        </div>
        <!--商品名称-->
        <div class="margin_top">
            <span>商品名称</span>
            <span class="margin_left" ng-bind="title"></span>
        </div>
        <!--商品特色-->
        <div class="margin_top">
            <span>商品特色</span>
            <span class="margin_left" ng-bind="subtitle"></span>
        </div>
        <!--选择品牌-->
        <div class="margin_top">
            <span>选择品牌</span>
            <span class="margin_left" ng-bind="brand_name"></span>
        </div>
        <!--商品属性-->
        <div class="margin_top">
            <span>商品属性</span>
            <div class="margin_left inline_block goodattrs">
                <div ng-repeat="item in attrs">
                    <span ng-bind="item.name"></span>
                    <span class="margin_left" ng-bind="item.value"></span>
                </div>
                <div>
                    <span>风格</span>
                    <span class="margin_left" ng-bind="style_name"></span>
                </div>
                <div>
                    <span>系列</span>
                    <span class="margin_left" ng-bind="series_name"></span>
                </div>
            </div>
        </div>
        <hr>
        <!--上传图片-->
        <div class="margin_top picarr">
            <span>上传图片</span>
            <div class="margin_left inline_block img_size coverimg">
                <img ng-src="{{baseUrl + '/'+ cover_image}}" alt="">
                <div id="coverimg_span">封面图</div>
            </div>
            <div class="inline_block img_size" ng-repeat="item in images track by $index" style="margin-left: 10px">
                <img ng-src="{{baseUrl + '/'+ item}}" alt="">
            </div>
        </div>
        <!--价格/库存-->
        <div class="margin_top">
            <span>价格/库存</span>
            <div class="margin_left inline_block">
                <div>
                    <span class="font_size">供货价格</span>
                    <span class="font_size">平台价格</span>
                    <span class="font_size">市场价格</span>
                    <span class="font_size">库存</span>
                </div>
                <hr>
                <div class="margin_top">
                    <span class="font_size">{{supplier_price | currency:"¥"}}</span>
                    <span class="font_size">{{platform_price | currency:"¥"}}</span>
                    <span class="font_size">{{market_price | currency:"¥"}}</span>
                    <span class="font_size">{{left_number}}</span>
                </div>
            </div>
        </div>
        <!--采购价-->
        <div class="margin_top">
            <span>采购价</span>
            <div style="text-indent: 1.5rem" class="margin_left inline_block">
                <div>
                    <span class="">装修公司采购价</span>
                    <span class="purchase_left">项目经理采购价</span>
                    <span class="purchase_left">设计师采购价</span>
                </div>
                <hr>
                <div class="margin_top">
                    <span class="purchase_input">{{purchase_price_decoration_company | currency:"¥"}}</span>
                    <span class="purchase_input">{{purchase_price_manager | currency:"¥"}}</span>
                    <span class="purchase_input">{{purchase_price_designer | currency:"¥"}}</span>
                </div>
                <p style="margin-top: 10px">*价格，供货价≤装修公司采购价≤项目经理采购价/设计师采购价≤平台价≤市场价</p>
            </div>
        </div>
        <!--物流模块-->
        <div class="margin_top">
            <span>商品物流</span>
            <div class="margin_left inline_block">
                <div>
                    <span ng-bind="name"></span>
                </div>
                <div class="margin_top">
                    <span>快递方式</span>
                    <span class="margin_left" ng-bind="delivery_method"></span>
                </div>
                <div class="margin_top">
                    <span>城市选择</span>
                    <span class="margin_left" ng-bind="district_names"></span>
                    <span style="color:#5677FC" ng-show="alldistricts.length > 3" data-toggle="modal" data-target="#showdistricts">查看</span>
                </div>

                <div class="margin_top">
                    <span>是否包邮</span>
                    <span class="margin_left">不包邮</span>
                </div>
                <div class="margin_top">
                    <span>收费金额</span>
                    <div class="margin_left inline_block">
                        <p>默认1件商品：¥{{delivery_cost_default}}</p>
                        <p>每增加1件商品，¥{{delivery_cost_delta}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--地区提示模态框-->
        <div class="modal fade" id="showdistricts" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content" id="save_content">
                    <div class="modal-header" id="save_header">
                        <h4 class="modal-title" id="tishi">
                            已选择地区
                        </h4>
                    </div>
                    <div class="modal-body" id="save_body">
                        <span ng-repeat="item in alldistricts" class='eachdistrict'>{{item}}</span>
                    </div>

                    <div class="btn_modal_two">
                        <button id="caozuo_sure" data-dismiss="modal" ng-click=sureCloseStore()>确认</button>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <!--售后-->
        <div class="margin_top" ng-show="afterServiceShow()">
            <span>售后</span>
            <div class="margin_left inline_block" style="margin-top:-15px;margin-left: 110px">
                <div class="margin_top" ng-repeat="item in after_sale_services_desc">
                    <p ng-show="afterserviceTest(item)">{{item}}</p>
                </div>
            </div>
        </div>
        <!--保障-->
        <div class="margin_top">
            <span>保障</span>
            <div class="margin_left inline_block" style="margin-left: 110px">
                <div ng-repeat="item in after_sale_services_desc">
                    <p ng-show="safeguardTest(item)">{{item}}</p>
                </div>

            </div>
        </div>
        <hr>
        <!--线下商城二维码-->
        <div class="margin_top">
            <span >线下商城二维码</span>
            <div style="text-indent:4rem" class="inline_block">
                <img style="width: 170px;height: 170px;" src="{{baseUrl + '/'+ qr_code}}" alt="">
            </div>
        </div>
        <hr>
        <!--详细描述-->
        <div class="margin_top">
            <span>详细描述</span>
            <div class="margin_left inline_block">
                <div>
                    <p ng-bind="description"></p>
                </div>
            </div>
        </div>
        <!--操作-->
        <div class="btn_margin_top">
            <span class="btn_size" ui-sref="commodity.deleted({id:storeid})">返回</span>
        </div>
    </section>
</div>