<link rel="stylesheet" href="pages/mall_manage/style_manage/add_style/css/add_style.css">
<div ng-controller="add_style">
    <!--顶部导航-->
    <div class="topnav">
        <span class="glyphicon glyphicon-certificate"></span>
        <h6>商城管理</h6>
        <h6 ui-sref="style_index({showstyle:true})">> 系列/风格/属性管理 </h6>
        <h6>> 添加新风格 </h6>
    </div>

    <div class="add_series">
        <form name="form" novalidate>
            <!--系列名称-->
        <div class="series_name">
            <span class="glyphicon glyphicon-asterisk red_mark" ></span>
            <span>风格名称</span>
            <input name="style_name" required ng-class="{'border_red':(form.style_name.$invalid &&submitted)||(form.style_name.$error.required && title_blur || name_flag)}" ng-blur="title_blur=!!form.style_name.$error" maxlength=10 type="text" placeholder="请输入风格名称" ng-model="style_name" >
            <span id="limitword">*限1~10个字符</span>
            <p class="red_mark" ng-show="name_flag">
                <span class="glyphicon glyphicon-asterisk"></span>
                该风格名称已存在，请重新填写
            </p>
        </div>

        <!--系列标签-->
        <div class="series_tag">
            <span class="glyphicon glyphicon-asterisk red_mark" ></span>
            <span>系列标签</span>
            <img ng-click="label_add()" ng-class="{'add_vis':style_label_arr.length>=9}" src="pages/mall_manage/style_manage/add_series/image/add.png" alt="">
            <ul class="tags">
                <li ng-repeat="item in style_label_arr track by $index">
                    <input ng-model="item.num" name="{{item.label_name}}" required ng-class="{'border_red':form.{{item.label_name}}.$invalid &&submitted||(form.{{item.label_name}}.$error.required && submitted)}" type="text" maxlength="4" placeholder="请输入标签">
                    <img ng-if="style_label_arr.length!=1" ng-click="close_label($index)" src="pages/mall_manage/style_manage/add_style/image/close.png" class="closetag">
                </li>
                <span>*限1~4个字符,最多9个标签</span>
            </ul>
        </div>

        <!--风格效果图-->
        <div class="brand_register brand_logo">
            <span class="glyphicon glyphicon-asterisk red_mark"></span>
            <span>风格效果图</span>
            <div class="pic_right">
                <div class="img_list" ng-repeat="item in upload_img_arr">
                    <img ng-src="{{baseUrl + '/'+ item}}" class="logo">
                    <div class="img_times" ng-click="del_img(item)">&times;</div>
                </div>
                <img ng-if="upload_img_arr.length!=3" ngf-pattern="image/*" ng-change="upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file" src="pages/mall_manage/style_manage/add_style/image/plus.png" alt="" id="logo">
                <p>图片大小694×400，5M内，可上传3张图片，支持JPG、PNG、JPEG</p>
                <p class="red_mark warning" ng-if="!!img_flag">
                    <span class="glyphicon glyphicon-asterisk red_mark"></span>
                    {{img_flag}}
                </p>
            </div>
        </div>

        <!--系列介绍-->
        <div class="series_intro">
            <span class="glyphicon glyphicon-asterisk red_mark" ></span>
            <span>风格介绍</span>
            <textarea name="style_txt" maxlength="70" ng-change="change_txts()" required ng-class="{'border_red':(form.style_txt.$invalid &&submitted)||(form.style_txt.$error.required && area_blur)}" ng-blur="area_blur=!!form.style_txt.$error" placeholder="请输入添加风格的介绍内容" ng-model="style_intro"></textarea>
            <span class="word_num">{{style_intro.length}}/70</span>
        </div>

        <!--按钮-->
        <div class="btn_sure">
            <button class="btn btn-primary" data-toggle="modal" data-target="#suremodal" ng-click="add_style_ok(form.$valid)">确认</button>
            <button class="btn btn-default btn_left" ui-sref="style_index({showstyle:true})">返回</button>
        </div>
        </form>
    </div>

    <!--确认提示框-->
    <div class="modal fade" id="{{sur_id}}" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="save_content">
                <div class="modal-header" id="save_header">
                    <h4 class="modal-title" id="tishi">
                        提示
                    </h4>
                </div>
                <div class="modal-body" id="save_body">
                    <h6 id="tishi_wenzi">添加成功</h6>
                </div>

                <div class="btn_modal_two">
                    <button id="caozuo_sure" data-dismiss="modal" ng-click="style_go()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>