<link rel="stylesheet" href="pages/mall_manage/merchant_manage/merchant_comment/css/comment.css"/>
<div ng-controller="comment_ctrl">
    <header>
        <div>
            <i class="glyphicon glyphicon-home"></i>
            <span class="shop_manage">商城管理 ></span>
            <span class="shop_manage">商家管理 ></span>
            <span class="manage_child">商家详情</span>
            <img src="pages/mall_manage/merchant_manage/merchant_comment/images/user.png" alt=""/>
        </div>
    </header>
    <section>  <!--图文详情和参数-->
        <div class="pic_comment">
            <div>
                <ul class="nav nav-tabs list_tab" ng-init="vm.activeTab=1">
                    <li ng-class="{active:vm.activeTab == 1}">
                        <a href="javascript:;" ng-click="vm.activeTab = 1" >基本信息</a>
                        <span ng-class="{line_com:vm.activeTab==1}" ></span>
                    </li>
                    <li ng-class="{active: vm.activeTab == 2}">
                        <a href="javascript:;" ng-click="vm.activeTab = 2">店铺咨质</a>
                        <span ng-class="{line_com:vm.activeTab==2}" ></span>
                    </li>
                    <li ng-class="{active: vm.activeTab == 3}">
                        <a href="javascript:;" ng-click="vm.activeTab = 3">品牌授权</a>
                        <span ng-class="{line_com:vm.activeTab==3}" ></span>
                    </li>
                </ul>
                <div class="tab-content tab-bordered">
                    <!--基本信息-->
                    <div class="tab-panel" ng-show="vm.activeTab == 1">
                        <div class="shop_name">
                            <span>店铺名称</span>
                            <span>马可波罗季泽华专卖店</span>
                        </div>

                        <!--店铺号-->
                        <div class="shop_num">
                            <span>店铺号</span>
                            <span>8888888</span>
                        </div>

                        <!--开店时间-->
                        <div class="shop_name">
                            <span>开店时间</span>
                            <span>2017-02-02</span>
                        </div>

                        <!--登录账号-->
                        <div class="shop_name">
                            <span>登录账号</span>
                            <span>188782622</span>
                        </div>
                        <!--店铺状态-->
                        <div class="shop_name">
                            <span>店铺状态</span>
                            <span>已闭店</span>
                        </div>

                        <!--店铺logO-->
                        <div class="shop_logo">
                            <span>店铺logo</span>
                            <img src="" alt=""/>
                        </div>
                        <hr/>

                        <!--店铺评分-->
                        <div class="shop_store">
                            <span>店铺评分</span>
                            <ul>
                                <li><span>综合评分</span><span>9.5</span></li>
                                <li><span>店家服务</span><span>9.5</span></li>
                                <li><span>物流速度</span><span>9.5</span></li>
                                <li><span>配送员服务</span><span>9.5</span></li>
                            </ul>
                        </div>

                        <!--关注粉丝-->
                        <div class="shop_name">
                            <span>关注粉丝</span>
                            <span>4K</span>
                        </div>
                        <!--按钮-->
                        <div class="btn_back">
                            <button>返回</button>
                        </div>

                    </div>
                    <!--店铺资质-->
                    <div class="tab-panel" ng-show="vm.activeTab == 2">
                        <div class="shop_name">
                            <span>单位类型</span>
                            <span>企业</span>
                        </div>
                        <!--店铺号-->
                        <div class="shop_num">
                            <span>店铺号</span>
                            <span>基础装修-地面材料-木地板</span>
                        </div>

                        <!--店铺类型-->
                        <div class="shop_name">
                            <span>店铺类型</span>
                            <span>专卖店</span>
                        </div>
                        <!--资质日期-->
                        <div class="shop_name">
                            <span>资质日期</span>
                            <span>2017-02-01至2017-05-06</span>
                        </div>
                        <!--保证金-->
                        <div class="shop_money">
                            <span>质保金</span>
                            <span>￥5000.00</span>
                            <span>已免除</span>
                        </div>
                        <hr/>
                        <!--公司名称-->
                        <div class="shop_name">
                            <span>公司名称</span>
                            <span>北京中南海装饰有限公司</span>
                        </div>
                        <!--社会信用代码-->
                        <div class="shop_credit">
                            <span>社会信用代码</span>
                            <span>46464666</span>
                        </div>
                        <!--营业执照-->
                        <div class="shop_license">
                            <span>营业执照</span>
                            <img src="" alt=""/>
                        </div>
                        <hr/>
                        <!--法人名称-->
                        <div class="shop_name">
                            <span>法人名称</span>
                            <span>亚索</span>
                        </div>
                        <!--法人身份证号-->
                        <div class="shop_card">
                            <span>法人身份证号</span>
                            <span>513002199955532</span>
                        </div>
                        <!--法人身份证正面-->
                        <div class="shop_face">
                            <span>法人身份证正面</span>
                            <img src="" alt=""/>
                        </div>
                        <!--法人身份证反面-->
                        <div class="shop_face">
                            <span>法人身份证反面</span>
                            <img src="" alt=""/>
                        </div>
                        <!--按钮-->
                        <div class="btn_back">
                            <button>返回</button>
                        </div>
                    </div>
                    <!--品牌授权-->
                    <div class="tab-panel" ng-show="vm.activeTab == 3">
                        <div class="table_div">
                            <table class="table table-condensed">
                                <tr>
                                    <th>品牌详情</th>
                                    <th>申请日期</th>
                                    <th>授权日期</th>
                                    <th>状态</th>
                                    <th>审核备注</th>
                                    <th>详情</th>
                                </tr>
                                <tr>
                                    <td>升达木地板专卖店</td>
                                    <td>2017-09-10 10:35</td>
                                    <td>2017-09-10 至 2018-09-10</td>
                                    <td>通过</td>
                                    <td>无</td>
                                    <td><a href="">查看</a></td>
                                </tr>
                                <tr>
                                    <td>升达木地板专卖店</td>
                                    <td>2017-09-10 10:35</td>
                                    <td>2017-09-10 至 2018-09-10</td>
                                    <td>通过</td>
                                    <td data-toggle="modal" data-target=".bs-example-modal-md">营业执照</td>
                                    <td><a ui-sref="merchant_details">查看</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--模态框-->
        <div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content modal_size">
                    <h4>审核备注</h4>
                    <hr/>
                    <span>说明</span>
                    <span>营业执照不清晰，请重新上传</span>
                    <br/>
                    <button class="modal_size_btn" data-dismiss="modal">确认</button>
                </div>

            </div>
        </div>
    </section>
</div>