.shop_manage{
  color: #2F3033;
  line-height: 14px;
  font-weight: bold;
}

/*头部结束*/
section{
  padding-left: 40px;
  margin-top: 90px;
}
.title{
  color: #666F80;
}
.inline_block{
  display: inline-block!important;
  vertical-align: top;
  margin-left: 90px;
}
.inline_block span{
  color: #E51C23;
  font-size: 12px;
}
.margin_top{
  margin-top: 30px;
}
.margin_left{
  margin-left: 30px;
  color: #ABABAB;
  font-size: 12px;
}
.input_style{
  border: 1px solid #ABABAB;
  width: 220px;
  height: 35px;
  border-radius: 3px;
  padding-left: 5px;
}

.btns{
  margin-top: 200px;
}

.btns button{
  margin-right: 15px;
}
