<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/all.css"/>
    <link rel="stylesheet" href="css/global.css"/>
    <link rel="stylesheet" href="css/index_recommend.css"/>
</head>
<body ng-app="app" ng-controller="index_recommend" ng-cloak>

    <div class="main">
        <!--弹窗开始-->
        <div class="popup hide" >
            <div class="box1">
                <!--调整顺序-->
                <div class="order_save hide">
                    <div class="warm_title">保存</div>
                    <div class="warm_word1">确认保存</div>
                    <div class="sure_box">
                        <div>
                            <span class="btn2 save_sure sure_left" ng-click="save_sure()">确认</span>
                            <span class="btn2 save_cancel" ng-click="save_cancel()">取消</span>
                        </div>
                    </div>
                </div>
                <!--添加-->
                <div class="add1  hide" >
                    <div class="warm_title">banner添加</div>
                    <ul class="adds1">
                        <li><a href="#" class="current1" name="add_tab1">商家</a></li>
                        <li><a href="#" name="add_tab2">链接</a></li>
                    </ul>
                    <div class="content1">
                        <div class="tab2 add_tab1">
                            <div class="line_box">
                                <div class="line_left ">
                                    商品编号
                                </div>
                                <div class="line_right ">
                                    <input class="gain_input text_input" ng-model="add_sku" type="text"/>
                                    <div class="gain_btn " style="margin-left: 0" ng-click="gain_recommend(add_sku,'添加')">获取</div>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    商品链接
                                </div>
                                <div class="line_right ">
                                    <input  type="text" class="text_input" ng-model="add_url" disabled="disabled"/>
                                    <a class="gain_btn " href="{{add_url}} " target="_blank" style="margin-left: 0">查看</a>
                                </div>
                            </div>
                            <div ng-if="add_url==''"></div>
                            <div class="line_box">
                                <div class="line_left ">
                                    标题
                                </div>
                                <div class="line_right ">
                                    <input  class="text_input" ng-model="add_name" type="text"/>
                                </div>
                            </div>
                            <div class="line_box"  ng-if="kind_type==2">
                                <div class="line_left ">
                                    副标题
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="add_description" type="text"/>
                                </div>
                            </div>
                            <div class="line_box" ng-if="kind_type==2">
                                <div class="line_left ">
                                    显示价格
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="add_price" type="text"/>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    是否启用
                                </div>
                                <div class="line_right ">
                                    <label for="yes1">是</label>
                                    <input  type="radio" value="0" name="sex1" id="yes1"/>
                                    <label for="no1">否</label>
                                    <input  type="radio" value="1" name="sex1" id="no1" checked/>
                                </div>
                            </div>
                            <ul class="map_box">
                                <li class="map_left fl">
                                    <div>图片：</div>
                                    <div>375×185,5M内</div>
                                </li>
                                <li class="map_right fl">
                                    <img src="{{url}}{{add_image2}}"  alt=""/>
                                    <form  id="uploadForm1" enctype="multipart/form-data" >
                                        <input name="button" type="button"  id="btn1" onclick="myfile1.click();" ng-click="doUpload(1)" value="上传" />
                                        <input type="file" id="myfile1" name="file1" value="" style="display:none" accept="image/*">
                                        <span>{{add_image2}}</span>
                                    </form>
                                </li>
                            </ul>
                            <div class="sure_box " >
                                <div>
                                    <span class="btn2 add_sure sure_left " ng-click="add_sure(1)">提交</span>
                                    <span class="btn2 add_cancel" ng-click="add_cancel()">取消</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab2 add_tab2">
                            <div class="line_box">
                                <div class="line_left ">
                                    链接
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="add_url" type="text"/>
                                    <a class="gain_btn " href="{{add_url}}" target="_blank" style="margin-left: 0">查看</a>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    标题
                                </div>
                                <div class="line_right ">
                                    <input  type="text" ng-model="add_name" class="text_input" />
                                </div>
                            </div>
                            <div class="line_box"  ng-if="kind_type==2">
                                <div class="line_left ">
                                    副标题
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="add_description" type="text"/>
                                </div>
                            </div>
                            <div class="line_box" ng-if="kind_type==2">
                                <div class="line_left ">
                                    显示价格
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="add_price" type="text"/>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    是否启用
                                </div>
                                <div class="line_right ">
                                    <label for="yes2">是</label>
                                    <input  type="radio" value="0" name="sex2" id="yes2"/>
                                    <label for="no2">否</label>
                                    <input  type="radio" value="1" name="sex2" id="no2" checked/>
                                </div>
                            </div>
                            <ul class="map_box">
                                <li class="map_left fl">
                                    <div>图片：</div>
                                    <div>375×185,5M内</div>
                                </li>
                                <li class="map_right fl">
                                    <img src="{{url}}{{add_image2}}" alt=""/><br/>
                                    <form  id="uploadForm2" enctype="multipart/form-data" method="post">
                                        <input name="button" type="button"  id="btn2" onclick="myfile2.click();" ng-click="doUpload(2)" value="上传" />
                                        <input type="file" id="myfile2" name="UploadForm[file]" value="" style="display:none" accept="image/*">
                                        <span>{{add_image2}}</span>
                                    </form>
                                </li>
                            </ul>
                            <div class="sure_box " >
                                <div>
                                    <span class="btn2 add_sure sure_left " ng-click="add_sure(2)">提交</span>
                                    <span class="btn2 add_cancel" ng-click="add_cancel()">取消</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--编辑-->
                <div class="edit1 hide">
                    <div class="is_edit hide">
                        <div class="warm_title">编辑banner</div>
                        <div class="Product_box hide">
                            <div class="line_box">
                                <div class="line_left ">
                                    商品编号
                                </div>
                                <div class="line_right ">
                                    <input class="gain_input text_input" ng-model="edit_sku" type="text"/>
                                    <div class="gain_btn " style="margin-left: 0">获取</div>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    商品链接
                                </div>
                                <div class="line_right ">
                                    <input  type="text" class="text_input" ng-model="edit_url" disabled="disabled"/>
                                    <a class="gain_btn " href="{{edit_url}}" target="_blank" style="margin-left: 0">查看</a>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    标题
                                </div>
                                <div class="line_right ">
                                    <input  class="text_input" ng-model="edit_name" type="text"/>
                                </div>
                            </div>
                            <div class="line_box"  ng-if="kind_type==2">
                                <div class="line_left ">
                                    副标题
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="edit_description" type="text"/>
                                </div>
                            </div>
                            <div class="line_box" ng-if="kind_type==2">
                                <div class="line_left ">
                                    显示价格
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="edit_price" type="text"/>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    是否停用
                                </div>
                                <div class="line_right ">
                                    <label for="yes3">是</label>
                                    <input  type="radio" value="0" name="sex3" id="yes3"/>
                                    <label for="no3">否</label>
                                    <input  type="radio" value="1" name="sex3" id="no3" />
                                </div>
                            </div>
                            <ul class="map_box">
                                <li class="map_left fl">
                                    <div>图片：</div>
                                    <div>375×185,5M内</div>
                                </li>
                                <li class="map_right fl">
                                    <img src="{{url}}{{edit_image2}}"  alt=""/>
                                    <form  id="uploadForm3" enctype="multipart/form-data" >
                                        <input name="button" type="button"  id="btn3" onclick="myfile3.click();" ng-click="doUpload(3)" value="上传" />
                                        <input type="file" id="myfile3" name="file1" value="" style="display:none" accept="image/*">
                                        <span>{{edit_image2}}</span>
                                    </form>
                                </li>
                            </ul>
                            <div class="sure_box">
                                <div>
                                    <span class="btn2 edit_sure sure_left" ng-click="edit_sure()">确认编辑</span>
                                    <span class="btn2 edit_cancel" ng-click="edit_cancel()">取消</span>
                                </div>

                            </div>
                        </div>
                        <div class="link_box hide">
                            <div class="line_box">
                                <div class="line_left ">
                                    链接
                                </div>
                                <div class="line_right ">
                                    <input  type="text" class="text_input" ng-model="edit_url" disabled="disabled"/>
                                    <a class="gain_btn " href="{{edit_url}}" target="_blank" style="margin-left: 0">查看</a>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    标题
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="edit_name" type="text"/>
                                </div>
                            </div>
                            <div class="line_box"  ng-if="kind_type==2">
                                <div class="line_left ">
                                    副标题
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="edit_description" type="text"/>
                                </div>
                            </div>
                            <div class="line_box" ng-if="kind_type==2">
                                <div class="line_left ">
                                    显示价格
                                </div>
                                <div class="line_right ">
                                    <input class="text_input" ng-model="edit_price" type="text"/>
                                </div>
                            </div>
                            <div class="line_box">
                                <div class="line_left ">
                                    是否停用
                                </div>
                                <div class="line_right ">
                                    <label for="yes4">是</label>
                                    <input  type="radio" value="0"  name="sex4" id="yes4"/>
                                    <label for="no4">否</label>
                                    <input  type="radio" value="1" name="sex4" id="no4" checked/>
                                </div>
                            </div>
                            <ul class="map_box">
                                <li class="map_left fl">
                                    <div>图片：</div>
                                    <div>750×370,5M内</div>
                                </li>
                                <li class="map_right fl">
                                    <img src="{{url}}{{edit_image2}}" alt=""/><br/>
                                    <form  id="uploadForm4" enctype="multipart/form-data" >
                                        <input name="button" type="button"  id="btn4" onclick="myfile4.click();" ng-click="doUpload(4)" value="上传" />
                                        <input type="file" id="myfile4" name="file1" value="" style="display:none" accept="image/*">
                                        <span>{{edit_image2}}</span>
                                    </form>
                                </li>
                            </ul>
                            <div class="sure_box">
                                <div>
                                    <span class="btn2 edit_sure sure_left" ng-click="edit_sure()">确认编辑</span>
                                    <span class="btn2 edit_cancel" ng-click="edit_cancel()">取消</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!--删除-->
                <div class="delete1 hide">
                    <!--删除和停用无处理操作的的提示框-->
                    <div class="not_stop hide" >
                        <div class="warm_title">提示</div>
                        <div class="warm_word1">确认停用</div>
                        <div class="sure_box">
                            <div>
                                <span class="btn2 save_cancel" ng-click="del_close1()">关闭</span>
                            </div>
                        </div>
                    </div>
                    <div class="is_stop hide">
                        <div class="warm_title">删除</div>
                        <div class="warm_word1">确认删除</div>
                        <div class="sure_box">
                            <div>
                                <span class="btn2 del_sure sure_left" ng-click="del_sure()">确认删除</span>
                                <span class="btn2 del_cancel" ng-click="del_cancel()">取消</span>
                            </div>

                        </div>
                    </div>
                </div>
                <!--停用-->
                <div class="stop1 hide">
                    <div class="is_stop hide">
                        <div class="warm_title">停用</div>
                        <div class="warm_word1">确认停用</div>
                        <div class="sure_box">
                            <div>
                                <span class="btn2 save_sure sure_left" ng-click="stop_sure()">确认停用</span>
                                <span class="btn2 save_cancel" ng-click="stop_cancel()">取消</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
        <!--弹窗结束-->
        <div class="nav_box ">
            <div class="logo">
                <img src="images/logo.png" alt=""/>
            </div>
            <dl >
                <dt onClick="changeImage()" ><img src="images/select1.png">首页</dt>

            </dl>

            <dl >
                <dt onClick="changeImage()"><img src="images/select1.png">用户管理</dt>
                <dd ><a href="">上架商品</a></dd>
                <dd><a href="">活动商品</a></dd>
            </dl>

            <dl>
                <dt><img src="images/select1.png">系统管理</dt>
                <dd ><a href="" >管理员列表</a></dd>
                <dd><a href="">角色管理</a></dd>
                <dd><a href="">权限管理</a></dd>
            </dl>

            <dl class="mall">
                <dt onClick="changeImage()" class="on"><img src="images/select1.png">商城管理</dt>
                <dd ><a href="index.html" class="dd_on">首页推荐</a></dd>
                <dd><a href="view/mall_manage/merchant_manage.html">商家管理</a></dd>
                <dd><a href="#">商品管理</a></dd>
            </dl>
        </div>

        <div class="my_container ">
            <div class="header_box">
                <div class="header_left">
                    <div ng-click="loadTab(0)" class="fl color_2f">
                        <img src="images/select1.png" alt=""/>商城管理
                    </div>
                    <div ng-click="loadTab(kind_type)" id="nav_2" class="fl color1_8d">
                        >首页推荐
                    </div>
                    <div class="fl color1_8d history"  ><img src="images/select1.png" alt=""/>历史数据</div>
                </div>
                <div class="header_right">
                    <div class="fl">
                        <a href=""><img src="images/news.png" alt=""/>站内信</a>
                    </div>
                    <div class="fl">|</div>
                    <div class="fl">
                        <a href="">个人面板<img style="height:30px" src="images/center.png" alt=""/></a>
                    </div>
                </div>
            </div>
            <div class="tb_big_box">
                <ul class="tabs">
                    <li class="kind_li"><a href="#" name="0" class="current">banner</a></li>
                    <li class="kind_li"><a href="#" name="2">推荐</a></li>
                </ul>
                <div class="content">
                    <div class="tab 0">{{mydata1}}
                        <div class="operate_box">
                            <div class="btn1 fl" ng-click="save1()">保存</div>
                            <div class="btn1 fl" ng-click="add(0)">添加</div>
                            <label class="btn1 fl" for="all1">全选</label>
                            <input type="checkbox" class="choose_all1" id="all1" ng-click="all('choose1')" style="display: none"/>
                            <div class="btn1 fl" ng-click="delete()">删除</div>
                            <div class="btn1 fl" ng-click="stop()">停用</div>
                            <div class="fl" ng-click="history(0,'all','','')">历史数据</div>
                            <div class="btn1 screen" ng-click="screen('cells_box','screen')" style="position:absolute;top:30px;right:40px"><img src="images/cell_icon.jpg" alt=""/></div>
                            <div id="cells_box" class="hide" style="position: absolute;top:59px;right:40px;border:1px solid #333">
                                <ul   style="">
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_name" />
                                        <span>标题</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_type" />
                                        <span>类型</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_sku" />
                                        <span>商品编号</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_supplier_name" />
                                        <span>来源商家</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_viewed_number" />
                                        <span>上架浏览</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_sold_number" />
                                        <span>上架销量</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_status" />
                                        <span>是否停用</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_create_time" />
                                        <span>创建时间</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_image" />
                                        <span>图片</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="table_box">
                            <table  border="1">
                                <thead>
                                <th class="choose1">
                                    <!--<input type="checkbox" ng-click="all()" class="choose_all"/>-->
                                </th>
                                <th class="tb_name">标题</th>
                                <th class="tb_type">类型</th>
                                <th class="tb_sku">商品编号</th>
                                <th class="tb_supplier_name">来源商家</th>
                                <th class="tb_viewed_number">上架浏览</th>
                                <th class="tb_sold_number">上架销量</th>
                                <th class="tb_status">是否停用</th>
                                <th class="tb_create_time">创建时间</th>
                                <th class="tb_image">图片</th>
                                <th class="action">操作：</th>
                                </thead>
                                <tbody >
                                <tr ng-repeat="n in mydata1" ng-controller="itemReaptCtrl" class="{{n.id}}"  >
                                    <td class="choose1">
                                        <input type="checkbox" value="{{n.id}}" name="item" class="choose1"/>
                                    </td>
                                    <td class="tb_name">{{n.title}}</td>
                                    <td class="tb_type">{{n.from_type}}</td>
                                    <td class="tb_sku">{{n.sku}}
                                        <span ng-if="n.sku==''">无</span>
                                    </td>
                                    <td class="tb_supplier_name">
                                        <a href="{{n.url}}"  target="_blank">
                                            {{n.supplier_name}}
                                        </a>
                                    </td>
                                    <td class="tb_viewed_number">{{n.viewed_number}}</td>
                                    <td class="tb_sold_number">{{n.sold_number}}</td>
                                    <td class="tb_status">{{n.status}}</td>
                                    <td class="tb_create_time">{{n.create_time}} </td>
                                    <td class="tb_image">
                                        <img src="{{url}}{{n.image}}" alt=""/>{{n.image}}
                                    </td>
                                    <td class="action">
                                        <span ng-click="stop_one(n.id)" class="stop">
                                            <span ng-if="n.status=='停用'">启用</span>
                                            <span ng-if="n.status=='启用'">停用</span>
                                        </span>
                                        <span ng-click="edit(n.id,n.title,n.description,n.sku,n.supplier_name,n.url,n.status,n.image,n.platform_price,n.from_type,0)">编辑</span>
                                        <span ng-click="dele(n.id)">删除</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab 2">
                        <div class="operate_box">
                            <div class="btn1 fl" ng-click="save1()">保存</div>
                            <div class="btn1 fl" ng-click="add(2)">添加</div>
                            <label class="btn1 fl" for="all2">全选</label>
                            <input type="checkbox" class="choose_all1" id="all2" ng-click="all('choose1')" style="display: none"/>
                            <div class="btn1 fl" ng-click="delete()">删除</div>
                            <div class="btn1 fl" ng-click="stop()">停用</div>
                            <div class="fl" ng-click="history(2,'all','','')">历史数据</div>
                            <div class="btn1 screen1"  ng-click="screen('cells_box1','screen1')" style="position:absolute;top:30px;right:40px"><img src="images/cell_icon.jpg" alt=""/></div>
                            <div id="cells_box1" class="hide" style="position: absolute;top:59px;right:40px;border:1px solid #333">
                                <ul   style="">
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_name1" />
                                        <span>标题</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" value="tb_description1" />
                                        <span>副标题</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" value="tb_platform_price1" />
                                        <span>价格</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_type1" />
                                        <span>类型</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_sku1" />
                                        <span>商品编号</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_supplier_name1" />
                                        <span>来源商家</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_viewed_number1" />
                                        <span>上架浏览</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_sold_number1" />
                                        <span>上架销量</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_status1" />
                                        <span>是否停用</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_create_time1" />
                                        <span>创建时间</span>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="cell" checked="checked" value="tb_image1"/>
                                        <span>图片</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="table_box">
                            <table  border="1">
                                <thead>
                                <th class="choose">
                                    <!--<input type="checkbox" ng-click="all()" class="choose_all"/>-->
                                </th>
                                <th class="tb_name1">标题</th>
                                <th class="tb_description1" >副标题</th>
                                <th class="tb_platform_price1" >价格</th>
                                <th class="tb_type1">类型</th>
                                <th class="tb_sku1">商品编号</th>
                                <th class="tb_supplier_name1">来源商家</th>
                                <th class="tb_viewed_number1">上架浏览</th>
                                <th class="tb_sold_number1">上架销量</th>
                                <th class="tb_status1">是否停用</th>
                                <th class="tb_create_time1">创建时间</th>
                                <th class="tb_image1">图片</th>
                                <th class="action1">操作：</th>
                                </thead>
                                <tbody >
                                <tr ng-repeat="n in mydata2" ng-controller="itemReaptCtrl" class="{{n.id}}"  >
                                    <td class="choose">
                                        <input type="checkbox" value="{{n.id}}" name="item" class="choose1"/>
                                    </td>
                                    <td class="tb_name1">{{n.title}}</td>
                                    <td class="tb_description1" >{{n.description}}</td>
                                    <td class="tb_platform_price1" >{{n.platform_price}}</td>
                                    <td class="tb_type1">{{n.from_type}}</td>
                                    <td class="tb_sku1">{{n.sku}}
                                        <span ng-if="n.sku==''">无</span>
                                    </td>
                                    <td class="tb_supplier_name1">
                                        <a href="{{n.url}}"  target="_blank">
                                            {{n.supplier_name}}
                                        </a>
                                    </td>
                                    <td class="tb_viewed_number1">{{n.viewed_number}}</td>
                                    <td class="tb_sold_number1">{{n.sold_number}}</td>
                                    <td class="tb_status1">{{n.status}}</td>
                                    <td class="tb_create_time1">{{n.create_time}} </td>
                                    <td class="tb_image1">
                                        <img src="{{url}}{{n.image}}" alt=""/>{{n.image}}
                                    </td>
                                    <td class="action1">
                                        <span ng-click="stop_one(n.id)" class="stop">
                                            <span ng-if="n.status=='停用'">启用</span>
                                            <span ng-if="n.status=='启用'">停用</span>
                                        </span>
                                        <span ng-click="edit(n.id,n.title,n.description,n.sku,n.supplier_name,n.url,n.status,n.image,n.platform_price,2)">编辑</span>
                                        <span ng-click="dele(n.id)">删除</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="history_box hide">{{time_kind}}
                <div class="history_header">
                    <select name="" id="time_kind" class="fl selects">
                        <option value="{{a.value}}"  ng-repeat="a in time_kind">{{a.name}}</option>
                        <!--<option value="all">全部</option>-->
                        <!--<option value="all">全部</option>-->
                        <!--<option value="all">全部</option>-->
                    </select>
                    <ul class="custom hide">
                        <li id="start" class="  fl test1" >开始时间</li>
                        <li id="end" class="  fl test1" >结束时间</li>
                        <li class="btn1 search fl" ng-click="search()">搜索</li>
                    </ul>

                    <div class="btn1 screen2"  ng-click="screen('cells_box2','screen2')" style="position:absolute;top:30px;right:40px"><img src="images/cell_icon.jpg" alt=""/></div>
                    <div id="cells_box2" class="hide" style="position: absolute;top:59px;right:40px;border:1px solid #333">
                        <ul   style="">
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_name2" />
                                <span>标题</span>
                            </li>
                            <li >
                                <input type="checkbox" name="cell"  value="tb_description2"/>
                                <span>副标题</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_type2" />
                                <span>类型</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_sku2" />
                                <span>商品编号</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_supplier_name2" />
                                <span>来源商家</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_viewed_number2" />
                                <span>上架浏览</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_sold_number2" />
                                <span>上架销量</span>
                            </li>
                            <li>
                                <input type="checkbox"  name="cell"  value="tb_status2" />
                                <span>是否停用</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_create_time2" />
                                <span>创建时间</span>
                            </li>
                            <li >
                                <input type="checkbox" name="cell"  value="tb_delete_time2" />
                                <span>删除时间</span>
                            </li>
                            <li>
                                <input type="checkbox" name="cell" checked="checked" value="tb_image2" />
                                <span>图片</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table_box">
                    <table  border="1">
                        <thead>
                        <th class="tb_name2">标题</th>
                        <th class="tb_description2" >副标题</th>
                        <th class="tb_type2">类型</th>
                        <th class="tb_sku2">商品编号</th>
                        <th class="tb_supplier_name2">来源商家</th>
                        <th class="tb_viewed_number2">上架浏览</th>
                        <th class="tb_sold_number2">上架销量</th>
                        <th class="tb_status2" >是否停用</th>
                        <th class="tb_create_time2">创建时间</th>
                        <th class="tb_delete_time2" >删除时间</th>
                        <th class="tb_image2">图片</th>
                        </thead>
                        <tbody >
                        <tr ng-repeat="n in history_data" ng-controller="itemReaptCtrl" class="{{n.id}}"  >
                            <td class="tb_name2">{{n.title}}</td>
                            <td class="tb_description2" >{{n.description}}</td>
                            <td class="tb_type2">{{n.from_type}}</td>
                            <td class="tb_sku2">{{n.sku}}
                                <span ng-if="n.sku==''">无</span>
                            </td>
                            <td class="tb_supplier_name2">
                                <a href="{{n.url}}"  target="_blank">
                                    {{n.supplier_name}}
                                </a>
                            </td>
                            <td class="tb_viewed_number2">{{n.viewed_number}}</td>
                            <td class="tb_sold_number2">{{n.sold_number}}</td>
                            <td class="tb_status2">{{n.status}}</td>
                            <td class="tb_create_time2">{{n.create_time}} </td>
                            <td class="tb_delete_time2" >{{n.delete_time}} </td>
                            <td class="tb_image2">
                                <img src="{{url}}{{n.image}}" alt=""/>{{n.image}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="pageTool"></div>
                    <div id="pageToolbar"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="js/data_js/laydate.js"></script>
    <script src="js/jquery_ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/paging/query.js"></script>
    <script type="text/javascript" src="js/paging/paging.js"></script>
    <script src="../js/global.js"></script>
    <script src="js/index_recommend.js"></script>

</body>
</html>