<div class="search form-inline clearfix">
    <select class="form-control" ng-model="params.time_type">
        <option value="all">全部时间</option>
        <option value="today">今天</option>
        <option value="week">本周</option>
        <option value="month">本月</option>
        <option value="year">本年</option>
        <option value="custom">自定义</option>
    </select>
    <input id="startTime" ng-if="params.time_type == 'custom'" class="form-control" type="text" placeholder="开始时间"
           ngc-lay-date ng-model="params.start_time" max-date="{{params.end_time}}">
    <input id="endTime" ng-if="params.time_type == 'custom'" class="form-control" type="text" placeholder="结束时间"
           ngc-lay-date ng-model="params.end_time" min-date="{{params.start_time}}">


    <div class="form-group pull-right">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="keyword" placeholder="搜索昵称或手机号">
            <span class="iconfont icon-search"></span>
        </div>
        <button class="btn btn-default" ng-click="search()">查询</button>
    </div>
</div>

<table class="table table-responsive table-hover">
    <thead>
    <tr>
        <th>绑定手机号</th>
        <th>昵称</th>
        <th>魔方号</th>
        <th ng-click="sortTime()">
            审核时间
            <span class="sort">
                    <i class="iconfont icon-up" ng-class="{'active':params.sort == 1}"></i>
                    <i class="iconfont icon-down" ng-class="{'active':params.sort == 2}"></i>
                </span>
        </th>
        <th>状态</th>
        <th>操作人员</th>
        <th>详情</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in listdata">
        <td ng-bind="item.mobile"></td>
        <td ng-bind="item.nickname"></td>
        <td ng-bind="item.aite_cube_no"></td>
        <td ng-bind="item.review_time"></td>
        <td ng-bind="item.review_status"></td>
        <td ng-bind="item.handle_name"></td>
        <td><a ui-sref="user_verify_detail({id:item.id})">查看</a></td>
    </tr>
    </tbody>
</table>
<tm-pagination conf="pageConfig"></tm-pagination>