<link rel="stylesheet" href="pages/shop_decoration/css/shop_decoration.css">
<div ng-controller="shop_decoration_ctrl">
    <section>
        <!--Banner、推荐选项卡开始-->
        <div class="myTab">
            <span ng-click="banner_tab()" class="{{b_tab_class}}">Banner</span>
            <span ng-click="recommend_tab()" class="{{r_tab_class}}">推荐</span>
        </div>
        <!--Banner、推荐选项卡结束-->

        <!-- Tab one -->
        <div role="tabpanel" class="tab-pane  active" id="tab_one">

            <!-- Tab tools -->
            <div class="tab_tools clearfix">
                <div class="pull-left">
                    <button class="btn btn-primary pull-left" type="submit" ng-click="banner_save_btn()" data-target="#banner_save_modal" data-toggle="modal"><i class="glyphicon glyphicon-floppy-disk"></i>保存</button>
                    <button class="btn btn-info pull-left" ng-click="banner_clear_add()" type="submit" data-toggle="modal" data-target="#banner_add_modal"><i class="glyphicon glyphicon-plus"></i>添加</button>
                    <button class="btn btn-default pull-left" type="submit" ng-modal="selectAll_modal" ng-click="selectAll(selectAll_modal)">全选</button>
                    <button class="btn btn-default pull-left" type="submit" data-target="#banner_del_modal" data-toggle="modal" ng-click="delete_all()">删除</button>
                </div>
                <div class="pull-right">
                    <!-- 筛选菜单 -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i></span>
                        </button>
                        <!--Menu-->
                        <ul class="dropdown-menu dropdown-menu-right btn_list_menu" ng-show="b_show_table_flag">
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_1" ng-click="show_all(show_1)">类型</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_2" ng-click="show_all(show_2)">商品编号</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_3" ng-click="show_all(show_3)">名称</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_4" ng-click="show_all(show_4)">上架浏览</li>
                            <!--<li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_5" ng-click="show_all(show_5)">上架销量</li>-->
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_6" ng-click="show_all(show_6)">创建时间</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_7" ng-click="show_all(show_7)">图片</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_8" ng-click="show_all(show_8)">库存</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_9" ng-click="show_all(show_9)">供货价格</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_10" ng-click="show_all(show_10)">平台价格</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_11" ng-click="show_all(show_11)">市场价格</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_12" ng-click="show_all(show_12)">装修公司采购价</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_13" ng-click="show_all(show_13)">项目经理采购价</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_14" ng-click="show_all(show_14)">设计师采购价</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_15" ng-click="show_all(show_15)">操作</li>
                        </ul>

                        <ul class="dropdown-menu dropdown-menu-right btn_list_menu" ng-show="r_show_table_flag">
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_1" ng-click="show_all(rec_1)">类型</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_2" ng-click="show_all(rec_2)">商品编号</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_3" ng-click="show_all(rec_3)">名称</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_4" ng-click="show_all(rec_4)">上架浏览</li>
                            <!--<li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_5" ng-click="show_all(rec_5)">上架销量</li>-->
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_6" ng-click="show_all(rec_6)">创建时间</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_7" ng-click="show_all(rec_7)">图片</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_8" ng-click="show_all(rec_8)">库存</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_9" ng-click="show_all(rec_9)">供货价格</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_10" ng-click="show_all(rec_10)">平台价格</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_11" ng-click="show_all(rec_11)">市场价格</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_12" ng-click="show_all(rec_12)">装修公司采购价</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_13" ng-click="show_all(rec_13)">项目经理采购价</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_14" ng-click="show_all(rec_14)">设计师采购价</li>
                            <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="rec_15" ng-click="show_all(rec_15)">操作</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 表格 -->
            <table class="table table-responsive">
                <thead>
                <tr ng-if="b_show_table_flag">
                    <th>&nbsp;</th>
                    <th ng-if="show_1">类型</th>
                    <th ng-if="show_2">商品编号</th>
                    <th ng-if="show_3">名称</th>
                    <th ng-if="show_4">上架浏览</th>
                    <!--<th ng-if="show_5">上架销量</th>-->
                    <th ng-if="show_6">创建时间</th>
                    <th ng-if="show_7">图片</th>
                    <th ng-if="show_8">库存</th>
                    <th ng-if="show_9">供货价格</th>
                    <th ng-if="show_10">平台价格</th>
                    <th ng-if="show_11">市场价格</th>
                    <th ng-if="show_12">装修公司采购价</th>
                    <th ng-if="show_13">项目经理采购价</th>
                    <th ng-if="show_14">设计师采购价</th>
                    <th ng-if="show_15">操作</th>
                </tr>
                <tr ng-if="r_show_table_flag">
                    <th>&nbsp;</th>
                    <th ng-if="rec_1">类型</th>
                    <th ng-if="rec_2">商品编号</th>
                    <th ng-if="rec_3">名称</th>
                    <th ng-if="rec_4">上架浏览</th>
                    <!--<th ng-if="rec_5">上架销量</th>-->
                    <th ng-if="rec_6">创建时间</th>
                    <th ng-if="rec_7">图片</th>
                    <th ng-if="rec_8">库存</th>
                    <th ng-if="rec_9">供货价格</th>
                    <th ng-if="rec_10">平台价格</th>
                    <th ng-if="rec_11">市场价格</th>
                    <th ng-if="rec_12">装修公司采购价</th>
                    <th ng-if="rec_13">项目经理采购价</th>
                    <th ng-if="rec_14">设计师采购价</th>
                    <th ng-if="rec_15">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="b_show_table_flag" ng-repeat="item in banner_list" ng-drop="true" ng-drag="true" ng-drop-success="dropComplete($index,$data,$event)" ng-drag-data="item">
                    <td><input type="checkbox" ng-checked="selectAll_modal" ng-model="item.state"></td>
                    <td ng-if="show_1">{{item.from_type}}</td>
                    <td ng-if="show_2">{{item.sku}}</td>
                    <td ng-if="show_3">{{item.title}}</td>
                    <td ng-if="show_4">{{item.viewed_number}}</td>
                    <!--<td ng-if="show_5">{{item.sold_number}}</td>-->
                    <td ng-if="show_6">{{item.create_time}}</td>
                    <td ng-if="show_7"><img class="img_size" ng-src="{{item.image}}" alt=""></td>
                    <td ng-if="show_8">{{item.left_number}}</td>
                    <td ng-if="show_9">{{item.supplier_price}}</td>
                    <td ng-if="show_10">{{item.platform_price}}</td>
                    <td ng-if="show_11">{{item.market_price}}</td>
                    <td ng-if="show_12">{{item.purchase_price_decoration_company}}</td>
                    <td ng-if="show_13">{{item.purchase_price_manager}}</td>
                    <td ng-if="show_14">{{item.purchase_price_designer}}</td>
                    <td ng-if="show_15">
                        <a ng-click="banner_edit(item.id,item.sku,item.title,item.url,item.image)" data-target="#banner_edit_modal" data-toggle="modal">编辑</a>
                        <a ng-click="banner_detail(item)" data-toggle="modal" data-target="#banner_detail_modal">详情</a>
                        <a ng-click="banner_del(item.id)" data-toggle="modal" data-target="#banner_del_modal">删除</a>
                    </td>
                </tr>
                <tr ng-if="r_show_table_flag" ng-repeat="item in recommend_list" ng-drop="true" ng-drag="true" ng-drop-success="r_dropComplete($index,$data,$event)" ng-drag-data="item">
                    <td><input type="checkbox" ng-checked="selectAll_modal" ng-model="item.state"></td>
                    <td ng-if="rec_1">{{item.from_type}}</td>
                    <td ng-if="rec_2">{{item.sku}}</td>
                    <td ng-if="rec_3">{{item.title}}</td>
                    <td ng-if="rec_4">{{item.viewed_number}}</td>
                    <!--<td ng-if="rec_5">{{item.sold_number}}</td>-->
                    <td ng-if="rec_6">{{item.create_time}}</td>
                    <td ng-if="rec_7"><img class="img_size" ng-src="{{item.image}}" alt=""></td>
                    <td ng-if="rec_8">{{item.left_number}}</td>
                    <td ng-if="rec_9">{{item.supplier_price}}</td>
                    <td ng-if="rec_10">{{item.platform_price}}</td>
                    <td ng-if="rec_11">{{item.market_price}}</td>
                    <td ng-if="rec_12">{{item.purchase_price_decoration_company}}</td>
                    <td ng-if="rec_13">{{item.purchase_price_manager}}</td>
                    <td ng-if="rec_14">{{item.purchase_price_designer}}</td>
                    <td ng-if="rec_15">
                        <a ng-click="banner_edit(item.id,item.sku,item.title,item.url,item.image)" data-target="#banner_edit_modal" data-toggle="modal">编辑</a>
                        <a ng-click="banner_detail(item)" data-toggle="modal" data-target="#banner_detail_modal">详情</a>
                        <a ng-click="banner_del(item.id)" data-toggle="modal" data-target="#banner_del_modal">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--添加模态框开始-->
            <div class="modal fade" id="banner_add_modal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form class="form-horizontal" name="shop_form" novalidate>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" ng-if="b_show_table_flag">添加Banner</h4>
                                <h4 class="modal-title" ng-if="r_show_table_flag">添加推荐</h4>
                            </div>
                            <div class="modal-body">
                                <div  clsss="col-sm-12 control-label" id="shop_num_null"  ng-if="(shop_form.shop_num_name.$invalid &&submitted)||(shop_form.shop_num_name.$error.required && banner_add_num_blur) ||banner_num_error ">
                                     <span class="shop_left">{{shop_sku_error}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span >商品编号</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="banner_add_sku"  name="shop_num_name" required ng-blur="banner_add_num_blur=!!shop_form.shop_num_name.$error">
                                            <span class="input-group-btn">
                                             <button class="btn btn-default" type="button" ng-click="banner_get_sku(0)">获取</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span>商品名称</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="still form-control" disabled="disabled" ng-model="banner_add_title"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span>商品链接</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="still form-control" disabled="disabled" ng-model="banner_add_url"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span> 图片</span>
                                    </div>
                                    <div class="col-sm-10 control-label">
                                        <img id="modal_img"  ng-if="!!banner_add_img_src" ng-src="{{banner_add_img_src}}"/>
                                        <img id="modal_img2" ng-if="!banner_add_img_src" src="lib/images/default.png"/>
                                    </div>
                                    <div class="col-sm-offset-2 img_txt">
                                        <p class="modal_red" ng-if="!!banner_add_img_flag">{{banner_add_img_flag}}</p>
                                        <button class="btn btn-default btn_top" ngf-pattern="image/*" ng-change="banner_add_upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">上传</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="banner_add_btn(shop_form.$valid)" type="button" class="btn btn-primary">确认</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="banner_clear_add()">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--添加模态 框结束-->

            <!--编辑模态框开始-->
            <div class="modal fade" id="banner_edit_modal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form class="form-horizontal" name="banner_edit_form" novalidate>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" ng-if="b_show_table_flag">编辑Banner</h4>
                                <h4 class="modal-title" ng-if="r_show_table_flag">编辑推荐</h4>
                            </div>
                            <div class="modal-body">
                                <div clsss="col-sm-12 control-label"  id="shop_num_null2" ng-if="(banner_edit_form.banner_edit_num.$invalid &&submitted)||(banner_edit_form.banner_edit_num.$error.required && banner_edit_num_blur)||banner_edit_num_error">
                                    <span class="shop_left">{{shop_edit_sku_error}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span >商品编号</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control"  ng-model="banner_edit_sku" name="banner_edit_num" required ng-blur="banner_edit_num_blur=!!banner_edit_form.banner_edit_num.$error"/>
                                            <span class="input-group-btn">
                                             <button  class="btn btn-default" ng-click="banner_get_sku(1)">获取</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span>商品名称</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="still form-control" disabled="disabled" ng-model="banner_edit_title"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span>商品链接</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="still form-control" disabled="disabled" ng-model="banner_edit_url"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">
                                        <i class="red">*</i>
                                        <span> 图片</span>
                                    </div>
                                    <div class="col-sm-10 control-label">
                                        <img id="edit_modal_img1"  ng-if="!!banner_edit_img_src" ng-src="{{banner_edit_img_src}}"/>
                                        <img id="edit_modal_img2" ng-if="!banner_edit_img_src" src="lib/images/default.png"/>
                                    </div>
                                    <div class="col-sm-offset-2 img_txt">
                                        <p class="modal_red" ng-if="!!banner_edit_img_flag">{{banner_edit_img_flag}}</p>
                                        <button class="btn btn-default btn_top" ngf-pattern="image/*" ng-change="banner_edit_upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">上传</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="banner_edit_btn(banner_edit_form.$valid)"  type="button" class="btn btn-primary">确认</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="banner_clear_edit()">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--编辑模态 框结束-->

            <!-- 弹窗-详情 -->
            <div class="modal customer_modal detail_modal fade" id="banner_detail_modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">详情</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row form_box">
                                <span class="col-md-12 form_txt">商铺名称：<span>{{banner_detail_title}}</span></span>
                            </div>
                            <div class="row form_box">
                                <span class="col-md-6 form_txt">类型：<span>{{banner_detail_from_type}}</span></span>
                                <span class="col-md-6 form_txt">商品编号：<span>{{banner_detail_sku}}</span></span>
                            </div>
                            <div class="row form_box">
                                <div class="col-md-6 form_txt">库存：<span>{{banner_detail_left_number}}</span></div>
                                <div class="col-md-6 form_txt">创建时间：<span>{{banner_detail_create_time}}</span></div>
                            </div>
                            <div class="row form_box">
                                <div class="col-md-6 form_txt">供货价格：<span>{{banner_detail_supplier_price}}</span></div>
                                <div class="col-md-6 form_txt">平台价格：<span>{{banner_detail_platform_price}}</span></div>
                            </div>
                            <div class="row form_box">
                                <div class="col-md-6 form_txt">市场价格：<span>{{banner_detail_market_price}}</span></div>
                                <div class="col-md-6 form_txt">装修公司采购价：<span>{{banner_detail_purchase_price_decoration_company}}</span></div>
                            </div>
                            <div class="row form_box">
                                <div class="col-md-6 form_txt">项目经理采购价：<span>{{banner_detail_purchase_price_manager}}</span></div>
                                <div class="col-md-6 form_txt">设计师采购价：<span>{{banner_detail_purchase_price_designer}}</span></div>
                            </div>
                            <div class="row form_box">
                                <div class="col-md-12 form_txt">
                                    <div class="col-md-12 form_txt txt_left">图片：</div>
                                    <img  class='detail_img_size' ng-src="{{banner_detail_image}}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <!--保存模态框开始-->
            <div class="modal fade modelCenter" id="banner_save_modal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabelAdd">保存</h4>
                        </div>
                        <div class="modal-body">
                            确认保存
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save_confirm()">确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--保存模态框结束-->

            <!--删除模态框开始-->
            <div class="modal fade modelCenter" id="banner_del_modal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">提示</h4>
                        </div>
                        <div class="modal-body" ng-if="!delete_modal">
                            是否确认删除{{delete_arr.length}}个？
                        </div>
                        <div class="modal-body" ng-if="delete_modal">
                            请勾选后再操作
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="delete_modal">确认</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="banner_del_confirm()" ng-if="!delete_modal">确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="!delete_modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--删除模态框结束-->
        </div>
    </section>
</div>