.form-horizontal .control-label {
     text-align: left;
 }

.form-horizontal .form-control-static {
    text-align: left;
}

.btns button{
    margin-right: 10px;
}

.form-group .form-control-static .pic-style {
    height: 120px;
}