.tab_blue {
    color: #4094F6;
    border-bottom: 1px solid #4094F6;
}

.img_size {
    width: 30px!important;
    height: 30px!important;
}

.blue {
    color: #5677FC;
}

.sky_blue {
    color: #03A9F4;
}

.green {
    color: #8BC34A;
}

.red {
    color: #FF5722;
}

.stock {
    width: 50px;
    border-radius: 3px;
    border: 1px solid #666F80;
    text-align: center;
}

.wait_check {
    display: inline-block;
    width: 50px;
    border-radius: 3px;
    border: 1px solid #666F80;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.illegal {
    border: 1px solid #ABABAB !important;
}


.off_reason{
    display: inline-block;
    width:68px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.active {
    color: #1B7CEE!important;
}

.goodpic {
    width: 30px !important;
    height: 30px !important;
}

.reason_border {
    display: inline-block;
    border: 1px solid #666F80;
    height: 29px;
    line-height: 20px;
}

.search button:first-child{
    margin-right: 15px;
}




