<link rel="stylesheet" href="pages/mall_manage/brand_manage/brand_index/css/brand_index.css">
<div ng-controller="brand_index_ctrl">
    <!--选项卡-->
    <div class="tab clearfix">
        <ul>
            <li ng-class="{'active':(on_flag==true)}"  ng-click="on_shelves()">已上架</li>
            <li ng-class="{'active':(down_flag==true)}" ng-click="down_shelves()">已下架</li>
            <li ng-class="{'active':(check_flag==true)}" ng-click="wait_shelves()">品牌使用审核</li>
        </ul>
    </div>
<!--已上架开始-->
    <section ng-if="on_flag==true">
        <div class="form-inline clearfix operating_div">
            <button class="btn btn-default"  ng-click="checkAll()">全选</button>
            <button class="btn btn-default btn_left" data-toggle="modal" data-target="#{{on_modal_v}}" ng-click="batch_down_shelves()">下架</button>
            <span class="sort_choose">分类选择</span>
            <select class="form-control" ng-model="myng.firstselect" ng-options="item.id as item.title for item in firstclass" ng-change="subClass(firstselect)"></select>
            <select class="form-control" ng-show="two_select_flag" ng-model="myng.secselect" ng-options="item.id as item.title for item in secondclass" ng-change="three_Class(secselect)"></select>
            <select class="form-control" ng-show="three_select_flag" ng-model="myng.three_select" ng-options="item.id as item.title for item in three_class" ng-change="last_Class(three_select)"></select>
        </div>
            <!--表格-->
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>品牌LOGO</th>
                        <th>品牌名称</th>
                        <th>
                            <span>上架时间</span>
                            <img ng-click="time_sort_click()"  class="img_sort_size" ng-src="{{time_img}}" alt="">
                        </th>
                        <th>添加人员</th>
                        <th>状态</th>
                        <th>详情</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in on_shelves_list">
                        <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
                        <td><img class="img_size" src="{{ item.logo}}" alt=""></td>
                        <td>{{item.name}}</td>
                        <td>{{item.online_time}}</td>
                        <td>{{item.applicant}}</td>
                        <td class="green">{{item.status}}</td>
                        <td><a ui-sref="online_edit({on_shelves_list:item})">编辑</a></td>
                        <td data-toggle="modal" data-target="#on_shelves_down_reason_modal"><a ng-click="down_shelver_btn(item.id)">下架</a></td>
                    </tr>
                </tbody>
            </table>
            <!--分页-->
            <tm-pagination conf="wjConfig"></tm-pagination>
    </section>

    <!--批量下架原因 模态框-->
    <div class="modal fade" id="on_shelves_down_reason_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">下架原因</h4>
                </div>
                <div class="modal-body">
                    <div ng-if="table.roles.length>0" class="down_roles">下架{{table.roles.length}}个品牌</div>
                    <span class="down_rea">下架原因（选填）</span>
                    <textarea  ng-model="sole_down_shelves_reason" placeholder="请填写下架原因" cols="50" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="down_shelver_ok()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

<!--已上架结束-->


<!--已下架 开始-->
    <section ng-if="down_flag==true">
        <div class="form-inline clearfix operating_div">
            <button class="btn btn-default" ui-sref="add_brand"><i class="iconfont icon-add"></i> 添加</button>
            <button class="btn btn-default btn_left" ng-click="checkAll()">全选</button>
            <button class="btn btn-default btn_left" data-toggle="modal" data-target="#{{down_modal_v}}" ng-click="batch_on_shelves()">上架</button>
            <span class="sort_choose">分类选择</span>
            <select class="form-control" ng-model="myng.firstselect" ng-options="item.id as item.title for item in firstclass" ng-change="subClass(firstselect)"></select>
            <select class="form-control" ng-show="two_select_flag" ng-model="myng.secselect" ng-options="item.id as item.title for item in secondclass" ng-change="three_Class(secselect)"></select>
            <select class="form-control" ng-show="three_select_flag" ng-model="myng.three_select" ng-options="item.id as item.title for item in three_class" ng-change="last_Class(three_select)"></select>
        </div>
            <!--表格-->
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>品牌LOGO</th>
                    <th>品牌名称</th>
                    <th>
                        <span>下架时间</span>
                        <img ng-click="time_sort_click()"  class="img_sort_size" ng-src="{{time_img}}" alt="">
                    </th>
                    <th>操作人员</th>
                    <th>状态</th>
                    <th>下架原因</th>
                    <th>详情</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in down_shelves_list">
                    <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
                    <td><img class="img_size" src="{{ item.logo}}" alt=""></td>
                    <td>{{item.name}}</td>
                    <td>{{item.offline_time}}</td>
                    <td>{{item.applicant}}</td>
                    <td class="red">{{item.status}}</td>
                    <td ng-show="item.offline_reason!=''"><span class="table_width" data-target="#down_shelves_reason_modal" data-toggle="modal" ng-click="down_reason_click(item.id,item.offline_reason)" >{{item.offline_reason}}</span></td>
                    <td ng-show="item.offline_reason==''"><span class="table_width" data-target="#down_shelves_reason_modal" data-toggle="modal" ng-click="down_reason_click(item.id,item.offline_reason)" >点击输入</span></td>
                    <td><a ui-sref="offline_edit({down_shelves_list:item})">编辑</a></td>
                    <td data-toggle="modal" data-target="#solo_on_shelves_modal"><a ng-click="on_shelver_btn(item.id)">上架</a></td>
                </tr>
                </tbody>
            </table>
        <!--分页-->
        <tm-pagination conf="wjConfig"></tm-pagination>
    </section>

    <!--批量上架模态框-->
    <div class="modal fade" id="on_shelves_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>上架{{table.roles.length}}个品牌，是否确认上架</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="on_shelver_ok()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--单个上架模态框-->
    <div class="modal fade" id="solo_on_shelves_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    是否确认上架品牌 ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="sole_on_shelver_ok()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--请勾选再操作-->
    <div class="modal fade" id="place_check_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                   请勾选后再操作
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!--下架原因 模态框-->
    <div class="modal fade" id="down_shelves_reason_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">下架原因</h4>
                </div>
                <div class="modal-body">
                    <span class="down_rea">下架原因（选填）</span>
                    <textarea name="" placeholder="请填写下架原因" cols="30" rows="10" ng-model="down_reason"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="down_reason_btn()">确认</button>
                    <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

<!--已下架结束-->

<!--品牌审核内容 开始-->
    <section ng-if="check_flag==true">
        <div class="search form-inline clearfix">
            <!--申请-->
            <div class="form-group pull-left">
                <i class="glyphicon glyphicon-th-large"></i>
                <span class="apply">{{application_num}}个申请</span>
                <select  name="province" ng-model="brand_params.review_status" ng-change="brand_types()" class="form-control" ng-options="item.id as item.value for item in brand_types_arr"></select>
                <input  id="start_time"  ng-model="brand_params.start_time" ng-change='brand_time_change()' max-date="{{brand_params.end_time}}" ngc-lay-date  class="form-control" type="text" placeholder="开始时间">
                <input  id="stop_time"   ng-model="brand_params.end_time" ng-change='brand_time_change()' min-date="{{brand_params.start_time}}" ngc-lay-date  class="form-control" type="text"  placeholder="结束时间">
            </div>
            <div class="form-group pull-right">
              <div class="input-group">
                <input ng-model="myng.search_input_ok" class="form-control" type="text" placeholder="搜索商家名称或账户">
                <span class="iconfont icon-search"></span>
              </div>
                <button class="btn btn-default" ng-click="brand_search_btn()">查询</button>
            </div>
        </div>
        <!--表格内容-->
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>品牌LOGO</th>
                <th>品牌名称</th>
                <th>
                    <span>申请时间</span>
                    <img ng-click="brand_img_src_click()" class="img_sort_size" ng-src="{{brand_img_src}}" alt="">
                </th>
                <th>商家名称</th>
                <th>申请帐户</th>
                <th>状态</th>
                <th>审核备注</th>
                <th>详情</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in brand_review_list">
                <td><img class="img_size" src="{{ item.brand_logo}}" alt=""></td>
                <td>{{item.brand_name}}</td>
                <td>{{item.create_time}}</td>
                <td>{{item.supplier_name}}</td>
                <td>{{item.mobile}}</td>
                <td ng-show="item.review_status=='2'" class="green">通过</td>
                <td ng-show="item.review_status=='1'" class="red">不通过</td>
                <td ng-show="item.review_status=='0'" class="sky_blue">等待审核</td>
                <td ng-show="item.review_note ==''&& item.review_status!='0'"><span  class="table_width" data-toggle="modal" data-target="#review_modal" ng-click="review_click(item.id,item.review_note)">点击输入...</span></td>
                <td ng-show="item.review_note !=''&& item.review_status!='0'"><span  class="table_width" data-toggle="modal" data-target="#review_modal" ng-click="review_click(item.id,item.review_note)">{{item.review_note}}</span></td>
                <td ng-show="item.review_status=='0'">&nbsp;</td>
                <td ng-show="item.review_status!='0'"><a ui-sref="brand_details({item:item})">查看</a></td>
                <td ng-show="item.review_status=='0'">&nbsp;</td>
                <td ng-show="item.review_status=='0'"><a ui-sref="brand_check({item:item})">审核</a></td>
                <td ng-show="item.review_status!='0'">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <!--分页-->
        <tm-pagination conf="brand_Config"></tm-pagination>
    </section>
    <!--审核备注模态框-->
    <div class="modal fade" id="review_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">审核备注</h4>
                </div>
                <div class="modal-body">
                    <span class="down_rea">说明（选填）</span>
                    <textarea ng-model="check_review" placeholder="请填写审核不通过/通过原因" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="review_btn()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>