section {
    padding-left: 40px;
}

/*选项卡开始*/
.tab {
    margin-right: 40px;
    margin-bottom: 20px;
    height: 40px;
    font-weight: bold;
    border-bottom: 1px solid #E6E9F0;
}

.tab > ul {
    float: left;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    line-height: 40px;
    vertical-align: middle;
}

.tab > ul > li {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
}

.tab_blue {
    color: #5677FC;
    border-bottom: 1px solid #5677FC;
}

.tab > a {
    float: right;
    line-height: 40px;
}

/* 搜索 */
.search {
    margin-top: 20px;
}

.search .input-group {
    width: 240px;
}

.search .input-group .form-control {
    padding-right: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search .input-group span {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ababab;
    z-index: 100;
}

.search .form-group {
    position: relative;
}

.search .form-group a {
    margin-left: 50px;
}

.filter {
    position: absolute;
    right: 0;
    top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    border: 1px solid #ababab;
    background-color: #ffffff;
}

.filter .checkbox {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 25px;
    margin-right: 40px;
}

/*表格样式*/
.table a {
    color: #376bfc;
}

.table a:hover {
    color: #3f94f6;
}

.table .sort {
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
}

.table .sort i {
    display: block;
    font-size: 12px;
    color: #ababab;
}

.table .sort .glyphicon-triangle-bottom {
    margin-top: -4px;
}

.table .sort .active {
    color: #5677fc;
}

/* 销量数据 */
.sales-data {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sales-data span {
    margin-right: 15px;
    font-weight: bold;
}