.filter {
    position: absolute;
    right: 0;
    top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    border: 1px solid #ababab;
    background-color: #ffffff;
}

.filter .checkbox {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 25px;
    margin-right: 40px;
}

/*表格样式*/
.table a {
    color: #376bfc;
}

.table a:hover {
    color: #3f94f6;
}

/* 销量数据 */
.sales-data {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sales-data span {
    margin-right: 15px;
    font-weight: bold;
}