body, html {
  width: 100%;
  height: 100%;
}

body:before,
body:after {
  content: " ";
  display: table;
}

body:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

.bg-white {
  background-color: #fff;
}

/* Header */
#app .vux-header{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

#app .vux-header + * {
  margin-top: 40px;
}

#app .vux-header .vux-header-title {
  margin: 0 45px;
}

#app .vux-header .vux-header-right {
  right: 10px;
  color: #222;
}

#app .vux-header .vux-header-right .iconfont {
  padding: 5px;
}

/* sort start */
.sort {
  display: inline-block;
  margin-left: -5px;
  margin-top: -2px;
  line-height: 8px;
  color: #999;
  vertical-align: middle;
  cursor: pointer;
}

.sort > span {
  display: block;
}

.sort .active {
  color: #222;
}
/* sort end */
