/*头部开始*/
header{
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border-bottom: 1px solid #E6E9F0 ;
}
.shop_manage{
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: 700;
}
.manage_child{
    font-size: 14px;
    color: #8D9199;
    line-height: 14px;
}
header img{
    margin-left:72%;
}
/*头部结束*/

/*主体内容*/
section{
    padding-left: 40px;
}
.table_div{
    margin-top: 50px;
}
.table_div th img{
    width: 10px;
    margin-left: 5px;
}
.table_div table tr{
    border-bottom: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
}
.table_div table tr td{
    /*margin-left: 60px;*/
    color: #7A8599;
    font-size: 14px;
    border-top: none;
    line-height: 35px;
    /*border-bottom: 1px solid #ddd;*/
}
.table_div table tr td input{
    width: 80px;
    height: 31px;
    border: 1px solid #ABABAB;
    border-radius: 3px;
    line-height: 35px;
    padding-left: 5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
}
.modal-content{
    width: 540px;
    height: 370px;
    margin-left: 150px;
    margin-top: 100px;
}
h4 {
    padding-left: 20px;
}
.model_div{
    width: 340px;
    height: 200px;
    /*border: 1px solid #7A8599;*/
    margin-left: 50px;
    display: inline;
}
.model_div  span{
    margin-left: 10px;
    margin-top: 10px;
}
.btn_right{
    width: 80px;
    height: 31px;
    border: 1px solid #5677FC;
    border-radius: 3px;
    margin-left: 410px;
    margin-top: 190px;
    background-color: white;
    color: #5677FC;

}
.btn_back{
    position: absolute;
    bottom: 5rem;
    display: inline;
}
.btn_back button{
    width: 70px;
    height: 30px;
    background-color: white;
    margin-left: 15px;
    color: #5E6166;
    border: 1px solid #5E6166;
}

/*分页处理*/
.pages{
    width: 90%;
    margin: 20px auto 0;
    /*outline: 1px solid red;*/
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    display: inline;
}

.pages>div{
    float: left;
    overflow: hidden;
}

.pages li{
    float: left;
    margin-right: 10px;
    font-family: Helvetica;
    font-size: 12px;
    color: #999;
    line-height: 12px;
    padding: 6px 18px;
    background-color: white;
    border: 1px solid #5677FC;
    border-radius: 3px;
    cursor: pointer;
}

.pages #jumpto{
    border: none;
    padding:0 0 0 5px;
}
#jumpt {
    border: none;
    padding:0 0 0 5px;
}
#jumpt input{
    height: 25px;
    width: 62px;
}
#jumpto input{
    height: 25px;
    width: 62px;
}

.pagenum{
    padding-left: 9px!important;
    padding-right: 9px!important;
}

#omit,#off{
    border:none;!important;
    padding:6px 0 0 0;
    cursor: default;
}

/*.active{*/
    /*!*background:#487af8!important;*!*/
    /*color: white!important;*/
/*}*/