<div class="apply_case_index">
    <p><span>今日新申请：{{cur_today_apply}}</span><span>今日定金：{{cur_today_earnest}}</span><span>总申请：{{cur_all_apply}}</span><span>总定金：{{cur_all_earnest}}</span></p>
    <div class="row">
        <div class="col-md-2">
        <select ng-model="params.time_type" ng-options="item.str as item.name for item in time_type" ng-change="getApplyCase()" class="form-control"></select>
        </div>
        <div class="col-md-2">
        <input ng-if="params.time_type == 'custom'" ng-model="params.start_time" id="start_time" class="form-control" ng-change="getApplyCase()" max-date="{{params.end_time}}" placeholder="开始时间" type="text" ngc-lay-date>
        </div>
        <div class="col-md-2">
        <input ng-if="params.time_type == 'custom'" ng-model="params.end_time" id="end_time" class="form-control" ng-change="getApplyCase()" min-date="{{params.start_time}}" placeholder="结束时间" type="text" ngc-lay-date>
        </div>
        <button class="pull-right" ng-click="update_keyword()">查询</button>
        <div class="col-md-2 pull-right">
        <input class="form-control" ng-model="ctrlScope.keyword" placeholder="搜索手机号、姓名或交易单号" type="text">
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>姓名</th>
            <th>手机号</th>
            <th>交易单号</th>
            <th>定金</th>
            <th>申请时间</th>
            <th>详情</th>
            <th>备注</th>
        </tr>
        <tr ng-repeat="item in apply_list">
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.transaction_no}}</td>
            <td>{{item.earnest | currency:'￥'}}</td>
            <td>{{item.create_time}}</td>
            <td style="color: #5677FC;" ng-click="get_detail(item)">查看</td>
            <td>
                <div class="col-sm-5" style="padding-left: 0!important;">
                <input data-toggle="modal" ng-click="replace_remarks(item)" data-target="#remarks" type="text" class="form-control" ng-model="item.remark">
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <div class="modal fade" id="remarks" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-left">备注</h4>
                </div>
                <div class="modal-body row">
                    <p class="col-md-3">备注(选填)</p>
                    <textarea  ng-model="cur_item.remark" class="col-md-9" placeholder="请填写备注项" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="other_btn" ng-click="edit_remarks()" data-dismiss="modal">确认</button>
                    <button type="button" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>