<div class="apply_case_index">
    <p><span>今日新申请：{{total_data.today_apply}}</span><span>今日定金：{{total_data.today_earnest|currency:'￥'}}</span><span>总申请：{{total_data.all_apply}}</span><span>总定金：{{total_data.today_earnest}}</span></p>
    <div class=" search form-inline clearfix">
        <select ng-model="params.time_type" ng-options="item.value as item.name for item in time_types" ng-change="getCase()" class="form-control"></select>
        <input ng-if="params.time_type == 'custom'" ng-model="params.time_start" id="start_time" class="form-control" ng-change="getCase()" max-date="{{params.time_end}}" placeholder="开始时间" type="text" ngc-lay-date>
        <input ng-if="params.time_type == 'custom'" ng-model="params.time_end" id="end_time" class="form-control" ng-change="getCase()" min-date="{{params.time_start}}" placeholder="结束时间" type="text" ngc-lay-date>
        <div class="form-group pull-right">
            <div class="input-group">
                <input class="form-control" style="width: 228px;" ng-model="vm.keyword" placeholder="搜索手机号、姓名或交易单号" type="text">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <button class="btn btn-default" ng-click="inquire()">查询</button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>姓名</th>
            <th>手机号</th>
            <th>交易单号</th>
            <th>定金</th>
            <th>类型</th>
            <th>申请时间</th>
            <th>详情</th>
            <th>备注</th>
        </tr>
        <tr ng-repeat="item in case_list">
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.transaction_no}}</td>
            <td>{{item.earnest | currency:'￥'}}</td>
            <td>{{item.item}}</td>
            <td>{{item.create_time}}</td>
            <td><a ui-sref="case_detail({id:item.id})">查看</a></td>
            <td>
                <div class="col-sm-5" style="padding-left: 0!important;">
                <input data-toggle="modal" ng-click="getRemark(item)" data-target="#remarks" type="text" class="form-control" ng-model="item.remark">
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <div class="modal fade" id="remarks" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-left">备注</h4>
                </div>
                <div class="modal-body row">
                    <p class="col-md-3">备注(选填)</p>
                    <textarea  ng-model="cur_remark.remark" class="col-md-9" placeholder="请填写备注项" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="other_btn" ng-click="editRemark()" data-dismiss="modal">确认</button>
                    <button type="button" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>