<div class="case_detail">
    <div class="row">
        <h3 class="col-md-12">业主信息</h3>
        <p class="col-md-2">姓名</p>
        <p class="col-md-10">{{particulars_view.name}}</p>
        <p class="col-md-2">手机号</p>
        <p class="col-md-10">{{particulars_view.phone}}</p>
        <p class="col-md-2">申请时间</p>
        <p class="col-md-10">{{particulars_view.create_time}}</p>
        <p class="col-md-2">申请金额</p>
        <p class="col-md-10">{{particulars_view.earnest | currency:'￥'}}</p>
        <p class="col-md-2">交易单号</p>
        <p class="col-md-10">{{particulars_view.transaction_no}}</p>
    </div>
    <div class="row">
        <h3 class="col-md-12">户型信息</h3>
        <p class="col-md-2">小区名称</p>
        <p class="col-md-10">{{particulars_view.toponymy}}</p>
        <p class="col-md-2">小区地址</p>
        <p class="col-md-10">{{particulars_view.address}}</p>
        <p class="col-md-2">面积</p>
        <p class="col-md-10">{{particulars_view.area}}m²</p>
        <p class="col-md-2">户型</p>
        <p class="col-md-10">{{particulars_view.particulars}}</p>
        <p class="col-md-2">层高</p>
        <p class="col-md-10">{{particulars_view.high}}m</p>
        <p class="col-md-2">飘窗</p>
        <p class="col-md-10">{{particulars_view.window}}m</p>
        <p class="col-md-2">楼梯选择</p>
        <p class="col-md-10">{{particulars_view.stairway}}</p>
        <p class="col-md-2">系列</p>
        <p class="col-md-10">{{particulars_view.series}}</p>
        <p class="col-md-2">风格</p>
        <p class="col-md-10">{{particulars_view.style}}</p>
    </div>
    <div class="row">
        <h3 class="col-md-12">智能报价</h3>
        <p class="col-md-2">原价格</p>
        <p class="col-md-10">{{particulars_view.original_price | currency:'￥'}}</p>
        <p class="col-md-2">优惠后价格</p>
        <p class="col-md-10">{{particulars_view.sale_price | currency:'￥'}}</p>
    </div>
    <div class="row" id="accordion2">
        <h3 class="col-md-12">材料信息</h3>
        <div class="col-md-12" ng-repeat="item in material">
            <p class="col-md-6">{{item[0]}}</p>
            <p class="col-md-6" style="text-align: right;" ng-if="item[2].index == $index&&item[2].cur_index == 0" ng-click="item[2].cur_index = 1" data-toggle="collapse" data-parent="#accordion2" href="#cur_index{{$index}}"><i class="glyphicon glyphicon-chevron-down" ></i></p>
            <p class="col-md-6" style="text-align: right;" ng-if="item[2].index == $index&&item[2].cur_index == 1" ng-click="item[2].cur_index = 0" data-toggle="collapse" data-parent="#accordion2" href="#cur_index{{$index}}"><i class="glyphicon glyphicon-chevron-up" ></i></p>
            <div class="col-md-12 materials" ng-repeat="item1 in item[1]" id="cur_index{{$parent.$index}}" ng-if="item[2].index == $parent.$index&&item[2].cur_index == 1">
                <p class="col-md-2">{{item1.cate_level3}}</p>
                <p class="col-md-2">{{item1.brand}}</p>
                <p class="col-md-2">总价：{{item1.price}}</p>
                <p class="col-md-2">数量:{{item1.count}}</p>
                <p class="col-md-2" style="color: #5677FC;" ng-click="go_goods_detail(item1)">详情</p>
            </div>
        </div>
    </div>
    <div class="row" style="border: none;height: 300px;">
        <p class="col-md-2">备注</p>
        <p class="col-md-10" style="margin-top: 40px;">
            <textarea  placeholder="请填写备注事项" style="border-radius: 10px;padding: 10px;" cols="120" rows="8" ng-model="particulars_view.remark"></textarea>
        </p>
    </div>
    <div class="from-group submit">
        <button class="remove" type="button" ng-click="save_remark()">确认</button>
    <button type="button" ng-click="go_index()">返回</button>
</div>
</div>