/*分销主页样式*/
.distribution_index{
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
}
.distribution_index span{
    margin-right:15px;
}
.distribution_index > div{
    margin-bottom:20px;
}
.distribution_index p {
    margin-bottom: 20px;
    font-size:14px;
}
.distribution_index table{
    font-size:14px;
}
.distribution_index table th{
    border: 0 !important;
    font-weight:normal!important;
    color: #7A8599;
}
.distribution_index table td{
    color: #666F80;
}
.distribution_index button{
    padding:5px 10px;
    height: 30px;
    margin-right:20px;
    font-size:14px;
    background:none;
    border:.5px solid #ccc;
    border-radius:2px;
}
/*.apply_case_index .form-control{*/
    /*padding:20px 12px;*/
/*}*/
.distribution_index td{
    padding-top:15px !important;
    padding-bottom:15px !important;
}
/*.apply_case_index td input{*/

/*}*/
.distribution_index .modal-content{
    padding:40px!important;
}
.distribution_index .modal button{
    width:80px;
    height: 30px;
}
.distribution_index .other_btn{
    border:.5px solid #5677FC;
    color: #5677FC;
}