/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*分销详情*/
.distribution_detail{
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
}
.distribution_detail .row > p,.distribution_detail .row > div{
    margin-top:15px;
    margin-bottom:15px;
}
.distribution_detail button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.distribution_detail .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.distribution_detail .submit{
    margin-top:100px;
    position: absolute;
    bottom:50px;
}
.distribution_detail .error{
    color: red!important;
}