/*分销详情*/
.distribution_detail{
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
}
.distribution_detail .row > p,.distribution_detail .row > div{
    margin-top:15px;
    margin-bottom:15px;
}
.distribution_detail button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.distribution_detail .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.distribution_detail .submit{
    margin-top:100px;
    position: absolute;
    bottom:50px;
}
.distribution_detail .error{
    color: red!important;
}