body{
    margin: 0;
    padding:0;
    font-family:PingFangSC-Thin, "΢���ź�",sans-serif;
    background-color: #F6F6F6;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: none !important;
}
img{
    border: none ;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
input{
    outline: none;
}
.fl{
    float: left;
}

::-webkit-input-placeholder { color:#b1b1b1; }
::-moz-placeholder { color:#b1b1b1; } /* firefox 19+ */
:-ms-input-placeholder { color:#b1b1b1; } /* ie */
input:-moz-placeholder { color:#b1b1b1; }