
.main{
    background: #F6F6F6;
    margin-bottom: 6rem;
}

.search_box{
    width: 32rem;
    height: 4rem;
    padding: 0 1rem;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.icon_color{
    color: #FFFFFF;
    margin-top: 1.4rem;
    position: absolute;
}
.address{
    font-size: 1rem;
    color: #222;
    position: absolute;
    top: 1.4rem;
    left: 2.4rem;
}
.search_box .search{
    width: 26rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 0.9rem;
    border-radius: 1.2rem;
    position: absolute;
    top: 0.87rem;
    left:5rem;
    padding-left: 2.5rem;
    background-image: url("../images/mall_popup_search.png");
    background-size:1rem;
    background-repeat: no-repeat;
    background-position: 1rem 0.7rem;
    background-color: rgba(220,220,220,0.3);
    border: none;
    color:#222;
    text-decoration: none;
}
.search_box .massage{
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top:1.25rem;
    right:1.2rem;
}
.carousel{
    margin-top: 4.1rem;
}
/*�õ�Ƭ��ʼ*/
/*.swiper-container {*/
/*margin:0 auto;*/
/*position:relative;*/
/*overflow:hidden;*/
/*-webkit-backface-visibility:hidden;*/
/*-moz-backface-visibility:hidden;*/
/*-ms-backface-visibility:hidden;*/
/*-o-backface-visibility:hidden;*/
/*backface-visibility:hidden;*/
/*/!* Fix of Webkit flickering *!/*/
/*z-index:1;*/
/*}*/
/*.swiper-wrapper {*/
/*position:relative;*/
/*width:100%;*/
/*-webkit-transition-property:-webkit-transform, left, top;*/
/*-webkit-transition-duration:0s;*/
/*-webkit-transform:translate3d(0px,0,0);*/
/*-webkit-transition-timing-function:ease;*/

/*-moz-transition-property:-moz-transform, left, top;*/
/*-moz-transition-duration:0s;*/
/*-moz-transform:translate3d(0px,0,0);*/
/*-moz-transition-timing-function:ease;*/

/*-o-transition-property:-o-transform, left, top;*/
/*-o-transition-duration:0s;*/
/*-o-transform:translate3d(0px,0,0);*/
/*-o-transition-timing-function:ease;*/
/*-o-transform:translate(0px,0px);*/

/*-ms-transition-property:-ms-transform, left, top;*/
/*-ms-transition-duration:0s;*/
/*-ms-transform:translate3d(0px,0,0);*/
/*-ms-transition-timing-function:ease;*/

/*transition-property:transform, left, top;*/
/*transition-duration:0s;*/
/*transform:translate3d(0px,0,0);*/
/*transition-timing-function:ease;*/
/*}*/
/*.swiper-free-mode > .swiper-wrapper {*/
/*-webkit-transition-timing-function: ease-out;*/
/*-moz-transition-timing-function: ease-out;*/
/*-ms-transition-timing-function: ease-out;*/
/*-o-transition-timing-function: ease-out;*/
/*transition-timing-function: ease-out;*/
/*margin: 0 auto;*/
/*}*/
/*.swiper-slide {*/
/*display: block;*/
/*width: auto;*/
/*height: 15rem;*/
/*float: left;*/
/*}*/
/* ===============================================================
Pagination Styles
================================================================*/
.device {
    width: auto;
    height: 15rem;
    position: relative;
}
.swiper-slide{
    position: relative;
}
.swiper-container {
    height: 15rem;
    width: auto;
    cursor: pointer;!important;
}
.size_img{
    width: 32rem;
}
.content-slide {
    padding: 2rem;
    color: #fff;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:2.2rem;
    width: 100%;
    z-index: 100;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    background: #fff;
    margin: 0 0.3rem;
    cursor: pointer;
}
.swiper-active-switch {
    width: 1.2rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    background: #53A7F3;
}
/*�õ�Ƭ����*/


/*�Ƽ���ʼ*/
.banner_recommend{
    margin-bottom: 1rem;
    margin-left: .5rem;


}
/*.banner_recommend img{*/
/*width: 30rem!important;*/
/*height: 13.6rem;*/
/*}*/
/*audio, canvas, img, svg, video {*/
/*max-width: 32rem!important;*/
/*vertical-align: middle;*/
/*}*/

.recommend_p{
    font-size: 1.4rem;
    color: #6C6C6C;
    margin-bottom: .8rem;
    padding-left: 1.2rem;
}
.classify-box{
    padding-top: 1.2rem;
    background: #fff;
}
.classify-ul{
    width: 100%;
    height:auto;
    overflow: hidden;
}
.classify-ul>li{
    float: left;
    width: 25%;
    text-align: center;
    background-color: #fff;
    margin-bottom: 0.5rem;
}
.classify-ul>li a{
    width: 100%;
    text-decoration: none!important;
}
.classify-ul>li img{
    /*padding-top:1.5rem;*/
    height:2.4rem ;
}
.classify-ul>li a>span {
    font-size: 1.2rem;
    line-height: 3rem;
    display: block;
    color:#b1b1b1;
}
/*�Ƽ���ʼ*/
.recommend_box{
    width: auto;
    height: auto;
    margin-top: 1rem;
    background-color: #fff;
}
.recommend_box .recommend1_box {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-right: 0.5rem solid #fff;
    border-left: 0.5rem solid #fff;
}
.recommend_box .recommend1_box .title {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color:#6c6c6c;
}
.recommend_box .recommend1_box .primary_box{
    width: auto;
    height: 12.5rem;
    display: block;
    position: relative;
    background-color: #F1C874;
}
.recommend_box .recommend1_box .primary_box .primary_left{
    width: 16rem;
    height: auto;
    position: absolute;
    left: 0.6rem;
    top:3.2rem;
}
.small_title{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    color:#fff;
}
.describe{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color:#fff;
}
.price1{
    margin-top: 1rem;
}
.price1>span:nth-child(2){
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#F56A22;
}
.price1>span:nth-child(1){
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color:#F56A22;
}
.recommend_box .recommend1_box .primary_box .primary_right{
    position: absolute;
    width: 11.5rem;
    height: 11.5rem;
    right:0.6rem;
}
.recommend_box .recommend1_box .primary_box .primary_right>img{
    width: 11.5rem;
    height: 8.5rem;
    margin-top: 1.5rem;
}
.recommend2_box{
    width: 100%;
    height: auto;
    overflow: hidden;
    clear: both;
    padding-top: 0.6rem;
}
.recommend2_box ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.recommend2_box ul>li{
    width: 48%;
    height: auto;
    float: left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;   /* Firefox */
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-bottom: 0.7rem solid #fff;
    margin-bottom: .8rem;
    padding-left: 1.2rem;
}
.recommend2_box ul li a{
    text-decoration: none;
}

.img_box{
    width: 14.3rem;
    height: 13.3rem;
    overflow: hidden;
    border-radius: 0.2rem;
}
.recommend2_box ul>li a img{
    width: 100%;
    height: 100%;
}
.recommend2_box ul>li a .title2{
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-top: 0.8rem;
    color: #6C6C6C;
    width:14rem;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.recommend2_box ul>li a .describe2{
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0.4rem;
    width:14rem;
    color:#B8B6B6;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.recommend2_box ul>li a .price2{
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-top: 0.4em;
    color:#D9AD65;
}
.swiper-pagination-bullet {
    width: .8rem;
    height: .8rem;
    display: inline-block;
    border-radius: 100%;
    background: #8c8c8c;
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #D9AD65;
}
.tab_bottom{
    position: fixed;
    width: 100%;
    height: 4rem;
    /*line-height: 4rem;*/
    bottom: 0;
    background:rgba(255,255,255,1);
    box-shadow: 0 -1px 0 0 #A9A9A9;
    z-index: 1000;
}
.tab_bottom ul{
    width: 100%;
    display: flex;
    padding: 0 4rem;
    justify-content:space-between ;
}
.tab_bottom ul li{
    /*margin-left: 5rem;*/
    text-align: center;
}
.tab_bottom ul li span{
    font-size: 1rem;
    display: inline-block;
    color:#999;
    margin-top:.42rem;
}
.tab_bottom ul li img{
    margin-top: .5rem;
}
.span_active span{
    color: #D9AD65!important;
}