body{
    width: auto;
    height: 100%;
}
.animated.fadeIn{
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
.line{
    width: 100%;
    height: 1rem;
    background-color: #f6f6f6;
    margin-top: 4rem;
}
.main{
    width: auto;
    height: 100%;
    /*background-color: lightgreen;*/
}
.search_box{
    width: 100%;
    height: 4rem;
    /*background-color: #53A7F3;*/
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.search_box .search{
    width: 27.6rem;
    height: 2.6rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    margin-top: 0.7rem;
    margin-left: 3.2rem;
    padding-left: 3rem;
    border: 2px solid #e5e5e5;
    color: #666;
}
.search_header{
    position: absolute;
    left: 4.3rem;
    top: 1.5rem;

}
.public_return_black{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    position: absolute;
}

.public_return_black img{
    position: absolute;
    top: 1.3rem;
    left: 1.2rem;
    color: #999;
}
/*����*/
.category_box{
    margin-top: 1rem;
    padding-top: 2rem;
    background: #fff;
}
a{
    color: #B8B6B6;
}
.categorys{
    position: fixed;
    overflow: hidden;
    width: 10rem;
    height: 100%;
    margin: 0;
    padding-left: 1.2rem;
    list-style: none;
    border-right: 2px solid #dcdcdc;
    /*background-color: #01BEFF;*/
    background-color: #fff;
}
.categorys >li{
    height: auto;
    background-color: #ECB84B;
}
.categorys >li>a{
    float: left;
    padding-left: 0.8rem;
    width: 10rem;
    text-align: left;
    position: relative;
    font-size: 1.4rem;
    background-color: #fff;
    color: #B8B6B6;
    text-decoration: none!important;
    margin-bottom: 3rem;
    transition: all .15s linear;
}
/*.categorys >li a:hover,.categorys >li a:active{*/
/*/!*text-decoration:none;*!/*/
/*height: 3rem;*/
/*line-height: 3rem;*/
/*color:#6B83FC;*/
/*}*/
/*.categorys >li .current{*/
/*height: 3.5rem;*/
/*line-height: 3.5rem;*/
/*color:#6B83FC;*/
/*}*/
.cur_category{
    /*height: 3.5rem!important;*/
    /*line-height: 3.5rem!important;*/
    color:#333!important;
    font-size: 1.6rem !important;
    padding-left: 1.2rem;
    border-left: .4rem solid #333;
}
.categorys_content{
    width: 21.9rem;
    height: auto;
    min-height:10rem;
    margin-left: 10rem;
    font-size: 12px;
    background-color: #fff;
}
.comment_li {
    width: 5rem;
    margin-top: 1rem;
}
.font_class{
    font-size: 1rem;
    color: #999;
}
.img_box{
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
#img_three{
    width: 100%;
    height: 100%;
}
.hor_line{
    background-color:#CDD3D7;
    width: 2.2rem;
    height: 1px ;
    display: inline-block;
    vertical-align: middle;
}
.title_two{
    display: inline-block;
    font-size: 1.4rem;
    color: #666;
    line-height: 16px;
    margin: 0 1rem;
}
.categorys_content .tab2 .tab_title{
    line-height: 3rem;
    text-align: center;
    color:#545454;
    /*background-color: rgba(91, 192, 222, 0.48);*/
    font-size: 1.3rem;
}
.categorys_content .tab2 .tab_title >span{
    color:#333;
}
.categorys_content .tab2 .sort ul{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-left: 1.4rem;
}
.categorys_content .tab2 .sort ul li{
    width: 33.3%;
    text-align: center;
    float: left;
    padding-right: 1.2rem;
    /*background-color: #5bc0de;*/
}
.categorys_content .tab2 .sort ul li a{
    width:100%;
    color:#333;
}
.categorys_content .tab2 .sort ul li a img{
    width: 5rem;
}