header{
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
header a{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
    top: 0;
}
header a img{
    position: absolute;
    top: 1.3rem;
    left: 1.2rem;
    color: #999;
}
header span{
    font-size: 1.5rem;
    color: #666;
    display: inline-block;
    line-height: 4rem;
}

.address_map{
    position: relative;
    padding: 1.6rem 1.2rem;
}
.address_map img:nth-child(1){
    position: absolute;
    top: 1.9rem;
}
.img_harvest{
    position: absolute;
    right: 1.2rem;
    top: 2rem;
}
#img_harvest{
    position: absolute;
    right: 1.5rem;
    width: .8rem;
    vertical-align: middle;
    top:2.2rem;
}
.delivery_address{
    font-size: 1.4rem;
    color: #333;
    vertical-align: top;
    margin-left: 2rem;
}
.address_content{
    display: inline-block;
    width: 25rem;
    font-size: 1.4rem;
    margin-left: 1.2rem;
    vertical-align: middle;
}
.address_content span:nth-child(5){
    color: #6C6C6C;
}
.address_content span:nth-child(6){
    color: #6C6C6C;
}
.bag_div{
    background-color: #F6F6F6;
    width: 32rem;
    height: 1rem
}
#bottom_div{
    margin-bottom: 3rem;
}
.inoc_title{
    border-bottom: 1px solid #dcdcdc;
    padding: .8rem 1.2rem;
}
.inoc_title .img_box{
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    border-radius: .2rem;
    display: inline-block;
}
.inoc_title img{
    width: 100%;
    height: 100%;
}
.inoc_title .shop_name{
    margin-left: 1rem;
    color: #4A4A4A;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: .1rem;
    color: #666;
}
.address_commodity{
    padding: 1.2rem;
}
.address_commodity .img_box{
    width: 7.5rem;
    height: 7.5rem;
    /*overflow: hidden;*/
    border-radius: .3rem;
}
 .img_box img{
     width: 100%;
     height: 100%;
}
.left_commodity{
    display: inline-block;
    margin-left: 1.5rem;
    vertical-align: top;
    height: 7.5rem;
    position: relative;
}
.left_commodity p:nth-child(1){
    font-size: 1.4rem;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 20.5rem;
}
.left_commodity p:nth-child(2){
    font-size: 1.2rem;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 20.5rem;
}
.left_commodity div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20.5rem;
}
.left_commodity div span:nth-child(1){
    font-size: 1.4rem;
    color: #D9AD65;
}
.left_commodity div span:nth-child(2){
    font-size: 1.1rem;
    color: #999;
    line-height: 2rem;
}
.more_details ul{
    padding-left: 1.2rem;
}
.more_details ul li{
    font-size: 1.4rem;
    color: #666;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    padding: 1.2rem 0;
}

.more_details ul li>span:nth-child(2){
    color: #999;
    position: absolute;
    right: 1.2rem;
    font-size: 1.2rem;
    top: 1.4rem;
}
.more_details ul li>span:nth-child(1){
    right: 2.2rem;
    font-size: 1.4rem;
}
.show_in>span:nth-child(2){
    position: absolute;
    right: 3rem!important;
    top: 1.3rem;
}
.more_details ul li img{
    color: #959292;
    position: absolute;
    right: 1.2rem;
    top: 1.6rem;
}
.more_details ul li.leave_mes{
    height: 8rem;
    border-bottom: none;
}
.more_details ul li textarea{
    border: 0;
    position: absolute;
    right: 1.2rem;
    /*padding-left: 5rem;*/
    font-size: 1.2rem;
    top: 1.4rem;
    width: 20.5rem;
    height: 6rem;
    text-align: right;
}
.commodity_pic ul{
    padding-left: 1.2rem;
}
.commodity_pic ul li{
    padding: 1.2rem 0;
    font-size: 1.4rem;
    color: #999;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
}
.commodity_pic{

}
.commodity_pic ul li span:nth-child(1){

}
.commodity_pic_num{
    text-decoration: line-through;
    color: #999;
}
.commodity_pic_r{
    color: #D9AD65;
}
.commodity_pic ul li span:nth-child(2){
    position: absolute;
    right:1.2rem;
    font-size: 1.2rem;
    top: 1.3rem;
}
.need_required{
    padding: 1.2rem;
}
.need_required span:nth-child(1){
    color: #D9AD65;
    font-size: 1.4rem;
}
.need_required span:nth-child(2){
    font-size: 1.4rem;
    color: #666;
}

/*section{*/
/*position: relative;*/
/*}*/
.go_play{
    width: 32rem;
    height: 4rem;
    /*line-height: 4rem;*/
    position: fixed;
    background-color: white;
    bottom: 0;
    box-shadow: 0 -1px 1px rgba(0,0,0,.2);
}
.go_play div{
    float: left;
    margin-top: 1rem;
}
.go_play span:nth-child(1){
    color: #999;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    vertical-align: middle;
}
.go_play span:nth-child(2){
    font-size: 1.6rem;
    color: #D9AD65;
    vertical-align: middle;
}
.go_play button{
    width: 8.5rem;
    height: 4rem;
    /*line-height: 4rem;*/
    background-color: #D9AD65;
    font-size: 1.4rem;
    color: white;
    float: right;
    border: 1px solid #D9AD65;
}
#address_body{
    width: 32rem!important;
    height: 58rem!important;
    margin-top: -.3rem;
}
#address_body .modal-body{
    padding: 0;
}
#two_address{
    width: 32rem!important;
    height: 58rem!important;
}
#address_header{
    height:4rem;
    line-height: 4rem;
    text-align: center;
}
#address_header a{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
    top: 0;
}
#address_header a img{
    position: absolute;
    left: 1.2rem;
    top: 1.4rem;
}
#address_header span{
    font-size: 1.5rem;
    color: #666;
}
.input-group{
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    padding: 1.2rem;
    width: 100%;
}
.input-group span{
    font-size:1.4rem;
    color: #666;
}
.shu{
    height: 1.8rem;
    width: 2px;
    background-color: #dcdcdc;
    display: inline-block;
    position: absolute;
    left: 9rem;
    top:1.3rem;
}
.input-group input{
    width: 20rem;
    height: 4.3rem;
    font-size: 1.4rem;
    border: 0;
    padding-left: 1rem;
    position: absolute;
    left: 10rem;
    top: 0;
}
/*.address_more{*/
/*position: absolute;*/
/*right: 2rem;*/
/*color: #4A4A4A;*/
/*}*/
.btn_hold{
    margin-top: 2rem;
}
.btn_hold button{
    width: 29rem;
    height: 4rem;
    line-height: 4rem;
    color: white;
    background-color: #333;
    border-radius: .6rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    /*opacity: .6;*/
}
/*协议模态框*/
#agreement_body{
    width: 100%;
    margin: 0;
}
#agreement{
    height: 57rem;
}
#agreement_header {
    height: 4rem;
    padding: 0;
    text-align: center;
}
#agreement_header span{
    line-height: 4rem;
    font-size: 1.5rem;
    color: #666;
}
#agreement_header a{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 0;
    top: 0;
}
#agreement_header a img{
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
}
.agreement_div{
    font-size: 1.3rem;
    padding-top: 1rem;
}
.agreement_div p{
    padding-left: 1rem;
}
/*弹出 判断框*/
#sm_model ,#address_model{
    width: 21rem;
    height: 12rem;
}
#num_modal, #address_order_modal{
    padding: 1rem;
    /* height: 12rem; */
    margin-top: 16rem;
    /* line-height: 6rem; */
    text-align: center;
    border-radius: .6rem;
}
#num_modal p{
    font-size: 1.3rem;
    color: #333;
}
#num_modal button{
    color: #333;
    background-color: white;
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    border: 0;
    font-size: 1.4rem;
    outline: none;
    padding: 0;
}
#address_order_modal p{
    font-size: 1.4rem;
    color: #333;
}
#address_order_modal button{
    color: #333;
    background-color: white;
    /*width: 20.5rem;*/
    height: 2.8rem;
    line-height: 2.8rem;
    border: 0;
    font-size: 1.4rem;
    outline: none;
    padding: 0;
}
.xian{
    background-color:#dcdcdc;
    /*width: 21rem;*/
    height: 2px;
    margin: 1.2rem 0;
}
.area_btn{
    color: #333;
}

/*三级联动模态框*/
#three_modal{
    /*position: relative;*/
}
#level_model{
    width: 32rem;

}
#link_modal{
    height: 25rem;
    /*padding-bottom: 2rem;*/
    margin-top: 31rem;
}

/*协议/*/
.agreement{
    font-size: 1.2rem;
    margin-bottom: 4rem;
    text-align: center;
    background-color: #f6f6f6;
    padding: 1.2rem 0;
    color: #666;
    line-height: 3rem;
}
.agreement_box{
    margin: 0 auto;
    width: 16.2rem;
}
.agreement .input_box{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-top: 0.1rem;
}
.agreement .input_box input{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.6rem;
    /*background-color: #0a67fb;*/
    /*background-color: #0a67fb;*/
}
.agreement_span{
    color: #333;
}
.more_details li {
    position: relative;
    /*width: 10rem;*/
}

#agreement_span{
    display: inline-block;
    /*width: 18rem;*/
    position: absolute;
    right: 2.5rem;
    overflow: hidden;
    /*white-space: normal;*/
    /*text-overflow: ellipsis;*/
    color: #666;
}
.input_agrenmt{
    width: 1rem;
    height: 1rem;
}

