header{
    height: 3.8rem;
    line-height: 3.8rem;
}
header div span{
    text-align: center;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-left:11rem;
    vertical-align: top;
}
header div img{
    margin-left: 1.5rem;
}
.address_map{
    /*line-height: 4rem;*/
    /*height: 6rem;*/
    padding-bottom: 1rem;
    position: relative;
}
.address_map img:nth-child(1){
    margin-left: 1.5rem;
    margin-top: .3rem;
}
.img_harvest{
    position: absolute;
    right: 1.5rem;
    top:.7rem;
    width: .7rem;
}
#img_harvest{
    position: absolute;
    right: 1.5rem;
    width: .8rem;
    vertical-align: middle;
    top:2.2rem;
}
.delivery_address{
    font-size: 1.4rem;
    color: #53A8F4;
    vertical-align: top;
    margin-left: 1rem;
}
.address_content{
    display: inline-block;
    width: 25rem;
    font-size: 1.4rem;
    margin-left: 1.2rem;
    vertical-align: middle;
}
.address_content span:nth-child(5){
    color: #6C6C6C;
}
.address_content span:nth-child(6){
    color: #6C6C6C;
}
.bag_div{
    background-color: #F6F6F6;
    width: 32rem;
    height: 1rem
}
#bottom_div{
    margin-bottom: 3rem;
}
.inoc_title{
    height: 3.4rem;
    border-bottom: 1px solid #E9EDEE;
    line-height: 3.4rem;
}
.inoc_title img{
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
    margin-left: 1.4rem;
}
.inoc_title span{
    margin-left: 1rem;
    color: #4A4A4A;
    font-size: 1.2rem;
    vertical-align: middle;
}
.address_commodity{
    height: 10rem;
    /*line-height: 10rem;*/

}
.address_commodity img{
    padding-top: 1.5rem;
    width: 7.5rem;
    height: 7.5rem;
    margin-left: 1.5rem;
    vertical-align: top;
}
.left_commodity{
    display: inline-block;
    margin-left: 1.5rem;
    vertical-align: top;
    padding-top: 1.5rem;
}
.left_commodity p:nth-child(1){
    font-size: 1.4rem;
    color: #4A4A4A;
}
.left_commodity p:nth-child(2){
    font-size: 1.3rem;
    color: #959292;

}
.left_commodity span:nth-child(3){
    font-size: 1.3rem;
    color: #F59C22;
}
.left_commodity span:nth-child(4){
    font-size: 1.1rem;
    color: #6C6C6C;
    margin-left: 11rem;
}
.more_details ul li{
    height: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
    color: #4A4A4A;
    border-bottom: 1px solid #E9EDEE;
    position: relative;
}

.more_details ul li>span:nth-child(2){
    color: #959292;
    position: absolute;
    right: 2.2rem;
}
.more_details ul li span:nth-child(1){
    margin-left: 1.5rem;
}
.show_in>span:nth-child(2){
    position: absolute;
    right: 1.6rem!important;
}
.more_details ul li img{
    color: #959292;
    position: absolute;
    right: 2.2rem;
}
.more_details ul li input{
    border: 0;
    position: absolute;
    right: .5rem;
    /*padding-left: 5rem;*/
}
.commodity_pic ul li{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.3rem;
    color: #6C6C6C;
    position: relative;
}
.commodity_pic{
    border-bottom: 1px solid #E9EDEE;
}
.commodity_pic ul li span:nth-child(1){
    margin-left: 1.5rem;
}
.commodity_pic_num{
    text-decoration: line-through;
    color: #959292;
}
.commodity_pic_r{
    color: #F59C22;
}
.commodity_pic ul li span:nth-child(2){
    position: absolute;
    right: 2rem;
}
.need_required{
    height: 4rem;
    line-height: 4rem;
    position: relative;
    bottom: .5rem;
}
.need_required span:nth-child(2){
    position: absolute;
    right: 2rem;
    color: #F55122;
    font-size: 1.2rem;
}
.need_required span:nth-child(1){
    position: absolute;
    right: 8rem;
    font-size: 1.3rem;
}
/*section{*/
/*position: relative;*/
/*}*/
.go_play{
    width: 32rem;
    height: 4rem;
    /*line-height: 4rem;*/
    position: fixed;
    background-color: white;
    bottom: 0;
}
.go_play div{
    float: left;
    margin-top: 1rem;
}
.go_play span:nth-child(1){
    color: #6C6C6C;
    font-size: 1.3rem;
    margin-left: 1.5rem;
    vertical-align: middle;
}
.go_play span:nth-child(2){
    font-size: 1.3rem;
    color: #F55122;
    vertical-align: middle;
}
.go_play button{
    width: 8.5rem;
    height: 3.8rem;
    /*line-height: 4rem;*/
    background-color: #F55122;
    font-size: 1.4rem;
    color: white;
    float: right;
    /*margin-left: 13.1rem;*/
    margin-top: 0.2rem;
}
#address_body{
    width: 32rem!important;
    height: 58rem!important;
    margin-top: -.3rem;
}
#two_address{
    width: 32rem!important;
    height: 58rem!important;
}
#address_header{
    height:4rem;
    line-height: 3rem;
    vertical-align: middle;
}
#address_header img{
    margin-left: 1.4rem;
}
#address_header span{
    vertical-align: middle;
    margin-left: 10rem;
    font-size: 1.5rem;
    color: #4A4A4A;
}
.input-group{
    width: 32rem;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #E9EDEE;
    position: relative;
}
.input-group span{
    font-size:1.4rem;
    color: #4A4A4A;
    margin-left: 1.4rem;
}
.shu{
    height: 1.8rem;
    width: .2rem;
    background-color: #E9EDEE;
    display: inline-block;
    position: absolute;
    left: 9rem;
    top:1.2rem;
}
.input-group input{
    width: 20rem;
    height: 4rem;
    font-size: 1.4rem;
    border: 0;
    padding-left: 1rem;
    position: absolute;
    left: 10rem;
}
/*.address_more{*/
/*position: absolute;*/
/*right: 2rem;*/
/*color: #4A4A4A;*/
/*}*/
.btn_hold{
    margin-top: 2rem;
}
.btn_hold button{
    width: 29rem;
    height: 4rem;
    line-height: 4rem;
    color: white;
    background-color: #53A8F4;
    border-radius: .6rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    outline: none;
    /*opacity: .6;*/
}
/*协议模态框*/
#agreement_body{
    width: 32rem;
    margin-top: -1rem;
}
#agreement{
    height: 58rem;
}
#agreement_header {
    height: 4rem;
    line-height: 4rem;
}
#agreement_header span{
    text-align: center;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: 10.5rem;
}
#agreement_header img{
    vertical-align: middle;
}
.agreement_div{
    font-size: 1.3rem;
    padding-top: 1rem;
}
.agreement_div p{
    padding-left: 1rem;
}
/*弹出 判断框*/
#sm_model ,#address_model{
    width: 21rem;
    height: 12rem;
}
#num_modal, #address_order_modal{
    height: 12rem;
    margin-top: 16rem;
    line-height: 6rem;
    text-align: center;
    border-radius: .6rem;
}
#num_modal p{
    font-size: 1.4rem;
    color: #4A4A4A;
}
#num_modal button{
    color: #53A8F4;
    background-color: white;
    width: 20.5rem;
    height: 2.8rem;
    line-height: 2.8rem;
    border: 0;
    font-size: 1.4rem;
    outline: none;
    padding: 0;
}
#address_order_modal p{
    font-size: 1.4rem;
    color: #4A4A4A;
}
#address_order_modal button{
    color: #53A8F4;
    background-color: white;
    width: 20.5rem;
    height: 2.8rem;
    line-height: 2.8rem;
    border: 0;
    font-size: 1.4rem;
    outline: none;
    padding: 0;
}
.xian{
    background-color:#E9EDEE;
    width: 21rem;
    height: .2rem;
    margin-top: 1.2rem;
}

/*三级联动模态框*/
#three_modal{
    /*position: relative;*/
}
#level_model{
    width: 32rem;

}
#link_modal{
    height: 25rem;
    /*padding-bottom: 2rem;*/
    margin-top: 31rem;
}

/*协议/*/
.agreement{
    font-size: 1.2rem;
    margin-bottom: 5rem;
}
.agreement input{
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 1.5rem;
    /*background-color: #0a67fb;*/
}
.agreement_span{
    color:#3F51B5 ;
}
.agreement_span>span+span:before{
    content: '-';
}

