body{
    background-color: #f6f6f6;
}
header{
    height:4rem;
    width: 100%;
    background-color: white;
    position: relative;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #999;
}


.back_return{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
.back_return img{
    position: absolute;
    top:1.2rem;
    left: 1.2rem;
}
header span{
    font-size:1.5rem;
    color: #666;
    display: inline-block;
    line-height: 4rem;
}
.back_home{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0;
    top: 0;
}
.back_home img{
    position: absolute;
    top:1.2rem;
    right: 1.2rem;
}
.header_shop{
    width: 32rem;
    background-color: white;
    padding: 1.2rem;
    position: relative;
    margin-top: 4rem;
}
#shop_img_header{
    width: 4rem;
    height: 4rem;
}
.shop_img{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: .2rem;
}
.shop_img img{
    width: 100%;
    height: 100%;
}
.shop_name{
    font-size: 1.4rem;
    color: #999;
    margin-left: .7rem;
    margin-top: 1rem;
}
.num{
    margin-left: .7rem;
    vertical-align: middle;
}
.fan_count{
    color: #6C6C6C;
}
.header_shop span{
    font-size: 1.3rem;
    color: #6C6C6C;
    margin-left: 1rem;
}
.line_com{
    display: block;
    width: 4.2rem;
    height: .3rem;
    background-color: #333;
    margin-left: 5.7rem;
    margin-top: .2rem;

}
.tab-content {

}
.fixed_tab{
    position: fixed;
    top:4rem;
    z-index: 1000;
    background-color: white;
}
.list_tab {
    /*margin-bottom: 1.5rem;*/
    /*background-color: white;*/
    /*z-index: 1000;*/
    /*position: fixed;*/
}
.list_tab li{
    width: 16rem;
    text-align: center;
    padding-top: .5rem;
    background-color: white;
}
.list_tab li a{
    color: #333;
    font-size: 1.4rem;
    background-color: white;
}
.active{
    color: #333 ;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:white;
}
.shop_img{
    width: 4rem;
    height: 4rem;
}
.comment_img{
    width: 32rem;
}
.shop_two ul li span{
    color: #6C6C6C!important;
    font-size: 1.3rem;
}
.shop_two ul li {
    border-bottom: 1px solid #CDD3D7;
    height: 3rem;
    padding-top: .7rem;
}
.shop_two ul {
    padding-bottom: 2rem;
}
.comment_num{
    color: #959292!important;
    font-size: 1.3rem;
}
#size_img{
    width: 32rem;
    height:12rem;
}
.tab-bordered{

}
.section_div{
    margin-top: 1rem;

}
.line{
    width: 100%;
    height: 1rem;
    background: #f6f6f6;
}
.nav-tabs {
    border-bottom: none;
    background-color: #fff;
}
/*�Ƽ���ʼ*/
.recommend_box{
    width: auto;
    height: auto;
    background-color: #fff;
    margin-bottom: 3rem;
}
.recommend_box .recommend1_box {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    border-right: 0.5rem solid #fff;
    border-left: 0.5rem solid #fff;
}
.recommend_box .recommend1_box .title {
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color:#6c6c6c;
}
.recommend_box .recommend1_box .primary_box{
    width: auto;
    height: 12.5rem;
    display: block;
    position: relative;
    background-color: #F1C874;
}
.recommend_box .recommend1_box .primary_box .primary_left{
    width: 16rem;
    height: auto;
    position: absolute;
    left: 0.6rem;
    top:3.2rem;
}
.small_title{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    color:#fff;
}
.describe{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color:#fff;
}
.price1{
    margin-top: 1rem;
}
.price1>span:nth-child(2){
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:#F56A22;
}
.price1>span:nth-child(1){
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color:#F56A22;
}
.recommend_box .recommend1_box .primary_box .primary_right{
    position: absolute;
    width: 11.5rem;
    height: 11.5rem;
    right:0.6rem;
}
.recommend_box .recommend1_box .primary_box .primary_right>img{
    width: 11.5rem;
    height: 8.5rem;
    margin-top: 1.5rem;
}
.recommend2_box{
    width: 100%;
    /*height: 23.5rem;*/
    overflow: hidden;
    clear: both;
    padding: 1.2rem 0;
}
.recommend2_box ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.recommend2_box ul>li{
    width: 48%;
    float: left;
    padding-left: 1.2rem;
}
.recommend2_box ul li a{
    text-decoration: none;
}
.recommend2_box ul>li a img{
    width: 14.4rem;
    height: 13.6rem;
}
.recommend2_box ul>li a .title2{
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 0.6rem;
    color: #666;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}
.recommend2_box ul>li a .describe2{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 0.3rem;
    color:#B8B6B6;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.recommend2_box ul>li a .price2{
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 0.6rem;
    color:#D9AD65
}
.recommend2_box .img_box{
    width:100%;
    height: 13rem;
    overflow: hidden;
}
.recommend2_box .img_box img{
    width: 100%;
    height: 100%;
}
.nav-tabs>li>a {
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
}
/*����*/

/*ȫ����Ʒ��ʼ*/
.fixed_memo{
    position: fixed;
    top: 7.5rem;
    z-index: 1000;
    background-color: white;
}
.memo_pad{
    background-color: white;
    height: 4rem;
    line-height: 4rem;
    /*margin-bottom: 1rem;*/
}
.memo_pad ul {
    margin-left: -2rem;
}
.memo_pad li{
    font-size: 1.4rem;
    margin-left: 5.5rem;
    color: #999;
    display: inline-block;
}
.memo_pad li img{
    vertical-align: initial;
}

/*��Ʒչʾ*/
.up_down{

}
.mall_list{
    background-color: white;
    padding-bottom: 4rem;
}
.flex_div{
    position: relative;
    /*top:1rem;*/
}
.item_commodity{
    position: relative;
    border-bottom: 1px solid #E9EDEE;
    padding: 1.2rem;
}
.item_commodity div{
    display: inline-block;
}
.item_commodity_divimg {
    position: relative;
    border-radius: .2rem;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}
.item_commodity_divimg img {
    width: 100%;
    height: 100%
}
.item_commodity_comment{
    margin-left: 1rem;
}
.comment_one{
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0;
}
.comment_two{
    font-size: 1rem;
    color: #999;
    margin-bottom: .8rem;
}
.comment_span{
    font-size: .9rem;
    color: #999;
}
.comment_span_two{
    font-size: .9rem;
    color: #999;
}
.comment_span_three{
    font-size: 1.2rem;
    color: #D9AD65;
}
.shop_profile{
    height: 4rem;
    width: 32rem;
    background-color: white;
    border-top: 3px solid #F6F6F6;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.shop_profile span{
    font-size: 1.3rem;
    color: #4A4A4A;
    line-height: 4rem;
}
/*店铺简介*/
.modal-body{
    padding: 0;
    margin: 0;
}
#shop_profile{
    width: 32rem;
}
#shop_body{
    height: 58rem;
    margin-top: -1rem;
}
#shop_header{
    height: 4rem;
    text-align: center;
    line-height: 3.7rem;
}
#shop_title{
    color: #666;
    font-size: 1.4rem;
    line-height: 3rem;
}
.shop_back_return{

}
.shop_back_home{
    margin-left: 8.8rem;
    line-height: 3rem;
}
.bag_div{
    background-color: #F6F6F6;
    width: 32rem;
    height: 1rem
}
.comment_show ul{
    margin-bottom: 0;
}

.comment_show ul li{
    list-style: none;
    height:4.1rem;
    line-height: 4.1rem;
    font-size: 1.3rem;
    color: #666;
    position: relative;
    border: 1px solid #E9EDEE;


}
.comment_show ul li span:nth-child(2){
    position: absolute;
    right: 1.2rem;
}
.comment_show ul li span:nth-child(1){
    margin-left: 1.2rem;
}
.color_span{
    color:#F59C22;
    margin-left: 19rem;
}