/*ͷ����ʼ*/
/*header{*/
    /*height: 60px;*/
    /*line-height: 60px;*/
    /*padding-left: 40px;*/
    /*border-bottom: 1px solid #E6E9F0 ;*/
/*}*/
/*.shop_manage{*/
    /*font-size: 14px;*/
    /*color: #2F3033;*/
    /*line-height: 14px;*/
    /*font-weight: 700;*/
/*}*/
/*.manage_child{*/
    /*font-size: 14px;*/
    /*color: #8D9199;*/
    /*line-height: 14px;*/
/*}*/
/*header img{*/
    /*margin-left:80%;*/
/*}*/
/*ͷ������*/

section{
    padding-left: 40px;
}
.class_name{
    margin-top: 20px;
    color: #666F80;
}
.class_name img{
    margin-left: -25px;
}
.class_name input{
    margin-left: 85px;
    width: 245px;
    height: 31px;
    border-radius:3px ;
    border: 1px solid #666F80;
    padding-left: 5px;
}
.class_name span:nth-child(4){
    margin-left: 12px;
    color: #ABABAB;
}
.distribution{
    margin-top: 30px;
    color: #666F80;
}
.distribution input{
    margin-left: 85px;
}
.distribution>span:nth-child(3){
    margin-left: 10px;
}
.distribution>span:nth-child(5){
    margin-left: 10px;
}
.distribution_div{
    width: 567px;
    height: 208px;
    border: 1px solid #ABABAB;
    margin-left: 145px;
    margin-top: 20px;
    padding-top: 20px;
}
.distribution_div>span:nth-child(3){
    margin-left:35px;
}
.distribution_div>span:nth-child(8){
    margin-left:10px;
}
.distribution_div input{
    margin-left:65px;
}
.left_way{
    margin-left: 26px!important;
}
.input_span{
    margin-left: 3px!important;
}
.charge{
    width: 345px;
    height: 100px;
    border:1px solid #F5F7FA;
    background-color: #F5F7FA;
    margin-left:145px;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.charge input{
    width: 52px;
    height: 31px;
    border-radius: 3px;
    border: 1px solid #ABABAB;
    margin-left: 35px;

}
.charge input:nth-child(12){
    margin-left: 40px;
}

.btn_back{
    position: fixed;
    bottom: 40px;
}
.btn_back button{
    width:80px;
    height:34px;
    background-color: white;
    border: 1px solid #5E6166;
    margin-left: 10px;
    outline: none;
}
.btn_back button:nth-child(1){
    color:#487AF8;

}
.city_ul{
    height: 600px!important;
}
.input_left{
    margin-left: 50px!important;
}
.input_left1{
    margin-left: 35px!important;
}
.city_ul li{
    list-style: none;
    float: left;
    /*margin-left: 50px;*/
    width:155px;
    margin-bottom: 30px;
}
.sec_ul{
    width: 350px;
    /*background-color: #FFFEC6;*/
    height: 600px;
}
.sec_ul li {
    list-style: none;
    float: left;
    width: 120px;
    margin-bottom: 10px;
}
/*.city_more {*/
    /*!*display:block;*!*/
    /*white-space:nowrap;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
/*}*/
.span_left{
    color: red;
    margin-left:150px;
}

.dl_active3{
    background-color: #E6E9F0!important;
}
.a_active3{
    color: #5677FC!important;
}

.city_more > span + span::before {
    content: "，"
}

.city_more > span:nth-child(3)::after {
    content: "... ";
}