.form-horizontal .control-label{
    text-align: left;
}
.row{
    margin-bottom: 20px;
}
.red_ico{
    margin-left: -25px;
}
.img_txt{
    color: #ABABAB;
}

.btn_back{
    position: fixed;
    bottom: 40px;
}
.input_width{
    display: inline-block;
    width: 50%;
}
.city_ul{
    height: 600px!important;
}

.city_ul li{
    list-style: none;
    float: left;
    width:150px;
    margin-bottom: 30px;
}
.sec_ul{
    height: 600px;
}
.sec_ul li {
    list-style: none;
    float: left;
    width: 150px;
    margin-bottom: 10px;
}
.red_mark{
    color: red;
}
.dl_active3{
    background-color: #E6E9F0!important;
}
.a_active3{
    color: #5677FC!important;
}

.city_more > span + span::before {
    content: "，"
}

.city_more > span:nth-child(3)::after {
    content: "... ";
}