body{
    color: #666F80;
}
/*主体内容*/
section{
    padding: 40px 0 0 40px;
}
ul{
    padding-left: 0;
}
.row_left{
    padding-left: 0;
}
.row_left_add{
    padding-left: 15px;
}
.row{
    margin-bottom: 20px;
}
.red_img{
    margin-left: -25px;
}
.red_txt{
    color: #E51C23;
}
.img_size{
    width: 120px;
    height: 120px;
}
hr{
    margin-left: 6px;
    width: 90%;
    color: #ABABAB;
}

.price_p{
    border-bottom: 1px solid #ABABAB;
    margin: 10px 0;
}


.show_city{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dl_active3{
    background-color: #E6E9F0!important;
}
.a_active3{
    color: #5677FC!important;
}