/*主体内容*/
body{
  color: #666f80!important;
}
.form-control{
  color: #999!important;
}
.row{
  margin-bottom: 20px;
}
.form-horizontal .control-label{
  text-align: left;
}
.red_txt{
  color: #E51C23;
}
.remove_txt{
  padding-left: 15px;
  color: #E51C23;
}
.red_img{
  margin-left: -25px;
}
.own_attr_name{
  display: inline-block;
  width: 75%;
}
.img_size{
  width: 100%;
}
.img_box{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #F6F6F6;
  overflow: hidden;
  position: relative;
}
.prompt_txt{
  font-size: 12px;
  color: #ABABAB;
  margin-top: 5px;
}
.small_txt{
  font-size: 12px;
  color: #ABABAB;
}
hr{
  margin: 10px;
  color: #ABABAB;
}


.warning{
  font-size: 12px;
  margin-top: 5px;
  color: #E51C23;
}

.img_times{
  display: inline-block;
  width: 100%;
  text-align: center;
  color: red;
  background-color: #ccc;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
}
.img_add{
  vertical-align: top;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.buy_price ul li{
  float: left;
  width: 100px;
  margin-right: 60px;
}

.buy_price p{
  border-bottom: 1px solid #eee;
  width: 400px;
  margin-top: 30px;
}


.price_stock ul li {
  list-style: none;
  float: left;
  width: 80px;
  margin-right:25px;
}

.price_stock p{
  border-bottom: 1px solid #eee;
  width: 390px;
  margin-top: 30px;
}
.price_stock_input{
    display: inline-block;
    width:80px;
    margin-right:20px;
}

/*清楚number上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance:textfield;
}
.margin_r{
  margin-right: 50px;
}
.template_span{
  margin-right:10px;
}
.aftermark_ul{
  padding-left: 0;
}
.aftermark_ul>li>span{
    margin-left:10px;
}

.done_stuff,.offline_time{
  margin-top: 30px;
}

.btn_left{
  margin-left: 20px;
}

.people_time_right{
  margin-right: 50px;
}
.show_city{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.show_city span{
  padding: 20px 5px;
}

.dl_active3{
  background-color: #E6E9F0!important;
}
.a_active3{
  color: #5677FC!important;
}