/*顶部导航*/
.topnav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.topnav span {
    float: left;
    margin: 20px 0 20px 40px;
}

.topnav h6 {
    float: left;
    font-size: 14px;
    line-height: 36px;
    margin-left: 5px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #2F3033;
}

.topnav h6:nth-child(2){
    font-weight: bold;
}

.topnav h6:last-child{
    color: gray;
}

/*分类表单*/
.cla_detail{
    padding-top: 56px;
    padding-left: 26px;
    font-size: 14px;
}

.red_mark{
    color: red;
    font-size: 14px;
}

.each_title{
    margin-right: 95px;
}

.cla_detail input{
    width: 244px;
    height: 28px;
    border: 1px solid #BFC0C2;
    border-radius: 3px;
    padding-left: 5px;
}

.divider{
    height: 1px;
    width: 90%;
    margin-top: 26px;
    margin-left:19px;
    background-color: #BFC0C2;
}

/*分类所属*/
.cla_belong{
    margin-top: 34px ;
}

.belong{
    width: 244px;
    height: 28px;
    color: #666F80;
    border-radius: 3px;
    border: 1px solid #BFC0C2;
}

.first_select{
    margin-right: 10px;
}

/*分类图片*/
.cla_pic{
    margin-top: 66px;
}

.upload_pic{
    display: inline-block;
    vertical-align: top;
}

.upload_pic img{
    width: 120px;
    height: 120px;
}


.upload_tishi{
    font-size: 12px;
}

.upload_pic h6{
    font-size: 12px;
    color: #ABABAB;
    margin-top: 10px;
}

#upload {
    width: 67px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #666F80;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-top: 4px;
}

#upload_btn{
    width: 67px;
    height: 24px;
    border: 1px solid #BFC0C2;
    border-radius: 3px;
    padding-left: 5px;
    line-height: 24px;
    font-size: 12px;
    color: #BFC0C2;
    background-color: white;
}

.warning{
    font-size: 12px;
    margin-top: 10px;
}
/*分类描述*/
.cla_des{
    margin-top: 32px;
    overflow: hidden;
}

.cla_des .each_title{
    margin-left: 16px;
    float: left;
}

.cla_des textarea{
    float: left;
}

#edit_tool{
    display: inline-block;
    width: 623px;
    height: 337px;
    background-color: #7A8599;
}

/*下架原因*/
#why_offline{
   display: inline;
}

/*确认信息*/
.info{
    margin-top: 40px;
    margin-left: 165px;
}

.info p{
    margin-bottom: 16px;
}

.info p span:first-child{
    margin-right: 40px;
}

.btn_sure{
    margin-left: 164px;
    margin-bottom: 20px;
}

.btn_sure button{
    width: 80px;
    height: 34px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding-left: 5px;
    line-height: 34px;
    font-size: 12px;
    color: #5e6166;
    background-color: white;
    margin-right: 20px;

}

/*保存提示框*/
#save_content{
    width: 636px;
    height: 256px;
}

#tishi{
    padding-left: 13px;
    padding-top: 6px;
    font-weight: bold;
}

#tishi_wenzi{
    font-size: 16px;
    padding-left: 13px;
}

#caozuo_sure{
    width: 84px;
    height: 36px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding-left: 5px;
    line-height: 36px;
    font-size: 12px;
    color: #5e6166;
    background-color: white;
    margin-left: 511px;
    margin-top: 54px;
}

.cla_name h6{
    color: red;
    margin-left: 172px;
}

.tored{
    border: 1px solid red!important;
}



