<link rel="stylesheet" href="pages/mall_manage/class_manage/onsale_edit/css/onsale_edit.css">
<div ng-controller="onsaleEdit">
    <!--分类详情-->
    <div class="cla_detail">
        <!--分类名称-->
        <div class="cla_name">
            <span class="glyphicon glyphicon-asterisk red_mark"></span>
            <span class="each_title">分类名称</span>
            <input type="text" ng-model="item.title" ng-class="{red:show_class_warning}" ng-blur="addClassName()" maxlength=10>
            <span>*限1~10个字符</span>
            <h6 ng-show="show_class_warning" ng-bind="class_warning"></h6>
        </div>
        <span></span>
        <div class="divider"></div>

        <!--分类所属-->
        <div class="cla_belong" ng-if="finalpatharr.length>1">
            <span class="glyphicon glyphicon-asterisk red_mark"></span>
            <span class="each_title">分类所属</span>
            <select name="" class="belong first_select" ng-if="finalpatharr.length>1"  ng-model="changescope.firstselect"  ng-change="subClass(firstselect)">
                <option ng-repeat="item in firstclass" value={{item.id}} >{{item.title}}</option>
            </select>
            <select name="suoshukuang" class="belong" ng-if="finalpatharr.length>2" ng-model="changescope.secselect" ng-options="item.id as item.title for item in secondclass"></select>
        </div>

        <!--分类图片-->
            <div class="cla_pic">
                <span class="glyphicon glyphicon-asterisk red_mark"></span>
                <span class="each_title">分类图片</span>
                <div class="upload_pic">
                    <img ng-src="{{iconpath}}" alt="" id="cla_pic_uploadpic">
                    <h6>图片大小120x120，5M内，支持JPG、PNG、JPGE</h6>
                    <div id="upload">
                        <button type="button" ngf-pattern="image/*" ng-change="upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file" id="upload_btn">上传</button>
                    </div>
                    <div ng-show="picwarning" class="red_mark warning">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        <span>上传图片格式不正确或尺寸不匹配，请重新上传</span>
                    </div>
                </div>
            </div>

        <div class="divider"></div>

        <!--分类描述-->
        <div class="cla_des">
            <span class="each_title" id="describclass">分类描述</span>
            <div id="edit_tool">
                <div class="ueditor" ng-model="item.description" config="config" id="editor"></div>
            </div>
        </div>
        <div class="divider"></div>

        <div class="info">
            <p>
                <span>添加人员</span>
                <span ng-bind="item.online_person"></span>
            </p>

            <p>
                <span>上架时间</span>
                <span ng-bind="item.online_time"></span>
            </p>
        </div>

        <div class="btn_sure">
            <button class="btn btn-primary" ng-click="saveclass()">保存</button>
            <button class="btn btn-default"  data-toggle="modal" data-target="#shuru_modal">下架</button>
            <button class="btn btn-default"  ui-sref="class.online">返回</button>
        </div>
    </div>

    <!--下架提示模态框-->
    <div class="modal fade" id="shuru_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="shuru_content">
                <div class="modal-header" id="shuru_header">
                    <h4 class="modal-title" id="shurucaozuo">
                        下架原因
                    </h4>
                </div>
                <div class="modal-body" id="shuru_body">
                    <h6 id="shuru_reason">下架原因（选填）</h6>
                    <textarea ng-model="offlinereason" name="" id="shuru_textarea" cols="50" rows="14"
                              placeholder="请填写下架原因，如选择多个则为批量备注"></textarea>
                </div>

                <div class="btn_modal pull-right">
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="sureoffline()">确认</button>
                    <button class="btn btn-default" data-dismiss="modal" ng-click="cancelOffInEdit()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>