<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-2 control-label">
            <span class="glyphicon glyphicon-asterisk red"></span>
            分类名称
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="item.title" ng-class="{'error':show_class_warning}"
                   ng-blur="addClassName()"
                   maxlength=10>
        </div>
        <div class="col-md-1 control-label">*限1~10个字符</div>
    </div>
    <div class="form-group" ng-if="show_class_warning">
        <div class="col-md-2"></div>
        <div class="red col-md-2" ng-bind="class_warning"></div>
    </div>

    <hr/>

    <div class="form-group search form-inline" ng-if="finalpatharr.length>1">
        <div class="col-md-2 control-label">
            <span class="glyphicon glyphicon-asterisk red"></span>
            分类所属
        </div>
        <div class="col-md-8">
            <select class="form-control" ng-if="finalpatharr.length>1" ng-model="changescope.firstselect"
                    ng-change="subClass(firstselect)">
                <option ng-repeat="item in firstclass" value={{item.id}}>{{item.title}}</option>
            </select>
            <select class="form-control" ng-if="finalpatharr.length>2" ng-model="changescope.secselect"
                    ng-options="item.id as item.title for item in secondclass"></select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-2 control-label">
            <span class="glyphicon glyphicon-asterisk red"></span>
            分类图片
        </div>

        <div class="col-md-10">
            <img ng-src="{{iconpath}}" alt="">
            <h6>图片大小120x120，5M内，支持JPG、PNG、JPGE</h6>
            <div id="upload">
                <button type="button" class="btn btn-default" ngf-pattern="image/*" ng-change="upload(data.file)"
                        ngf-select=""
                        ngf-multiple="false" ng-model="data.file">上传
                </button>
            </div>
            <div ng-show="picwarning" class="red warning">
                <span class="glyphicon glyphicon-asterisk"></span>
                <span>上传图片格式不正确或尺寸不匹配，请重新上传</span>
            </div>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <div class="col-md-2 control-label">
            分类描述
        </div>

        <div class="col-md-10 control-label">
            <div class="ueditor" ng-model="item.description" config="config" id="editor"></div>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <div class="col-md-2 control-label">
            添加人员
        </div>
        <div class="col-md-10 form-control-static">
            <span ng-bind="item.online_person"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">
            上架时间
        </div>
        <div class="col-md-10 form-control-static">
            <span ng-bind="item.online_time"></span>
        </div>
    </div>


    <div class="btns">
        <button class="btn btn-primary" ng-click="saveclass()">保存</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#shuru_modal">下架</button>
        <button class="btn btn-default" ui-sref="class.online">返回</button>
    </div>
</form>

<!-- 下架提示模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="shuru_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">下架原因</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        下架原因（选填）
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="10" ng-model="offlinereason"
                                  placeholder="请填写下架原因，如选择多个则为批量备注"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sureoffline()">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelOffInEdit()">取消
                </button>
            </div>
        </div>
    </div>
</div>
