/*顶部导航*/
li{
    list-style: none;
}

/*授权期限*/
.red_mark{
    color: red;
}

/*授权书上传*/
.picstyle{
    width: 120px;
    vertical-align: top;
}

.addpic{
    position: absolute;
    left: -10px;
    top: 2px;
    padding: 0 2px;
    line-height: normal;
    font-size: 12px;
    color: #666f80;
    cursor: pointer;
    border: 1px solid #666f80;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.body_font{
    font-size: 16px;
}

/* 输入框通用样式 */
.inp-style{
    width: 245px;
    height: 31px;
    padding-left: 10px;
    line-height: 31px;
    border:1px solid #a9a9a9;
    border-radius: 3px;
}
.tip-msg {
    font-size: 12px;
    color: #ababab;
}

.btn-upload[disabled],
.btn-upload[disabled]:hover {
    color: #aeaeae !important;
    border-color: #bfc0c2 !important;
}
.form-control.reg-error {
    border-color: #ff0000;
}

.dl_active2{
    background-color: #E6E9F0!important;
}
.a_active2{
    color: #5677FC!important;
}