<link rel="stylesheet" href="css/search.css">
<div ng-controller="commodity_search_ctrl">
    <header>
        <div class="header_cell">
            <img src="images/mall_search_1.png" alt=""/>
            <input type="text" placeholder="请输入想要购买的商品" ng-model="data" ng-change="getSearch ()"/>
            <span><a ng-click="goPrev()">取消</a></span>
        </div>
    </header>

    <section>
        <!--有结果显示数据-->
        <div class="have_data" ng-if="search_data.length">
            <ul class="cell_ul">
                <li ng-repeat="item in search_data" ng-click="getBackData (item.id)">
                    <a >
                        <span class="first_fru">{{item.title}}</span><br/>
                        <!--<span class="second_fru">{{item.site_particulars}}</span>-->
                    </a>
                </li>
            </ul>
        </div>

        <!--无数据显示-->
        <div class="no_data" ng-if="!search_data.length">
            <span>暂无数据显示</span><br/>
            <!--<a ui-sref="nodata({message:data})">没有我的小区?</a>-->
        </div>
    </section>
</div>