<link rel="stylesheet" href="css/invoice.css"/>
<div ng-controller="invoice_ctrl">
    <header>
        <div>
            <a href="javascript:history.go(-1)">
                <img src="images/mall_nav_return.png" alt="" ng-click="getOrderPre()">
            </a>
            <span>发票信息</span>
        </div>
    </header>
    <section>
        <div class="bag_div"></div>
        <div class="invoice_style">
            <div class="shu"></div>
            <span>发票类型</span> <br><br><br>
            <button>普通发票</button>
        </div>
        <!--主体内容-->
        <div class="bag_div"></div>
        <div class="invoice_body">
            <div class="shu"></div>
            <span class="invoice_rise">发票抬头</span>
            <div class="invoice_radio">
                <label >
                    <input type="radio" name="invoice_radio"  ng-model="check_in" value="1">
                    个人
                </label>
                <label >
                    <input type="radio" name="invoice_radio" ng-model="check_in" value="2">
                    单位
                </label>
            </div>
            <!--输入框-->
            <div class="invoice_input">
                <input type="text"  placeholder="请输入抬头名称" ng-model="invoice_name">
                <input type="text" ng-show="check_in == 2" placeholder="请输入纳税人识别号" ng-model="invoice_number" maxlength="18"> <br>
                <span ng-show="check_in == 2">纳税人识别号为18位数字和英文字母组成，请仔细填写</span>
            </div>
        </div>
        <div class="bag_div"></div>
        <!--m明细-->
        <div class="invoice_detailed">
            <div class="shu"></div>
            <span>发票内容</span> <br>
            <label>
                <input type="radio" name="invoice_detailed"  checked>
                明细
            </label>
        </div>
        <!--按钮-->
        <div class="invoice_btn" ng-click="getSave ()" data-toggle="modal" data-target="{{invoice_model}}">
            <button>确认</button>
        </div>

        <!--模态框  纳税人识别号错误-->
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" id="sm_model" role="document">
                <div class="modal-content" id="num_modal">
                    <p>{{contentInvoice}}</p>
                    <div class="xian"></div>
                    <button class="btn_num" ng-click="jumpOrder()" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </section>
</div>