<!doctype html>
<html lang="en" ng-app="app" ng-controller="login_ctrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="shortcut icon" type="image/x-icon" href="lib/images/bitbug_favicon.ico">
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/common.css">
    <link rel="stylesheet" href="lib/css/login.css">
    <title>艾特生活-商家后台</title>
</head>
<body>
<div id="particles">
    <!--忘记密码模态框-->
    <div class="modal customer_modal detail_modal fade" id="forget_pw_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">忘记密码提示</h4>
                </div>
                <div class="modal-body body_font">
                    <div class="list_input">
                        <span class="txt">手机号</span>
                        <input type="text" ng-class="{'border_red':forget_mb_flag}"  class='enter_input' ng-model="forget_mb" placeholder="请输入手机号">
                        <p class='prompt_txt'>{{forget_mb_prompt}}</p>
                    </div>
                    <div class="list_input">
                        <span class="txt">验证码</span>
                        <input type="text" ng-class="{'border_red':forget_v_code_flag}" class='enter_input' ng-model='forget_v_code' placeholder="请输入验证码">
                        <button class="btn btn-info" ng-if="show_send" ng-click='send_click()'>发送</button>
                        <span class="repeat_send" ng-if="!show_send">{{Countdown}}s</span>
                        <p class='prompt_txt'>{{forget_v_txt}}</p>
                    </div>
                    <div class="list_input">
                        <span class="txt">新密码</span>
                        <input type="password" ng-class="{'border_red':forget_new_pw_flag}" class='enter_input' ng-model='forget_new_pw' placeholder="请输入不少于6位的数字加字母">
                        <p class='prompt_txt'>{{new_pw_txt}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="forget_pw_confirm()">确认</button>
                    <button class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改成功模态框-->
    <div class="modal customer_modal detail_modal fade" id="modity_success" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>提示</h4>
                </div>
                <div class="modal-body body_font">
                    <span>修改成功</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="all_content">
        <div class="content">
            <img src="lib/images/logo.png" class="img_logo" alt="">
            <p class="logo_txt">艾特生活</p>
            <!--选择登录身份-->
            <!--<div>-->
                <!--<select ng-model="rolo_value" class="select" ng-options="item.id as item.value for item in login_rolo"></select>-->
            <!--</div>-->
            <!--手机号-->
            <div class="margin_top">
                <input type="text" placeholder="账号" ng-class="{'border_red':error_flag}" class="enter_input enter_input_one" ng-model="phone_number">
            </div>
            <!--密码-->
            <div class="">
                <input type="password" placeholder="密码" ng-class="{'border_red':error_flag}" class="enter_input enter_input_two" ng-model="password_number">
            </div>
            <!--忘记密码-->
            <!--错误提示-->
            <div class="error_red" ng-show="error_flag" ng-bind="error_flag_txt"></div>
            <!--登录按钮-->
            <button class="login_btn btn-info" ng-disabled="isLoading" ng-click="supplier_login()">
                <span ng-if="!isLoading">登录</span>
                <span class="loading" ng-if="isLoading">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
            <div>
                <a class="forget_pw" data-toggle='modal' data-target="#forget_pw_modal" ng-click='forget_pw_click()'>忘记密码？</a>
            </div>
        </div>
    </div>
</div>
<script src="lib/js/baseUrl.js"></script>
<script src="lib/js/jquery-3.1.1.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="lib/js/jquery.particleground.min.js"></script>
<script src="lib/js/angular.js"></script>
<script src=lib/js/login.js></script>
<script type="text/javascript">
   $(document).ready(function() {
  $('#particles').particleground({
    dotColor: 'rgba(201,206,209,0.25)',
    lineColor: 'rgba(201,206,209,0.3)',
    directionX: 'center',
    directionY: 'down',
    maxSpeedX: 0.1,
  });
});
</script>
</body>
</html>

