<!--分类详情-->
<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-2 control-label">
            <span class="glyphicon glyphicon-asterisk red"></span>
            分类名称
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="item.title" ng-class="{'error':show_class_warning}"
                   ng-blur="addClassName()" maxlength=10>
        </div>
        <div class="col-md-2 control-label">*限1~10个字符</div>
    </div>
    <div class="form-group" ng-if="show_class_warning">
        <div class="col-md-2"></div>
        <div class="red col-md-2" ng-bind="class_warning"></div>
    </div>
    <hr/>

    <div class="form-group search form-inline" ng-if="finalpatharr.length>1">
        <div class="col-md-2 control-label">
            <span class="glyphicon glyphicon-asterisk red"></span>
            分类所属
        </div>
        <div class="col-md-8">
            <select class="form-control" ng-if="finalpatharr.length>1" ng-model="selectscope.firstselect"
                    ng-change="subClass(firstselect)">
                <option ng-repeat="item in firstclass" value={{item.id}}>{{item.title}}</option>
            </select>
            <select class="form-control" ng-if="finalpatharr.length>2" ng-model="selectscope.secselect"
                    ng-options="item.id as item.title for item in secondclass"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">
            <span class="glyphicon glyphicon-asterisk red"></span>
            分类图片
        </div>

        <div class="col-md-10">
            <img ng-src="{{iconpath}}" alt="">
            <h6>图片大小120x120，5M内，支持JPG、PNG、JPGE</h6>
            <div id="upload">
                <button type="button" class="btn btn-default" ngf-pattern="image/*" ng-change="upload(data.file)"
                        ngf-select=""
                        ngf-multiple="false" ng-model="data.file">上传
                </button>
            </div>
            <div ng-show="show_picwarning" class="red warning">
                <span class="glyphicon glyphicon-asterisk"></span>
                <span>上传图片格式不正确或尺寸不匹配，请重新上传</span>
            </div>
        </div>
    </div>
    <hr/>


    <div class="form-group">
        <div class="col-md-2 control-label">
            分类描述
        </div>

        <div class="col-md-10 control-label">
            <div class="ueditor" ng-model="item.description" config="config" id="editor"></div>
        </div>
    </div>

    <hr/>


    <div class="form-group">
        <span class="col-md-2 control-label">下架原因</span>
        <div class="col-md-6 form-control-static">
            <textarea class="form-control" rows="5" ng-model="item.offline_reason" placeholder="请输入下架原因"></textarea>
        </div>
    </div>


    <hr/>

    <div class="form-group">
        <div class="col-md-2 control-label">
            添加人员
        </div>
        <div class="col-md-10 form-control-static">
            <span ng-bind="item.online_person"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 control-label">
            下架时间
        </div>
        <div class="col-md-10 form-control-static">
            <span ng-bind="item.offline_time"></span>
        </div>
    </div>

    <div class="btns">
        <button class="btn btn-primary" ng-click="saveclass()">保存</button>
        <button class="btn btn-default" ui-sref="class.offline">返回</button>
    </div>
</form>
