/*商城管理头部信息*/
.my_container{
    width: 85%;
    height: auto;
    min-width: 900px;
    position: absolute;
    left: 200px;
    top:0;
    padding-top: 20px;
    background-color: #fff;
    /*z-index: 0;*/
    overflow-x: hidden;
}
.shop_span{
    font-size: 16px;
    font-weight: 700;
}
.img_new {
    width:8%;
}
.div_size span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.img_logo{
    width: 12%;
}
/*头部结束*/
.div_ul{
    margin-top: 30px;
    border-bottom: 1px solid #C2C2C2;
}
.ul_li li {
    list-style: none;
    margin-bottom: 20px;
}
.li_span{
    font-size: 16px;
}
.sec_span{
    margin-left: 60px;
}
.li_li{
    margin-left: 85px;
}
.li_li span{
    margin-left: 10px;
}
.upload_pic{
    margin-top: 30px;
}
.upload_pic span{
    margin-left: 40px;
    font-size: 16px;
}
.upload_pic div {
    display: inline-block;
    margin-left: 55px;
}
.upload_pic div img {
    margin-left: 12px;
}
.stock_div{
    margin-top: 30px;
}
.stock_div span{
    font-size: 16px;
    margin-left:35px;
}
.stock_div ul{
    display: inline-block;
    margin-left:30px;
}
.stock_div ul li {
    display: inline-block;
    margin-left: 10px;
}
#stock_ul{
    margin-left: 140px;
}
.pur_pic{
    margin-top: 30px;
}
.pur_pic span{
    margin-left: 30px;
    font-size: 16px;
}
.pur_pic ul {
    display: inline-block;
    margin-left: 35px;
}
.pur_pic ul li {
    display: inline-block;
    margin-left: 35px;
}
.pur_pic input{
    width: 120px;
    height: 35px;
    margin-top:10px ;
    margin-left: 10px;
}
.div_input{
    display: inline-block;
    margin-left: 150px;
}
.div_input span{
    font-size: 12px;
    color: #C2C2C2;
}
.logistic_div{
    padding-bottom: 10px;
    border-bottom: 1px solid #C2C2C2;
    margin-top: 15px;
}
.logistic_span{
    margin-left: 30px;
    font-size: 16px;
}
.logistic_one{
    margin-left: 180px;
}
.logistic_one ul li{
    list-style: none;
    font-size: 14px;
    margin-left: -40px;
    margin-bottom: 10px;
}
.s_span{
    margin-left: 60px;
}
.s_span_on{
    margin-left: 120px;
}
.service_div{

}
.span_service{
    position: relative;
    top:-140px;
    left: 40px;
    /*margin-top: -60px;*/
}
.service_div div{
    display: inline-block;
    margin-left:140px;
    /*margin-top: 50px;*/
}
.service_div div span{
    margin-top: 15px;
    display: block;
    margin-bottom: 10px;
}
.guarantee_div{
   padding-top: 20px;
   border-bottom: 1px solid #C2C2C2;
   padding-bottom: 20px;
}
.guarantee_span{
    margin-left: 30px;
    font-size: 16px;
}
.span_f{
    margin-left: 105px;
}
.span_a{
    margin-left: 170px;
}
.comment_all{
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C2C2C2;
}
.comment_all span{
    margin-left: 30px;
    font-size: 16px;
}
.div_img{
    display: inline-block;
    border: 1px solid #C2C2C2;
    width: 750px;
    height: 500px;
    margin-left: 80px;
}
.examine_div{
margin-top: 60px;
}
.examine_div span{
    position: relative;
    top:-160px;
    left: 30px;
}
.examine_div textarea{
    margin-left: 120px;
}
.btn_right{
    width: 65px;
    background-color: white;
    border: 1px solid #c2c2c2;
    height: 35px;
    /*line-height: 35px;*/
    margin-left: 40px;
    margin-top: 30px;
}
.an_btn{
    padding-bottom: 30px;
}