/*分页的样式开始*/
.ui-paging-container{color:#666;font-size: 12px;}
.ui-paging-container ul{overflow: hidden;text-align: center;}
.ui-paging-container ul,.ui-paging-container li{list-style: none;}
.ui-paging-container li{display: inline-block;padding:3px 6px;margin-left: 5px;color:#666;}
.ui-paging-container li.ui-pager{cursor: pointer; border:1px solid #ddd;border-radius: 2px;}
.ui-paging-container li.ui-pager:hover,.ui-paging-container li.focus{background-color: #288df0;color:#FFFFFF;}
.ui-paging-container li.ui-paging-ellipse{border:none;}
.ui-paging-container li.ui-paging-toolbar{padding:0;}
.ui-paging-container li.ui-paging-toolbar select{height:22px;border:1px solid #ddd;color: #666;}
.ui-paging-container li.ui-paging-toolbar input{line-height: 20px; height:20px;padding:0;border:1px solid #ddd;text-align: center;width: 30px;margin:0 0 0 5px;vertical-align: middle;}
.ui-paging-container li.ui-paging-toolbar a{vertical-align: middle; text-decoration: none;display: inline-block;height:20px;border:1px solid #ddd;vertical-align: top;border-radius: 2px;line-height: 20px;padding:0 3px;cursor: pointer;margin-left: 5px;color: #666;}
.ui-paging-container li.ui-pager-disabled,.ui-paging-container li.ui-pager-disabled:hover{background-color: #f6f6f6;;cursor: default;border:none;color:#ddd;}

/*分页的样式结束*/
/*导航栏*/
.nav_box{
    width: 200px;
    height:100% !important;
    overflow:visible !important;
    position:fixed;
    left:0;
    top:0;
    z-index: 200;
    background-color: #F5F7FA;
}
.nav_box .logo{
    width: auto;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.nav_box dl{
    color: #ABABAB;
}
.nav_box dt{
    height: 40px;
    padding-left:40px;
    padding-right:10px;
    background-position:10px center;
    font-size:16px;
    position:relative;
    line-height:40px;
    cursor:pointer;
    background-color: #F5F7FA;
}
/*一级导航栏的hover和当前页面的样式*/
.nav_box dt:hover,.nav_box .on{
    color: #5677FC;
    background-color: #E6E9F0;
}
.nav_box dd{
    margin: 0;
    height: 30px;
    position: relative;
    line-height: 30px;
    background-image: url("../images/details.png");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position:10px 7px;
    background-color:#F5F7FA;
    padding-left:40px;

}
.nav_box dd:hover{
    background-image: url("../images/details2.png");
    background-repeat: no-repeat;
    background-color: #E6E9F0;
    transition: all .3s linear;

}

.nav_box dd a{
    color: #ABABAB;
    font-size: 16px;
    line-height:20px;
}
.nav_box dd .dd_on {
    color: #5677FC;
}
.nav_box dd:hover a{
    color: #5677FC;
    transition: all .3s linear;
}
.nav_box dt img{
    position:absolute;
    left:15px;top:15px;}
/*右边的内容*/
.my_container{
    /*width: 85%;*/
    height: 100%;
    min-width: 1000px;
    position: absolute;
    left: 200px;
    top:0;
    background-color: #fff;
    z-index: 0;
}
/*弹窗的公共样式*/
.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 203;
    /*background-color: #06BE04;*/
}
.popup .box1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:Center;
    background-color: rgba(0,0,0,0.25);
}
/*弹窗的宽度及padding的设置*/
.popup .box1>div{
    width: 570px;
    min-height: 24px;
    height: auto;
    padding: 30px;
    position: relative;
    background-color: #fff;
    color:#666F80;
}
/*弹窗内容样式的设置*/
.popup .box1>div .warm_title{
    width: auto;
    height:40px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    border-bottom: 1px solid #E6E9F0 ;
    color:#2F3033;
}
.popup .box1>div .warm_word1 {
    height:80px;
    line-height: 80px;
}
.popup .box1>div .sure_box{
    height: 54px;
    position: relative;
    clear: both;
}
.popup .box1>div .sure_box>div{
    position:absolute;
    bottom: 5px;
    right:30px;
}
/*确认及取消等页面按钮*/
.btn2{
    padding: 5px 15px;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 3px;
    border:1px solid #333;
}
.popup .box1>div .sure_box>div>.sure_left{
    color:#487AF8;
    border:1px solid #487AF8;
}

.show{
    display: block;
}
.hide{
    display: none;
}