/*商城管理头部信息*/
.my_container{
    width: 85%;
    height: auto;
    min-width: 900px;
    position: absolute;
    left: 200px;
    top:0;
    padding-top: 20px;
    background-color: #fff;
    /*z-index: 0;*/
    overflow-x: hidden;
}
.shop_span{
    font-size: 16px;
    font-weight: 700;
}
.img_new {
    width:8%;
}
.div_size span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.img_logo{
    width: 12%;
}
/*头部结束*/

/*tab切换状态   改变上架下架*/
.tab_change ul {
    border: none;
}
.tab_change ul li {
    border: none!important;
}
.tab_change ul li a{
    border: none!important;
    font-size: 16px!important;
    font-weight: 700!important;
}
.act{
    color: #0000cc;
}
/*按钮下拉框样式*/
.put_away{
    padding-top: 10px;
    margin-top: 20px;
}
.put_away button{
    width: 60px;
    height: 40px;
    background-color: white;
    border: 1px solid #C2C2C2;
    margin-left: 15px;
    border-radius: 2px;
}
.put_away select {
    height: 40px;
    width: 210px;
    border-radius:4px ;
    margin-left: 1%;
}
.put_away span{
    margin-left: 5%;
}
.modal-body span,p{
    font-size: 16px;
    color: #999;
}
.modal-body span{
    position:relative;
    top:-180px
}
.modal-body textarea,span{
    margin-top: 10px;
}