<link rel="stylesheet" href="pages/mall_manage/banner_app/banner_history/css/banner_history.css">
<div ng-controller="banner_history_ctrl">
    <div class="city">
        <div class="formDiv">
            <select name="province" ng-model="params.time_type" ng-change="type_change()" class="time_select"
                    ng-options="item.value as item.name for item in time">
            </select>
            <input ng-if="params.time_type=='custom'" id="start_time" ng-change="time_change()"
                   ng-model="params.start_time" max-date="{{params.end_time}}" ngc-lay-date class="start_stop_time"
                   type="text" placeholder="开始时间">
            <input ng-if="params.time_type=='custom'" id="end_time" ng-change="time_change()" ng-model="params.end_time"
                   min-date="{{params.start_time}}" ngc-lay-date class="start_stop_time" type="text" placeholder="结束时间">
        </div>
    </div>
    <!--选择城市结束-->
    <table class="table table-hover table-responsive">
        <tr>
            <th>类型</th>
            <th>商品编号</th>
            <th>标题</th>
            <th>来源商家</th>
            <th>上架浏览</th>
            <!--<td>上架销量</td>-->
            <th>平台价格</th>
            <th>创建时间</th>
            <th>图片</th>
        </tr>
        <tr ng-repeat="item in recommendList">
            <td>{{item.from_type}}</td>
            <td>{{item.sku=='0'?'无':item.sku}}</td>
            <td class="table_txt">{{item.title}}</td>
            <td>{{item.supplier_name==''?'链接':item.supplier_name}}</td>
            <td>{{item.viewed_number}}</td>
            <!--<td>{{item.sold_number}}</td>-->
            <td ng-if="item.sku!='0'">{{item.platform_price}}</td>
            <td ng-if="item.sku=='0'">—</td>
            <td>{{item.create_time}}</td>
            <td><img id="show_img_size" ng-src="{{item.image}}" alt=""></td>
        </tr>
    </table>
    <!--分页-->
    <tm-pagination conf="Config"></tm-pagination>
</div>
