input,button,select{
    outline: none;
}

/*内容部分*/
.store_mag_content{
    padding-left: 40px;
}


/*按钮组*/
.store_mag_btngroup{
    padding-top: 40px;
}

#add_btn{
    font-family: Helvetica;
    font-size: 12px;
    color: #666F80;
    width: 63px;
    height: 34px;
    line-height: 34px;
    background-color: white;
    border: 1px solid #BFC0C2;
    border-radius: 3px;
    margin-right: 23px;
}

.color_blue{
    color: rgb(86, 119, 252) !important;
}

.running{
    color: #26c6da!important;
}

.store_mag_btngroup #fenleidrop{
    display: inline-block;
}

.store_mag_btngroup .fenleichoose_span{
    margin-right: 7px;
    font-size: 14px;
    color: #666F80;
}

.store_mag_btngroup .fenleichoose{
    padding: 6px 60px 10px 18px;
    font-size: 12px;
    color: #666F80;
    border-radius: 3px;
    border: 1px solid #BFC0C2;
}

.cailiaochoose{
    width: 77px;
    height: 37px;
    padding:8px 0 9px 7px;
    margin-right: 7px;
    font-size: 12px;
    color: #666F80;
    border-radius: 3px;
    border: 1px solid #BFC0C2;
}

#store_type{
    margin-left:16px;
    font-size: 14px;
    color: #666F80;
    margin-right: 7px;
}

#store_state{
    margin-left: 13px;
    margin-right: 6px;
    font-size: 14px;
    color: #666F80;
}

.search_box{
    display: inline-block;
    margin-left: 202px;
    position: relative;
}
.search_input{
    width: 212px;
    height: 32px;
    padding-left: 5px;
    border:1px solid #8D9199;
    border-radius: 20px;
}
.search{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20px;
}

#search_btn{
    font-family: Helvetica;
    font-size: 12px;
    color: #666F80;
    width: 52px;
    height: 34px;
    line-height: 34px;
    background-color: white;
    border: 1px solid #BFC0C2;
    border-radius: 3px;
}


/*表格部分*/
.store_mag_table{
    margin-top: 9px;
}

.store_mag_table table tr{
    height: 42px;
    border-bottom: 1px solid #E6E9F0;

}
.store_mag_table table tr td{
    font-family: Helvetica;
    font-size: 14px;
    color: #666F80;
    line-height: 14px;
    padding: 0 11px;
}
.store_mag_table table tr td a{
    color: #3F94F6;
}

.store_mag_table table img{
    width: 10px;
}

.th{
    font-family: Helvetica;
    font-size: 14px;
    color: #7A8599;
    line-height: 14px;
}

/*
闭店提示模态框
保存提示框
解封账号提示框
*/
#save_content,#unblock_content,#unblock_content{
    width: 636px;
    height: 256px;
}

#tishi,#unblock_tishi{
    padding-left: 13px;
    padding-top: 6px;
    font-weight: bold;
}

#tishi_wenzi,#unbolck_warning{
    font-size: 16px;
    padding-left: 13px;
}

#caozuo_sure,#caozuo_cancel,#unblock_sure{
    width: 84px;
    height: 36px;
    padding-left: 5px;
    line-height: 36px;
    font-size: 12px;
    color: #5e6166;
    background-color: white;
    margin-top: 54px;
    border: 1px solid #487AF8;
    color: #487AF8;
    background-color: #F2F4FF;
    border-radius: 3px;
}


#caozuo_cancel{
    border: 1px solid rgb(194, 194, 194);
    color: rgb(102, 111, 128);
    background-color: white;
}

#caozuo_sure{
    margin-left: 410px;
    margin-right: 20px;
}

#unblock_sure{
    margin-left:512px;
    margin-right:20px;
}

.tored{
    color: red!important;
}

.clickstyle{
    cursor: pointer;
}

table .sortpic {
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
}

table .sortpic i{
    display: block;
    font-size: 12px;
    color: #ababab;
}

table .sortpic .glyphicon-triangle-bottom {
    margin-top: -4px;
}


.active{
    color: #1B7CEE!important;
}


