.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .form-control-static {
    text-align: left;
}

.form-group .form-control-static .score {
    padding-left: 0;
}


.shop_manage {
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: 700;
}

.manage_child {
    font-size: 14px;
    color: #8D9199;
    line-height: 14px;
}

.pic-style {
    width: 120px;
    height: 120px;
}


.img_size {
    width: 1.1rem !important;
}

.collect {
    width: 1.3rem !important;
}

.active {
    color: #53A8F4;
}

.shop_name {
    margin-bottom: 25px;
}

.shop_name span {
    color: #666F80;
    font-size: 14px;
}

.shop_name span:nth-child(2) {
    margin-left: 85px;
}

.shop_num {
    margin-bottom: 25px;
}

.shop_num span {
    color: #666F80;
    font-size: 14px;
}

.shop_num span:nth-child(2) {
    margin-left: 100px;
}

.shop_logo {
    margin-bottom: 25px;
    color: #666F80;
}

.shop_logo img {
    margin-left: 85px;
    width: 120px;
    height: 120px;
    border: 1px solid #ABABAB;
    vertical-align: text-top;
}

hr {
    margin-left: 6px;
    width: 90%;
    color: #ABABAB;
}

.shop_store {
    margin-bottom: 25px;
    color: #666F80;
}

.shop_store ul {
    margin-left: 45px;
    display: inline-block;
    vertical-align: text-top;
}

.shop_store ul li {
    list-style: none;
    margin-bottom: 5px;
}

.shop_store ul li span:nth-child(2) {
    margin-left: 50px;
}

.shop_store ul li:nth-child(4) span:nth-child(2) {
    margin-left: 36px;
}

.btn_back {
    margin-top: 30px;
}

.shop_money {
    margin-bottom: 25px;
}

.shop_money span:nth-child(2) {
    text-decoration: line-through;
    margin-left: 100px;
}

.shop_money span:nth-child(3) {
    color: #E8502E;
    margin-left: 20px;
}

.offline_store span:nth-child(2) {
    margin-left: 16px;
}

.shop_credit {
    margin-bottom: 25px;
    color: #666F80;
}

.shop_credit span:nth-child(2) {
    margin-left: 58px;
}

.shop_license {
    margin-bottom: 25px;
    color: #666F80;
}

.shop_license img {
    width: 205px;
    height: 314px;
    border: 1px solid #ABABAB;
    margin-left: 85px;
    vertical-align: text-top;
}

.shop_card {
    margin-bottom: 25px;
    color: #666F80;
}

.shop_card span:nth-child(2) {
    margin-left: 60px;
}

.shop_face {
    margin-bottom: 25px;
    color: #666F80;
}

.shop_face img {
    margin-left: 50px;
    width: 235px;
    height: 150px;
    border: 1px solid #ABABAB;
    vertical-align: text-top;
}

.modal_size {
    padding-left: 30px;
    width: 500px;
    height: 350px;
    margin-left: 160px;
    margin-top: 150px;
}

.modal_size span {
    color: #666F80;
}

.modal_size span:nth-child(4) {
    margin-left: 100px;
}

.modal_size_btn {
    width: 80px;
    height: 34px;
    background-color: white;
    color: #5E6166;
    border: 1px solid #5E6166;
    margin-left: 360px;
    margin-top: 180px;
}

#storeclass {
    margin-left: 84px !important;
}

/*店铺资质字体颜色*/
.store_level {
    color: #666F80;
}
