.btn-group-span{
    margin-left: 15px;
}

.color-blue{
    color: rgb(86, 119, 252);
}

.content table .color-green{
    color: #26c6da;
}

.content table .color-red{
    color: red;
}

.click-style{
    cursor: pointer;
}

.active{
    color: #1B7CEE;
}


