/*商城管理头部信息*/
.my_container{
    width: 85%;
    height: auto;
    min-width: 900px;
    position: absolute;
    left: 200px;
    top:0;
    padding-top: 20px;
    background-color: #fff;
    /*z-index: 0;*/
    overflow-x: hidden;
}
.shop_span{
    font-size: 16px;
    font-weight: 700;
}
.img_new {
    width:8%;
}
.div_size span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.img_logo{
    width: 12%;
}
/*头部结束*/

.classification{
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C2C2C2;
}
.classification span{
    padding-left: 60px;
}
.ordinary_add button{
    margin-left: 55px;
    background-color: white;
    border: 1px solid #C2C2C2;
    width: 80px;
    height: 35px;
    margin-top: 30px;
}
.ordinary_add span{
    margin-left: 60px;
    margin-top: 30px;
}
.ordinary_add_ul {
    display: inline-block;
    margin-top: 30px;
}
.ordinary_add_ul li{
    display: inline-block;
    margin-left: 80px;
}
.input_ul{
    margin-left: 120px;
}
.input_ul li{
    list-style: none;
    /*margin-left: 20px;*/
}
.input_ul li input{
    width: 120px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #C2C2C2;
    margin-left: 5px;
}
#btn_delete{
    width: 25px;
    height: 25px;
    background-color:white;
    border: 1px solid #C2C2C2;
    margin-left: 0;
}
.input_ul select{
    margin-left: 30px;
    height: 35px;
    width: 60px;
    border-radius: 4px;
}
.rese_btn {
   margin-top: 24%;
}
.rese_btn button{
    background-color: white;
    border: 1px solid #C2C2C2;
    width: 60px;
    height: 35px;
    margin-left: 30px;
}