<link rel="stylesheet" href="pages/commodity_manage/css/commodity_manage.css">
<div ng-controller="commodity_manage_ctrl">
    <!--选项卡-->
    <div class="tab">
        <ul>
            <li ng-class="{'tab_blue':(on_flag==true)}" ng-click="on_shelves()">已上架</li>
            <li ng-class="{'tab_blue':(down_flag==true)}" ng-click="down_shelves()">已下架</li>
            <li ng-class="{'tab_blue':(wait_flag==true)}" ng-click="wait_shelves()">等待上架</li>
            <li ng-class="{'tab_blue':(logistics_flag==true)}" ng-click="logistics()">物流模板</li>
        </ul>
    </div>
    <!--已上架开始-->
    <section ng-if="on_flag==true">
        <!--添加、全选、下架-->
        <div class="operating">
            <div class="all_choose">
                <ul class="operating_ul">
                    <button class="btn btn-default" data-toggle="modal" data-target="#on_shelves_add_modal">添加</button>
                    <button class="btn btn-default btn_left" ng-click="checkAll()">全选</button>
                    <button class="btn btn-default btn_left" data-toggle="modal" data-target="{{prompt}}" ng-click="all_off_shelf()">下架</button>
                </ul>
                <!--Menu-->
                <div class="tab_tools clearfix btn_menu_right">
                    <div class="pull-right">
                        <!-- 筛选菜单 -->
                        <div class="btn-group">
                            <span class="btn btn-default dropdown-toggle btn_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i></span>
                            <!--Menu-->
                            <ul class="dropdown-menu dropdown-menu-right btn_list_menu">
                                <li><input type="checkbox" class="right_input" ng-model="show_1" ng-click="show_all(show_1)">商品编号</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_2" ng-click="show_all(show_2)">商品名称</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_3" ng-click="show_all(show_3)">供货价格</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_5" ng-click="show_all(show_5)">平台价格</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_4" ng-click="show_all(show_4)">市场价格</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_6" ng-click="show_all(show_6)">装饰公司采购价格</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_7" ng-click="show_all(show_7)">项目经理采购价格</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_8" ng-click="show_all(show_8)">设计师采购价格</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_9" ng-click="show_all(show_9)">库存</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_10" ng-click="show_all(show_10)">销量</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_11" ng-click="show_all(show_11)">状态</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_12" ng-click="show_all(show_12)">上架时间</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_13" ng-click="show_all(show_13)">图片</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_14" ng-click="show_all(show_14)">详情</li>
                                <li><input type="checkbox" class="right_input" ng-model="show_15" ng-click="show_all(show_15)">操作</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-default search_txt" ng-click="search_btn()">搜索</button>
                    <div class="search_box">
                        <input ng-model="myng.up_search_value" class="search_input" type="text" placeholder="搜索商品编号或名称">
                        <span class="glyphicon glyphicon-search search"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--表格内容-->
        <table>
            <tr>
                <td>&nbsp;</td>
                <td ng-if="show_1">商品编号</td>
                <td ng-if="show_2">商品名称</td>
                <td ng-if="show_3">供货价格</td>
                <td ng-if="show_5">平台价格</td>
                <td ng-if="show_4">市场价格</td>
                <td ng-if="show_6">装修公司采购价格</td>
                <td ng-if="show_7">项目经理采购价格</td>
                <td ng-if="show_8">设计师采购价格</td>
                <td ng-if="show_9">库存</td>
                <td ng-if="show_10">
                    <span>销量</span>
                    <img ng-click="up_sort_sale_click()" class="arrow_img_size" ng-src="{{up_sort_sale_img}}" alt="">
                </td>
                <td ng-if="show_11">状态</td>
                <td ng-if="show_12">
                    <span>上架时间</span>
                    <img ng-click="up_sort_time_click()"  class="arrow_img_size" ng-src="{{up_sort_time_img}}" alt="">
                </td>
                <td ng-if="show_13">图片</td>
                <td ng-if="show_14">详情</td>
                <td ng-if="show_15">操作</td>
            </tr>
            <tr class="table_content" ng-repeat="item in up_list_arr">
                <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
                <td ng-if="show_1">{{item.sku}}</td>
                <td ng-if="show_2">{{item.title}}</td>
                <td ng-if="show_3">¥{{item.supplier_price}}</td>
                <td ng-if="show_5">¥{{item.platform_price}}</td>
                <td ng-if="show_4">¥{{item.market_price}}</td>
                <td ng-if="show_6">¥{{item.purchase_price_decoration_company}}</td>
                <td ng-if="show_7">¥{{item.purchase_price_manager}}</td>
                <td ng-if="show_8">¥{{item.purchase_price_designer}}</td><!--string-to-number2-->
                <td ng-if="show_9"><input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " class="stock" ng-change="change_left_number(item.id,item.left_number)" ng-model="item.left_number"></td>
                <td ng-if="show_10">{{item.sold_number}}</td>
                <td ng-if="show_11" class="green">{{item.status}}</td>
                <td ng-if="show_12">{{item.online_time}}</td>
                <td ng-if="show_13"><img class="img_cover_size" ng-src="{{baseUrl + '/'+ item.cover_image}}" alt=""></td>
                <td ng-if="show_14" class="blue" ui-sref="up_shelves_detail({item:item,flag:0})">编辑</td>
                <td ng-if="show_15" class="blue" data-toggle="modal" data-target="#down_shelves_solo_modal" ng-click="offline_solo(item.id)">下架</td>
            </tr>
        </table>
        <!--分页-->
        <tm-pagination conf="wjConfig"></tm-pagination>
    </section>

    <!--添加模态框-->
    <div class="modal fade" id="on_shelves_add_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">选择添加商品的分类</h4>
                </div>
                <div class="modal-body">
                    <div class="ulright">
                        <!--一级-->
                        <ul>
                            <li ng-repeat="n in details track by $index" ng-class="{'add_active':oneColor== n}"
                                ng-click="getMore (n)">
                                {{n.title}}
                            </li>
                        </ul>

                        <!--二级-->
                        <ul>
                            <!--ng-click="getMoreThree (n.id)"-->
                            <li ng-repeat=" n in second track by $index" ng-class="{'add_active':twoColor== n}"
                                ng-click="getMoreThree (n)">
                                {{n.title}}
                            </li>
                        </ul>

                        <!--三级-->
                        <ul class="thirdul">
                            <li ng-repeat="n in three track by $index" ng-class="{'add_active':threeColor==n}"
                                ng-click="check_item(n)" ng-model="n.complete">
                                <!--<input type="radio" name="radio_name" ng-click="check_item(n)" ng-model="n.complete">-->
                                {{n.title}}
                            </li>
                        </ul>
                        <p ng-if="add_confirm_red" class="red">请至少选择一项三级分类</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="shop_style_go()" data-dismiss="{{add_confirm_modal}}">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="shop_add_close()">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--批量下架模态框-->
    <div class="modal fade" id="down_shelves_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    是否确认下架{{table.roles.length}}个商品
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="all_off_shelf_confirm()">确认
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--单个下架商品 模态框-->
    <div class="modal fade" id="down_shelves_solo_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    是否确认下架1个商品?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="offline_solo_btn()">
                        确认
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--请勾选后再操作-->
    <div class="modal fade" id="please_check" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    请勾选后再操作
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--已上架结束-->

    <!--已下架开始-->
    <section ng-if="down_flag==true">
        <div class="operating">
            <!--全选、上架、删除开始-->
            <!--<ul>-->
            <!--<li ng-modal="off_selectAll"  ng-click="off_all(off_selectAll)">全选</li>-->
            <!--<li data-toggle="modal" data-target="{{on_prompt}}" ng-click="all_on_shelf()">上架</li>-->
            <!--<li data-toggle="modal" data-target="{{del_prompt}}" ng-click="all_del_off()">删除</li>-->
            <!--</ul>-->
            <!--全选、上架、删除结束-->

            <!--Menu-->
            <div class="tab_tools clearfix btn_menu_right">
                <div class="pull-right">
                    <!-- 筛选菜单 -->
                    <div class="btn-group">
                        <span class="btn btn-default dropdown-toggle btn_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i></span>
                        <!--Menu-->
                        <ul class="dropdown-menu dropdown-menu-right btn_list_menu">
                            <li><input type="checkbox" class="right_input" ng-model="down_1" ng-click="show_all(down_1)">商品编号</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_2" ng-click="show_all(down_2)">商品名称</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_3" ng-click="show_all(down_3)">供货价格</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_4" ng-click="show_all(down_4)">市场价格</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_5" ng-click="show_all(down_5)">平台价格</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_6" ng-click="show_all(down_6)">装饰公司采购价格</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_7" ng-click="show_all(down_7)">项目经理采购价格</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_8" ng-click="show_all(down_8)">设计师采购价格</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_9" ng-click="show_all(down_9)">库存</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_10" ng-click="show_all(down_10)">销量</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_11" ng-click="show_all(down_11)">状态</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_12" ng-click="show_all(down_12)">下架时间</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_13" ng-click="show_all(down_13)">操作人员</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_14" ng-click="show_all(down_14)">图片</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_15" ng-click="show_all(down_15)">下架原因</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_16" ng-click="show_all(down_16)">详情</li>
                            <li><input type="checkbox" class="right_input" ng-model="down_17" ng-click="show_all(down_17)">操作</li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-default search_txt" ng-click="down_search_btn()">搜索</button>
                <div class="search_box">
                    <input ng-model="myng.down_search_value" class="search_input" type="text" placeholder="搜索商品编号或名称">
                    <span class="glyphicon glyphicon-search search"></span>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <!--<td>&nbsp;</td>-->
                <td ng-if="down_1">商品编号</td>
                <td ng-if="down_2">商品名称</td>
                <td ng-if="down_3">供货价格</td>
                <td ng-if="down_5">平台价格</td>
                <td ng-if="down_4">市场价格</td>
                <td ng-if="down_6">装修公司采购价格</td>
                <td ng-if="down_7">项目经理采购价格</td>
                <td ng-if="down_8">设计师采购价格</td>
                <td ng-if="down_9">库存</td>
                <td ng-if="down_10">销量</td>
                <td ng-if="down_11">状态</td>
                <td ng-if="show_12">
                    <span>下架时间</span>
                    <img ng-click="down_sort_time_click()"  class="arrow_img_size" ng-src="{{down_sort_time_img}}" alt="">
                </td>
                <td ng-if="down_13">操作人员</td>
                <td ng-if="down_14">图片</td>
                <td ng-if="down_15">下架原因</td>
                <td ng-if="down_16">详情</td>
                <td ng-if="down_17">操作</td>
            </tr>
            <tr class="table_content" ng-repeat="item in down_list_arr">
                <!--<td><input type="checkbox" ng-checked="off_selectAll" ng-model="item.state"></td>-->
                <td ng-if="down_1">{{item.sku}}</td>
                <td ng-if="down_2">{{item.title}}</td>
                <td ng-if="down_3">¥{{item.supplier_price}}</td>
                <td ng-if="down_5">¥{{item.platform_price}}</td>
                <td ng-if="down_4">¥{{item.market_price}}</td>
                <td ng-if="down_6">¥{{item.purchase_price_decoration_company}}</td>
                <td ng-if="down_7">¥{{item.purchase_price_manager}}</td>
                <td ng-if="down_8">¥{{item.purchase_price_designer}}</td>
                <td ng-if="down_9"><input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') " class="stock" ng-change="change_left_number(item.id,item.left_number)" ng-model="item.left_number"></td>
                <td ng-if="down_10">{{item.sold_number}}</td>
                <td ng-if="down_11" class="red">{{item.status}}</td>
                <td ng-if="down_12">{{item.offline_time}}</td>
                <td ng-if="down_13">{{item.operator}}</td>
                <td ng-if="down_14"><img class="img_cover_size" ng-src="{{baseUrl + '/'+ item.cover_image}}" alt=""></td>
                <td ng-if="down_15" class="blue reason_width" ng-show="item.operator =='系统下架'" ng-click="reason_click(item.offline_reason)" data-toggle="modal" data-target="#down_shelves_reason_modal">{{item.offline_reason}}</td>
                <td ng-if="down_15" class="blue reason_width" ng-show="item.operator !='系统下架'">{{item.offline_reason}}</td>
                <td ng-if="down_16" ng-show="item.operator =='系统下架'" class="blue" ui-sref="system_offline({item:item})">查看</td>
                <td ng-if="down_16" ng-show="item.operator !='系统下架'" class="blue" ui-sref="up_shelves_detail({item:item,flag:1})">编辑</td>
                <td ng-if="down_17" class="blue" ng-show="item.operator !='系统下架'">
                    <span data-toggle="modal" data-target="#all_up_shelves_modal" ng-click="sole_on_shelf(item.id)">上架</span>
                    <span data-toggle="modal" data-target="#off_del_modal" ng-click="solo_del_off(item.id)">删除</span>
                </td>
                <td ng-show="item.operator =='系统下架'">
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </td>
            </tr>
        </table>
        <!--分页-->
        <tm-pagination conf="wjConfig"></tm-pagination>
    </section>

    <!--下架原因模态框-->
    <div class="modal fade" id="down_shelves_reason_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">下架原因</h4>
                </div>
                <div class="modal-body">
                    <span style="margin-right: 50px">下架原因</span>
                    <span>{{down_reason}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!--上架商品模态框-->
    <div class="modal fade" id="all_up_shelves_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span>是否确认上架1个商品？</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="all_on_shelf_confirm()">确认
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--删除模态框-->
    <div class="modal fade" id="off_del_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span>是否确认删除{{batch_del.length}}个商品?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="off_del_confirm()">确认
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--等待上架开始-->
    <section ng-if="wait_flag==true">
        <div class="operating">
            <span ng-click="wait_menu (wait_menu_flag)" class="menu glyphicon glyphicon-menu-hamburger"></span>
            <button class="btn btn-default search_txt1" ng-click="wait_search_btn()">搜索</button>
            <div class="search_box">
                <input class="search_input" ng-model="myng.wait_search_content" type="text" placeholder="搜索商品编号或名称">
                <span class="glyphicon glyphicon-search search"></span>
            </div>
            <!--Menu 切换-->
            <div class="on_menu" ng-if="wait_menu_flag">
                <ul>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_1"
                               ng-click="wait_a(wait_1)">商品编号
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_2"
                               ng-click="wait_b(wait_2)">商品名称
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_3"
                               ng-click="wait_c(wait_3)">供货价格
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_4"
                               ng-click="wait_d(wait_4)">市场价格
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_5"
                               ng-click="wait_e(wait_5)">平台价格
                    </li>
                    <li><input type="checkbox" class="right_input" ng-model="wait_6" ng-click="wait_f(wait_6)">装饰公司采购价格
                    </li>
                    <li><input type="checkbox" class="right_input" ng-model="wait_7" ng-click="wait_g(wait_7)">项目经理采购价格
                    </li>
                    <li><input type="checkbox" class="right_input" ng-model="wait_8" ng-click="wait_h(wait_8)">设计师采购价格
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_9"
                               ng-click="wait_i(wait_9)">库存
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_10"
                               ng-click="wait_j(wait_10)">销量
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_11"
                               ng-click="wait_k(wait_11)">状态
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_12"
                               ng-click="wait_l(wait_12)">发布时间
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_13"
                               ng-click="wait_m(wait_13)">图片
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_14"
                               ng-click="wait_n(wait_14)">审核备注
                    </li>
                    <li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_15"
                               ng-click="wait_o(wait_15)">详情
                    </li>
                </ul>
            </div>
        </div>
        <table>
            <tr>
                <td ng-if="wait_1">商品编号</td>
                <td ng-if="wait_2">商品名称</td>
                <td ng-if="wait_3">供货价格</td>
                <td ng-if="wait_4">市场价格</td>
                <td ng-if="wait_5">平台价格</td>
                <td ng-if="wait_6">装修公司采购价格</td>
                <td ng-if="wait_7">项目经理采购价格</td>
                <td ng-if="wait_8">设计师采购价格</td>
                <td ng-if="wait_9">库存</td>
                <td ng-if="wait_10">
                    销量
                    <img ng-click="up_sort_sale_click()" class="arrow_img_size" ng-src="{{up_sort_sale_img}}" alt="">
                </td>
                <td ng-if="wait_11">状态</td>
                <td ng-if="wait_12">
                    <span>发布时间</span>
                    <img ng-click="wait_time_sort()"  class="arrow_img_size" ng-src="{{wait_sort_time_img}}" alt="">
                    <!--<img ng-click="wait_time_sort()" ng-show= on_time_flag class="arrow_img_size"-->
                         <!--src="pages/commodity_manage/image/up.png" alt="">-->
                    <!--<img ng-click="wait_time_sort()" ng-show= down_time_flag  class="arrow_img_size"-->
                         <!--src="pages/commodity_manage/image/down.png" alt="">-->
                </td>
                <td ng-if="wait_13">图片</td>
                <td ng-if="wait_14">审核备注</td>
                <td ng-if="wait_15">详情</td>
            </tr>

            <tr class="table_content" ng-repeat="item in wait_list_arr">
                <td ng-if="wait_1">{{item.sku}}</td>
                <td ng-if="wait_2">{{item.title}}</td>
                <td ng-if="wait_3">¥{{item.supplier_price}}</td>
                <td ng-if="wait_4">¥{{item.platform_price}}</td>
                <td ng-if="wait_5">¥{{item.market_price}}</td>
                <td ng-if="wait_6">¥{{item.purchase_price_decoration_company}}</td>
                <td ng-if="wait_7">¥{{item.purchase_price_manager}}</td>
                <td ng-if="wait_8">¥{{item.purchase_price_designer}}</td>
                <td ng-if="wait_9"><input type="number" class="stock"
                                          ng-change="change_right_number(item.id,item.left_number)"
                                          ng-model="item.left_number" string-to-number2></td>
                <td ng-if="wait_10">{{item.sold_number}}</td>
                <td ng-if="wait_11">{{item.status}}</td>
                <td ng-if="wait_12" class="sky_blue">{{item.publish_time}}</td>
                <td ng-if="wait_13"><img class="img_cover_size" ng-src="{{baseUrl + '/'+ item.cover_image}}"
                                         alt=""></td>
                <td ng-if="wait_14" class="blue td_size" data-toggle="modal" ng-click="getRest (item.reason)"
                    data-target={{waiteModel}}>{{item.reason}}
                </td>
                <td ng-if="wait_15" class="blue" ui-sref="wait_online({item:item,flag:1})">详情</td>
            </tr>
        </table>
        <!--分页开始-->
        <tm-pagination conf="ConfigWait"></tm-pagination>
        <!--分页结束-->
    </section>
    <!--审核备注模态框-->
    <div class="modal fade" id="wait_shelves_remarks_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">审核备注</h4>
                </div>
                <div class="modal-body">
                    <span style="margin-right: 50px">审核备注</span>
                    <span id="span_with">{{reset}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--物流模块开始-->
    <section ng-if="logistics_flag==true">
        <div class="operating">
            <ul class="add_ul">
                <li ui-sref="freight_template">添加</li>
            </ul>
        </div>
        <table style="width: 100%">
            <tr>
                <td>模块名称</td>
                <td>详情</td>
                <td>操作</td>
            </tr>
            <tr class="table_content" ng-repeat="n in contentMore">
                <td>{{n.name}}</td>
                <td class="blue" ng-click="getDetails (n)">查看</td>
                <td class="blue" ng-click="getId (n.id)" data-toggle="modal" data-target="#detate_modal">删除</td>
            </tr>
        </table>

        <!--是否删除确认模态框-->
        <div class="modal fade" id="detate_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <!--<span style="margin-right: 50px">下架原因</span>-->
                        <span>是否确认删除</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteTemplate ()">
                            确认
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>