<link rel="stylesheet" href="pages/commodity_manage/css/freight_template.css"/>
<div ng-controller="freight_template_ctrl" class="">
        <!--模板名称-->
        <from class="form-horizontal" name="formNum" novalidate>
        <div class="row">
            <div class="col-sm-2 control-label">
                <img class="red_ico" src="pages/commodity_manage/image/red.png" alt=""/>
                <span>模板名称</span>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="textContent"  placeholder="请输入模板名称" maxlength="10" ng-model="params.name" />
            </div>
            <div class="col-sm-8 control-label">
                <span class="img_txt">*限1～10个字符，不含特殊字符</span>
            </div>
            <span class="span_left" ng-show="airHidden == false">*不能为空</span>
        </div>

        <!--配送方式-->
        <div class="row">
            <div class="col-sm-2 control-label">
                <span>配送方式</span>
            </div>
            <div class="col-sm-2 control-label">
                <label class="c_label">
                <input type="radio" name="radio" ng-click="params.delivery_method = 0" ng-checked="params.delivery_method == 0 " ng-model="params.delivery_method"/>
                <span>快递物流</span>
                </label>
            </div>
            <div class="col-sm-2 control-label">
                <label class="c_label">
                <input type="radio" name="radio" ng-click="params.delivery_method = 1" ng-checked="params.delivery_method == 1"  ng-model="params.delivery_method"/>
                <span>送货上门</span>
                </label>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-2 col-sm-offset-2 control-label clear_left_col">
                    <img src="pages/commodity_manage/image/red.png" alt=""/>
                    <span>服务地区选择</span>
                </div>
                <div class="col-sm-8 control-label">
                    <span class="city_more">
                    <span ng-repeat="value in selectCity | limitTo: 3">{{value}}</span>
                </span>
                    <a data-toggle="modal" data-target="#detate_modal"><span>编辑</span></a>
                </div>

                <div ng-show="params.delivery_method == 0">
                    <span class="left_way">收费方式</span>
                    <input type="radio" name="a" ng-click="hidden_way = true"  ng-checked="hidden_way"/>
                    <span class="input_span">不包邮</span>
                    <input type="radio" name="a" ng-click="hidden_way = false" ng-checked="!hidden_way"/>
                    <span class="input_span">包邮</span>
                    <div  class="charge" ng-show="hidden_way">
                        <img src="pages/commodity_manage/image/red.png" alt=""/>
                        <span>默认运费</span>
                        <input type="text" ng-model="freight.number_default" />
                        <span>件</span>
                        <input type="text" ng-model="freight.cost_default"  />
                        <span>元</span>
                        <br/><br/>
                        <img src="pages/commodity_manage/image/red.png" alt=""/>
                        <span>每增加</span>
                        <input type="text" class="input_left" ng-model="freight.number_delta" />
                        <span>件</span>
                        <input type="text" class="input_left1" ng-model="freight.cost_delta" />
                        <span>元</span>
                    </div>
                </div>
            </div>

            <!--服务器城市选择  模态框 -->
            <div class="modal fade" id="detate_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">选择区域</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="city_ul">
                                <li ng-repeat="obj in cityList">
                                    <input type="checkbox" ng-checked="obj.isChecked" ng-click="provincesFun(obj)"/>
                                    <span>{{obj.name}}</span>
                                    <img src="pages/commodity_manage/image/down_red.png" ng-click="getMoreCity(obj)"/>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" ng-click="addCity()">确认</button>
                            <button class="btn btn-primary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--物流模板城市选择二级  模态框 -->
            <div class="modal fade" id="sed_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">选择区域</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="sec_ul">
                                <li ng-repeat=" obj in city">
                                    <input type="checkbox" ng-checked="obj.isChecked"
                                           ng-click="cityFun(obj)"/>
                                    <span>{{obj.name}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" ng-click="getCity()">确认</button>
                            <button class="btn btn-primary" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--按钮-->
        <div class="btn_back">
            <button class="btn btn-primary" ng-click="getReally ()" type="submit" ng-disabled="formNum.textContent.$dirty && formNum.textContent.$invalid">确认</button>
            <button class="btn btn-default btn_left" ng-click="getBack ()">返回</button>
        </div>
        </from>
</div>