<link rel="stylesheet" href="pages/commodity_manage/css/system_offline.css"/>
<div ng-controller="system_offline" class="container_left">
    <section>
        <!--商品分类-->
        <div>
            <span>商品分类</span>
            <span class="margin_left">{{detail_item.category_title}}</span>
        </div>
        <!--商品名称-->
        <div class="class_name">
            <span>商品名称</span>
            <span class="margin_left">{{detail_item.title}}</span>
        </div>
        <!--商品特色 -->
        <div class="class_name">
            <span>商品特色</span>
            <span class="margin_left">{{detail_item.subtitle}}</span>
            <span id="special_warning">*在智能报价中，增强识别性</span>
        </div>
        <!--选择品牌-->
        <div class="class_name">
            <span>选择品牌</span>
            <span class="margin_left">{{detail_arr.brand_name}}</span>
        </div>
        <!--选择系列-->
        <div class="class_name" ng-if="detail_arr.series_name!=''">
            <span>选择系列</span>
            <span class="margin_left">{{detail_arr.series_name}}</span>
        </div>
        <!--选择风格-->
        <div class="class_name" ng-if="detail_arr.style_name!=''">
            <span>选择风格</span>
            <span class="margin_left">{{detail_arr.style_name}}</span>
        </div>
        <!--属性设置-->
        <div class="attr_set" ng-if="detail_arr.attrs.length!=0">
            <ul class="attr_title">
                <li>属性设置</li>
                <li class="margin_left">属性名称</li>
                <li class="margin_left_120">属性内容</li>
                <li class="margin_left_120">单位</li>
            </ul>

            <ul class="otherul" ng-repeat="item in detail_attrs">
                <li class="margin_left">{{item.name}}</li>
                <li class="margin_left_120" ng-if="!item.selected">{{item.value}}</li>
                <li class="margin_left_120">{{item.selected}}</li>
                <li class="margin_left_120">{{item.unit}}</li>
            </ul>

        </div>
        <hr/>

        <!--封面上传图片-->
        <div class="filter_pic">
            <span class="class_name_span">封面图</span>
            <img class="filter_pic_cover_img" ng-src="{{baseUrl + '/'+ detail_item.cover_image}}" alt="">
        </div>

        <!--上传图片-->
        <div class="filter_pic" ng-if="detail_item.images.length!=0">
            <span>图片</span>
            <div class="first_pic" >
                <img ng-repeat="item in detail_item.images" class="filter_pic_img" ng-src="{{baseUrl + '/'+ item}}" alt="">
            </div>
        </div>

        <!--价格库存-->
        <div class="price_stock">
            <span>价格库存</span>
            <ul  class="firstul">
                <li>供货价格</li>
                <li>平台价格</li>
                <li>市场价格</li>
                <li>库存</li>
            </ul>
            <p></p>
                <ul class="secul">
                    <li>¥{{detail_item.supplier_price}}</li>
                    <li>¥{{detail_item.platform_price}}</li>
                    <li>¥{{detail_item.market_price}}</li>
                    <li>{{detail_item.left_number}}</li>
                </ul>
            <span class="pic_rule">*价格，供货价≤平台价≤市场价</span>
        </div>

        <!--采购价-->
        <div class="buy_price">
            <span>采购价</span>
            <ul>
                <li>装修公司采购价</li>
                <li>项目经理采购价</li>
                <li>设计师采购价</li>
            </ul>
            <p></p>
            <br/>
            <ul>
                <li>￥{{detail_item.purchase_price_decoration_company}}</li>
                <li>￥{{detail_item.purchase_price_manager}}</li>
                <li>￥{{detail_item.purchase_price_designer}}</li>
            </ul>
        </div>

        <!--物流模板-->
        <div class="template">
            <span>商品物流</span>
            <span class="margin_left">{{logistics_name}}</span>
            <div>
                <span>快递方式</span>
                <span class="template_left">{{logistics_delivery_method}}</span>
                <br/>
                <br/>
                <span class="city_right">城市选择</span>
                <span class="city_change" ng-repeat="item in logistics_district_names_arr.slice(0,3)">{{item}}</span>
                <span ng-if='logistics_district_names_arr.length>3' style="color: #5677FC" data-toggle="modal" data-target="#show_city">查看</span>
                <br/>
                <br/>
                <span>是否包邮</span>
                <span class="template_left" ng-if="delivery_number_default==0&&delivery_cost_default==0&&delivery_number_delta==0&&delivery_cost_delta==0">包邮</span>
                <span class="template_left" ng-if="!(delivery_number_default==0&&delivery_cost_default==0&&delivery_number_delta==0&&delivery_cost_delta==0)">不包邮</span>
                <br/>
                <br/>
                <p ng-if="!(delivery_number_default==0&&delivery_cost_default==0&&delivery_number_delta==0&&delivery_cost_delta==0)">
                    <span>收费金额</span>
                    <span class="template_left">默认{{delivery_number_default}}件商品:￥{{delivery_cost_default}}</span>
                    <br/>
                    <span style="display:inline-block;margin:10px 0 0 102px">每增加{{delivery_number_delta}}件商品，运费增加:￥{{delivery_cost_delta}}</span>
                </p>

            </div>
            <hr/>
        </div>
        <!--售后-->
        <div class="service" ng-if="sale_services_flag==true">
            <span style="float: left">售后</span>
            <ul ng-repeat="item in detail_item.after_sale_services_desc">
                <li ng-if="item=='上门维修'"><span>上门维修</span></li>
                <li ng-if="item=='上门退货'"><span>上门退货</span></li>
                <li ng-if="item=='上门换货'"><span>上门换货</span></li>
                <li ng-if="item=='退货'"><span>退货</span></li>
                <li ng-if="item=='换货'"><span>换货</span></li>
            </ul>
        </div>
        <!--保障-->
        <div class="service">
            <span style="float: left">保障</span>
            <ul ng-repeat="item in detail_item.after_sale_services_desc">
                <li ng-if="item==('提供发票')"><span>提供发票</span></li>
                <li ng-if="item=='上门安装'"><span>上门安装</span></li>
            </ul>
        </div>
        <hr/>

        <div class="erweima">
            <span>线下商城二维码</span>
            <img style="border:1px solid black" ng-src="{{baseUrl + '/'+ detail_item.qr_code}}" alt="">
        </div>

        <!--详情描述-->
        <div class="detail">
            <span>详情描述</span>
            <div class="sec" ng-bind-html="detail_txt | toHtml"></div>
        </div>
        <div class="done_stuff">
            <span>下架原因</span>
            <span class="sec">{{detail_item.offline_reason}}</span>
        </div>

        <div class="offline_time">
            <span>操作人员</span>
            <span class="sec">{{detail_item.operator}}</span>
        </div>

        <div class="offline_time">
            <span>下架时间</span>
            <span class="sec">{{detail_item.offline_time}}</span>
        </div>

        <!--按钮-->
        <div class="btn_back">
            <button class="btn btn-default" ui-sref="commodity_manage({down_flag:true})">返回</button>
        </div>
    </section>
    <!--查看城市模态框-->
    <div class="modal fade" id="show_city" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">已选择地区</h4>
                </div>
                <div class="modal-body show_city">
                    <span ng-repeat="item in logistics_district_names_arr">{{item}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>