<link rel="stylesheet" href="pages/commodity_manage/css/wait_online.css"/>
<div ng-controller="wait_online" class="container_left">
    <section>
        <form class="form-horizontal" name="form" novalidate>
            <!--商品分类-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>商品分类</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{category_title}}</span>
                </div>
            </div>
            <!--商品名称-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <img class="red_img" src="pages/commodity_manage/image/red.png" alt=""/>
                    <span>商品名称</span>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="请输入商品名称" maxlength="32" ng-model="goods_name"
                           ng-change="g_name_change(goods_name)" id="goods_name" name="goods_name" required
                           ng-class="{'error':(form.goods_name.$invalid && submitted)||(form.goods_name.$error.required && title_blur)|| g_flag}"
                           ng-blur="title_blur=!!form.goods_name.$error"/>
                </div>
                <div class="col-sm-6 control-label">
                    <span>*限1~32个字符，不含特殊字符</span>
                </div>
            </div>
            <!--商品特色 -->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <img class="red_img" src="pages/commodity_manage/image/red.png" alt=""/>
                    <span>商品特色</span>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="请输入商品特色" maxlength="16" ng-model="des_name"
                           ng-change="d_name_change(des_name)" id="des_name" name="des_name" required
                           ng-class="{'error':(form.des_name.$invalid && submitted)||(form.des_name.$error.required && des_blur)||d_flag}"
                           ng-blur="des_blur=!!form.des_name.$error"/>
                </div>
                <div class="col-sm-6 control-label">
                    <span>*1～16个字符，不含特殊字符；例：家用环保 强化 复合 防水耐磨</span>
                </div>
            </div>
            <div class="row" ng-if="brands_arr.length>0">
                <div class="col-sm-2 control-label">
                    <span>选择品牌</span>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="myng.brand_model" ng-options="item.id as item.name for item in brands_arr"></select>
                </div>
            </div>
            <!--选择系列-->
            <div class="row" ng-if="series_arr.length>0">
                <div class="col-sm-2 control-label">
                    <span>选择系列</span>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="myng.series_model" ng-options="item.id as item.series for item in series_arr"></select>
                </div>
            </div>
            <div class="row" ng-if="series_null_flag">
                <div class="col-sm-offset-2 remove_txt">系列已被移除，请重新选择系列</div>
            </div>
            <!--选择风格-->
            <div class="row" ng-if="styles_arr.length>0">
                <div class="col-sm-2 control-label">
                    <span>选择风格</span>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="myng.style_model" ng-options="item.id as item.style for item in styles_arr"></select>
                </div>
            </div>
            <div class="row" ng-if="style_null_flag">
                <div class="col-sm-offset-2 remove_txt">风格已被移除，请重新选择风格</div>
            </div>
            <!--属性设置-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>属性设置</span>
                </div>
                <div class="col-sm-3 control-label">
                    <span class="glyphicon glyphicon-plus pointer" ng-click="add_own_attrs()"></span>
                    <span>属性名称</span>
                </div>
                <div class="col-sm-3 control-label">
                    <span>属性内容</span>
                </div>
                <div class="col-sm-1 control-label">
                    <span>单位</span>
                </div>
                <!--普通文本框-->
                <div class="row" ng-repeat="item in goods_input_attrs">
                    <div class="col-sm-offset-2 col-sm-3 control-label">
                        <img src="pages/commodity_manage/image/red.png" alt=""/>
                        <span ng-if="item.from_type==0" style="display: inline-block;width: 15px">&nbsp;</span>
                        <span ng-if="item.from_type==1" class="glyphicon glyphicon-minus pointer" ng-click="del_admin_attrs($index)"></span>
                        <span ng-model="myng.attr_name">{{item.name}}</span>
                    </div>
                    <div class="col-sm-3 control-label">
                        <input class="form-control" ng-model="item.value" type="text" maxlength="6"
                               placeholder="请输入属性内容" id="attr_name{{$index}}" name="attr_name{{$index}}"
                               ng-keyup="testNumber(item)" required
                               ng-class="{'error':(form['attr_name' + $index].$invalid && submitted)||(form['attr_name' + $index].$error.required && attrs_blur[$index])}"
                               ng-blur="attrs_blur[$index]=!!form['attr_name' + $index].$error"/>
                    </div>
                    <div class="col-sm-1 control-label">
                        <span class="unit">{{item.unit}}</span>
                    </div>
                    <div class="col-sm-3 control-label">
                        <span>*属性名称限1～6个字符,属性内容限1～10个字符</span>
                    </div>
                </div>
                <!--下拉框-->
                <div class="row" ng-repeat="item in goods_select_attrs">
                    <div class="col-sm-offset-2 col-sm-3 control-label">
                        <img src="pages/commodity_manage/image/red.png" alt=""/>
                        <span style="display: inline-block;width: 15px">&nbsp;</span>
                        <span style="display: inline-block;width: 140px">{{item.name}}</span>
                    </div>
                    <div class="col-sm-3 control-label">
                        <select class="form-control" ng-model="item.selected"
                                ng-options="items for items in goods_select_attrs_value[$index]"></select>
                    </div>
                    <div class="col-sm-1 control-label">
                        <span class="unit">{{item.unit}}</span>
                    </div>
                    <div class="col-sm-3 control-label">
                        <span>*属性名称限1～6个字符,属性内容限1～10个字符</span>
                    </div>
                </div>
                <!--自己添加属性-->
                <div class="row" ng-repeat="item in own_attrs_arr track by $index">
                    <div class="col-sm-offset-2 col-sm-3">
                        <img src="pages/commodity_manage/image/red.png" alt=""/>
                        <span class="glyphicon glyphicon-minus pointer" ng-click="del_own_attrs($index)"></span>
                        <input type="text" class="form-control own_attr_name" maxlength="6" placeholder="请勿输入重复属性名称" ng-change="own_input_change()" ng-model="item.name" id="{{item.name_model}}" name="{{item.name_model}}" required ng-class="{'error':form[item.name_model].$invalid &&submitted||(form[item.name_model].$error.required) || own_submitted}"/>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" maxlength="10" placeholder="请输入属性内容" ng-model="item.value" id="{{item.value_model}}" name="{{item.value_model}}" required ng-class="{'error':form[item.value_model].$invalid &&submitted||(form[item.value_model].$error.required)}"/>
                    </div>
                    <div class="col-sm-1">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-sm-3 control-label">
                        <span>*属性名称限1～6个字符,属性内容限1～10个字符</span>
                    </div>
                </div>
            </div>
            <hr/>

            <!--封面上传图片-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <img class="red_img" src="pages/commodity_manage/image/red.png" alt=""/>
                    <span>上传图片</span>
                </div>
                <div class="col-sm-10 control-label">
                    <img class="img_size" ng-if="!!upload_cover_src" ng-src="{{upload_cover_src}}"/>
                    <img class="img_size" ng-if="!upload_cover_src" src="pages/commodity_manage/image/default.png"/>
                    <p class="prompt_txt">图片大小5M内，支持JPG、PNG、JPEG</p>
                    <button class="btn btn-default" ngf-pattern="image/*" ng-change="upload_cover(data.file)"
                            ngf-select="" ngf-multiple="false" ng-model="data.file" ng-disabled="upload_dis">
                        {{upload_txt}}
                    </button>
                    <p class="warning" ng-if="!!cover_flag">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        {{cover_flag}}
                    </p>
                </div>
            </div>

            <!--上传图片-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>上传图片</span>
                </div>
                <div class="col-sm-10 control-label">
                    <div class="img_list" ng-repeat="item in upload_img_arr" style="width: 120px;height: 120px;">
                        <img class="img_size" ng-src="{{item}}" class="logo">
                        <span ng-if="completeUpload" class="img_times" ng-click="del_img(item)">&times;</span>
                    </div>
                    <img class="img_size" ng-if="upload_img_arr.length!=5" ngf-pattern="image/*"
                         ng-change="upload(data.file)" ngf-select="" ngf-multiple="false" ng-model="data.file"
                         src="pages/commodity_manage/image/plus.png">
                    <p class="prompt_txt">图片大小694×400，5M内，可上传3张图片，支持JPG、PNG、JPEG</p>
                    <p class="warning" ng-if="!!img_flag">
                        <span class="glyphicon glyphicon-asterisk"></span>
                        {{img_flag}}
                    </p>
                </div>
            </div>

            <!--价格库存-->
            <div class="row price_stock">
                <div class="col-sm-2 control-label">
                    <img class="red_img" src="pages/commodity_manage/image/red.png" alt=""/>
                    <span>价格库存</span>
                </div>
                <div class="col-sm-10 control-label">
                    <ul>
                        <li>供货价格</li>
                        <li>平台价格</li>
                        <li>市场价格</li>
                        <li>库存</li>
                    </ul>
                    <p></p>
                    <div>
                        <input class="form-control price_stock_input" type="text" ng-model="supplier_price"
                               ng-change="my_supplier_price(supplier_price)" id="supplier_price" name="supplier_price"
                               required
                               ng-class="{'error':(form.supplier_price.$invalid && submitted)||(form.supplier_price.$error.required && supplier_blur) || price_flag}"
                               ng-blur="supplier_blur=!!form.supplier_price.$error"/>
                        <input class="form-control price_stock_input" type="text" ng-model="platform_price"
                               ng-change="my_platform_price(platform_price)" id="platform_price" name="platform_price"
                               required
                               ng-class="{'error':(form.platform_price.$invalid && submitted)||(form.platform_price.$error.required && plat_blur) || price_flag}"
                               ng-blur="plat_blur=!!form.platform_price.$error"/>
                        <input class="form-control price_stock_input" type="text" ng-model="market_price"
                               ng-change="my_market_price(market_price)" id="market_price" name="market_price" required
                               ng-class="{'error':(form.market_price.$invalid && submitted)||(form.market_price.$error.required && market_blur) || price_flag}"
                               ng-blur="market_blur=!!form.market_price.$error"/>
                        <input class="form-control price_stock_input" type="text" ng-model="left_number"
                               ng-keyup="leftNumber(left_number)" id="left_number" name="left_number" required
                               ng-class="{'error':(form.left_number.$invalid && submitted)||(form.left_number.$error.required && left_blur)}"
                               ng-blur="left_blur=!!form.left_number.$error"/>
                    </div>
                    <span class="prompt_txt">*价格，供货价≤平台价≤市场价</span>
                </div>
            </div>

            <!--采购价-->
            <div class="row buy_price">
                <div class="col-sm-2 control-label">
                    <span>采购价</span>
                </div>
                <div class="col-sm-10 control-label">
                    <ul>
                        <li>装修公司采购价</li>
                        <li>项目经理采购价</li>
                        <li>设计师采购价</li>
                    </ul>
                    <p></p>
                    <ul>
                        <li>￥{{purchase_price_decoration_company}}</li>
                        <li>￥{{purchase_price_manager}}</li>
                        <li>￥{{purchase_price_designer}}</li>
                    </ul>
                </div>
            </div>

            <!--物流模板-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <img class="red_img" src="pages/commodity_manage/image/red.png" alt=""/>
                    <span>商品物流</span>
                </div>
                <div class="col-sm-6 control-label">
                    <span class="red_txt" ng-if="logistics_null==true">*物流模板为空，请先添加物流模板</span>
                    <select class="form-control" style="width: 60%" ng-if="logistics_status==true"
                            ng-model="myng.shop_logistics"
                            ng-options="item.id as item.name for item in logistics"></select>
                    <div class="red_txt" ng-if="logistics_red==true">*上一个物流模板已被删除，请选择新的模板</div>
                    <br>
                    <div ng-if="logistics_status==true">
                        <span class="margin_r">快递方式</span>
                        <span>{{logistics_method}}</span>
                        <br/>
                        <br/>
                        <span class="margin_r">城市选择</span>
                        <span class="template_span" ng-repeat="item in district_names.slice(0,3)">{{item}}</span>
                        <a ng-if="district_names.length>3" data-toggle="modal" data-target="#show_city">查看</a>
                        <br/>
                        <br/>
                        <span class="margin_r">是否包邮</span>
                        <span ng-if="delivery_number_default==0&&delivery_cost_default==0&&delivery_number_delta==0&&delivery_cost_delta==0">包邮</span>
                        <span ng-if="!(delivery_number_default==0&&delivery_cost_default==0&&delivery_number_delta==0&&delivery_cost_delta==0)">不包邮</span>
                        <br/>
                        <br/>
                        <div ng-if="!(delivery_number_default==0&&delivery_cost_default==0&&delivery_number_delta==0&&delivery_cost_delta==0)">
                            <span class="margin_r">收费金额</span>
                            <div style="display: inline-block; vertical-align: top;">
                                <p>默认{{delivery_number_default}}件商品:￥{{delivery_cost_default}}</p>
                                <p>每增加{{delivery_number_delta}}件商品，运费增加:￥{{delivery_cost_delta}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <!--售后-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>售后</span>
                </div>
                <div class="col-sm-10 control-label">
                    <ul class="aftermark_ul">
                        <li><input type="checkbox" ng-model="myng.door_service_check"/><span>上门维修</span></li>
                        <li><input type="checkbox" ng-model="myng.door_return_check"/><span>上门退货</span></li>
                        <li><input type="checkbox" ng-model="myng.door_replacement_check"/><span>上门换货</span></li>
                        <li><input type="checkbox" ng-model="myng.return_check"/><span>退货</span></li>
                        <li><input type="checkbox" ng-model="myng.replacement_check"/><span>换货</span></li>
                    </ul>
                </div>
            </div>
            <!--保障-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>保障</span>
                </div>
                <div class="col-sm-10 control-label">
                    <ul class="aftermark_ul">
                        <li><input type="checkbox" ng-model="myng.invoice_check" ng-checked="true" disabled="disabled"/><span>提供发票</span>
                        </li>
                        <li><input type="checkbox" ng-model="myng.door_instal_model"/><span>上门安装</span></li>
                    </ul>
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>线下商城二维码</span>
                </div>
                <div class="col-sm-10 control-label">
                    <img class="img_size" ng-src="{{qr_code}}" alt="二维码">
                </div>
            </div>

            <!--详情描述-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>详情描述</span>
                </div>
                <div class="col-sm-10 control-label">
                    <div class="ueditor" ng-model="detail_description" config="config" id="editor"></div>
                </div>
            </div>

            <!--线下店信息-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>是否是线下商品</span>
                </div>
                <div class="col-sm-10 control-label" ng-bind="line_goods.is_offline_goods"></div>
            </div>

            <div ng-if="line_goods.is_offline_goods=='是'">
                <div class="row">
                    <div class="col-sm-2 control-label">
                        <span>线下店名称</span>
                    </div>
                    <div class="col-sm-10 control-label" ng-bind="line_goods.line_supplier_name"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2 control-label">
                        <span>线下店地址</span>
                    </div>
                    <div class="col-sm-10 control-label" ng-bind="line_goods.line_district"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2 control-label">
                        <span>电话</span>
                    </div>
                    <div class="col-sm-10 control-label" ng-bind="line_goods.line_mobile"></div>
                </div>
            </div>

            <!--审核备注-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>审核备注</span>
                </div>
                <div class="col-sm-10 control-label" ng-bind="reason"></div>
            </div>

            <!--按钮-->
            <div class="row">
                <div class="col-sm-12 control-label">
                    <button class="btn btn-primary" data-target="{{change_ok}}" data-toggle="modal"
                            ng-click="edit_confirm(form.$valid,form.$error.required)">保存
                    </button>
                    <button class="btn btn-default btn_left" ng-hide="show_flag" data-toggle="modal"
                            data-target="#down_ok">下架
                    </button>
                    <button class="btn btn-default btn_left" ng-click="back_wait()">返回</button>
                </div>
            </div>
        </form>
    </section>
    <!--保存成功模态框-->
    <div class="modal fade" id="change_ok" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    <h5>保存成功</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="change_go()">确认</button>
                </div>
            </div>
        </div>
    </div>
    <!--下架模态框-->
    <div class="modal fade" id="down_ok" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    <h5>是否确认下架？</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" ng-click="down_btn(goods_id)">确认</button>
                    <button class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--查看城市模态框-->
    <div class="modal fade" id="show_city" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">已选择地区</h4>
                </div>
                <div class="modal-body show_city">
                    <span ng-repeat="item in district_names">{{item}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>