/*账户详情样式*/
.freeze_money{
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
}
.freeze_money p {
    margin-bottom: 20px;
    font-size:14px;
}
.freeze_money button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.freeze_money .red_mark{
    color: red;
}
.freeze_money .row{
    margin-top:15px;
    margin-bottom:15px;
}
.freeze_money .submit{
    margin-top:100px;
}
.freeze_money .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}