<link rel="stylesheet" href="pages/account_manage/account_index/css/account_index.css">
<div ng-controller="account_index_ctrl">
    <!--<header>-->
    <!--<div>-->
    <!--<i class="glyphicon glyphicon-home"></i>-->
    <!--<span class="shop_manage">账户管理</span>-->
    <!--<img src="pages/mall_manage/style_manage/edit_attribute/images/user.png" alt=""/>-->
    <!--</div>-->
    <!--</header>-->
    <!--选项卡-->
    <div class="tab">
        <ul>
            <li ng-class="{'tab_blue':(normal_flag==true)}"  ng-click="normal()">正常</li>
            <li ng-class="{'tab_blue':(close_flag==true)}" ng-click="close()">关闭</li>
        </ul>
    </div>
    <!--正常 内容-->
    <section ng-if="normal_flag==true">
        <span class="border"  ui-sref="add_user">添加新用户</span>
        <span class="border" data-toggle="modal" data-target="#{{more_modal}}" ng-click="change_model ()" >关闭</span>
        <select  name="province"  ng-model="params.selectValue" class="time_select" ng-options="item.name for item in time">
        </select>
        <input  ng-if="selectValue.name=='自定义'" id="start_time"  ng-model="myng.begin_time" ngc-lay-date  class="start_stop_time" type="text" placeholder="开始时间">
        <input  ng-if="selectValue.name=='自定义'" id="stop_time"   ng-model="myng.end_time" ngc-lay-date  class="start_stop_time" type="text"  placeholder="结束时间">
        <!--搜索-->
        <span class="menu" ng-click="getSearch()">查询</span>
        <div class="search_box">
            <input class="search_input" type="text" ng-model="mm.search_text" placeholder="搜索昵称或手机号">
            <span class="glyphicon glyphicon-search search"></span>
        </div>

        <!--表格-->
        <table>
            <tr class="th">
                <td>&nbsp;</td>
                <td>绑定手机号</td>
                <td>昵称</td>
                <td>魔方号</td>
                <td>注册时间
                    <img class="img_size" ng-show=flag ng-click="changePic ()"  src="pages/account_manage/account_comment/images/mall_arrow_up.png" alt=""/>
                    <img class="img_size" ng-show=strat ng-click="changePicse ()"  src="pages/account_manage/account_comment/images/mall_filter_sor.png" alt=""/>
                </td>
                <td>状态</td>
                <td>拥有角色</td>
                <td>详情</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat=" n in account">
                <td><input type="checkbox" ng-checked="close_input" ng-model="n.state" ng-click="changeStar (n.id)"></td>
                <td>{{n.mobile}}</td>
                <td>{{n.nickname}}</td>
                <td>{{n.aite_cube_no}}</td>
                <td>{{n.create_time}}</td>
                <td>{{n.status}}</td>
                <td>{{n.names}}</td>
                <td class="blue" ng-click = 'getMore(n)'>查看</td>
                <!--ui-sref="account_comment({id:n.id,icon:n.icon,nickname:n.nickname-->
                <!--,old_nickna:n.old_nickname,district_name:n.district_name,birthday:n.birthday,-->
                <!--signature:n.signature,mobile:n.mobile,aite_cube_no:n.aite_cube_no,-->
                <!--create_time:n.create_time,names:n.names,review_status_desc:n.review_status_desc,-->
                <!--status:n.status,id:n.id,legal_person:n.legal_person,identity_no:n.identity_no-->
                <!--,identity_card_front_imagen:n.identity_card_front_image,identity_card_back_image:-->
                <!--n.identity_card_back_image,review_time:n.review_time,a:false,-->
                <!--})"-->
                <td class="blue" data-toggle="modal" data-target="#close_modal" ng-click="getId (n.id)">关闭</td>
            </tr>
        </table>

        <!--分页开始-->
        <tm-pagination conf="Config"></tm-pagination>
        <!--分页结束-->
    </section>

    <!--单个关闭模态框-->
    <div class="modal fade" id="close_modal" data-backdrop="static" data-keyboard="fal2se">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">关闭原因</h4>
                </div>
                <div class="modal-body">
                    <span style="vertical-align: top">关闭原因（选填）</span>
                    <textarea style="margin-left: 50px" name="" placeholder="资料违规,请重新修改"  ng-model="text" cols="50" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="getReson (n.id)">确认</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--批量关闭模态框-->
    <div class="modal fade" id="closemore_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">关闭原因</h4>
                </div>
                <span style="margin-left: 16px">关闭个数：{{close_num_arr.length}}个</span>
                <div class="modal-body">
                    <span style="vertical-align: top">关闭原因（选填）</span>
                    <textarea style="margin-left: 50px" name="" placeholder="资料违规,请重新修改"  ng-model="more" cols="50" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  ng-click="closeReset()">确认</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--提示先选择在关闭-->
    <div class="modal fade" id="prompt_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <span>请先勾选，在关闭</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >确认</button>

                </div>
            </div>
        </div>
    </div>


    <!--关闭 内容-->
    <section ng-if="close_flag==true">
        <span class="border" data-toggle="modal" data-target="#{{open_modal}}" ng-click="change_open_model ()">开启</span>
        <select  name="province" ng-model="mm.selectValueClose" class="time_select" ng-options="item.name for item in timeClose ">
        </select>
        <input  ng-if="selectValueClose.name=='自定义'" id="start_time_more"  ng-model="myng.begin_time_more" ngc-lay-date  class="start_stop_time" type="text" placeholder="开始时间">
        <input  ng-if="selectValueClose.name=='自定义'" id="stop_time_more"   ng-model="myng.end_time_more" ngc-lay-date  class="start_stop_time" type="text"  placeholder="结束时间">
        <!--搜索-->
        <span class="menu" ng-click="getSearchClose () ">查询</span>
        <div class="search_box">
            <input class="search_input" type="text" ng-model="mm.name_num" placeholder="搜索昵称或手机号">
            <span class="glyphicon glyphicon-search search"></span>
        </div>

        <!--表格-->
        <table>
            <tr class="th">
                <td>&nbsp;</td>
                <td>绑定手机号</td>
                <td>昵称</td>
                <td>魔方号</td>
                <td>注册时间
                </td>
                <td>结束时间
                    <img class="img_size" ng-show= flag ng-click="changePicClose ()"  src="pages/account_manage/account_comment/images/mall_arrow_up.png" alt=""/>
                    <img class="img_size" ng-show= strat ng-click="changePicseClose ()"  src="pages/account_manage/account_comment/images/mall_filter_sor.png" alt=""/>
                </td>
                <td>操作人员</td>
                <td>状态</td>
                <td>拥有角色</td>
                <td>关闭原因</td>
                <td>详情</td>
                <td>操作</td>
            </tr>
            <tr ng-repeat=" n in account_colse">
                <td><input type="checkbox"  ng-checked="close_input" ng-model="n.state" ng-click="changeOpen (n.id)" ></td>
                <td>{{n.mobile}}</td>
                <td>{{n.nickname}}</td>
                <td>{{n.aite_cube_no}}</td>
                <td>{{n.create_time}}</td>
                <td>{{n.close_time}}</td>
                <td>{{n.status_operator}}</td>
                <td>{{n.status}}</td>
                <td>{{n.names}}</td>
                <td><span id="gay_input" ng-click="getRemark (n)" data-toggle="modal" data-target="#close_reason_modal">{{n.status_remark}}</span></td>
                <td class="blue" ng-click = 'getMore(n)'>查看</td>
                <td class="blue" ng-click="getOpen (n)" data-toggle="modal" data-target="#start_modal">开启</td>

            </tr>
        </table>

        <!--分页开始-->
        <tm-pagination conf="Config"></tm-pagination>
        <!--分页结束-->

    </section>

    <!--关闭原因 模态框-->
    <div class="modal fade" id="close_reason_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">关闭原因</h4>
                </div>
                <div class="modal-body" style="height: 240px;">
                    <span style="margin-right: 30px">关闭原因（选填）</span>
                    <span >{{remark}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--单个开启模态框-->
    <div class="modal fade" id="start_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 100px">
                    <span>是否确认开启</span>

                </div>
                <div class="modal-footer">
                    <button type="button"  ng-click="getColse ()" class="btn btn-primary" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--批量开启模态框-->
    <!--开启模态框-->
    <div class="modal fade" id="open_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 100px">
                    <span>是否确认开启</span>

                </div>
                <div class="modal-footer">
                    <button type="button"  ng-click="openReset ()" class="btn btn-primary" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div> <!--开启模态框-->
    <!--t提示先勾选在开启-->
    <div class="modal fade" id="sed_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body" style="height: 100px">
                    <span>请先勾选在开启</span>

                </div>
                <div class="modal-footer">
                    <button type="button"   class="btn btn-primary" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>