.row{
    margin-bottom: 20px;
}
.img-size{
    width: 120px;
    height: 120px;
}
.btn-right{
    margin-right: 15px;
}
.dl_active7 {
    background-color: #E6E9F0 !important;
}
.a_active7{
    color: #5677FC!important;
}