.img-size{
    width: 30px;
    height: 30px;
}
table{
    table-layout: fixed;
}
.ellipsis{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dl_active7 {
    background-color: #E6E9F0 !important;
}
.a_active7{
    color: #5677FC!important;
}