.header_cell{
    height: 4rem;
    background-color: white;
}

.header_cell input{
    width: 23rem;
    height: 2rem;
    margin-top: 1rem;
    border: 1px solid #C2C2C2;
    border-radius: 1.2rem;
    padding-left: 2rem;
    font-size: 1rem;
    margin-left: 2rem;
}
.header_cell i{
    color: #A9A9A9;
    position: absolute;
    left: 2.5rem;
    top:1.2rem;
}
.header_cell a{
    margin-left: 3rem;
    font-size: 1.2rem;
}
.cell_ul li{
    padding-left: 2rem;
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.second_fru {
    color: #C2C2C2;
    font-size: 1rem;
}
.first_fru {
    font-size: 1.2rem;
}

.have_data{
    /*display: none;*/
}
.no_data{
    text-align: center;
    padding-top: 5rem;
    /*display: none;*/
}
.no_data span{
    font-size: 1.2rem;
    color: #C2C2C2;
}
.no_data a{
    position: relative;
    top:2rem;
    font-size: 1.2rem;
}