.body{
    background: #F6F6F6;
}

.ng-scope{
    background: #f6f6f6;
}
header div img{
    width: 100%;
}

.intelligent_div{
    font-size: 1.2rem;
    /*border: 1px solid #C2C2C2;*/
    width: 29.5rem;
    height:11rem;
    margin-left: 1.2rem;
    position: relative;
    top:-5.5rem;
    background: #FFFFFF;
    box-shadow: 0 20px 60px rgba(0,101,218,0.2);
    border-radius: px;
}
.intelligent_div a{
    text-decoration: none;
}
.font{
    position: absolute;
    right: 4.7rem;
    top: 2rem;
    color: #53A8F4 ;
}
.intel{
    color: #666F80;
    position: absolute;
    left: 2rem;
    top: 2rem;
    line-height: 1.3rem;
}
a{
    text-decoration: none!important;
}

.address{
    position: relative;
    color: #53A8F4;
    left: 25.1rem;
    top:0.7rem;
    line-height: 1.3rem;
    /*top: 1rem;*/
}
.intelligent_div button{
    width: 25.7rem;
    height: 4rem;
    background-color: #53A8F4 ;
    position: relative;
    top:5rem;
    border-radius: 3rem;
    color: white;
    left: -.7rem;
    outline: none;
    font-size: 1.2rem;
    border:none;
}
.exhibition{
     margin-top: -5rem;
}
.exhibition ul li {
    margin-left: .6rem;
    width: 29.5rem;
    /*margin-bottom: 2rem;*/
    position: relative;
}
.exhibition ul li img{
    width: 29.5rem;
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
    border-radius: 2px;
}
.exhibition span{
    display: block;
    width: 4rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    background-color: #FF9C15;
    opacity: .8;
    color: white;
    position: relative;
    left: 25rem;
    top: 3rem;
    border-radius: 1rem;
    font-size: 1.1rem;
}
.exhibition h1{
    position: absolute;
    top:10.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    left: 1rem;
}
.exhibition p{
    position: absolute;
    top: 13rem;
    left: 1rem;
    color: white;
    font-size: 1.2rem;
}