/*单选按按钮样式*/
input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}

input[type="radio"]:checked + span {
    border: 1px solid #C2C2C2;
    background-color: #53A8F4;
}

/*结束*/

/*多选按按钮样式*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}

input[type="checkbox"]:checked + span {
    border: 1px solid #C2C2C2;
    background-color: #53A8F4;
}

/*结束*/
header {
    width: auto;
    height: 4rem;
    border-bottom: 1px solid #C2C2C2;
}

header div {
    line-height: 4rem;
}

header div span {
    font-size: 1.4rem;
}
.postion_span{
    color: #53A8F4;
    margin-left: .2rem;
}
.in_span {
    margin-left: 1rem;
    color: #53A8F4 ;
}

.pic_span {
    margin-left: 11rem;
}

.map {
    margin-left: 8rem;
    /*width: 1rem;*/
    color: #53A8F4;
}

.quarters_small {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 2rem;
    position: relative;
}
.shu{
    width: .2rem;
    height: 1rem;
    background-color:#53A8F4;
    display: inline-block;
    position: absolute;
    /*top:1rem;*/
    left: .6rem;
    top: .2rem;
}
.area{
    width: .2rem;
    height: 1rem;
    background-color:#53A8F4;
    display: inline-block;
    position: relative;
    /*top:1rem;*/
    left: .6rem;
    top: 2rem;
}
.quarters_adress {
    padding-left: 1rem;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    top: 1rem;
}

.quarters {
    margin-left: 2rem;
    font-size: 1rem;
    display: inline-block;
}

.quarters_small h1 {
    padding-left: 1rem;
    font-size: 1.2rem;
}

.choose_quarter {
    margin-left: 1rem;
    font-size: 1rem;

}
.quarters_small{
    position: relative;
}
.quarters_small input {
    width: 22rem;
    height: 2.2rem;
    border: 1px solid #C2C2C2;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    margin-left: 2rem;
}

.p {
    font-size: 1.2rem;
    margin-left: -2rem;
    margin-top: .2rem;
}

.house_area {
    /*padding-top: 1rem;*/
}
.house_area h1{
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
.house_span {
    margin-left: 1rem;
    font-size: 1rem;
}

.house_area input {
    width: 21rem;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border: 1px solid #C2C2C2;
    font-size: 1.2rem;
    border-radius: .3rem;
}

.apartment_layout {
    margin-top: 1rem;
}

.apartment_span {
    margin-left: 1rem;
    font-size: 1rem;
}

.apartment_ul span {
    margin-left: -4rem;
    font-size: 1.2rem;
}

.apartment_ul {
    margin-left: 4rem;
    margin-top: -1rem;
}

.apartment_ul li {
    display: inline;
    width: 8rem;
    height: 3rem;
    margin-left: 3rem;

}

.apartment_ul li input {
    width: 8rem;
    height: 2.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-left: 3rem;
    /*margin-left: 6rem;*/
    /*border: 1px solid #C2C2C2;*/
    border: none;
}

.apartment_ul button {
    width: 2rem;
    height: 2rem;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: .2rem;
}

.btn_left {
    position: relative;
    left: -5rem;
    top: .5rem;

    color: #53A8F4;
}

.btn_right {
    position: relative;
    left: -1.5rem;
    top: .5rem;
    color: #53A8F4;
}

.text_all {
    margin-left: 2rem;
    margin-top: 1rem;
    border: 1px solid #C2C2C2;
    font-size: 1rem;
    border-radius: .3rem;
}

.address_content {
    position: relative;
}

.text_all_length {
    position: absolute;
    right: 3.6rem;
    bottom: 0.5rem;
    font-size: 1rem;
}

.storey {
    border-top: 1px solid #C2C2C2;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.storey_span{
    font-size: 1rem;
    margin-left: 1rem;
}

.storey h1 {
    margin-left: 1rem;
}

.storey_ul {
    margin-left: 3rem;
}

.storey_ul li {
    display: inline-block;
    list-style: none;
    font-size: 1rem;
    margin-left: .5rem;
}

/*.ml{*/
/*margin-left: 1rem;*/
/*}*/
.bay_window {
    border-top: 1px solid #C2C2C2;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bay_span {
    margin-left: 1rem;
    font-size: 1rem;
}

.bay_window input {
    width: 12rem;
    height: 3rem;
    border-radius: .4rem;
    border: 1px solid #C2C2C2;
    margin-left: 4.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.bay_square {
    margin-left: -2.2rem;
    font-size: 1.2rem;

}

.choose_stairs {
    padding-top: 1rem;
    border-top: 1px solid #C2C2C2;
}

.choose_span {
    font-size: 1rem;
    margin-left: 1rem;
}

.choose_stairs label {
    margin-left: 3rem;
}

.have, .no {
    margin-left: .1rem;
    font-size: 1rem;
}

.structure {
    border: 1px solid #E5E5E5;
    width: 29rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
    border-radius: .2rem;
}

.structure ul li {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.structure ul li span {
    color: #6C6C6C;
}

.series {
    padding-top: 1rem;
}

.series h1 {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.series ul li {
    display: inline-block;
    font-size: 1rem;
    margin-left: 2rem;
    padding-top: 1rem;
}

.series label {
    font-weight: normal;
    vertical-align: middle;
}


.fit {
    padding-top: 1rem;
}

.fit h1 {
    margin-left: 1rem;
}

.fit p {
    padding-left: 1rem;
    font-size: 1rem;
    color: #999;
}

.choose_style {
    padding-top: 1rem;
}

[ng-cloak] {
    display: none;
}

.choose_style h1 {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.choose_style ul li {
    display: inline-block;

}

.choose_style ul li button {
    background-color: white;
    width:5rem;
    height: 2.3rem;
    font-size: .8rem;
    color: #999;
    border: 1px solid #C2C2C2;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: .5rem !important;
}

.carousel {
    margin-top: 1rem;
    border: 1px solid #C2C2C2;
    width: 30rem;
    height: 16rem;
    margin-left: 1rem;
}

.note {
    margin-top: 1.5rem;
}

.note ul li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;

}

.note ul li button {
    width: 5rem;
    height: 2rem;
    background-color: white;
    border: 1px solid #C2C2C2;
    font-size: .8rem;
}

.btn_vr button {
    width: 28rem;
    height: 4rem;
    margin-left: 2rem;
    border-radius: .3rem;
    background-color: #53A8F4;
    color: white;
    font-size: 1.2rem;

}

/*轮播*/
.swiper-slide img{
   width:100%;
}

.swiper-pagination span {
    width: 1rem;
    height: 1rem;
}
/*系列*/
.tag {
    padding-left: 1.5rem;
    color: #06CB7E;
}

.tag span {
    display: inline-block;
    margin-right: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #8DE2C1;
    text-align: center;
    font-size: .8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: .3rem;
    height: 2rem;
    margin-left: 1rem;
    background-color: #F9FEFC;
}

/*风格*/
.btn_checked {
    border: 1px solid #53A8F4 !important;
    color: #53A8F4 !important;
}

.note button {
    border-radius: 1.5rem;
    color: #06CB7E;
    background-color: #F9FEFC !important;
    border: 1px solid #8DE2C1 !important;
}

button {
    outline: none !important;
}
/*提交按钮样式*/
button[disabled]{


}

/*数据获取 样式*/
.left_main{
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 14rem;
    margin-left: 1rem;
}
.right_main {
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 14rem;
    margin-left: 1.2rem;
}
.right_main ul li{
    margin-bottom: .5rem;
    font-size: 1rem;
    border-bottom: 1px solid #C2C2C2;
}
.left_main ul {
    border: 1px solid #C2C2C2;
    margin-bottom: 1rem;
}
.right_main ul {
    margin-bottom: 1rem;
}
.left_main ul li{
    margin-bottom: .5rem;
    font-size: 1rem;
    border-bottom: 1px solid rgba(222, 222, 224, 0.9);
    margin-left: 1rem;
}
.right_main ul li {
    border-bottom: 1px solid rgba(222, 222, 224, 0.9);
    margin-left: 1rem;
}
.decoration p{
    padding-left: 1rem;
    /*padding-top: .5rem;*/
    font-size: 1rem;
}
.pic{
    color:#FFB13D ;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.left_main p{
    padding-left: 1rem;
    /*padding-top: .5rem;*/
    font-size: 1rem;
}
.pic{
    color:#FFB13D ;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.pic_q{
    margin-left: 4rem;
}
.right_main p{
    padding-left: 1rem;
    /*padding-top: .5rem;*/
    font-size: 1rem;
}
.right_main span{
    color:#FFB13D ;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
/*.decoration li{*/
    /*margin-bottom: .5rem;*/
    /*font-size: 1rem;*/
    /*border-bottom: 1px solid #C2C2C2;*/
/*}*/
.right_main ul {
    border:1px solid #C2C2C2;
}
.material_choose h3{
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.comment_span{
    margin-left: 1rem;
    font-size: .8rem;
    color: #C2C2C2;
}
/*样式结束*/

/*尾部样式*/
.first_span{
    color: #F55122;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.footer_set{
    display: inline-block;
    line-height: 1.2rem;
}
.second_span{
    font-size: 1rem;
    color: #F55122;
    text-decoration:line-through ;
    margin-left: 2rem;
}
.three_span{
    font-size: .8rem;
    color: #999;
    margin-left: 2rem;
    padding-top: 1rem;
}
.footer_settlement {
    background-color: white;
    height: 3rem;
    border-top:2px solid #C2C2C2;
    padding-top: 1rem;
}
.footer_settlement button{
    width: 7rem;
    height: 3.1rem;
    background-color: white;
    border: 1px solid #53A8F4;
    font-size: 1rem;
    /*margin-left: 1rem;*/
    /*margin-top: -1rem!important;*/
    position: relative;
    top:-.6rem;
    left: 2rem;

}
.primary_btn{
    background-color: #53A8F4!important;
    color: white!important;
    margin-left: 1rem;
>>>>>>> Stashed changes
}