.location_city{
    width: auto;
    height: 4.1rem;
    padding: 0 1.2rem;
    background-color: white;
}
.location_city_span{
    margin-left: 10.5rem;
    font-size: 1.4rem;
    line-height: 4.1rem;
}
.details_city{
    height: 4.1rem;
    background-color: white;
    width: auto;
    margin-top: 1rem;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    padding: 0 1rem;
}
.details_city span,p,button{
    font-size: 1.4rem;
    line-height: 3.8rem;
}
.details_city p{
    display: inline-block;
    margin-left: 1rem;
    color: #A9A9A9;
}
.details_city button{
    border: none;
    width: auto;
    background: white;
    color: #5677FC;
    margin-left:8rem;
}
.choose_city{
    width: 30rem;
    height: 4.1rem;
    background-color:#738ffe;
    margin-left: 1rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    margin-top: 2rem;
    color: white;
}
.specific_position{
    width: 32rem;
    height: 15rem;
    background-color: white;
    margin-top: 26rem;
}
.specific_position div:first-child span{

}