<div class="withdraw_manage">
    <p><span>今日入账：{{all_cash.orders_today | currency:'￥'}}</span></p>
    <div class="search form-inline clearfix">
            <select ng-model="params.time_type" ng-options="item.value as item.name for item in time_types" ng-change="getRecordList()" class="form-control"></select>
            <input ng-if="params.time_type == 'custom'" ng-model="params.time_start" id="start_time" max-date="{{params.time_end}}" class="form-control" ng-change="getRecordList()" placeholder="开始时间" type="text" ngc-lay-date>
            <input ng-if="params.time_type == 'custom'" ng-model="params.time_end" id="end_time" min-date="{{params.time_start}}" class="form-control" ng-change="getRecordList()" placeholder="结束时间" type="text" ngc-lay-date>
        <div class="form-group pull-right">
            <div class="input-group">
                <input class="form-control" ng-model="vm.keyword" placeholder="搜索订单号、商家名称或商家编号" type="text">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <button class="btn btn-default" ng-click="inquire()">查询</button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>付款时间</th>
            <th>付款金额</th>
            <th>商品名称</th>
            <th>订单号</th>
            <th>商家名称</th>
            <th>商家编号</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in recorded_list">
            <td>{{item.paytime}}</td>
            <td>{{item.amount_order}}</td>
            <td>{{item.goods_name}}</td>
            <td>{{item.order_no}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.shop_no}}</td>
            <td><a ui-sref="order_details({orderNo: item.order_no, sku: item.sku})">查看</a></td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
</div>