<div class="withdraw_manage">
    <p><span style="margin-right: 10px;">今日已提现：{{cash_data.cashes_today | currency:'￥'}}</span><span style="margin-right: 10px;">已处理提现：{{cash_data.payed_cashes_count}}</span><span>未处理提现：{{cash_data.not_payed_cashes_count}}</span></p>
    <div class="search form-inline clearfix">
            <select ng-model="params.time_type" ng-options="item.value as item.name for item in time_types" ng-change="getMallList(1)" class="form-control"></select>
            <input ng-if="params.time_type == 'custom'" ng-model="params.time_start" ng-change="getMallList(1)" max-date="{{params.time_end}}" id="start_time" class="form-control" placeholder="开始时间" type="text" ngc-lay-date>
            <input ng-if="params.time_type == 'custom'" ng-model="params.time_end" ng-change="getMallList(1)" min-date="{{params.time_start}}" id="end_time" class="form-control" placeholder="结束时间" type="text" ngc-lay-date>
        <span>状态选择</span>
            <select  class="form-control" ng-model="params.status" ng-change="getMallList()" ng-options="item.num as item.status for item in all_status"></select>
        <div class="form-group pull-right">
            <div class="input-group">
                <input class="form-control" ng-model="vm.keyword" placeholder="搜索商家名称或商家编号" type="text">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <button class="btn btn-default" ng-click="inquire()">查询</button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>申请时间</th>
            <th>处理时间</th>
            <th>申请金额</th>
            <th>实到账金额</th>
            <th>扣除费用</th>
            <th>状态</th>
            <th>商家名称</th>
            <th>商家编号</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in withdraw_list">
            <td>{{item.apply_time}}</td>
            <td ng-if="item.handle_time!=''">{{item.handle_time}}</td>
            <td ng-if="item.handle_time==''">-</td>
            <td>{{item.cash_money}}</td>
            <td>{{item.real_money}}</td>
            <td>{{item.lost_money}}</td>
            <td>{{item.status}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.shop_no}}</td>
            <td><a ui-sref="mall_withdraw_manage_detail({transaction_no:item.transaction_no})">查看</a></td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
</div>