<div class="withdraw_list">
    <div class="row">
        <div class="col-md-2">
            <select ng-model="params4.time_type" ng-options="item.str as item.name for item in time_type" ng-change="getWithdrawList()" class="form-control"></select>
        </div>
        <div class="col-md-2">
            <input ng-if="params4.time_type == 'custom'" ng-model="params.start_time" id="start_time" ng-change="getWithdrawList()" class="form-control" max-date="{{params.end_time}}" placeholder="开始时间" type="text" ngc-lay-date>
        </div>
        <div class="col-md-2">
            <input ng-if="params4.time_type == 'custom'" ng-model="params.end_time" id="end_time" ng-change="getWithdrawList()" min-date="{{params.start_time}}" class="form-control" placeholder="结束时间" type="text" ngc-lay-date>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>申请时间</th>
            <th>申请金额</th>
            <th>实到账金额</th>
            <th>扣除费用</th>
            <th>交易单号</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in withdraw_list">
            <td>{{item.apply_time}}</td>
            <td>{{item.cash_money}}</td>
            <td>{{item.real_money}}</td>
            <td>{{item.cost_money}}</td>
            <td>{{item.transaction_no}}</td>
            <td style="color: #5677FC;" ng-click="go_withdraw_detail(item)">查看</td>
        </tr>
    </table>
    <tm-pagination conf="Config4"></tm-pagination>
</div>