<div class="account_detail">
    <form novalidate name="account_detail">
    <div class="row">
        <p class="col-md-1">商家名称</p>
        <p class="col-md-11">{{all_withdraw_detail.supplier_name}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">开户银行</p>
        <p class="col-md-11">{{all_withdraw_detail.bank_name}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">银行账号</p>
        <p class="col-md-11">{{all_withdraw_detail.card_no}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">开户行所在地</p>
        <p class="col-md-11">{{all_withdraw_detail.position}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">开户所在支行</p>
        <p class="col-md-11">{{all_withdraw_detail.bank_branch}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">开户名</p>
        <p class="col-md-11">{{all_withdraw_detail.username}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">提现金额</p>
        <p class="col-md-11">{{all_withdraw_detail.cash_money}}</p>
    </div>
    <div class="row">
        <p class="col-md-1">申请时间</p>
        <p class="col-md-11">{{all_withdraw_detail.apply_time}}</p>
    </div>
    <div style="margin-top: 20px;" ng-if="cur_status!='提现中'">
        <div class="row">
            <p class="col-md-1">实到帐金额</p>
            <p class="col-md-11">{{all_withdraw_detail.real_money | currency:'￥'}}</p>
        </div>
        <div class="row">
            <p class="col-md-1">扣除费用</p>
            <p class="col-md-11">{{all_withdraw_detail.lost_money | currency:'￥'}}</p>
        </div>
        <div class="row">
            <p class="col-md-1">状态</p>
            <p class="col-md-11">{{all_withdraw_detail.status}}</p>
        </div>
        <div class="row">
            <p class="col-md-1">处理时间</p>
            <p class="col-md-11">{{all_withdraw_detail.handle_time}}</p>
        </div>
        <div class="row">
            <p class="col-md-1">交易单号</p>
            <p class="col-md-11">{{all_withdraw_detail.transaction_no}}</p>
        </div>
        <div class="row">
            <p class="col-md-1">备注</p>
            <p class="col-md-11">{{all_withdraw_detail.supplier_reason}}</p>
        </div>
    </div>
    <div style="margin-top: 20px;" ng-if="cur_status=='提现中'">
        <div class="row">
            <p class="col-md-1">选择处理方式</p>
            <p class="col-md-1">
                <select class="form-control" ng-model="ctrlScope.cur_deal_style" ng-options="item.name for item in deal_style"></select>
            </p>
            <p class="col-md-10"></p>
        </div>
        <div class="row" ng-if="cur_deal_style.name=='提现'">
            <p class="col-md-1">实到帐金额</p>
            <p class="col-md-2">
                <input type="text" name="cur_account_money" ng-model="ctrlScope.cur_account_money" required
                       ng-blur="flag = !!account_detail.cur_account_money.$error"
                       class="form-control" placeholder="请输入实到帐金额"
                       ng-pattern="/^0.[1-9]\d?$|^0.0\d$|^[1-9]\d{0,}(.\d{1,2})?$/"
                ng-class="{'error':(account_detail.cur_account_money.$invalid&&submitted)||
                (cur_deal_style.name=='提现'&&(account_detail.cur_account_money.$error.required||account_detail.cur_account_money.$error.pattern)&&flag)}">
            </p>
            <p class="col-md-9">元</p>
        </div>
        <div class="row" ng-if="cur_deal_style.name=='提现'">
            <p class="col-md-1">扣除费用</p>
            <p class="col-md-2">{{no_money}}</p>
            <p class="col-md-9">元</p>
        </div>
        <div class="row">
            <p class="col-md-1">备注</p>
            <p class="col-md-5">
                <textarea ng-model="ctrlScope.withdraw_remark" cols="40" rows="8" class="form-control"></textarea>
            </p>
            <p class="col-md-6"></p>
        </div>
    </div>
    <div class="from-group submit">
        <button class="remove" ng-if="cur_status=='提现中'" type="button" ng-click="save_withdraw_detail(account_detail.$valid)">确认</button>
        <button type="button" ng-click="go_prev()">返回</button>
    </div>
    </form>
</div>