<div class="withdraw_list">
    <div class="search form-inline clearfix">
            <select ng-model="params.time_type" ng-options="item.value as item.name for item in time_types" ng-change="getWithdrawList()" class="form-control"></select>
            <input ng-if="params.time_type == 'custom'" ng-model="params.start_time" max-date="{{params.end_time}}" id="start_time" ng-change="getWithdrawList()" class="form-control" max-date="{{params.end_time}}" placeholder="开始时间" type="text" ngc-lay-date>
            <input ng-if="params.time_type == 'custom'" ng-model="params.end_time" min-date="{{params.start_time}}" id="end_time" ng-change="getWithdrawList()" min-date="{{params.start_time}}" class="form-control" placeholder="结束时间" type="text" ngc-lay-date>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>申请时间</th>
            <th>申请金额</th>
            <th>实到账金额</th>
            <th>扣除费用</th>
            <th>交易单号</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in withdraw_list">
            <td>{{item.apply_time}}</td>
            <td>{{item.cash_money}}</td>
            <td>{{item.real_money}}</td>
            <td>{{item.cost_money}}</td>
            <td>{{item.transaction_no}}</td>
            <td><a ui-sref="mall_withdraw_detail({id:item.id,supplier_id:supplier_id})">查看</a></td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
</div>