<div class="withdraw_manage">
    <p><span>今日已提现：{{all_cash_data.cashes_today | currency:'￥'}}</span><span>已处理提现：{{all_cash_data.payed_cashes_count}}</span><span>未处理提现：{{all_cash_data.not_payed_cashes_count}}</span></p>
    <div class="row">
        <div class="col-md-2">
            <select ng-model="params.time_type" ng-options="item.str as item.name for item in time_type" ng-change="getWithdraw()" class="form-control"></select>
        </div>
        <div class="col-md-2">
            <input ng-if="params.time_type == 'custom'" ng-model="params.time_start" ng-change="getWithdraw()" max-date="{{params.time_end}}" id="start_time" class="form-control" placeholder="开始时间" type="text" ngc-lay-date>
        </div>
        <div class="col-md-2">
            <input ng-if="params.time_type == 'custom'" ng-model="params.time_end" ng-change="getWithdraw()" min-date="{{params.time_start}}" id="end_time" class="form-control" placeholder="结束时间" type="text" ngc-lay-date>
        </div>
        <p class="col-md-1 text-right" style="margin: 8px 0 12px !important;">状态选择</p>
        <div class="col-md-2">
            <select  class="form-control" ng-model="params.status" ng-change="getWithdraw()" ng-options="item.num as item.name for item in withdraw_status"></select>
        </div>
        <button class="pull-right" ng-click="get_withdraw_list()">查询</button>
        <div class="col-md-2 pull-right">
            <input class="form-control" ng-model="ctrlScope.keyword" placeholder="搜索商家名称或商家编号" type="text">
        </div>
    </div>
    <table class="table">
        <tr>
            <th>申请时间</th>
            <th>处理时间</th>
            <th>申请金额</th>
            <th>实到账金额</th>
            <th>扣除费用</th>
            <th>状态</th>
            <th>商家名称</th>
            <th>商家编号</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in shop_withdraw_list">
            <td>{{item.apply_time}}</td>
            <td ng-if="item.handle_time!=''">{{item.handle_time}}</td>
            <td ng-if="item.handle_time==''">-</td>
            <td>{{item.cash_money}}</td>
            <td>{{item.real_money}}</td>
            <td>{{item.lost_money}}</td>
            <td>{{item.status}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.shop_no}}</td>
            <td style="color: #5677FC;" ng-click="go_withdraw_manageDetail(item)">查看</td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <!--<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" force-ellipses="true"></uib-pagination>-->
    <!--<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></uib-pagination>-->
    <div class="modal fade" id="remarks" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title text-left">备注</h4>
                </div>
                <div class="modal-body row">
                    <p class="col-md-3">备注(选填)</p>
                    <textarea  ng-model="cur_item.remark" class="col-md-9" placeholder="请填写备注项" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="other_btn" ng-click="edit_remarks()" data-dismiss="modal">确认</button>
                    <button type="button" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>