.clickstyle{
    color: #3F94F6!important;
    border-bottom: 1px solid #3F94F6!important;
}
.series_btn{
    margin-bottom: 20px;
}
/*系列管理按钮组*/
.btn_right{
    margin-right: 10px;
}
/*系列管理表格*/
/*表格部分*/
.color_blue{
    color: #5677FC!important;
}
.color_skyblue{
    color:#03A9F4!important;
}
.color_red{
    color: #FF5722!important;
}




