<form class="form-horizontal" role="form">
    <div class="form-group">
        <span class="col-md-2 control-label">商家所属分类</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.category"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">店铺名称</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.shop_name"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">店铺类型</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.shop_type"></span>
        </div>
    </div>

    <div class="form-group" ng-if="detail.review_status == 2">
        <span class="col-md-2 control-label">店铺号</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.shop_no"></span>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <span class="col-md-2 control-label">公司名称</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.name"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">社会信用代码/注册号</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.licence"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">单位类型</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.type_org"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">营业执照</span>
        <div class="col-md-10 form-control-static">
            <img class="pic-style" ng-src="detail.licence_image" alt="营业执照">
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <span class="col-md-2 control-label">法人名称</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.legal_person"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">法人身份证号</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.identity_no"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">法人身份证正面</span>
        <div class="col-md-10 form-control-static">
            <img class="pic-style" ng-src="detail.identity_card_front_image" alt="法人身份证正面">
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">法人身份证反面</span>
        <div class="col-md-10 form-control-static">
            <img class="pic-style" ng-src="detail.identity_card_back_image" alt="法人身份证反面">
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <span class="col-md-2 control-label">绑定手机</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.mobile"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">魔方号</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.aite_cube_no"></span>
        </div>
    </div>

    <div class="form-group">
        <span class="col-md-2 control-label">申请时间</span>
        <div class="col-md-10 form-control-static">
            <span ng-bind="detail.review_apply_time"></span>
        </div>
    </div>

    <hr/>

    <!--待审核 显示-->
    <div ng-if="!detail.review_status">
        <div class="form-group">
            <span class="col-md-2 control-label">审核状态</span>
            <div class="col-md-2 form-control-static">
                <select class="form-control" ng-model="params.status">
                    <option value="2">通过</option>
                    <option value="1">不通过</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">审核备注</span>
            <div class="col-md-8 form-control-static">
                <textarea class="form-control" rows="5" ng-model="params.review_remark"
                          placeholder="请填写不通过/通过原因"></textarea>
            </div>
        </div>

    </div>

    <!--审核通过/不通过 显示-->
    <div ng-if="detail.review_status">
        <div class="form-group">
            <span class="col-md-2 control-label">审核状态</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="detail.review_status==1?'不通过':'通过'"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">审核备注</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="detail.review_remark"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">审核时间</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="detail.review_time"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">操作人</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="detail.reviewer_name"></span>
            </div>
        </div>
    </div>


    <div class="btns">
        <button class="btn btn-primary" ng-if="!detail.review_status" ng-click="verifyHandle()">确认</button>
        <button class="btn btn-default" ng-click="backPage()">返回</button>
    </div>
</form>

<div class="modal fade" tabindex="-1" role="dialog" id="handle-success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>审核成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="backPage('modal')">确认
                </button>
            </div>
        </div>
    </div>
</div>