<link rel="stylesheet" href="pages/mall_manage/brand_manage/add_brand/css/add_brand.css">
<div ng-controller="addbrand">
    <!--顶部导航-->
    <div class="topnav">
        <span class="glyphicon glyphicon-certificate"></span>
        <h6>商城管理</h6>
        <h6>> 品牌管理</h6>
        <h6>> 添加品牌 </h6>
    </div>

    <!--内容-->
    <div class="onine_edit_content">
        <!--NG表单-->
        <form name="add_brand_form" novalidate>
        <!--品牌名称-->
        <div class="company_type">
            <span class="glyphicon glyphicon-asterisk red_mark"></span>
            <span>品牌名称</span>
            <input required name="brand_title" id="brand_title" maxlength="10"  ng-class="{'border_red':(add_brand_form.brand_title.$invalid &&submitted)||(add_brand_form.brand_title.$error.required && title_blur)}" ng-blur="title_blur=!!add_brand_form.brand_title.$error" type="text"  ng-model="brand_name_model" placeholder="请输入品牌名称">
            <span id="limitword">*限1~10个字符</span>
            <p class="red_mark" ng-if="myng.brand_name_flag">
                <span class="glyphicon glyphicon-asterisk"></span>
                该品牌名称已存在，请重新填写
            </p>
        </div>

        <hr id="firsthr">

        <!--商品注册证-->
        <div class="brand_register">
            <span class="glyphicon glyphicon-asterisk red_mark"></span>
            <span>上传商标注册证</span>
            <div class="pic_right">
                <img ng-if="!!upload_img_src" ng-src="{{baseUrl + '/'+ upload_img_src}}"/>
                <img ng-if="!upload_img_src" src="pages/mall_manage/brand_manage/add_brand/image/default.png"/>
                <p>图片大小5M内，支持JPG、PNG、JPEG</p>
                <div ngf-pattern="image/*" ng-change="upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">
                    <span>上传</span>
                </div>
                <p class="red_mark warning" ng-if="!!img_flag">
                    <span class="glyphicon glyphicon-asterisk red_mark"></span>
                    {{img_flag}}
                </p>
            </div>
        </div>

        <!--品牌LOGO-->
        <div class="brand_register brand_logo">
            <span class="glyphicon glyphicon-asterisk red_mark"></span>
            <span>上传品牌LOGO</span>
            <div class="pic_right">
                <img ng-if="!!upload_logo_src" ng-src="{{baseUrl + '/'+ upload_logo_src}}"/>
                <img ng-if="!upload_logo_src" src="pages/mall_manage/brand_manage/add_brand/image/default.png"/>
                <p>图片大小5M内，支持JPG、PNG、JPEG</p>
                <div ngf-pattern="image/*" ng-change="upload_logo(logo_data.file)"  ngf-select="" ngf-multiple="false" ng-model="logo_data.file">
                    <span>上传</span>
                </div>
                <p class="red_mark warning" ng-if="!!img_logo_flag">
                    <span class="glyphicon glyphicon-asterisk red_mark"></span>
                    {{img_logo_flag}}
                </p>
            </div>
        </div>

        <hr id="sechr">

        <!--选择品牌所在分类-->
        <div class="ulright">
            <div  class="right_div">
                <span class="glyphicon glyphicon-asterisk red_mark"></span>
                <span>选择品牌所在分类</span>
            </div>
            <div class="left_div">
            <!--一级-->
            <ul>
                <li ng-repeat="n in details track by $index" ng-class="{'active':oneColor== n}" ng-click="getMore (n)">
                    {{n.title}}
                </li>
            </ul>

            <!--二级-->
            <ul >
                <!--ng-click="getMoreThree (n.id)"-->
                <li ng-repeat=" n in second track by $index" ng-class="{'active':twoColor== n}" ng-click="getMoreThree (n)">
                    {{n.title}}
                </li>
            </ul>

            <!--三级-->
            <ul class="thirdul">
                <li ng-repeat="n in three track by $index" ng-class="{'active':threeColor==n}">
                    <input type="checkbox" ng-click="check_item(n)" ng-model="n.complete">
                    {{n.title}}
                </li>
                <!--<li><input type="checkbox">墙面附着剂</li>-->
            </ul>
            <!--添加的三级-->
            <ul class="lastul">
                <li ng-repeat="item in item_check track by $index">
                    {{item.title}}
                    <img ng-click="delete_item(item)" src="pages/mall_manage/style_manage/choose_series/image/close.png" alt="">
                </li>
            </ul>
                <p class="warning red_mark " ng-if="!!sort_check">
                    <i class="glyphicon glyphicon-asterisk red_mark"></i>
                    <span>请至少选择一个分类</span>
                </p>
            </div>
        </div>
        <!--按钮组-->
        <div class="btn_sure">
            <button class="btn btn-primary" ng-click="add_brand_ok(add_brand_form.$valid,add_brand_form.$error.required)">确认</button>
            <button class="btn btn-default btn_left" ui-sref="brand_index({down_flag:true})">返回</button>
        </div>
        </form>
    </div>
    <!--确认添加模态框-->
    <div class="modal fade" id="down_add_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    添加成功
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary " data-dismiss="modal" ng-click="saveonline()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>