<link rel="stylesheet" href="pages/account_manage/account_comment/css/operation_record.css"/>
<div ng-controller="operation_record_ctrl">
    <!--<header>-->
        <!--<div>-->
            <!--<i class="glyphicon glyphicon-home"></i>-->
            <!--<span class="shop_manage" ui-sref="account_index">账户管理 ></span>-->
            <!--<span class="shop_manage" ng-click="getBack ()">账户管理详情 ></span>-->
            <!--<span class="manage_child">过往操作记录</span>-->
            <!--<img src="pages/mall_manage/merchant_manage/merchant_comment/images/user.png" alt=""/>-->
        <!--</div>-->
    <!--</header>-->
    <section>
        <div class="table_div">
            <table class="table table-condensed">
                <tr>
                    <th>绑定手机号</th>
                    <th>时间
                        <img ng-show=flag ng-click="changePic ()"  src="pages/account_manage/account_comment/images/mall_arrow_up.png" alt=""/>
                        <img ng-show=strat ng-click="changePicse ()"  src="pages/account_manage/account_comment/images/mall_filter_sor.png" alt=""/>
                    </th>
                    <th>操作人员</th>
                    <th>操作后状态</th>
                    <th>关闭原因</th>
                </tr>
                <tr ng-repeat=" n in past_record">
                    <td>{{n.mobile}}</td>
                    <td>{{n.create_time}}</td>
                    <td>{{n.op_username}}</td>
                    <td>关闭</td>
                    <td><input type="text" data-toggle="modal" ng-click="getRemark (n.remark)"
                               data-target=".bs-example-modal-lg" placeholder="{{n.remark}}"/></td>
                </tr>

            </table>
            <!--分页开始-->
            <tm-pagination conf="Config"></tm-pagination>
            <!--分页结束-->
        </div>

        <div class="btn_back">
            <button ng-click="getBack ()">返回</button>
        </div>
        <!--模态框-->

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <h4>关闭原因</h4>
                    <hr/>
                    <span style="margin-left: 20px">关闭原因(选填)</span>
                    <div class="model_div">

                        <span>{{remark}}</span>
                    </div>
                    <button class="btn_right" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </section>
</div>
