<div ng-controller="account_comment_ctrl">
    <section>
        <div class="shop_name">
            <span>基本信息</span>
        </div>
        <!--信息-->
        <div class="shop_img_more">
            <span>头像</span>
            <img src="{{icon}}" alt=""/>
        </div>

        <!--昵称-->
        <div class="shop_name">
            <span>昵称</span>
            <span>{{nickname}}</span>
        </div>
        <!--曾用昵称-->
        <div class="shop_more">
            <span>曾用昵称</span>
            <span>{{old_nickname}}</span>
        </div>
        <!--地区-->
        <div class="shop_name">
            <span>地区</span>
            <span>{{district_name}}</span>
        </div>
        <!--出生年月日-->
        <div class="shop_time">
            <span>出生年月日</span>
            <span>{{birthday}}</span>
        </div>
        <!--个性签名-->
        <div class="shop_more">
            <span>个性签名</span>
            <span>{{signature}}</span>
        </div>
        <hr/>

        <!--注册信息-->
        <div >
            <span>注册信息</span>
        </div>
        <!--绑定手机号-->
        <div class="shop_num">
            <span>绑定手机号</span>
            <span>{{mobile}}</span>
            <!--<span>{{id}}</span>-->
            <button><a ui-sref="change_num({icon,nickname
          ,old_nickna,district_name,birthday,
          signature,mobile,aite_cube_no,
          create_time,names,review_status_desc,
          status,id,status_remark,status_operator,a})">更换</a></button>
            <span><a ui-sref="bind_record({icon,nickname
          ,old_nickna,district_name,birthday,
          signature,mobile,aite_cube_no,
          create_time,names,review_status_desc,
          status,id,status_remark,status_operator,a})">过往绑定记录</a></span>
        </div>
        <!--魔方号-->
        <div class="shop_m">
            <span>魔方号</span>
            <span>{{aite_cube_no}}</span>
        </div>
        <!--注册时间-->
        <div class="shop_more">
            <span>注册时间</span>
            <span>{{create_time}}</span>
        </div>
        <hr/>
        <!--角色信息-->
        <div>
            <span>角色信息</span>
        </div>
        <!--业主-->
        <div class="shop_name">
            <span>{{names}}</span>
            <!--<span>商城商家</span>-->
        </div>
        <hr/>
        <!--实名认证-->
        <div>
            <span>实名认证</span>
        </div>
        <!--已认证-->
        <div class="yes_no">
            <span ng-click="goJump ()">
                {{review_status_desc}}
            </span>

        </div>
        <hr/>
        <!--账户状态-->
        <div>
            <span>账户状态</span>

        </div>
        <div class="flag">
            <span>正常</span>
            <span> <a ui-sref="operation_record({icon,nickname
          ,old_nickna,district_name,birthday,
          signature,mobile,aite_cube_no,
          create_time,names,review_status_desc,
          status,id,status_remark,status_operator,a})">过往操作记录</a></span>
        </div>
        <div ng-if="a" class="last_div">
            <span>操作人员</span>
            <span>{{status_operator}}</span> <br/> <br/>
            <span>关闭原因</span>
            <span>{{status_remark}}</span>
        </div >
        <!--按钮-->
            <button class="btn btn-default" ng-click="back_page()">返回</button>
    </section>
</div>