<div ng-controller="bind_record_ctrl">
    <section>
        <div class="table_div">
            <table class="table table-condensed">
                <tr>
                    <th>绑定手机号</th>
                    <th>时间
                        <img ng-show=flag ng-click="changePic ()"  src="pages/account_manage/account_comment/images/mall_arrow_up.png" alt=""/>
                        <img ng-show=strat ng-click="changePicse ()"  src="pages/account_manage/account_comment/images/mall_filter_sor.png" alt=""/>
                    </th>
                    <th>操作人员</th>
                </tr>
                <tr ng-repeat=" n in past_record">
                    <td>{{n.mobile}}</td>
                    <td>{{n.create_time}}</td>
                    <td>{{n.op_username}}</td>
                </tr>
            </table>
        </div>
        <!--按钮-->

        <!--分页开始-->
        <tm-pagination conf="Config"></tm-pagination>
        <!--分页结束-->
        <div class="btn_back">
            <button ng-click="getReturn ()">返回</button>
        </div>
    </section>
</div>
