.form-horizontal .control-label{
  text-align:left;
}
/*公用CSS样式 开始*/
#shop_num_null,#shop_num_null2{
  border:1px solid red;
  margin-bottom: 10px;
  height: 34px;
  line-height: 34px;
  background-color: #FFF2F2;
  color: #E82A2A;
  border-radius: 4px;
}
.shop_left{
  margin-left: 10px;
  font-weight: bold;
}
.shop_get_sku{
  position: relative;
  z-index: 9999;
}
#show_img_size{
  width: 30px;
  height: 30px;
}
.img_sort_size{
  width: 10px;
  height: 16px;
}
.img_box{
  width: 167px;
  height: 144px;
  overflow: hidden;
}
.img_width{
  width: 100%;
}
.bottom_blue{
  color:#3F94F6;
  border-bottom: 1px solid #3F94F6;
}
.head_nav_font_weight{
  font-weight: bold;
}
.gray{
  color: #cccccc;
}
.btn_top{
  margin-top: 10px;
}
.yesGreen{
  color: #92C661!important;
}
.noRed{
  color:#E6594D!important;
}
.red{
  color: red;
  margin-right: 3px;
}
.blue{
  color: #3F94F6;
}
.still{
  background-color: #F0F0F0!important;
}
.ellipsis{
  word-break: keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/*公用CSS样式 结束*/

.city{
  margin-bottom: 20px;
}

.citySelect{
  padding: 6px 10px 10px 18px;
  font-size: 12px;
  color: #666F80;
  border-radius: 3px;
  border: 1px solid #BFC0C2;
}
.formDiv{
  display: inline-block;
}
/*选项卡内容*/
.table{
  table-layout:fixed;
}
.tab_history{
  line-height: 34px;
  font-size: 12px;
}

/*Table内容-*/
.tab_class{
  margin-bottom: 20px;
}

/*添加模态框*/
.modal_tab{
  height: 50px;
}
.modal_tab>span{
  display: inline-block;
  text-align: center;
  width: 62px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
#modal_img,#modal_img2,#modal_link_img,#modal_link_img2,#modal_edit_link_img,#modal_edit_link_img2{
  display: inline-block!important;
  max-width: 240px!important;
  max-height: 140px!important;
  border: 1px solid #ccc;
}
.modal_red{
  color:red;
}
.img_txt{
  padding-left: 15px;
}

.border_red{
  border:1px solid red!important;
}