<link rel="stylesheet" href="pages/mall_manage/style_manage/edit_attribute/css/edit_attribute.css">
<div ng-controller="edit_attribute_ctrl">
    <header>
        <div>
            <i class="glyphicon glyphicon-home"></i>
            <span class="shop_manage">商城管理</span>
            <span class="shop_manage">>系列/风格/属性管理</span>
            <span class="commodity_manage">>属性管理详情</span>
            <img src="pages/mall_manage/style_manage/edit_attribute/images/user.png" alt=""/>
        </div>
    </header>
    <section>
        <div class="top_title">
            <span style="margin-right: 80px">分类名称</span>
            <span ng-bind="titles"></span>
        </div>
        <hr>
        <div class="add_box">
            <span class="add" ng-click=selectAdd()>下拉添加</span>
            <span class="add" ng-click="generalAdd()">普通添加</span>
        </div>
        <!--属性设置-->
        <div class="margin_top">
            <table>
                <tr ng-if="propattrs.length">
                    <td style="padding-right: 90px">属性设置</td>
                    <td style="text-align: center">属性名称</td>
                    <td>属性内容</td>
                    <td>单位</td>
                </tr>

                <form name="attr_form" novalidate action="">
                <tr ng-repeat="item in propattrs">
                    <td>&nbsp;</td>
                    <td class="padding_right">
                        <span >
                          <img src="pages/mall_manage/style_manage/edit_attribute/images/red.png" alt="">
                           <i class="glyphicon glyphicon-minus" ng-click=deleteTr($index)></i>
                        </span>
                        <input type="text" class="input_one" ng-model="item.name" maxlength=6 required ng-blur=checkname(item.name,$index) ng-class={warningred:$index==temp&&iswarning==true}>
                    </td>
                    <td class="padding_right">
                        <input type="text" class="normal_input" ng-model="item.value" disabled=disabled ng-if="item.addition_type==0">
                        <input type="text" class="normal_input" ng-model="item.value" ng-if="item.addition_type==1" ng-class={warningred:$index==tempcontent&&iswarningcontent==true} ng-blur=checkContent(item.value,$index)>
                    </td>
                    <td class="padding_right">
                        <select name="" class="select_css" ng-options="op.unit for op in unitarrs" ng-model="item.cur_unit" ng-change=aiya(item.cur_unit.unit)></select>
                        <span class="attr_font">*属性名称限1~6个字，属性内容以逗号隔开</span>
                    </td>
                </tr>
                </form>
            </table>
        </div>
        <!--保存 返回-->
        <div class="bottom">
            <span class="bg_blue" ng-click=saveProp()>保存</span>
            <span ui-sref='style_index({showattr:true})'>返回</span>
        </div>
    </section>
</div>