/*表单内容*/
* {
    outline: none;
}

.add_store_content {
    font-size: 14px;
    color: #666F80;
}

.sel_group {
    display: inline-block;
    margin-left: 59px;
}

.sel_group select {
    width: 106px;
    height: 31px;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 31px;
}

#sec_select, #third_select {
    margin-left: 9px;
}

/*单位类型*/
.company_type {
    font-size: 14px;
    color: #666F80;
    margin-top: 24px;
}

.company_type select {
    width: 245px;
    height: 31px;
    margin-left: 87px;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 31px;
}

/*店铺名称*/
.red_mark {
    color: red;
    margin-left: -17px;
}

.company_type input {
    margin-left: 87px;
    width: 245px;
    height: 31px;
    margin-left: 87px;
    border: 1px solid #999;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 31px;
}

.company_type p {
    font-size: 12px;
    margin-left: 164px;
    margin-top: 5px;
}

/*是否支持无登录购买*/
.without_log_buy {
    margin-top: 24px
}

.radiogroup {
    margin-left: 17px;
}

/*分割线*/
hr {
    margin-top: 32px !important;
    margin-bottom: 27px !important;
}

/*公司名称*/
#companyname {
    margin-left: 55px;
}

/*社会信用代码*/
#registercode {
    margin-left: 13px;
}

/*上传营业执照*/
.cla_pic {
    height: 220px;
    margin-top: 8px;
}

.upload_pic {
    display: inline;
}

#cla_pic_uploadpic {
    position: relative;
    top: 46px;
    width: 120px;
    left: 58px;
}

.upload_tishi {
    font-size: 12px;
}

.upload_pic h6 {
    font-size: 12px;
    width: 300px;
    color: #BFC0C2;
    position: relative;
    top: 46px;
    left: 148px;
}

.upload {
    width: 300px;
    position: relative;
    top: 43px;
    left: 172px;
}

#upload_btn {
    width: 67px;
    height: 24px;
    border: 1px solid #BFC0C2;
    border-radius: 3px;
    padding-left: 5px;
    margin-left: -24px;
    line-height: 24px;
    font-size: 12px;
    color: #BFC0C2;
    background-color: white;
}

.reload_tishi {
    width: 300px;
    font-size: 12px;
    color: red;
    position: relative;
    top: 49px;
    left: 162px;
}

/*登录账户*/
.login_account {
    margin-top: 38px;
}

/*法人身份证号*/
#idcard {
    margin-left: 59px;
}

#idfront {
    position: relative;
    top: 46px;
    width: 120px;
    left: 18px;
}

#idback {
    position: relative;
    top: 46px;
    width: 120px;
    left: 18px;
}

/*默认法人身份证号*/
.default_company_type span:last-child {
    margin-left: 60px;
}

/*默认法人身份证*/
.default_cla_pic {
    margin-top: 24px;
}

.default_cla_pic img {
    vertical-align: top;
    margin-left: 20px;
}

/*底部按钮*/
.btns {
    margin-top: 93px;
    margin-left: 146px;
}

.tored {
    border: 1px solid red !important;
}

.picstyle {
    height: 120px !important;
}

.warningred {
    color: red;
}

.mar_left {
    margin-left: 87px;
}


