/*品牌管理详情页的所在品牌级别的样式*/
.now_sort_box{
    clear: both;
    width: 750px;
    overflow: hidden;
    height: auto;
    /*background-color: #1094fa;*/
}
.now_sort_line{
    width: 750px;
    height: 1px;
    background-color: #E6E9F0;
}
.now_sort{
    width: 250px;
    height: auto;
    font-size: 14px;
    line-height: 30px;
}
.brand_icon{
    height: 820px;
    margin-bottom: 15px;
}
/*品牌管理的选择分类的样式*/
.brand_outbox{
    width: 150px;
    padding-left: 10px;
    margin-right: 8px;
    height: 405px;
    overflow: auto;
    border:1px solid #8d9199;
    /*background-color: #008200;*/
}
.brand_outbox .rank_first,.brand_outbox  .rank_second{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color:#8d9199;
    border-bottom: 1px solid #E6E9F0;
}
.three_brand_outbox {
    width: 150px;
    min-width: 150px;
    padding-left: 30px;
    margin-right: 8px;
    height: 405px;
    border:1px solid #8d9199;
}
.rank_three{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color:#8d9199;
    position: relative;
    border-bottom: 1px solid #E6E9F0;
}
.rank_three .choose{
    position: absolute;
    top:8px;
    left:-23px;
}
.selected{
    width: 135px;
    margin-right: 8px;
    height: 395px;
    overflow: auto;
    border:1px solid #8d9199;
    padding:0 25px 10px 25px;
}
.rank_now{
    width: 125px;
    height: 36px;
    padding-left: 10px;
    margin-top: 10px;
    line-height: 36px;
    position: relative;
    color:#5677FC;
    border:1px solid #5677FC;
}
.rank_now:last-child{
    margin-bottom: 10px;
}
.rank_now>.delete_btn{
    position: absolute;
    top:0;
    right: 10px;
    cursor: pointer;

}