<link rel="stylesheet" href="pages/mall_manage/style_manage/choose_style/css/choose_style.css">
<div ng-controller="choose_style">
    <!--顶部导航-->
    <div class="topnav">
        <span class="glyphicon glyphicon-certificate"></span>
        <h6>商城管理</h6>
        <h6>> 系列/风格/属性管理 </h6>
        <h6>> 选择拥有风格的分类 </h6>
    </div>

    <!--内容-->
    <div class="choose_series_content">
        <p>选择拥有风格的分类</p>

        <!--四个ul-->
        <div class="ulright">
            <!--一级-->
            <ul>
                <li ng-repeat="n in details track by $index" ng-class="{'active':oneColor== n}" ng-click="getMore (n)">
                    {{n.title}}
                </li>
            </ul>

            <!--二级-->
            <ul >
                <!--ng-click="getMoreThree (n.id)"-->
                <li ng-repeat=" n in second track by $index" ng-class="{'active':twoColor== n}" ng-click="getMoreThree (n)">
                    {{n.title}}
                </li>
            </ul>

            <!--三级-->
            <ul class="thirdul">
                <li ng-repeat="n in three track by $index" ng-class="{'active':threeColor==n}">
                    <input type="checkbox" ng-click="check_item(n)" ng-model="n.complete">
                    {{n.title}}
                </li>
                <!--<li><input type="checkbox">墙面附着剂</li>-->
            </ul>

            <ul class="lastul">

                <li ng-repeat="item in item_check track by $index">
                    {{item.title}}
                    <img ng-click="delete_item(item)" src="pages/mall_manage/style_manage/choose_series/image/close.png" alt="">
                </li>
                <!--<li>-->
                <!--石膏粉-->
                <!--<img src="pages/mall_manage/style_manage/choose_series/image/close.png" alt="">-->
                <!--</li>-->
            </ul>
        </div>

        <div class="btn_sure">
            <button id="save" data-toggle="modal" ng-click="send_series()" data-target="#suremodal">保存</button>
            <button  ui-sref="style_index({showstyle:true})">返回</button>
        </div>
    </div>

    <!--保存提示框-->
    <div class="modal fade" id="suremodal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="save_content">
                <div class="modal-header" id="save_header">
                    <h4 class="modal-title" id="tishi">
                        提示
                    </h4>
                </div>
                <div class="modal-body" id="save_body">
                    <h6 id="tishi_wenzi">保存成功</h6>
                </div>

                <div class="btn_modal_two">
                    <button id="caozuo_sure" data-dismiss="modal" ng-click="back_return()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>