<link rel="stylesheet" href="pages/mall_manage/style_manage/style_index/css/style_index.css">
<div ng-controller="style_index">
  <!--内容-->

  <!--选项卡-->
  <div class="tab clearfix">
    <ul>
      <li ng-click="changeToseries()" ng-class="{'active':showseries}">系列管理</li>
      <li ng-click="changeTostyle()" ng-class="{'active':showstyle}">风格管理</li>
      <li ng-click="changeToattr()" ng-class="{'active':showattr}">属性管理</li>
    </ul>
  </div>
  <!--系列管理-->
  <div ng-if="showseries==true">
    <!--按钮组-->
    <div class="series_btn">
      <div class="series_btn">
        <button class="btn btn-default btn_right" ui-sref="add_series({list:series_arr})" ng-if="series_arr.length!=10">
          <span class="glyphicon glyphicon-plus"></span>
          <span>添加</span>
        </button>
        <button class="btn btn-default btn_right" ui-sref="choose_series">选择系列</button>
      </div>
    </div>
    <!--系列管理Table内容-->
    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th>系列名称</th>
        <th>
          <span>创建时间</span>
          <img ng-click="ser_time_sort()" src="{{ser_time_img}}" width="10">
        </th>
        <th>状态</th>
        <th>详情</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in series_arr">
        <td>{{item.series}}</td>
        <td>{{item.creation_time}}</td>
        <td class="color_red" ng-if="item.status=='0'">关闭</td>
        <td class="color_skyblue" ng-if="item.status=='1'">启用中</td>
        <td ui-sref="series_detail({item:item,ser_arr:series_arr,index:$index})"><a href="">编辑</a></td>
        <td ng-if="item.status=='0'" data-toggle="modal" data-target="#open_modal" ng-click="open_status(item)"><a
            href="">开启</a></td>
        <td ng-if="item.status=='1'" data-toggle="modal" data-target="#close_modal" ng-click="close_status(item)"><a
            href="">关闭</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--风格管理-->
  <div ng-if="showstyle==true">
    <!--按钮组-->
    <div class="series_btn">
      <button class="btn btn-default btn_right" ui-sref="add_style({style_arr:style_arr})">
        <span class="glyphicon glyphicon-plus"></span>
        <span>添加</span>
      </button>
      <button class="btn btn-default btn_right" ui-sref="choose_style">选择风格</button>
    </div>

    <!--风格管理Table内容-->
    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th>风格名称</th>
        <th>
          <span>创建时间</span>
          <img ng-click="style_time_sort()" ng-src="{{style_time_img}}" width="10">
        </th>
        <th>状态</th>
        <th>详情</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="style_item in style_arr">
        <td>{{style_item.style}}</td>
        <td>{{style_item.creation_time}}</td>
        <td class="color_red" ng-if="style_item.status=='0'">关闭</td>
        <td class="color_skyblue" ng-if="style_item.status=='1'">启用中</td>
        <td ui-sref="style_detail({style_item:style_item,page:page})"><a href="">编辑</a></td>
        <td ng-if="style_item.status=='0'" ng-click="style_open(style_item)" data-toggle="modal"
            data-target="#style_open_modal"><a href="">开启</a></td>
        <td ng-if="style_item.status=='1'" ng-click="style_close(style_item)" data-toggle="modal"
            data-target="#style_close_modal"><a href="">关闭</a></td>
      </tr>
      </tbody>
    </table>
    <!--分页-->
    <tm-pagination conf="Config"></tm-pagination>
  </div>

  <!--属性管理-->
  <div ng-if="showattr==true">
    <!--属性管理按钮组-->
    <div class="attr_btns">
      <span>分类选择</span>
      <!--/*分类选择一级下拉框*/-->
      <select name="" class="fenleichoose" ng-model="dropdown.firstselect"
              ng-options="item.id as item.title for item in firstclass" ng-change="subClass(firstselect)"></select>
      <!--/*分类选择二级菜单*/-->
      <select name="" class="cailiaochoose" ng-show="dropdown.firstselect=='0'?false:true"
              ng-options="item.id as item.title for item in secondclass" ng-model="dropdown.secselect"></select>
    </div>

    <!--属性管理表格-->
    <div class="series_mag_table">
      <table class="table table-hover table-responsive">
        <thead>
        <tr>
          <th>所属分类</th>
          <th>分类名称</th>
          <th ng-click="sortTime()">最后操作时间
            <span class="sort">
              <i class="iconfont icon-up" ng-class="{'active':sortStyleFunc() == 4}"></i>
              <i class="iconfont icon-down" ng-class="{'active':sortStyleFunc() == 3}"></i>
            </span>
          </th>
          <th>最后操作账号</th>
          <th>属性个数</th>
          <th>详情</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in listdata">
          <td>{{item.parent_title}}</td>
          <td>{{item.title}}</td>
          <td>{{item.attr_op_time}}</td>
          <td>{{item.attr_op_username}}</td>
          <td>{{item.attr_number}}</td>
          <td ui-sref="edit_attribute({titles:item.titles,propid:item.id,propattrs:item.attrs})"><a href="">编辑</a></td>
        </tr>
        </tbody>
      </table>
      <tm-pagination conf="pageConfig"></tm-pagination>
    </div>
  </div>


  <!--系列开启 模态框-->
  <div class="modal fade" id="open_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>是否确认开启</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="open_btn_ok()">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!--系列关闭模态框-->
  <div class="modal fade" id="close_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>是否确认关闭</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="close_btn_ok()">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>


  <!--风格开启 模态框-->
  <div class="modal fade" id="style_open_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>是否确认开启</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="style_open_btn_ok()">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!--风格关闭模态框-->
  <div class="modal fade" id="style_close_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          <p>是否确认关闭</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="style_close_btn_ok()">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>

