/*顶部导航*/
.topnav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.topnav span {
    float: left;
    margin: 20px 0 20px 40px;
}

.topnav h6 {
    float: left;
    font-size: 14px;
    line-height: 36px;
    margin-left: 5px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #2F3033;
}

.topnav h6:nth-child(2){
    font-weight: bold;
}

.topnav h6:last-child{
    color: gray;
}

/*内容部分*/
.merchant_content{
    padding: 40px 0 0 40px;
}

.merchant_content p{
    margin-top: 28px;
    margin-bottom: 28px;
}


.panels{
    width: 894px;
    height: 250px;
    /*margin-top: 100px;*/
    margin: 100px auto 0;
}

.panels>div{
    float: left;
    width: 200px;
    height: 100px;
    border: 1px solid #5677fc;
    color: #5677fc;
    text-align: center;
    padding-top: 32px;
    margin-right: 98px;
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
}

