.panels{
    width: 894px;
    height: 250px;
    margin: 95px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.panels>div{
    width: 230px;
    height: 127px;
    display: flex;
    flex-direction: column;
    padding-top: 28px;
    margin: 0 36px 36px 0;
    text-align: center;
    border: 1px solid #E6E9F0;
    border-radius: 2px;
}

.panels>div>span:first-child{
    font-size:14px;
    color:rgba(153,153,153,1);
}

.panels>div>span:last-child{
    display: inline-block;
    margin-top: 12px;
    font-size:30px;
    color:rgba(63,148,246,1);
}

