header{
  height: 60px;
  line-height: 60px;
  padding-left: 40px;
  border-bottom: 1px solid #E6E9F0 ;
}
header img{
  float: right;
  margin-top: 7px;
}
.content{
  padding-left: 40px;
}
.time_box{
  margin-top: 50px;
}
.now_time{
  color:#5E6166;
  font-weight: bold;
  font-size: 16px;
}
.four_box{
  margin-top: 100px;
}
.four_box:after{
  content: '';
  display: table;
  clear: both;
}
.con_box{
  float: left;
  border: 1px solid #5677FC;
  background-color: #FAFBFF;
  height: 100px;
  width: 200px;
  margin-right: 50px;
  position: relative;
}
.con_box div{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.con_box p{
  color: #5677FC;
  text-align: center;
}
.dl_active1{
  background-color: #E6E9F0!important;
}
.a_active1{
  color: #5677FC!important;
}