/*操作开始*/
.inline_block{
  display: inline-block;
  margin-right: 10px;
}

.sort_choose{
  margin: 0 15px;
}
/*操作结束*/

/*颜色*/
.green{
  color:#8BC34A!important;
}
.red{
  color:#FF5722!important;
}
.sky_blue{
  color: #03A9F4!important;
}
.table{
  table-layout:fixed;
}
.table_width{
  display: inline-block;
  width: 100%;
  border: 1px solid #ABABAB;
  padding: 5px;
  border-radius: 4px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img_size{
  height: 30px!important;
  width: 30px!important;
}
.img_sort_size {
  width: 10px!important;
  height: 16px!important;
}

.down_roles{
  margin-bottom: 20px;
}
.down_rea{
  vertical-align: top;
}
.apply{
  color: #666F80;
  font-weight: bold;
}
.operating_div{
  margin-bottom: 20px;
}