
/*添加小区信息*/
.add_house{
    padding-left:40px;
    padding-right:40px;
}
.house_msg_header,.add_house{
    position: relative;
}
.add_house h1{
    font-size:18px !important;
    margin-bottom: 20px!important;
}
.form-group{
    margin-top:30px !important;
}
.add_house button{
    width:80px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.add_house .all_btn{
    position: relative;
}
.add_house .error{
    border:1px solid red;
}
.add_house .all_btn a{
    position: absolute;
    top:0;
    right:0;
    line-height: 32px;
}
.add_house .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.add_house a{
    color: #3F94F6;
}
.add_house .submit{
    margin-top:100px;
}
.add_house .all{
    border-bottom:1px solid #ccc;
}
.add_house .cur_delete{
    width:30px!important;
    font-size:12px;
    border-radius:2px ;
    position: absolute;
    top: 0;
    left:6%;
}
.add_house .remove i{
    margin-right:10px;
}
.add_house .address_num{
    position: absolute;
    bottom:5px;
    right: 20px;
}
.add_house .red_mark{
    color: red;
}