/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*选择品牌所在分类*/
.ulright{
    display: inline-block;
    vertical-align: top;
    margin-left: 36px;
}
.ulright .location{
    font-size: 16px;
    margin-top:60px;
    font-weight:bold;
    margin-bottom:30px;
}
.ulright ul{
    display: inline-block;
    width: 161px;
    height: 444px;
    padding-left: 10px;
    border: 1px solid #ABABAB;
    margin-right: 9px;
    vertical-align: top;
}
.ulright ul li{
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ABABAB;
}

.thirdul{
    width: 180px!important;
}

.lastul li{
    padding: 6px 7px 8px 7px;
    text-align: start;
    margin:  9px 9px 9px 0;
    border: 1px solid #5677FC;
    color: #5677FC;
    position: relative;
}

.lastul img{
    position: absolute;
    width: 24px;
    left: 104px;
    top: 7px;

}
.cur_select{
    color: #3F94F6;
}
.ulright .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.ulright button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}