/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*添加推荐*/
.add_manage{
    padding-left:40px;
    padding-right:40px;
}
.add_manage button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.add_manage .all{
    border-bottom:1px solid #ccc;
}
.add_manage .red_mark{
    color: red;
}
.add_manage .button{
    width: 75px !important;
    height: 25px !important;
    margin-top:5px;
    margin-left:0!important;
    padding-left:0!important;
}
.add_manage .upload_msg{
    font-size:12px;
    color: #ccc;
    white-space:nowrap;
}
.add_manage .pic_error{
    font-size:12px;
    margin-top:5px;
    color: red;
}
.add_manage .submit{
    margin-top:100px;
}
.add_manage h1{
    font-size:18px !important;
}
.add_manage .form-group{
    margin-top:30px !important;
}
.add_manage .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.add_manage .error{
    border:1px solid red;
}