/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*添加材料项*/
.add_material{
    padding-left:40px;
    padding-right:40px;
}
.add_material .location{
    font-size: 16px;
    margin-top:60px;
    font-weight:bold;
    margin-bottom:30px;
}
.add_material button{
    padding:8px;
    margin-right:20px;
    font-size:14px;
    background:none;
    border:.5px solid #5677FC;
    border-radius:2px;
    color: #5677FC;
}
.add_material table{
    font-size:14px;
}
.add_material table th{
    border: 0 !important;
    font-weight:normal!important;
    color: #7A8599;
}
.add_material table td{
    color: #666F80;
}
.add_material button.btn{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.add_material .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}