/*编辑图纸样式*/
.add_drawing .form-horizontal .form-group{
    margin-left:0px!important;
}
.add_drawing{
    padding-left:40px;
    padding-right:40px;
}
.add_drawing h1{
    font-size:18px !important;
}
.add_drawing .form-group{
    margin-top:30px !important;
}
.add_drawing .submit{
    margin-top:100px;
}
.add_drawing .all{
    border-bottom:1px solid #ccc;
}
.add_drawing .red_mark{
    color: red;
}
.add_drawing label{
    padding:0!important;
}
.add_drawing .cur_drawing{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
}
.add_drawing .cur_drawing img{
    border:1px solid #ccc!important;
}
.add_drawing .cur_drawing div{
    position: absolute;
    width:100px;
    height:25px;
    line-height: 25px;
    bottom:0;
    background-color:#fff;
    color: red;
    border:1px solid #ccc!important;
    font-weight:bold;
    font-size:20px;
}
.add_drawing .pic_error{
    font-size:12px;
    margin-top:5px;
    color: red;
}
.add_drawing .error{
    border:1px solid red;
}