/*编辑工种*/
.add_worker{
    padding-left:40px;
    padding-right:40px;
}
.add_worker .detail div{
    padding-top:10px;
    padding-bottom:10px;
}
.add_worker choose_item div{
    padding-top:15px;
    padding-bottom:15px;
}
.add_worker .detail{
    margin-top:20px;
    margin-bottom:30px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:.5px solid #ccc;
}