/*系数管理样式*/
.coefficient_manage{
    padding-left:40px;
    padding-right:40px;
}
.coefficient_manage .location{
    font-size: 16px;
    margin-top:60px;
    font-weight:bold;
    margin-bottom:30px;
}
.coefficient_manage button{
    background: #000;
    color: #fff;
    border:0;
    border-radius:5px ;
    height:30px;
    width:30px;
}
.coefficient_manage .from-group button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
    color: #000;
}
.coefficient_manage .remove{
    border-color: #3F94F6!important;
    color: #3F94F6!important;
}
.coefficient_manage .error{
    border:1px solid red;
}