/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
header button{
    width:40px;
    height: 40px;
    border-radius:50% ;
    line-height: 40px;
    border:.5px solid #ccc;
    background: none;
}
.highLight{
    color: #000!important;
    font-weight:bold!important;
}
.dark{
    color: #2F3033!important;
    font-weight: normal!important;
}
/*系数管理样式*/
.coefficient_manage{
    padding-left:40px;
    padding-right:40px;
}
.coefficient_manage .location{
    font-size: 16px;
    margin-top:60px;
    font-weight:bold;
    margin-bottom:30px;
}
.coefficient_manage button{
    background: #000;
    color: #fff;
    border:0;
    border-radius:5px ;
    height:30px;
    width:30px;
}
.coefficient_manage .submit{
    position: absolute;
    bottom: 50px;
}
.coefficient_manage .from-group button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
    color: #000;
}
.coefficient_manage .remove{
    border-color: #3F94F6!important;
    color: #3F94F6!important;
}
.coefficient_manage .error{
    border:1px solid red;
}