/*input的placeholder的颜色配置*/
::-webkit-input-placeholder{ /* WebKit browsers */
    color: #999;
}

:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder{ /* Internet Explorer 10+ */
    color: #999;
}

/*编辑户型样式*/
.edit_house input,.edit_house input:focus{
    outline:0!important;
    border-color: #ccc;
    box-shadow:none;
}
.edit_house .form-horizontal .form-group{
    margin-left:0px!important;
}
.edit_house{
    padding-left:40px;
    padding-right:40px;
}
.edit_house h1{
    font-size:18px !important;
}
.edit_house .form-group{
    margin-top:30px !important;
}
.edit_house button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.edit_house .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.edit_house a{
    color: #3F94F6;
}
.edit_house .submit{
    margin-top:100px;
}
.edit_house .all{
    border-bottom:1px solid #ccc;
}
.edit_house .red_mark{
    color: red;
}
.edit_house .left_house_type{
    width: 45%;
    position: relative;
    margin-right:10%;
}
.edit_house .right_house_type{
    width: 45%;
    position: relative;
}
.edit_house .left_house_type button,.edit_house .right_house_type button{
    width:32px;
    position: absolute;
    top: 0;
}
.edit_house button:first-of-type{
    right:-5px;
}
.edit_house  button:last-of-type{
    right:32px;
}
.edit_house .left_house_type input,.edit_house .right_house_type input{
    font-size:16px;
    color: #666;
    font-weight:normal;
}
.edit_house .left_house_type span,.edit_house .right_house_type span{
    position: absolute;
    top:6px;
    font-size:16px;
    color: #666;
    font-weight:normal;
    right:calc(50% + 17px);
}
.edit_house .unit{
    line-height:32px;
}
.edit_house label{
    padding:0!important;
}
.edit_house .special{
    width:100px;
}
.edit_house .special_radio label{
    width:80px;
}
.edit_house .special_radio label:last-of-type{
    width:140px;
}
.edit_house .error{
    border:1px solid red;
}
.edit_house .button{
    width: 75px !important;
    height: 25px !important;
    margin-top:5px;
    margin-left:0!important;
    padding-left:0!important;
}
.edit_house .upload_msg{
    font-size:12px;
    color: #ccc;
    white-space:nowrap;
}
.edit_house .pic_error{
    font-size:12px;
    margin-top:5px;
    color: red;
}