/*编辑工种*/
.edit_worker{
    padding-left:40px;
    padding-right:40px;
}
.edit_worker .detail div{
    padding-top:10px;
    padding-bottom:10px;
}
.edit_worker choose_item div{
    padding-top:15px;
    padding-bottom:15px;
}
.edit_worker .detail{
    margin-top:20px;
    margin-bottom:30px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:.5px solid #ccc;
}
.edit_worker .enter{
    position: relative;
    bottom:5px;
}
.edit_worker .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.edit_worker .submit{
    margin-top:100px;
}
.edit_worker .red_mark{
    color: red;
}
.edit_worker button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.edit_worker .error{
    border:1px solid red;
}