/*工艺编辑*/
.engineering_process{
    padding:70px 40px 0;
    /*position: relative;*/
}
.engineering_process .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}
.engineering_process .submit{
    margin-top:100px;
}
.engineering_process .red_mark{
    color: red;
}
.engineering_process button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.engineering_process .enter{
    position: relative;
    bottom:5px;
}
.engineering_process .error{
    border:1px solid red;
}
.engineering_process .bottom_style{
    margin-bottom:30px;
    margin-top:30px;
    border-bottom:.5px solid #ccc;
}
.engineering_process .bottom_style:first-of-type{
    margin-top:0;
}
.engineering_process .last_style{
    margin-bottom:0;
    border:none!important;
}