/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*工程标准*/
.engineering_standards{
    padding-left:40px;
    padding-right:40px;
}
.engineering_standards button{
    width:80px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin:20px 10px;
    border-radius:2px;

}
.engineering_standards table{
    font-size:14px;
}
.engineering_standards table th{
    border: 0 !important;
    font-weight:normal!important;
    color: #7A8599;
}
.engineering_standards table td{
    padding-top:15px;
    padding-bottom:15px;
    color: #666F80;
}
.engineering_standards .error{
    border:1px solid red;
}