/*通用管理水电样式*/
.general_detail{
    padding-left:40px;
    padding-right:40px;
}
.general_detail button{
    background: #fff;
    color: #000;
    border:.5px solid #000;
    border-radius:5px ;
    height:30px;
    width:30px;
}
.general_detail .location{
    font-size: 20px;
    margin-top:40px;
    font-weight:bold;
    margin-bottom:40px;
}
.general_detail .get_second_title{
    background: #fff;
    color: #487AF8;
    border:.5px solid #487AF8;
    border-radius: 0 ;
    width:100px;
    height:30px;
}
.general_detail .row{
    margin-bottom:10px;
}
.general_detail .submit{
    margin-top:100px;
    margin-bottom:50px;
}
.general_detail .submit button{
    width:70px;
    height: 32px;
    font-size:12px;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.general_detail .remove{
    border-color: #3F94F6!important;
    color: #3F94F6!important;
}
.general_detail .red_mark{
    color: red;
}
.general_detail .error{
    border:1px solid red;
}