/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*系数管理样式*/
.house_area{
    padding-left:40px;
    padding-right:40px;
}
.house_area .location{
    font-size: 16px;
    margin-top:60px;
    font-weight:bold;
    margin-bottom:30px;
}
.house_area button{
    background: #000;
    color: #fff;
    border:0;
    border-radius:5px ;
    height:30px;
    width:30px;
}
.house_area .submit{
    margin-top:100px;
}
.house_area .else_submit{
    position: absolute;
    bottom: 50px;
}
.house_area .submit button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
    color: #000;
}
.house_area .remove{
    border-color: #3F94F6!important;
    color: #3F94F6!important;
}
.house_area .error{
    border:1px solid red;
}