/*系数管理样式*/
.house_area{
    padding-left:40px;
    padding-right:40px;
}
.house_area .location{
    font-size: 16px;
    margin-top:60px;
    font-weight:bold;
    margin-bottom:30px;
}
.house_area .row button{
    background: #000;
    color: #fff;
    border:0;
    border-radius:5px ;
    height:30px;
    width:30px;
}
.house_area .submit{
    margin-top:100px;
}
.house_area .else_submit{
    position: absolute;
    bottom: 50px;
}
.house_area .submit button{
    width:70px;
    height: 32px;
    font-size:12px;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.house_area .remove{
    border-color: #3F94F6!important;
    color: #3F94F6!important;
}
.house_area .error{
    border:1px solid red;
}