/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*添加材料详情*/
.material_detail{
    padding-left:40px;
    padding-right:40px;
}
.material_detail .remove{
    border:1px solid #3F94F6!important;
    color: #3F94F6;
}
.material_detail button{
    padding:8px;
    margin-right:20px;
    font-size:14px;
    background:none;
    border-radius:2px;
    color: #5677FC;
}
.material_detail .cur_choose{
    color: #3F94F6;
    border-bottom:1px solid #3F94F6;
}
.material_detail .tab_title{
    display: inline-block;
    width:80px;
    text-align: center;
    padding-bottom: 10px;
}
.material_detail .tab-item .row{
    padding-top:10px;
    padding-bottom:10px;
}
.material_detail .submit button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
    color: #666;
}
.material_detail .remove{
    border-color: #3F94F6!important;
    color: #3F94F6!important;
}
.material_detail .submit{
    margin-top:100px;
}