/*工种列表样式*/
.worker_price_list{
    padding-left:40px;
    padding-right:40px;
}
.worker_price_list button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
    margin-bottom:10px;
    padding-left:0!important;
}
.worker_price_list h6{
    font-size:16px;
    margin-bottom:30px;
    margin-top:30px;
    padding-bottom:20px;
    border-bottom:.5px solid #ccc;
    font-weight:bold;
}
.worker_price_list table th{
    border:0!important;
    font-weight:normal;
}
.worker_price_list .edit{
    color: #5677FC;
}
.worker_price_list th,.worker_price_list td{
    padding-bottom:15px!important;
    padding-top:15px!important;
}