<link rel="stylesheet" href="css/basics.css"/>
<div ng-controller="basics_ctrl">
    <header>
        <div>
            <a class="in_span" ui-sref="nodata({'isBack':true,'level':level,'stair':stair,'labor_price':labor_price,'series_index':
                series_index,'style_index':style_index,'worker_category':worker_category
                ,'house_bedroom':house_bedroom,'house_hall':house_hall,
                'house_kitchen':house_kitchen,'house_toilet':house_toilet,
                'highCrtl':highCrtl,'area':area,'window':window,'choose_stairs':choose_stairs})">
                <img src="images/mall_nav_return.png" alt="">
            </a>
            <span class="pic_span">基础装修</span>
        </div>
    </header>

    <section>

        <!--辅材-->
        <div class="wall_material" ng-repeat="item in first_level.second_level">
            <!--<div class="divide"></div>-->
            <div class="shu"></div>
            <h1>{{first_level[item].title}}</h1>
            <ul class="wall_ul">
                <li data-toggle="modal" data-target="#myModal"
                    ng-repeat="item1 in first_level[item].three_level track by $index">
                    <div ng-repeat="item2 in first_level[item][item1].goods_detail track by $index" ng-click="
              goModalData(first_level[item][item1][item2])">
                        <span class="wall_span">{{first_level[item][item1].title}}x{{first_level[item][item1][item2].quantity}}</span><br/>
                        <span class="wall_brand">{{first_level[item][item1][item2].name}}</span>
                        <span class="wall_money">{{first_level[item][item1][item2].cost | currency:"￥"}} <img class="right_arrow" src="images/left_more.png" alt=""></span>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="divide"></div>-->

        <!--工人费用-->
        <div class="sheet_material">
            <div class="shu"></div>
            <h1>工人费用</h1>
            <ul class="wall_ul">
                <li ng-repeat="item in labor_category">
                    <span class="wall_span">{{item.worker_kind}}</span>
                    <span class="money">{{item.price | currency:"￥"}}</span>
                </li>
                <li>
                    <span class="wall_span">杂工</span>
                    <span class="money" role="button" data-toggle="collapse" href="#collapseExample"
                          aria-expanded="false" aria-controls="collapseExample">{{handyman_price
                    | currency:"￥"}} <img class="right_arrow" src="images/left_more.png" alt="" id="zagong"></span>
                </li>

                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <ul class="handyman">
                            <li>
                                <input type="checkbox" ng-model="complete" class="zagong_check"/>
                                <span class="check_word">12墙拆除</span>
                                <input type="text" placeholder="30" class="handyman_span" ng-model="twelve_dismantle"/>
                                <span class="handyman_sec">m <sup>2</sup></span>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="complete1"  class="zagong_check"/>
                                <span class="check_word">24墙拆除</span>
                                <input type="text" placeholder="30" class="handyman_span"
                                       ng-model="twenty_four_dismantle"/>
                                <span class="handyman_sec">m <sup>2</sup></span>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="complete2"  class="zagong_check"/>
                                <span class="check_word" id="bulan">补烂</span>
                                <input type="text" placeholder="30" class="handyman_span" ng-model="repair"/>
                                <span class="handyman_sec">m <sup>2</sup></span>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="complete3"  class="zagong_check"/>
                                <span class="check_word">12墙新建</span>
                                <span class="two-sided">(含双面抹灰)</span>
                                <input type="text" placeholder="30" class="handyman_input"
                                       ng-model="twelve_new_construction"/>
                                <span class="handyman_sec">m <sup>2</sup></span>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="complete4"  class="zagong_check"/>
                                <span class="check_word">24墙新建</span>
                                <span class="two-sided">(含双面抹灰)</span>
                                <input type="text" placeholder="30" class="handyman_input"
                                       ng-model="twenty_four_new_construction"/>
                                <span class="handyman_sec">m <sup>2</sup></span>
                            </li>
                            <li  id="youjianzha">
                                <input type="radio" name="building_scrap" ng-checked="building_scrap"  class="zagong_check zagong_radio"/>
                                <span class="jianzha">小区有建渣</span>
                            </li>
                            <li  id="wujianzha">
                                <input type="radio" name="building_scrap" ng-checked="!building_scrap" class="zagong_check zagong_radio"/>
                                <span class="jianzha">小区无建渣</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>

        <!--按钮、-->
        <div class="preservation">
            <span>合计：</span>
            <span class="money_col">{{first_level.cost+labor_price | currency:'￥'}}</span>
            <button ng-click="get_handyman_price()">保存</button>
        </div>

        <!--模态框-->

        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content" id="modal_content">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close"><span-->
                            <!--aria-hidden="true">&times;</span></button>-->
                    <!--<div class="modal-body ">-->
                        <!--<div class="comment_img">-->
                            <!--<img src="" alt=""/>-->
                        <!--</div>-->
                        <!--<div class="comment">-->
                            <!--<span class="comment_span">{{modalData.name}}</span><br/>-->
                            <!--<span class="comment_square">产品类别：{{modalData.title}} 数量：{{modalData.quantity}}</span>-->
                            <!--<span class="comment_se">{{modalData.cost}}</span>-->

                            <!--<p class="comment_p">商品特色</p>-->
                            <!--<p>{{modalData.subtitle}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="whit" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="comment_img">
                        <img src="images/all.png" alt=""/>
                    </div>
                    <div class="comment">
                        <p class="good_title">
                            <span class="comment_span">{{modalData.name}}</span>
                            <span class="comment_se">{{modalData.cost | currency:'￥'}}</span>
                        </p>
                        <p class="comment_square">产品类别：{{modalData.title}} 数量：{{modalData.quantity}}</p>


                        <p class="comment_p">商品特色</p>
                        <p class="text_p ">{{modalData.subtitle}}</p>
                    </div>
                    <button type="button" class="btn replace btn-primary"  data-dismiss="modal" ng-click="replace_material(modalData)">更换</button>
                </div>
            </div>
        </div>
    </section>


    <footer style="height: 500px"></footer>

</div>
