<div>
    <header>
        <div class="header_cell clearfix">
            <div class="pull-left">
                <img src="images/mall_searchbar.png" alt=""/>
                <input type="text" placeholder="请输入小区名字" maxlength="14" ng-model="ctrlScope.toponymy"/>
            </div>
            <a class="pull-right" ng-click="cancel()">取消</a>
        </div>
    </header>

    <section>
        <!--有结果显示数据-->
        <div class="have_data" ng-if="search_data.length">
            <ul class="cell_ul">
                <li ng-repeat="item in search_data">
                    <a ui-sref="modelRoom({roomCode: item.district_code, toponymy: item.toponymy, street: item.street})">
                        <div class="first_fru">{{item.toponymy}}</div>
                        <div class="second_fru">{{item.site_particulars}}</div>
                    </a>
                </li>
            </ul>
        </div>

        <!--无数据显示-->
        <div class="no_data" ng-if="search_data.length==0&&toponymy!=''">
            <div>无数据</div>
            <a ng-click="go_nodata()">没有我的小区?</a>
        </div>
    </section>
</div>