<div class="main_body">
    <a class="header" ng-click="returnPrev()"><img src="images/nav_return_white.png" alt=""></a>
    <div class="main">
        <div class="details_banner">
            <img ng-src="{{check_goods.image}}" alt=""/>
        </div>
        <div class="intro_box">
            <div class="product_name">
                {{cur_params.title}}
            </div>
            <div class="introduce">{{check_goods.subtitle}}</div>
            <p class="cost">{{check_goods.platform_price | currency:'￥'}}</p>
        </div>
        <!--下拉选择数量-->
        <div class="standard" ng-if="!!cur_status" data-toggle="modal" data-target="#myModal">
            <div class="standard_txt">选择数量</div>
            <div>
                <img src="images/left_more.png" class="img_size" alt="">
            </div>
        </div>
        <!--服务项-->
        <div class="service_item" data-toggle="modal" data-target="#myModal_sec">
            <ul>
                <li ng-repeat="item in sale_services"><img src="images/right.png" alt=""/> &nbsp;<span>{{item}}</span></li>
                <li>
                    <img src="images/left_more.png" class="img_size_1" alt="">
                </li>
            </ul>
        </div>
        <!--商铺头部-->
        <div class="shop_header">
            <div class="shop_header_child clearfix">
                <div class="img_box pull-left">
                    <img ng-src="/{{supplier.icon}}" alt=""/>
                </div>
                <span class="pull-left">{{supplier.shop_name}}</span>
            </div>
            <div class="shop_number">
                <ul>
                    <li>
                        <span class="num_shop">{{supplier.goods_number}}</span> <br/>
                        <span>商品数</span>
                    </li>
                    <li>
                        <span class="num_shop">{{supplier.comprehensive_score}}</span> <br/>
                        <span>综合详情</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--图文详情和参数-->
        <div class="pic_comment">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs pic_tabs" role="tablist">
                    <li role="presentation" ng-class="{'active':(tab_title==0)}"><a ng-click="(tab_title = 0)" aria-controls="home" role="tab" data-toggle="tab">图文详情
                        <hr></a></li>
                    <li role="presentation" ng-class="{'active':(tab_title==1)}"><a ng-click="(tab_title = 1)" aria-controls="profile" role="tab" data-toggle="tab">产品参数<hr></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" ng-switch on="tab_title">
                    <!--图文详情-->
                    <div role="tabpanel" id="home" ng-switch-when="0">
                        <div class="tab_one" ng-bind-html="description | toHtml">
                            <!--<img src="images/banner1.png" alt=""/>-->
                            <!--<p>哈哈哈啊哈哈哈哈哈哈哈哈哈哈</p>-->
                        </div>
                    </div>
                    <!--产品参数-->
                    <div role="tabpanel" id="profile" ng-switch-when="1">
                        <div class="shop_two">
                            <ul>
                                <li><span>产品编码</span><span class="comment_num">{{cur_params.code}}</span></li>
                                <li><span>产品品牌</span><span class="comment_num">{{check_goods.name}}</span></li>
                                <li ng-if="cur_params.series_name != ''"><span>系列</span><span class="comment_num">{{cur_params.series_name}}</span></li>
                                <li ng-if="cur_params.style_name != ''"><span>风格</span><span class="comment_num">{{cur_params.style_name}}</span></li>
                                <li ng-repeat="item in cur_params.attrs"><span>{{item.name}}</span><span class="comment_num">{{item.value}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--模态框-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p type="button" class="close" data-dismiss="modal" aria-label="Close">x</p>
                </div>
                <div class="modal-body">
                    <div class="add_cart">
                        <img src="images/bed.png" alt=""/>
                    </div>
                    <div class="div_pic">
                        <span class="pic_data">{{current_good.platform_price | currency:'￥'}}</span>
                        <span class="shu_pic">库存{{cur_params.left_number}}件</span>
                    </div>


                    <div class="sl clearfix">
                        <span class="pull-left">购买数量</span>
                        <div class="input_div pull-right">
                            <input class="min am-btn" ng-click="operate('check_goods',0,1,'quantity')" name="" type="button" value="-" />
                            <input class="text_box" name=""  type="tel" ng-model="check_goods.quantity" />
                            <input class="add am-btn" ng-click="operate('check_goods',1,cur_params.left_number,'quantity')" name="" type="button" value="+" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer_div">
                    <!--<button type="button" class=" resct_btn_one join_cart " data-dismiss="modal" data-toggle="modal" data-target="#myModalP">加入购物车</button>-->
                    <button type="button" class=" resct_btn_two" data-dismiss="modal" ng-click="first_replace()">{{cur_title}}</button>
                </div>
            </div>
        </div>
    </div>
    <!--售后服务条款模态框-->
    <!-- Modal -->
    <div class="modal fade" id="myModal_sec" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body-comment">
                    <div ng-if="aftermarket.length!=0">
                    <div class="t-header-two" >
                        <h1>售后</h1>
                    </div>
                    <div class="service_comment">
                        <ul>
                            <li ng-repeat="item in aftermarket">
                                <img src="images/right.png" alt=""/>
                                <span>{{item}}</span>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div ng-if="protection.length!=0">
                    <div class="t-header-two" >
                        <h1>保障</h1>
                    </div>
                    <div class="service_comment">
                        <ul>
                            <li class="" ng-repeat="item in protection">
                                <img src="images/right.png" alt=""/>
                                <span>{{item}}</span>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="modal-footer-btn">
                    <button type="button" class="btn btn_color"  data-dismiss="modal">完成</button>
                </div>
            </div>
        </div>
    </div>
    <div class="foot_tab" ng-if="!!cur_status">
        <button class="add" data-toggle="modal" data-target="#myModal">{{cur_title}}</button>
    </div>
    <div style="height: 4rem;" ng-if="!!cur_status"></div>
</div>