<link rel="stylesheet" href="css/inteligent_nodata.css"/>
<link rel="stylesheet" href="zui-1.7.0-dist/dist/css/zui.min.css"/>
<div ng-controller="intelligent_nodata_ctrl" class="back">
    <header>
        <div>
            <a class="return_btn" ui-sref="home">
                <img src="images/mall_nav_return.png" class="in_span">
            </a>
            <span class="pic_span">智能报价</span>
            <p class="cur_location">
                <i class="icon icon-map-marker icon-3x map"></i>
                <span class="postion_span">成都</span>
            </p>

        </div>
    </header>

    <section>
        <!--小区信息-->
        <form name="area_news" novalidate>
            <div class="quarters_small">
                <div class="shu"></div>
                <p>小区信息</p>
                <span class="choose_quarter">小区选择</span>
                <a ui-sref="cell_search">
                    <img src="images/mall_searchbar.png" class="seachr" alt="">
                    <input type="text" placeholder="请输入小区" class="seach" ng-model="toponymy"/><br/>
                </a>
                <div class="address_content">
                    <p class="quarters_adress">小区地址</p>
                    <textarea class="text_all" rows="3" cols="44" placeholder="例：金牛区沙西线66号"
                              ng-model="message">
                    </textarea>
                    <span class="text_all_length">{{message.length}}/45</span>
                </div>
            </div>

            <!--房屋信息-->
            <div class="background_w">
            <div class="house_area">
                <div class="area"></div>
                <div class="shu_house_2"></div>
                <h1>房屋信息</h1>
                <span class="house_span">房屋面积</span>
                <input type="text" required placeholder="请输入1-180的面积"  style="color: #4a4a4a;"
                       ng-pattern="/^([1-9]|[1-9][0-9]|1[0-7][0-9]|180)$/" maxlength="3" ng-model="area"/>

                <span class="p">m<sup>2</sup></span>
            </div>
            <!--户型-->
            <div class="apartment_layout">
                <span class="apartment_span">户型</span>
                <div>
                    <ul class="apartment_ul">
                        <li>

                            <input type="text" ng-model="house_bedroom" class="val_input" disabled/>
                            <span>室</span>
                            <i class="icon icon-check-minus btn_left reduce_a icon-5x"
                               ng-click="subtract(1,'house_bedroom')"></i>
                            <i class="icon icon-check-plus btn_right add_a icon-5x"
                               ng-click="add(6,'house_bedroom')"></i>
                            <!--<button class="btn_left reduce_a">-</button>-->
                            <!--<button class="btn_right add_a">+</button>-->
                        </li>
                        <li>
                            <input type="text" ng-model="house_hall" class="val_input_b" disabled/>
                            <span>厅</span>
                            <i class="icon icon-check-minus btn_left reduce_b icon-5x"
                               ng-click="subtract(1,'house_hall')"></i>
                            <i class="icon icon-check-plus btn_right add_b icon-5x" ng-click="add(3,'house_hall')"></i>
                            <!--<button class="btn_left reduce_b">-</button>-->
                            <!--<button class="btn_right add_b">+</button>-->
                        </li>
                        <li>
                            <input type="text" ng-model="house_toilet" class="val_input_c" disabled/>
                            <span>卫</span>

                            <i class="icon icon-check-minus btn_left reduce_c icon-5x"
                               ng-click="subtract(1,'house_toilet')"></i>
                            <i class="icon icon-check-plus btn_right add_c icon-5x"
                               ng-click="add(4,'house_toilet')"></i>
                            <!--<button class="btn_left reduce_c">-</button>-->
                            <!--<button class="btn_right add_c">+</button>-->
                        </li>
                        <li>
                            <input type="text" ng-model="house_kitchen" class="val_input_d" disabled/>
                            <span>厨</span>
                            <i class="icon icon-check-minus btn_left reduce_d icon-5x"
                               ng-click="subtract(1,'house_kitchen')"></i>
                            <i class="icon icon-check-plus btn_right add_d icon-5x"
                               ng-click="add(2,'house_kitchen')"></i>
                            <!--<button class="btn_left reduce_d">-</button>-->
                            <!--<button class="btn_right add_d">+</button>-->
                        </li>
                    </ul>
                </div>
            </div>

            <!--层高-->
            <div class="rey">
                <span class="storey_span">层高</span>
                <ul class="storey_ul">
                    <li>
                        <label ng-click="highCrtl=2.8">
                            <input type="radio" name="test" ng-checked="highCrtl==2.8"/>
                            <span></span>
                            <span class="storey_txt">2.8m</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                        <!--<input type="radio" name="storey_content"/>-->

                    </li>
                    <li>
                        <label ng-click="highCrtl=3">
                            <input type="radio" name="test" ng-checked="highCrtl==3"/>
                            <span></span>
                            <span class="storey_txt">3m</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                        <!--<input type="radio" name="storey_content"/>-->
                    </li>
                    <li>
                        <label ng-click="highCrtl=3.3">
                            <input type="radio" name="test" ng-checked="highCrtl==3.3"/>
                            <span></span>
                            <span class="storey_txt">3.3m</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                        <!--<input type="radio" name="storey_content"/>-->
                    </li>
                    <li>
                        <label ng-click="highCrtl=4.5">
                            <input type="radio" name="test" ng-checked="highCrtl==4.5"/>
                            <span></span>
                            <span class="storey_txt"> >4.5m</span>
                            <span class="ml storey_txt">(跃层商铺等)</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                        <!--<input type="radio" name="storey_content"/>-->
                    </li>
                </ul>
            </div>

            <!--飘窗-->
            <div class="bay_window">
                <span class="bay_span">飘窗</span>
                <input type="text" required placeholder="0" ng-pattern="/^([0-9]|1[0-9]|20)$/" class="input_windin" maxlength="2"
                       ng-model="window"/>
                <span class="bay_square">m</span>
            </div>

            <!--楼梯有无-->
            <div class="choose_stairs">
                <span class="choose_span">楼梯选择</span>
                <label ng-click="choose_stairs = true">
                    <input type="radio" ng-checked="choose_stairs" name="have_stairs"/>
                    <span></span>
                    <span class="have">有</span>
                    <img src="images/mall_list_radio.png" alt=""/>
                </label>
                <label ng-click="choose_stairs = false">
                    <input type="radio" ng-checked="!choose_stairs" name="have_stairs"/>
                    <span></span>
                    <span class="no">无</span>
                    <img src="images/mall_list_radio.png" alt=""/>
                </label>
            </div>

            <!--结构-->
            <div class="structure" ng-show="choose_stairs">
                <ul>
                    <li ng-repeat="item in stairs_details" ng-click="toggleStairs(item.attribute)">
                        <label ng-click="">
                            <input type="radio" name="stairs" ng-checked="nowStairs==item.attribute"/>
                            <span></span>
                            <span>{{item.attribute}}</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                </ul>
            </div>
            </div>

            <!--系类选择-->
            <div class="background_w">
            <div class="series">
                <div class="shu_house_1"></div>
                <h1>系列选择</h1>
                <ul>
                    <li ng-repeat="item in series" ng-cloak ng-click="toggleSeries(item.series,$index)">
                        <label>
                            <input type="radio" name="series" ng-checked="(series_index==$index)">
                            <span></span>
                            <span>{{item.series}}</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                </ul>
            </div>

            <!--适合人群-->

            <div ng-switch on="nowSeries">
                <div ng-switch-when="齐家" >
                    <div class="tag">
                        <span ng-cloak ng-repeat="item in series[0].theme.split(',')">{{item}}</span></div>
                    <div class="fit">
                        <h1>适合人群</h1>
                        <p ng-cloak>{{series[0].intro}}</p>
                    </div>
                </div>
                <div ng-switch-when="享家">
                    <div class="tag"><span ng-cloak ng-repeat="item in series[1].theme.split(',')">{{item}}</span></div>
                    <div class="fit">
                        <h1>适合人群</h1>
                        <p ng-cloak>{{series[1].intro}}</p>
                    </div>
                </div>
                <div ng-switch-when="享家+">
                    <div class="tag"><span ng-cloak ng-repeat="item in series[2].theme.split(',')">{{item}}</span></div>
                    <div class="fit">
                        <h1>适合人群</h1>
                        <p ng-cloak>{{series[2].intro}}</p>
                    </div>
                </div>
                <div ng-switch-when="智家">
                    <div class="tag"><span ng-cloak ng-repeat="item in series[3].theme.split(',')">{{item}}</span></div>
                    <div class="fit">
                        <h1>适合人群</h1>
                        <p ng-cloak>{{series[3].intro}}</p>
                    </div>
                </div>
                <div ng-switch-when="智家+">
                    <div class="tag"><span ng-cloak ng-repeat="item in series[4].theme.split(',')">{{item}}</span></div>
                    <div class="fit">
                        <h1>适合人群</h1>
                        <p ng-cloak>{{series[4].intro}}</p>
                    </div>
                </div>
                <div ng-switch-default>

                </div>
            </div>
            </div>
            <!--风格选择-->
            <div class="background_w">
            <div class="choose_style">
                <div class="shu_house"></div>
                <h1>风格选择</h1>
                <ul>
                    <li ng-repeat="item in style">
                        <button ng-cloak ng-class="{'btn_checked':(style_index==$index)}"
                                ng-click="toggleStyle(item.style,$index)">{{item.style}}
                        </button>
                    </li>
                </ul>

            </div>

            <!--轮播图-->
            <!--轮播图-->
            <div ng-switch on="nowStyle">
                <div ng-switch-when="现代简约">
                    <div class="carousel" swiper>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/a.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/b.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/c.png" alt="">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!--现代简约便签-->
                    <div class="note">
                        <ul>
                            <li ng-repeat="item in style[0].theme.split(',')">
                                <button ng-cloak>{{item}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-when="中国风">
                    <div class="carousel" swiper>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/a.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/b.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/c.png" alt="">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!--中国风便签-->
                    <div class="note">
                        <ul>
                            <li ng-repeat="item in style[1].theme.split(',')">
                                <button ng-cloak>{{item}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-when="美式田园">
                    <div class="carousel" swiper>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/a.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/b.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/c.png" alt="">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!--中国风便签-->
                    <div class="note">
                        <ul>
                            <li ng-repeat="item in style[2].theme.split(',')">
                                <button ng-cloak>{{item}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-when="欧式">
                    <div class="carousel" swiper>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/a.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/b.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/c.png" alt="">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!--中国风便签-->
                    <div class="note">
                        <ul>
                            <li ng-repeat="item in style[3].theme.split(',')">
                                <button ng-cloak>{{item}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-when="日式">
                    <div class="carousel" swiper>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="images/a.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/b.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="images/c.png" alt="">
                                </div>
                            </div>
                            <!-- 如果需要分页器 -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!--中国风便签-->
                    <div class="note">
                        <ul>
                            <li ng-repeat="item in style[4].theme.split(',')">
                                <button ng-cloak>{{item}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-switch-default>

                </div>
            </div>
            </div>
            <!--按钮-->
            <div class="btn_vr" ng-if="!isClick">
                <button  type="submit" ng-disabled="area_news.$invalid" ng-click="getData()">{{btn_msg}}</button>
            </div>


            <!--材料选择-->
            <div ng-if="isClick">
                <div class="material_choose">
                    <div class="left_main">
                        <div class="shu_house"></div>
                        <h1 class="title_span">材料选择</h1>
                        <!--<span  class="comment_span">点击以下版块查看详情和编辑</span>-->

                        <div class="basis_decoration">
                            <div ng-repeat="item in stair" ng-click="goDetail(item,$index)">
                                <!--<a ui-sref="basics_decoration({first_level:item,second_level:level})">-->
                                <div class="basis_item" id="bottom{{item.id}}">
                                    <p ng-if="item.title == '辅材'" class="basis_title">基础装修 <span
                                            class="basis_title_span"> &nbsp;&nbsp;{{item.second_level.length+1}}项</span>
                                    </p>
                                    <p ng-if="item.title == '主要材料'" class="basis_title">主材料<span
                                            class="basis_title_span"> &nbsp;&nbsp;{{item.second_level.length}}项</span>
                                    </p>
                                    <p ng-if="item.title != '辅材'&& item.title!='主要材料'" class="basis_title">
                                        {{item.title}}<span
                                            class="basis_title_span"> &nbsp;&nbsp;{{item.goods_count}}项</span></p>
                                    <p class="pic" ng-if="item.title == '辅材'&&item.cost!=0">{{item.cost+labor_price |
                                        currency:'￥'}}</p>
                                    <p class="pic" ng-if="item.title != '辅材'&&item.cost!=0">{{item.cost |
                                        currency:'￥'}}</p>
                                    <ul class="two_category" ng-if="item.title=='辅材'||item.title=='主要材料' ">
                                        <li ng-repeat="item1 in item.second_level" class="dw basis_border"
                                            ng-if="item[item1].cost>0">
                                            <span class="basis_txt">{{item[item1].title}}</span>
                                            <span class="pic_q">{{item[item1].cost | currency:'￥'}}</span>
                                        </li>
                                        <li ng-if="item.title == '辅材'" class="dw basis_border">
                                            <span>工人费用</span>
                                            <span class="pic_q">{{labor_price | currency:"￥"}}</span>
                                        </li>
                                    </ul>
                                    <ul ng-if="item.title!=='辅材'&& item.title!=='主要材料'&&item.cost!=0" >
                                        <li ng-repeat="item1 in item.second_level">
                                            <div ng-repeat="item2 in item[item1].three_level"
                                                 class="dw basis_border basis_txt" >
                                                <div ng-repeat="item3 in item[item1][item2].goods_detail"
                                                     ng-if="item[item1][item2][item3].show_cost>0" class="font_size">
                                                    <p>{{item[item1][item2].title}}</p>
                                                    <span class="cur_title">{{item[item1][item2][item3].name}}</span >
                                                    <span class="pic_q">{{item[item1][item2][item3].show_cost | currency:'￥'}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="no_data" ng-if="item.cost==0">点击编辑</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="special_requirements">
                    <div class="shu_house"></div>
                    <p>风格选择</p>
                    <textarea class="main_text" placeholder="请输入你的要求"></textarea>
                    <span>0/300</span>
                </div>


                <!--尾部结算-->
                <div class="footer_settlement">
                    <div class="footer_set">
                        <span class="first_span">{{supply_price+labor_price | currency:'￥'}}</span>
                        <span class="second_span">{{platform_price+labor_price | currency:'￥'}}</span><br/>
                        <span class="three_span">未包含施工图费用，8项全场8折</span>
                    </div>
                    <button>保存方案</button>
                    <button class="primary_btn">去装修</button>
                </div>
            </div>
        </form>
    </section>

</div>