<div class="main_body">
    <div class="fill"></div>
    <section>
        <!--地面材料-->
        <div ng-repeat="item in cur_item.second_level" class="detail_block">
            <span class="second_title">{{item.title}}</span>
            <div ng-repeat="item1 in item.three_level">
                <ul>
                    <li data-toggle="modal" data-target="#myModal" ng-click="get_basic_details(item2,item1.title,item1.id)"
                        ng-repeat="item2 in item1.goods_detail" class="main_details">
                        <span class="wall_span">{{item1.title}}&times;{{item2.quantity}}</span><br/>
                        <span class="wall_brand">{{item2.name}}</span>
                        <span class="wall_money">{{item2.cost | currency:'￥'}}
                    <img src="images/left_more.png" alt=""></span>
                    </li>
                </ul>
            </div>
        </div>



        <!--按钮、-->
        <div class="preservation">
            <span>合计：</span>
            <span class="money_col">{{cur_item.cost | currency:'￥'}}</span>
            <button ng-click="save()">保存</button>
        </div>
        <div class="footer_fill" ng-show="cur_item.count>6"></div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="whit" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="comment_img">
                        <img ng-src="{{cur_goods_detail.cover_image}}" alt=""/>
                    </div>
                    <div class="comment">
                        <p class="goods_name">{{cur_goods_detail.goods_name}}</p>
                        <p class="price">{{cur_goods_detail.platform_price | currency:'￥'}}</p>
                        <p>品牌名称：{{cur_goods_detail.name}}</p>
                        <p>
                            <span ng-if="(cur_goods_detail.series_name!=undefined&&cur_goods_detail.series_name!='')||+cur_goods_detail.series_id!=0">系列：{{cur_goods_detail.series_name}}</span>
                            <span class="style_position" ng-if="(cur_goods_detail.series_name!=undefined&&cur_goods_detail.series_name!='')||+cur_goods_detail.style_id!=0">风格：{{cur_goods_detail.style_name}}</span>
                        </p>
                    </div>
                    <button type="button" class="go_detail" ng-click="go_details()">查看详情</button>
                    <button type="button" class="go_replace" ng-click="replace_material()">更换</button>
                </div>
            </div>
        </div>
    </section>
</div>
