<div ng-controller="nodata_ctrl" class="back">
    <header ng-if="have_header">
        <div>
            <a class="return_btn" ng-click="returnPrev()">
                <img src="images/mall_nav_return.png" class="in_span">
            </a>
            <p class="pic_span" style="text-align: center;">{{ctrlScope.cur_header}}</p>
            <p class="cur_location" ng-if="is_city">
                <i class="icon icon-map-marker icon-3x map"></i>
                <span class="postion_span">成都</span>
            </p>
            <p class="cur_location" ng-if="is_edit">
                <span class="postion_span" ng-click="switch_delete()">{{cur_operate}}</span>
            </p>
        </div>
    </header>
    <div ui-view></div>
</div>