<section>
    <!--小区信息-->
    <form name="area_news" novalidate ng-submit="get_goods(area_news.$valid,area_news.$error.required)">
        <div class="quarters_small">
            <div class="shu"></div>
            <p class="title">小区信息</p>
            <div class="list_box clearfix">
                <span class="sub_title pull-left">小区选择</span>
                <a class="pull-left input_box" ng-click="go_search()">
                    <img src="images/mall_searchbar.png" alt="">
                    <input type="text" ng-change="recalculate()" name="toponymy" id="toponymy" required placeholder="请输入小区"
                           ng-blur="change1=area_news.toponymy.$invalid" class="seach" ng-model="ctrlScope.toponymy"/><br/>
                    <p class="error_tips" ng-if="area_news.toponymy.$invalid&&(submitted||change1)">请输入小区名称</p>
                </a>
            </div>
            <div class="list_box clearfix">
                <span class="sub_title pull-left">小区地址</span>
                <div class="right_box pull-left">
                    <textarea class="text_all" ng-change="recalculate()" required rows="3" id="message" name="message" cols="44" placeholder="例：金牛区沙西线66号"
                              ng-model="ctrlScope.message" maxlength="45" ng-blur="change2=area_news.message.$invalid">
                    </textarea>
                    <span class="text_all_length">{{message.length}}/45</span>
                    <p class="error_tips address_tips" ng-if="area_news.message.$invalid&&(submitted||change2)">请输入小区地址</p>
                </div>
            </div>
        </div>

        <!--房屋信息-->
        <div class="background_w">
            <div class="house_area">
                <div class="area"></div>
                <div class="shu"></div>
                <div class="title">房屋信息</div>
                <div class="list_box clearfix">
                    <span class="sub_title pull-left">房屋面积</span>
                    <div class="pull-left input_box">
                        <input type="text" ng-change="recalculate()"  required placeholder="请输入1-180的面积" id="area" name="area" style="color: #4a4a4a;" maxlength="8"
                               ng-pattern="/^[1-9]\d{0,1}\.\d{1,2}$|^[1-9]\d{0,1}$|^1[0-7]\d\.\d{1,2}$|^1[0-7]\d$|^180$/" ng-blur="change3=area_news.area.$invalid"
                               ng-model="ctrlScope.area"/>

                        <span class="p">m<sup>2</sup></span>
                        <p class="error_tips" ng-if="area_news.area.$invalid&&(submitted||change3)">房屋面积1～180m²，精确到小数点后两位</p>
                    </div>
                </div>
            </div>
            <!--户型-->
            <div class="line"></div>
            <div class="list_box">
                <span class="sub_title">户型</span>
                <div>
                    <ul class="apartment_ul">
                        <li>
                            <input type="text"  ng-model="ctrlScope.house_bedroom" class="val_input" readonly="readonly"/>
                            <span>室</span>
                            <i class="icon icon-check-minus btn_left reduce_a icon-5x"
                               ng-click="operate('house_bedroom',0,1)"></i>
                            <i class="icon icon-check-plus btn_right add_a icon-5x"
                               ng-click="operate('house_bedroom',1,6)"></i>
                        </li>
                        <li>
                            <input type="text" ng-change="recalculate()" ng-model="ctrlScope.house_hall" class="val_input_b" readonly="readonly"/>
                            <span>厅</span>
                            <i class="icon icon-check-minus btn_left reduce_b icon-5x"
                               ng-click="operate('house_hall',0,1)"></i>
                            <i class="icon icon-check-plus btn_right add_b icon-5x"
                               ng-click="operate('house_hall',1,3)"></i>
                        </li>
                        <li>
                            <input type="text" ng-change="recalculate()" ng-model="ctrlScope.house_toilet" class="val_input_c" readonly="readonly"/>
                            <span>卫</span>

                            <i class="icon icon-check-minus btn_left reduce_c icon-5x"
                               ng-click="operate('house_toilet',0,1)"></i>
                            <i class="icon icon-check-plus btn_right add_c icon-5x"
                               ng-click="operate('house_toilet',1,4)"></i>
                        </li>
                        <li>
                            <input type="text" ng-change="recalculate()" ng-model="ctrlScope.house_kitchen" class="val_input_d" readonly="readonly"/>
                            <span>厨</span>
                            <i class="icon icon-check-minus btn_left reduce_d icon-5x"
                               ng-click="operate('house_kitchen',0,1)"></i>
                            <i class="icon icon-check-plus btn_right add_d icon-5x"
                               ng-click="operate('house_kitchen',1,2)"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <!--层高-->
            <div class="line1"></div>
            <div class="list_box">
                <span class="sub_title">层高</span>
                <ul class="storey_ul">
                    <li>
                        <label ng-click="recalculate('highCrtl',2.8)">
                            <input type="radio" name="test" ng-checked="ctrlScope.highCrtl==2.8"/>
                            <span></span>
                            <span class="storey_txt">2.8m</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                    <li>
                        <label ng-click="recalculate('highCrtl',3)">
                            <input type="radio" name="test" ng-checked="ctrlScope.highCrtl==3"/>
                            <span></span>
                            <span class="storey_txt">3m</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                    <li>
                        <label ng-click="recalculate('highCrtl',3.3)">
                            <input type="radio" name="test" ng-checked="ctrlScope.highCrtl==3.3"/>
                            <span></span>
                            <span class="storey_txt">3.3m</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                    <li>
                        <label ng-click="recalculate('highCrtl',4.5)">
                            <input type="radio" name="test" ng-checked="ctrlScope.highCrtl==4.5"/>
                            <span></span>
                            <span class="storey_txt"> >4.5m</span>
                            <span class="ml storey_txt">(跃层商铺等)</span>
                            <img src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                </ul>
            </div>

            <!--飘窗-->
            <div class="line"></div>
            <div class="bay_window">
                <span class="bay_span">飘窗</span>
                <input type="text" ng-change="recalculate()" required placeholder="0" id="window" name="window" ng-pattern="/^\d{1}(\.\d{1,2})?$|^[1]\d{1}(\.\d{1,2})?$|^20$/"
                       ng-blur="change4=area_news.window.$invalid" class="input_windin" maxlength="6"
                       ng-model="ctrlScope.window"/>
                <span class="bay_square">m</span>
                <p class="error_tips window_tips" ng-if="area_news.window.$invalid&&(submitted||change4)">
                    飘窗长度0～20m，可精确到小数点后两位</p>
            </div>

            <!--楼梯有无-->
            <div class="line"></div>
            <div class="choose_stairs">
                <span class="choose_span">楼梯选择</span>
                <label ng-click="ctrlScope.nowStairs = stairs_details[0];recalculate('choose_stairs',1)">
                    <input type="radio" ng-checked="ctrlScope.choose_stairs==1" name="have_stairs"/>
                    <span></span>
                    <span class="have">有</span>
                    <img id='img_size_1' ng-if="ctrlScope.choose_stairs==1" src="images/mall_list_radio.png" alt=""/>
                </label>
                <label ng-click="recalculate('choose_stairs',0);ctrlScope.nowStairs = {'id': 0, 'attribute': ''}">
                    <input type="radio" ng-checked="ctrlScope.choose_stairs == 0" name="have_stairs"/>
                    <span></span>
                    <span class="no">无</span>
                    <img id='img_size' ng-if="ctrlScope.choose_stairs == 0" src="images/mall_list_radio.png" alt=""/>
                </label>
            </div>

            <!--结构-->
            <div class="structure" ng-show="ctrlScope.choose_stairs == 1">
                <ul>
                    <li ng-repeat="item in stairs_details" ng-click="recalculate('nowStairs',item)">
                        <label ng-click="">
                            <input type="radio" name="stairs" ng-checked="nowStairs.id === item.id"/>
                            <span></span>
                            <span>{{item.attribute}}</span>
                            <img ng-if="nowStairs.id ==item.id" src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <!--系类选择-->
        <div class="background_w">
            <div class="series">
                <div class="shu"></div>
                <div class="title">系列选择</div>
                <ul>
                    <li ng-repeat="item in series" ng-cloak ng-click="recalculate('cur_series',item)">
                        <label>
                            <input type="radio" name="series" ng-checked="cur_series.id === item.id">
                            <span></span>
                            <span>{{item.series}}</span>
                            <img ng-if="cur_series.id === item.id" class="check_img" src="images/mall_list_radio.png" alt=""/>
                        </label>
                    </li>
                </ul>
            </div>
            <div class="tag">
                <span ng-cloak ng-repeat="item in cur_series.theme.split(',')">{{item}}</span></div>
            <div class="fit">
                <h1>适合人群</h1>
                <p ng-cloak>{{cur_series.intro}}</p>
            </div>
        </div>
        <div class="background_w">
            <div class="choose_style">
                <div class="shu"></div>
                <div class="title">风格选择</div>
                <ul>
                    <li ng-repeat="item in style">
                        <button type="button" ng-cloak ng-class="{'btn_checked':cur_style.id === item.id}"
                                ng-click="recalculate('cur_style',item)">{{item.style}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="style_box">
            <div class="carousel" style="margin-top: 0;">
                <div class="swiper-container" style="width: 100%;height: 100%;">
                    <div class="swiper-wrapper" style="width: 100%;height: 100%;">
                        <div class="swiper-slide" ng-repeat="item in cur_style.images.split(',')" style="width: 100%;height: 100%;">
                            <img ng-src="{{item}}" style="width: 100%;height: 100%;" alt="">
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="note">
                <ul>
                    <li ng-repeat="item in cur_style.theme.split(',')">
                        <button type="button" ng-cloak>{{item}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn_vr" ng-if="!show_material">
            <button type="submit">生成材料</button>
        </div>


        <!--材料选择-->
        <div ng-if="show_material">
            <div class="material_choose">
                <div class="left_main">
                    <div class="shu"></div>
                    <p class="title">材料选择</p>
                    <div id="basis_decoration" class="basis_decoration">
                        <div class="grid" water ng-repeat="item in ctrlScope.all_goods" ng-click="go_inner(item,$index)">
                            <!--<a ui-sref="basics_decoration({first_level:item,second_level:level})">-->
                            <div class="basis_item" id="bottom{{item.id}}">
                                <p ng-if="item.title == '辅材'" class="basis_title">基础装修 <span
                                        class="basis_title_span" ng-if="item.cost != 0"> &nbsp;&nbsp;{{item.second_level.length}}项</span>
                                </p>
                                <p ng-if="item.title == '主要材料'" class="basis_title">{{item.title}}<span
                                        class="basis_title_span" ng-if="item.cost != 0"> &nbsp;&nbsp;{{item.second_level.length}}项</span>
                                </p>
                                <p ng-if="item.title != '辅材'&&item.title!='主要材料'" class="basis_title">{{item.title}}<span
                                        class="basis_title_span" ng-if="item.cost != 0"> &nbsp;&nbsp;{{item.count}}项</span>
                                </p>
                                <p class="pic" ng-if="item.cost != 0">{{item.cost | currency:'￥'}}</p>
                                <ul ng-if="item.title == '辅材'||item.title == '主要材料'">
                                    <li ng-repeat="item1 in item.second_level">
                                        <span class="cur_title">{{item1.title}}</span>
                                        <span class="pic_q">{{item1.cost | currency:'￥'}}</span>
                                    </li>
                                </ul>
                                <ul ng-if="item.title != '辅材'&&item.title != '主要材料'">
                                    <div ng-repeat="item1 in item.second_level">
                                        <!--<div ng-repeat="item2 in item1.three_level">-->
                                            <li ng-repeat="item2 in item1.goods_detail">
                                                <p class="cur_title">{{item2.title}}</p>
                                                <span class="pic_q dark price">{{item2.cost | currency:'￥'}}</span>
                                                <span class="dark">{{item2.name}}</span>
                                            </li>
                                        <!--</div>-->
                                    </div>
                                </ul>
                                <p ng-if="item.cost == 0">
                                    <button type="button" style="font-size: 28px;padding: 1.02rem 3.91rem;background: none;border: 2px dashed #E5E5E5;border-radius: 2rem;color: #53A7F3;">点击编辑</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="special_requirements" ng-init="special_request=''">
                <div class="shu"></div>
                <p class="title">特殊要求</p>
                <textarea class="main_text" maxlength="300" ng-model="ctrlScope.special_request" style="padding-left:.85rem ;padding-top: .85rem;" placeholder="请输入你的要求"></textarea>
                <span style="font-size: 36px;">{{special_request.length}}/300</span>
            </div>


            <!--尾部结算-->
            <div class="footer_settlement">
                <div class="footer_set">
                    <span class="first_span">{{discount_price | currency:'￥'}}</span>
                    <span class="second_span">{{all_price | currency:'￥'}}</span><br/>
                    <span class="three_span">未包含施工图费用，8项全场8折</span>
                </div>
                <!--<button>保存方案</button>-->
                <button type="button" class="primary_btn" ng-click="go_apply_case()">申请样板间</button>
            </div>
        </div>
    </form>
</section>