<link rel="stylesheet" href="css/other.css"/>
<div ng-controller="other_ctrl" class="back">
    <header>
        <div>
            <a  ng-click="curGoPrev()"> <span class="in_span"><img src="images/mall_nav_return.png" alt=""></span></a>
            <span class="pic_span">{{stair[index].title}}</span>
            <span class="edit" ng-click="edit_and_del()">{{edit}}</span>
        </div>
    </header>
    <section style="overflow: hidden">
        <!--移动家具-->
        <div class="sheet_material" >
            <ul class="wall_ul">
                <div class="wall_margin">
                <li ng-repeat="item in stair_copy[index].second_level">
                    <div ng-repeat="item1 in stair_copy[index][item].three_level">
                        <div ng-repeat="item2 in stair_copy[index][item][item1].goods_detail" ng-click="goModalData(stair_copy[index][item][item1][item2])">
                            <div style="overflow: hidden;border-bottom:1px solid #E9EDEE;padding: 10px;position: relative;" ng-class="{'cur_animate':is_delete_btn}">
                            <div class="wall_span_brand">
                                <span class="wall_span" data-toggle="modal" data-target="#myModal">{{stair_copy[index][item][item1].title}}x{{stair_copy[index][item][item1][item2].show_quantity}}</span><br>
                                <span class="wall_brand" data-toggle="modal" data-target="#myModal">{{stair_copy[index][item][item1][item2].name}}</span>
                            </div>
                            <span class="wall_money" data-toggle="modal" data-target="#myModal">{{stair_copy[index][item][item1][item2].show_cost | currency:'￥'}} &nbsp;&nbsp;<i><img
                                    src="images/left_more.png" alt=""></i></span>
                            <button class="del" ng-click="delete_category(stair_copy[index][item][item1][item2])" ng-if="is_delete_btn">删除</button>
                            </div>
                        </div>
                    </div>
                </li>
                </div>
            </ul>
        </div>

        <!--添加材料按钮-->
        <div class="add_material">
            <a  ng-if="!is_delete_btn" ng-click="add_material()">
                <span class=" glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>点击添加装修材料</span>
            </a>
        </div>
            <div style="height: 5rem;width: 32rem; background-color:white "></div>
        <!--按钮、-->
        <div class="preservation">
            <span>合计：</span>
            <span class="money_col">{{stair_copy[index].cost | currency:'￥'}}</span>
            <button ng-if="!is_delete_btn" ng-click="change_material()">保存</button>
        </div>

        <!--模态框  ===== 更换材料 -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="comment_img">
                        <img src="images/all.png" alt=""/>
                    </div>
                    <div class="comment">
                        <p class="good_title">
                            <span class="comment_span">{{modalData.name}}</span>
                            <span class="comment_se">{{modalData.cost | currency:'￥'}}</span>
                        </p>
                        <p class="comment_square">产品类别：{{modalData.title}}  数量:{{modalData.show_quantity}}</p>


                        <p class="comment_p">商品特色</p>
                        <p class="text_p ">{{modalData.subtitle}}</p>
                    </div>
                    <button type="button" class="btn replace btn-primary"  data-dismiss="modal" ng-click="replace_material(modalData)">更换</button>
                </div>
            </div>
        </div>


        <!--弹窗删除-->

         <!--Modal -->
        <!--div class="modal fade bounceInUp" id="myModal_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <!--<h4 class="modal-title" id="myModalLabel">是否删除</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<div class="del_y">-->
                        <!--<p>是否删除</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn  def_btn" data-dismiss="modal" >取消</button>-->
                    <!--<button type="button" class="btn  del_btn">确定</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
<!--</div><-->
    </section>



</div>