<div class="back">
    <section style="overflow: hidden">
        <!--移动家具-->
        <div class="sheet_material" >
            <ul class="wall_ul">
                <div class="wall_margin">
                    <li ng-repeat="item in cur_item.second_level">
                        <div class="list_line" ng-repeat="item1 in item.three_level" data-toggle="{{cur_content}}" data-target="#myModal" ng-click="get_basic_details(item2,item1.title,item1.id)">
                            <div ng-repeat="item2 in item1.goods_detail">
                                <div ng-class="{'cur_animate':is_delete_btn}">
                                    <div class="wall_span_brand">
                                        <span class="wall_span">{{item1.title}}x{{item2.quantity}}</span><br>
                                        <span class="wall_brand">{{item2.name}}</span>
                                    </div>
                                    <span class="wall_money" >{{item2.cost | currency:'￥'}}<i><img
                                            src="images/left_more.png" alt=""></i></span>
                                    <button class="del" ng-click="delete_item(item2,item1.id)" ng-if="is_delete_btn">删除</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            <p ng-if="cur_item.count==0&&!!is_delete_btn">暂无材料显示</p>
        </div>

        <!--添加材料按钮-->
        <div class="add_material">
            <a  ng-if="!is_delete_btn" ng-click="go_three_item()">
                <span>点击添加装修材料</span>
            </a>
        </div>
        <div ng-show="cur_item.count>6"></div>
        <!--按钮、-->
        <div class="preservation">
            <span>合计：</span>
            <span class="money_col">{{cur_item.cost | currency:'￥'}}</span>
            <button ng-if="!is_delete_btn" ng-click="save()">保存</button>
        </div>

        <!--模态框  ===== 更换材料 -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="whit" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="comment_img">
                        <img ng-src="{{baseUrl}}{{cur_goods_detail.image}}" alt=""/>
                    </div>
                    <div class="comment">
                        <p class="good_title">
                            <span class="comment_span">{{cur_goods_detail.name}}</span>
                            <span class="comment_se">{{cur_goods_detail.cost | currency:'￥'}}</span>
                        </p>
                        <p class="comment_square">产品类别：{{cur_three_level}}</p>


                        <p class="comment_p">{{cur_goods_detail.shop_name}}</p>
                    </div>
                    <button type="button" class="go_detail" ng-click="go_details()">查看详情</button>
                    <button type="button" class="go_replace" ng-click="replace_material()">更换</button>
                </div>
            </div>
        </div>


        <!--弹窗删除-->

        <!--Modal -->
        <!--div class="modal fade bounceInUp" id="myModal_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
        <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<h4 class="modal-title" id="myModalLabel">是否删除</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
        <!--<div class="del_y">-->
        <!--<p>是否删除</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn  def_btn" data-dismiss="modal" >取消</button>-->
        <!--<button type="button" class="btn  del_btn">确定</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div><-->
    </section>



</div>