<link rel="stylesheet" href="pages/mall_manage/style_manage/choose_series/css/choose_series.css">
<div ng-controller="choose_series">
        <p class="choose_series_content">选择拥有系列的分类</p>
        <!--四个 ul-->
        <div class="ulright">
            <!--一级-->
            <ul>
                <li ng-repeat="n in details track by $index" ng-class="{'active':oneColor== n}" ng-click="getMore (n)">
                    {{n.title}}
                </li>
            </ul>
             <!--二级-->
            <ul >
                <li ng-repeat=" n in second track by $index" ng-class="{'active':twoColor== n}" ng-click="getMoreThree (n)">
                    {{n.title}}
                </li>
            </ul>

            <!--三级-->
            <ul class="thirdul">
                <li ng-repeat="n in three track by $index">
                    <label>
                        <input type="checkbox" ng-click="check_item(n)" ng-model="n.complete">
                        {{n.title}}
                    </label>
                </li>
            </ul>

            <ul class="lastul">
                <li ng-repeat="item in item_check track by $index">
                    {{item.title}}
                    <img ng-click="delete_item(item)" src="pages/mall_manage/style_manage/choose_series/image/close.png" alt="">
                </li>
            </ul>
        </div>

        <div class="btn-fixed">
            <button class="btn btn-primary btn-right" id="save" data-toggle="modal" data-target="#suremodal" ng-click="send_series()" >保存</button>
            <button class="btn btn-default" ui-sref="style_index">返回</button>
        </div>

    <!--保存提示框-->
    <div class="modal fade" id="suremodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>保存成功</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="back_return()">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>