.shop_manage{
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: 700;
}
.manage_child{
    font-size: 14px;
    color: #8D9199;
    line-height: 14px;
}

.shop_name{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_name span{
    color: #666F80;
    font-size: 14px;
}
.shop_name span:nth-child(2){
    margin-left: 85px;
}
.shop_img_more{
    margin-bottom: 25px;
    margin-top: 25px;
}
.shop_img_more span{

}
.shop_img_more img{
    width: 88px;
    height: 88px;
    border: 1px solid #ABABAB;
    margin-left: 88px;
    border-radius: 44px;
    vertical-align: text-top;
}
.shop_more{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_more span{
    color: #666F80;
    font-size: 14px;
}
.shop_more span:nth-child(2){
    margin-left:58px;
}
.shop_time{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_time span{
    color: #666F80;
    font-size: 14px;
}
.shop_time span:nth-child(2){
    margin-left:45px;
}
hr{
    margin-left: 6px;
    width: 90%;
    color: #ABABAB;
}
.shop_num{
    margin-bottom: 15px;
    margin-top: 40px;
}
.shop_num span:nth-child(2) {
    margin-left: 45px;
}
.shop_num span{
    color: #666F80;
}
.shop_num button{
    background-color: white;
    border: 1px solid #5677FC;
    width: 58px;
    height: 30px;
    margin-left: 15px;
    color: #5677FC;
}
.shop_num button a{
    text-decoration: none;
    color:#5677FC;
}
.shop_num span:nth-child(4){
    margin-left: 15px;
    color: #5677FC!important;
}
.shop_num span:nth-child(4) a{
    color: #5677FC;
    text-decoration: none;
}
.shop_m{
    margin-bottom: 15px;
    margin-top: 40px;
}
.shop_m span{
    color: #666F80;
}
.shop_m span:nth-child(2){
    margin-left: 75px;
}
.yes_no{
    margin-bottom: 15px;
    margin-top: 40px;
}
.yes_no span{
    color: #5677FC;
}
.yes_no  a{
    color: #5677FC!important;
}
.yes_no span:nth-child(2){
    color: #666F80;
    margin-left: 75px;
}
.flag{
    margin-bottom: 15px;
    margin-top: 40px;
}
.flag span {
    color: #666F80;
}
.flag span:nth-child(2){
    margin-left: 85px;
    color:#5677FC!important;
}
.flag span:nth-child(2) a{
    color:#5677FC!important;
}
.last_div span:nth-child(2){
    margin-left: 60px;
    color:#666F80;
}
.last_div span:nth-child(6){
    margin-left: 60px;
    color:#666F80;
}
.btn_back{
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn_back button{
    width: 80px;
    height: 34px;
    background-color: white;
    color: #5E6166;
    border: 1px solid #5E6166;
}