/*ͷ����ʼ*/
header{
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border-bottom: 1px solid #E6E9F0 ;
}
.shop_manage{
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: 700;
}
.manage_child{
    font-size: 14px;
    color: #8D9199;
    line-height: 14px;
}
header img{
    margin-left:75%;
}
/*ͷ������*/

/*��������*/
section{
    padding-left: 40px;
}
.shop_img{
    margin-bottom: 25px;
    margin-top: 25px;
}
.shop_img span{
    color: #666F80;
    font-size: 14px;
}
.shop_img img{
    width: 310px;
    height: 222px;
    border: 1px solid #ABABAB;
    margin-left: 75px;
    vertical-align: text-top;
}
.shop_name{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_name span{
    color: #666F80;
    font-size: 14px;
}
.shop_name span:nth-child(2){
    margin-left: 85px;
}
.shop_more{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_more span{
    color: #666F80;
    font-size: 14px;
}
.shop_more span:nth-child(2){
    margin-left: 115px;
}
.shop_na{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_na span{
    color: #666F80;
    font-size: 14px;
}
.shop_na span:nth-child(2){
    margin-left: 75px;
}
.btn_back{
    position: relative;

}
.btn_back button{
    width: 80px;
    height: 34px;
    background-color: white;
    /*margin-left: 15px;*/
    color: #5E6166;
    border: 1px solid #5E6166;
    position: absolute;
}