<link rel="stylesheet" href="pages/mall_manage/banner_app/banner_recommend/css/banner_recommend.css">
<div ng-controller="banner_recommend_ctrl">
    <!--APP推荐-banner开始-->
        <!--选择城市开始-->
        <div class="city">
                <label>
                    <span>选择省份</span>
                    <select  class="citySelect" ng-model="cur_province" ng-options="item.name for item in province" ng-change="getCity(cur_province)"></select>
                </label>
                <label>
                    <span>选择城市</span>
                    <select  class="citySelect" ng-model="cur_city" ng-options="item.name for item in city" ng-change="getCounty(cur_city)"></select>
                </label>
        </div>
        <!--选择城市结束-->

        <!--Banner、推荐选项卡开始-->
        <div class="myTab">
            <span ng-class="{'bottom_blue':(tab_banner_flag==true)}" ng-click="tab_banner()" ui-sref="banner_recommend">Banner</span>
            <span ng-class="{'bottom_blue':(tab_recommend_flag==true)}" ng-click="tab_recommend()"  ui-sref="index_recommend">推荐</span>
        </div>
        <!--Banner、推荐选项卡结束-->

        <!--Table操作（增删改查）开始-->

        <div class="tab_tools clearfix tab_class">
            <div class="pull-left">
                <button class="btn btn-info  pull-left" type="submit" ng-click="save_btn_ok()" data-toggle="modal" data-target="#my_modal_save"><i class="glyphicon glyphicon-floppy-disk"></i>保存</button>
                <button class="btn btn-primary pull-left btn_left" ng-click="clear_add_content()" type="submit" data-toggle="modal" data-target="#recommend_shop_modal_add"><i class="glyphicon glyphicon-plus"></i>添加</button>
                <button class="btn btn-default pull-left btn_left"  ng-modal="selectAll"  ng-click="all(selectAll)">全选</button>
                <button class="btn btn-default pull-left btn_left"  data-toggle="modal" data-target="#{{del_or_stop}}" ng-click="delete_batch_del()">删除</button>
                <button class="btn btn-default pull-left btn_left" data-toggle="modal" data-target="#{{stop_flag}}" ng-click="disable_batch()">停用</button>
                <a class="tab_history" ui-sref="banner_history"><i class="glyphicon glyphicon-home"></i> 历史数据</a>
            </div>
            <div class="pull-right">
                <!-- 筛选菜单 -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i>
                    </button>
                    <!--Menu-->
                    <ul class="dropdown-menu dropdown-menu-right btn_list_menu">
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_1" ng-click="show_all(show_1)">类型</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_2" ng-click="show_all(show_2)">商品编号</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_3" ng-click="show_all(show_3)">名称</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_4" ng-click="show_all(show_4)">来源商家</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_5" ng-click="show_all(show_5)">上架浏览</li>
                        <!--<li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_6" ng-click="show_all(show_6)">上架销量</li>-->
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_7" ng-click="show_all(show_7)">是否启用</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_8" ng-click="show_all(show_8)">创建时间</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_9" ng-click="show_all(show_9)">图片</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_10" ng-click="show_all(show_10)">库存</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_11" ng-click="show_all(show_11)">供货价格</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_12" ng-click="show_all(show_12)">平台价格</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_13" ng-click="show_all(show_13)">市场价格</li>
                        <li><input class="btn_list_menu_checkbox" type="checkbox"  ng-model="show_14" ng-click="show_all(show_14)">操作</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Table操作（增删改查）结束-->

        <!--Table内容  开始-->
            <table class="table table-hover table-responsive">
                <tr>
                    <th>&nbsp;</th>
                    <th ng-if="show_1">类型</th>
                    <th ng-if="show_2">商品编号</th>
                    <th ng-if="show_3">名称</th>
                    <th ng-if="show_4">来源商家</th>
                    <th ng-if="show_5"><span>上架浏览</span></th>
                    <!--<td ng-if="show_6" style="padding: 0 5px"><span>上架销量</span></td>-->
                    <th ng-if="show_7">是否启用</th>
                    <th ng-if="show_8"><span>创建时间</span></th>
                    <th ng-if="show_9">图片</th>
                    <th ng-if="show_10">库存</th>
                    <th ng-if="show_11">供货价格</th>
                    <th ng-if="show_12">平台价格</th>
                    <th ng-if="show_13">市场价格</th>
                    <th ng-if="show_14">操作</th>
                </tr>
                <!--数据展示-->
                <tr ng-repeat="item in shop_rep" ng-drop="true" ng-drag="true" ng-drop-success="dropComplete($index,$data,$event)" ng-drag-data="item">
                    <td ><input type="checkbox" ng-checked="selectAll" ng-model="item.state" ng-click="my_check(item)"></td>
                    <td ng-if="show_1">{{item.from_type}}</td>
                    <td ng-if="show_2">{{item.sku=='0' ? '无':item.sku}}</td>
                    <td ng-if="show_3">{{item.title}}</td>
                    <td ng-if="show_4">{{item.supplier_name==''?'链接':item.supplier_name}}</td>
                    <td ng-if="show_5">{{item.viewed_number}}</td>
                    <!--<td ng-if="show_6">{{item.sold_number}}</td>-->
                    <td ng-if="show_7" class="yesGreen" ng-class="{'noRed':(item.status=='停用')}">{{item.status}}</td>
                    <td ng-if="show_8">{{item.create_time}}</td>
                    <td ng-if="show_9"><img id="show_img_size" ng-src="{{item.image}}"></td>
                    <td ng-if="show_10&&item.sku!='0'">{{item.left_number}}</td>
                    <td ng-if="show_10&&item.sku=='0'">—</td>
                    <td ng-if="show_11&&item.sku!='0'">{{item.supplier_price}}</td>
                    <td ng-if="show_11&&item.sku=='0'">—</td>
                    <td ng-if="show_12&&item.sku!='0'">{{item.platform_price}}</td>
                    <td ng-if="show_12&&item.sku=='0'">—</td>
                    <td ng-if="show_13&&item.sku!='0'">{{item.market_price}}</td>
                    <td ng-if="show_13&&item.sku=='0'">—</td>
                    <td ng-if="show_14">
                        <a ng-if="item.status=='停用'" ng-click="start_use(item)" data-toggle="modal" data-target="{{solo_begin_modal}}">启用</a>
                        <a ng-if="item.status=='启用'" ng-click="stop_use(item)" data-toggle="modal" data-target="#solo_stop_modal">停用</a>
                        <a data-toggle="modal" data-target="{{recommend_shop_modal_edit}}" ng-click="shop_edit_item(item)">编辑</a>
                        <a data-toggle="modal" data-target="#recommend_shop_modal_details" ng-click="shop_details(item)">详情</a>
                        <a data-toggle="modal" data-target="#recommend_modal_disable_del" ng-click="shop_del(item)">删除</a>
                    </td>
                </tr>
            </table>
        <!--Table内容  结束-->

        <!--保存模态框开始-->
        <div class="modal fade" id="my_modal_save" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">保存</h4>
                    </div>
                    <div class="modal-body">
                        确认保存
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="banner_save_confirm()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--保存模态框结束-->

        <!--商家  添加模态框开始-->
        <div class="modal fade" id="recommend_shop_modal_add" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-horizontal" name="shop_form" novalidate>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">添加Banner</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal_tab">
                                <button class="btn btn-primary">商家</button>
                                <span data-dismiss="modal" data-toggle="modal" data-target="#recommend_link_modal_add" ng-click="clear_add_content()">链接</span>
                            </div>
                            <div id="shop_num_null" ng-if="(shop_form.shop_num_name.$invalid &&submitted)||(shop_form.shop_num_name.$error.required && num_blur)">
                                <span class="shop_left">商品编号不能为空</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>商品编号</span>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input class="form-control" id="shop_add_num_input" type="text" ng-model="shop_model" name="shop_num_name" required ng-blur="num_blur=!!shop_form.shop_num_name.$error"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn_height" ng-click="recommend_shop_add_get()">获取</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>商品标题</span>
                                </div>
                                <div class="col-sm-10">
                                    <input class="still form-control" name="shop_title_name" disabled="disabled" ng-model="recommend_shop_title" type="text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>商品链接</span>
                                </div>
                                <div class="col-sm-10">
                                <input class="still form-control" ng-model="recommend_shop_url" type="text"  disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <i class="red">*</i>
                                    <span>是否启用</span>
                                </div>
                                <div class="col-sm-2">
                                    <input ng-click="shop_check=1" type="radio" ng-checked="shop_check==1">是
                                </div>
                                <div class="col-sm-2">
                                   <input ng-click="shop_check=0" type="radio" ng-checked="shop_check==0">否
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <i class="red">*</i>
                                    <span>图片</span>
                                </div>
                                <div class="col-sm-10">
                                    <img id="modal_img"  ng-if="!!upload_img_src" ng-src="{{upload_img_src}}"/>
                                    <img id="modal_img2" ng-if="!upload_img_src" src="pages/mall_manage/banner_app/banner_recommend/images/default.png"/>
                                </div>
                                <div class="col-sm-offset-2 img_txt">
                                    <p class="modal_red" ng-if="!!img_flag">{{img_flag}}</p>
                                    <button class="btn btn-default btn_top" ngf-pattern="image/*" ng-change="upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">上传</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button ng-click="recommend_shop_add_btn(shop_form.$valid)" data-dismiss="{{variable_add_modal}}" id="recommend_shop_add_btn" type="button" class="btn btn-primary">确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear_add_content()">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--商家 添加模态 框结束-->

        <!--链接  添加模态框开始-->
        <div class="modal fade" id="recommend_link_modal_add" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-horizontal" name="link_form" novalidate>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">添加Banner</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal_tab">
                                <span data-dismiss="modal" data-toggle="modal" data-target="#recommend_shop_modal_add" ng-click="clear_add_content()">商家</span>
                                <button class="btn btn-primary">链接</button>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>名称</span>
                                </div>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" ng-model="recommend_link_title" name="link_title_name" required ng-blur="link_title_blur=!!link_form.link_title_name.$error" ng-class="{'border_red':(link_form.link_title_name.$invalid &&link_submitted)||(link_form.link_title_name.$error.required && link_title_blur)}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>链接</span>
                                </div>
                                <div class="col-sm-10">
                                <input class="form-control" type="text"  ng-model="recommend_link_url" name="link_link_name" required ng-blur="link_link_blur=!!link_form.link_link_name.$error" ng-class="{'border_red':(link_form.link_link_name.$invalid &&link_submitted)||(link_form.link_link_name.$error.required && link_link_blur)}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>是否启用</span>
                                </div>
                                <div class="col-sm-2 control-label">
                                    <input ng-click="link_check=1" type="radio" ng-checked="link_check==1">是
                                </div>
                                <div class="col-sm-2 control-label">
                                    <input ng-click="link_check=0" type="radio" ng-checked="link_check==0">否
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <i class="red">*</i>
                                    <span>图片</span>
                                </div>
                                <div class="col-sm-10">
                                    <img id="modal_link_img"  ng-if="!!upload_link_img_src" ng-src="{{upload_link_img_src}}"/>
                                    <img id="modal_link_img2" ng-if="!upload_link_img_src" src="pages/mall_manage/banner_app/banner_recommend/images/default.png"/>
                                </div>
                                <div class="col-sm-offset-2 img_txt">
                                    <p class="modal_red" ng-if="!!img_link_flag">{{img_link_flag}}</p>
                                    <button class="btn btn-default btn_top" ngf-pattern="image/*" ng-change="upload_link(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">上传</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="{{variable_link_add_modal}}" ng-click="recommend_link_add_btn(link_form.$valid)">确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear_add_content()">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--链接 添加模态框 结束-->

        <!--删除模态框开始-->
        <div class="modal fade modelCenter" id="my_modal_del" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">删除</h4>
                    </div>
                    <div class="modal-body">
                        确认删除{{delete_batch_num.length}}个？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delete_batch_btn()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--删除模态框结束-->

        <!--停用模态框开始-->
        <div class="modal fade modelCenter" id="my_modal_stop" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">停用</h4>
                    </div>
                    <div class="modal-body">
                        确认停用{{disable_batch_num.length}}个？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="disable_batch_btn()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--停用模态框结束-->

        <!--未停用 删除模态框开始-->
        <div class="modal fade modelCenter" id="my_modal_del_stop" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        请停用后再操作
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <!--未停用 删除模态框结束-->

        <!--未启用 停用模态框开始-->
        <div class="modal fade modelCenter" id="my_modal_stop_begin" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        请启用后再操作
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <!--未启用 停用模态框结束-->

        <!--提示勾选开始-->
        <div  class="modal fade modelCenter" id="my_modal_check" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        请勾选后在操作
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!--提示勾选结束-->

        <!--商家|链接  编辑模态框开始-->
        <div class="modal fade" id="recommend_shop_modal_edit" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-horizontal" name="edit_form" novalidate>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">推荐——{{edit_item.from_type}}编辑</h4>
                        </div>
                        <!--商家-->
                        <div class="modal-body" ng-if="edit_item.from_type=='商家'">
                            <div id="shop_num_null2" ng-if="(edit_form.edit_shop_num.$invalid &&submitted)||(edit_form.edit_shop_num.$error.required && edit_shop_num_blur)">
                                <span class="shop_left">商品编号不能为空</span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>商铺编号</span>
                                </div>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="edit_shop_num" ng-model="myng.shop_edit_sku"  required ng-class="{'border_red':(edit_form.edit_shop_num.$invalid &&submitted)||(edit_form.edit_shop_num.$error.required && edit_shop_num_blur)}" ng-blur="edit_shop_num_blur=!!edit_form.edit_shop_num.$error"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn_height" ng-click="recommend_shop_edit_get()">获取</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>商品链接</span>
                                </div>
                                <div class="col-sm-10">
                                    <input ng-model="recommend_shop_edit_url" type="text" disabled="disabled"  class="still form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>标题</span>
                                </div>
                                <div class="col-sm-10">
                                <input name="edit_shop_title" class="still form-control" disabled="disabled" ng-model="myng.recommend_shop_edit_title" type="text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>是否启用</span>
                                </div>
                                <div class="col-sm-2 control-label">
                                    <input ng-click="myng.shop_edit_check=1" type="radio" ng-checked="myng.shop_edit_check==1">是
                                </div>
                                <div class="col-sm-2 control-label">
                                    <input ng-click="myng.shop_edit_check=0" type="radio" ng-checked="myng.shop_edit_check==0">否
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>图片</span>
                                </div>
                                <div class="col-sm-10 control-label">
                                    <img id="modal_edit_img"  ng-if="!upload_img_src" ng-src="{{myng.recommend_shop_edit_img}}"/>
                                    <img id="modal_edit_img2" ng-if="!!upload_img_src" ngf-src="data.file" />
                                </div>
                                <div class="col-sm-offset-2 img_txt">
                                    <p class="modal_red" ng-if="!!img_flag">{{img_flag}}</p>
                                    <button class="btn btn-default btn_top" ngf-pattern="image/*" ng-change="upload(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">上传</button>
                                </div>
                            </div>
                        </div>
                        <!--链接-->
                        <div class="modal-body" ng-if="edit_item.from_type=='链接'">
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>名称</span>
                                </div>
                                <div class="col-sm-10 control-label">
                                    <input class="form-control" type="text" ng-model="myng.link_edit_title" name="edit_link_title" required ng-class="{'border_red':(edit_form.edit_link_title.$invalid &&submitted)||(edit_form.edit_link_title.$error.required && edit_link_title_blur)}" ng-blur="edit_link_title_blur=!!edit_form.edit_link_title.$error"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>链接</span>
                                </div>
                                <div class="col-sm-10 control-label">
                                    <input class="form-control" type="text" ng-model="myng.link_edit_url" name="edit_link_link" required ng-class="{'border_red':(edit_form.edit_link_link.$invalid &&submitted)||(edit_form.edit_link_link.$error.required && edit_link_link_blur)}" ng-blur="edit_link_link_blur=!!edit_form.edit_link_link.$error"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>是否启用</span>
                                </div>
                                <div class="col-sm-2 control-label">
                                    <input ng-click="myng.shop_edit_check=1" type="radio" ng-checked="myng.shop_edit_check==1">是
                                </div>
                                <div class="col-sm-2 control-label">
                                <input ng-click="myng.shop_edit_check=0" type="radio" ng-checked="myng.shop_edit_check==0">否
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label">
                                    <i class="red">*</i>
                                    <span>图片</span>
                                </div>
                                <div class="col-sm-10 control-label">
                                    <img id="modal_edit_link_img"  ng-if="!upload_link_img_src" ng-src="{{myng.link_edit_img}}" />
                                    <img id="modal_edit_link_img2" ng-if="!!upload_link_img_src" ngf-src="data.file" />
                                </div>
                                <div class="col-sm-offset-2 img_txt">
                                    <p class="modal_red" ng-if="!!img_link_flag">{{img_link_flag}}</p>
                                    <button class="btn btn-default btn_top" ngf-pattern="image/*" ng-change="upload_link(data.file)"  ngf-select="" ngf-multiple="false" ng-model="data.file">上传</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="{{variable_modal}}" ng-click="recommend_shop_edit(edit_form.$valid)">确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--商铺|链接 编辑模态框结束-->


        <!--商铺|链接  详情模态框开始-->
        <div class="modal fade modelCenter" id="recommend_shop_modal_details" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <!--商铺详情模态框-->
                <div class="modal-content" ng-if="shop_datails.from_type=='商家'">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">推荐——商家详情</h4>
                    </div>
                    <!--商铺详情模态框-->
                    <div class="modal-body" >
                        <div class="row">
                            <p class="col-sm-12">商品名称 : {{shop_details_title}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">类型 : {{shop_details_types}}</p>
                            <p class="col-sm-6">商品编号 : {{shop_details_sku}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">来源商家 : {{shop_details_supplier_name}}</p>
                            <p class="col-sm-6">创建时间 : {{shop_details_time}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">是否启用 : <span class="yesGreen" ng-class="{'noRed':(shop_details_status=='停用')}">{{shop_details_status}}</span></p>
                            <p class="col-sm-6">上架浏览 : <span class="blue">{{shop_details_viewed_number}}</span></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">库存 : {{shop_details_viewed_left}}</p>
                            <p class="col-sm-6">供货价格 : {{shop_details_supplier_price}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">平台价格 : {{shop_details_platform_price}}</p>
                            <p class="col-sm-6">市场价格 : {{shop_details_market_price}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-12">图片 : </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img id="shop_details_img" ng-src="{{shop_details_img}}" >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>

                <!--链接详情模态框-->
                <div class="modal-content" ng-if="shop_datails.from_type=='链接'">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">推荐——链接详情</h4>
                    </div>
                    <!--商铺详情模态框-->
                    <div class="modal-body">
                        <div class="row">
                            <p class="col-sm-6">名称 : {{link_details_title}}</p>
                            <p class="col-sm-6">类型 : {{link_details_from_type}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">来源商家 : <span class="blue">{{link_details_supplier_name==''?'链接':link_details_supplier_name}}</span></p>
                            <p class="col-sm-6">创建时间 : {{link_details_create_time}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-6">是否启用 : <span class="yesGreen" ng-class="{'noRed':(link_details_status=='停用')}">{{link_details_status}}</span></p>
                            <p class="col-sm-6">浏览 : {{link_details_viewed_number}}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-12">图片 : </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <img id="link_details_img" ng-src="{{link_details_img}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!--商铺|链接 详情模态框结束-->

        <!--推荐停用|启用 删除模态框开始-->
        <div class="modal fade modelCenter" id="recommend_modal_disable_del" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <!--状态为停用时弹出-->
                <div class="modal-content" ng-if="del_ok_index.status=='停用'">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">停用删除</h4>
                    </div>
                    <div class="modal-body">
                        确定删除?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="shop_del_ok()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
                <!--状态为启用时弹出-->
                <div class="modal-content" ng-if="del_ok_index.status=='启用'">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">已启用删除</h4>
                    </div>
                    <div class="modal-body" ng-if="del_ok_index.status='启用'">
                        请停用后再删除
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!--推荐停用 删除模态框结束-->

        <!--单个停用模态框 开始-->
        <div class="modal fade modelCenter" id="solo_stop_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        确认停用？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sole_stop_btn()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--单个停用模态框 结束-->

        <!--单个启用模态框 开始-->
        <div class="modal fade modelCenter" id="solo_begin_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        确认启用？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sole_begin_btn()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--单个启用模态框 结束-->
        <!--请先上架商品模态框 开始-->
        <div class="modal fade modelCenter" id="please_up_shops" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        该商品已下架，请先上架商品后再进行操作
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
        <!--请先上架商品模态框  结束-->
</div>
