<link rel="stylesheet" href="pages/mall_manage/new_brand_class_manage/new_brand_class/css/new_brand_class_check.css">
<div ng-controller="new_brand_check_ctrl">
  <from class="form-horizontal">
  <div class="row">
    <div class="col-sm-2">品牌名称</div>
    <div class="col-sm-10">{{name}}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-2">商标注册证</div>
    <div class="col-sm-10">
      <img class="certificate-size" ng-src="{{certificate}}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">品牌LOGO</div>
    <div class="col-sm-10">
      <img class="logo-size" ng-src="{{logo}}" alt="">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-2">选择品牌所在分类</div>
    <div class="col-sm-10">
      <div class="col-sm-2">一级分类</div>
      <div class="col-sm-2">二级分类</div>
      <div class="col-sm-2">三级分类</div>
    </div>
  </div>
  <div class="row">
    <div ng-repeat="item in category_titles">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="col-sm-2">{{item.root_category_title}}</div>
        <div class="col-sm-2">{{item.parent_category_title}}</div>
        <div class="col-sm-8">{{item.level3_category_titles}}</div>
      </div>
    </div>
  </div>
    <hr>
  <div class="row">
    <div class="col-sm-2">申请人</div>
    <div class="col-sm-10">{{apply_people}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">申请时间</div>
    <div class="col-sm-10">{{create_time}}</div>
  </div>
    <hr>
    <!--等待审核状态-->
    <div ng-if="pass_review_status=='待审核'">
      <div class="row">
        <div class="col-sm-2">审核状态</div>
        <div class="col-sm-2">
          <select class="form-control" ng-model="check_select"  ng-options="item.value as item.name for item in check_arr"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">审核备注(选填)</div>
        <div class="col-sm-8 remark-box">
          <textarea class="form-control red_mark-txt" ng-change="change_txt(remark)" ng-model="remark" placeholder="请填写通过/不通过原因" maxlength="100"></textarea>
          <span class="word-num">{{remark.length}}/100</span>
        </div>
      </div>
    </div>

    <!--通过或不通过状态-->
    <div ng-if="pass_review_status!='待审核'">
      <div class="row">
        <div class="col-sm-2">审核状态</div>
        <div class="col-sm-10" ng-class="{'red':review_status=='不通过','green':review_status=='通过'}">{{review_status}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2">审核时间</div>
        <div class="col-sm-10">{{review_time}}</div>
      </div>
      <div class="row">
        <div class="col-sm-2">审核备注</div>
        <div class="col-sm-10">{{reason}}</div>
      </div>
      </div>
  </from>
  <button class="btn btn-primary btn-right" ng-if="pass_review_status=='待审核'" data-toggle="modal" data-target="#check_modal">确认</button>
  <button class="btn btn-default" ng-click="back_btn()">返回</button>
  <!--确认-->
  <div class="modal fade" id="check_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body">
          是否确认操作
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="check_ok()">确认</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>