<link rel="stylesheet" href="pages/shop_manage/css/authorize_detail.css">
<div ng-controller="authorizedetail_ctrl">
    <!--顶部导航-->
    <header>
        <div>
            <i class="glyphicon glyphicon-home"></i>
            <span class="order_manage" ng-click="tabFunc('basic_flag')">店铺管理</span>
            <span> >品牌授权详情页 </span>
            <img src="pages/shop_manage/authorize_detail/image/user.png"/>
        </div>
    </header>

    <section class="authorize_detail">
       <div class="belong_class">
           <span>商家所属分类</span>
           <span>{{data.category_title}}</span>
       </div>

        <div class="brand">
            <span>品牌</span>
            <span>{{data.brand_name}}</span>
        </div>

        <div class="authorize_time">
            <span>授权期限</span>
            <span>{{data.authorization_start}} 至 {{data.authorization_end}}</span>
        </div>

        <hr>

        <div class="authorize_byclass">
            <span>授权书上传</span>
        </div>
        <div class="authorize_byclass" ng-repeat="obj in data.images">
            <span>{{obj.authorization_name}}</span>
            <img ng-src="{{obj.image}}">
        </div>

        <hr>

        <div class="apply_user">
            <span>申请店铺</span>
            <span>{{data.supplier_name}}</span>
        </div>

        <div class="apply_user">
            <span>申请账户</span>
            <span>{{data.mobile}}</span>
        </div>

        <div class="apply_user">
            <span>申请时间</span>
            <span>{{data.create_time}}</span>
        </div>

        <hr>

        <div class="apply_user">
            <span>审核状态</span>
            <span>{{data.review_status_desc}}</span>
        </div>

        <div class="apply_user">
            <span>审核备注</span>
            <span>{{data.review_note}}</span>
        </div>

        <div class="apply_user">
            <span>审核时间</span>
            <span>{{data.review_time}}</span>
        </div>
        <button class="btn btn-default" id="back" ui-sref="shop_manage({authorize_flag:true})">返回</button>
    </section>
</div>