hr{
    color: #ABABAB;
}
p{
    margin: 1em 0;
}
.book_img{
    width: 310px;
    height: 220px;
    vertical-align: text-top;
}
.red{
    color:#FF5722!important;
}
.green{
    color: #8BC34A!important;
}