/*顶部导航*/
ul{
    padding: 0;
    list-style: none;
}
/*内容*/
.series_detail_content{
    padding-top: 50px;
    padding-left: 40px;
    color: #666F80;
    font-size: 14px;
}

/*系列名称*/
.red_mark {
    color: #E51C23;
    margin-left: -17px;
}
.color_skyblue{
    color:#03A9F4!important;
}
.series_name input {
    margin-left: 87px;
    width: 245px;
    height: 31px;
    margin-left: 87px;
    border: 1px solid #999;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 31px;
}

#limitword {
    margin-left: 20px;
    font-size: 13px;
    color: #ABABAB;
}

.series_name p {
    font-size: 12px;
    margin-left: 146px;
    margin-top: 5px;
}

/*创建时间*/
.create_time{
    margin-top: 25px;
}

.create_time span:last-child{
    margin-left: 87px;
}

/*状态*/
.state{
  margin-top: 25px;
}

.state span:last-child{
    margin-left: 115px;
}

/*系列标签*/
.series_tag img[alt=add_tag]{
    width: 24px;
    height: 26px;
    margin-left: 53px;
    margin-right: 10px;
}

.series_tag{
    margin-top: 25px;
}

.tags{
    display: inline-block;
    vertical-align: top;
}

.tags li{
    float: left;
    margin-right: 13px;
    width: 88px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #ABABAB;
    /*border: 1px solid #666F80;*/
    border-radius: 3px;
    position: relative;
}
.tags li input{
    width: 88px;
    height: 31px;
    /*text-align: center;*/
    padding-left: 6px;
    line-height: 31px;
    color: #ABABAB;
    border: 1px solid #666F80;
    border-radius: 3px;
}
.tags span{
    font-size: 13px;
    color: #ABABAB;
    margin-left: -5px;
    vertical-align: sub;
}

.closetag{
    position: absolute;
    left: 76px;
    top: -10px;
    width: 21px!important;
    height: 21px!important;
}

/*所处等级*/
.present_level{
    margin-top: 50px;
}

#level_select{
    margin-left: 87px;
    width: 200px;
    height: 30px;
    padding-left: 5px;
    border-radius: 3px;
}

/*系列介绍*/
.series_intro{
    position: relative;
    margin-top: 50px;
}

.series_intro textarea{
    width: 750px;
    height: 145px;
    vertical-align: top;
    margin-left: 87px;
    border-radius: 3px;
}
.word_num{
    position: absolute;
    bottom:0;
    margin-left: -50px;
}



/*两个按钮*/
.btn_sure{
    margin-top: 70px;
}
.btn_left{
    margin-left: 20px;
}

/*确认*/
/*确认提示框*/
#save_content{
    width: 636px;
    height: 256px;
}

#tishi{
    padding-left: 13px;
    padding-top: 6px;
    font-weight: bold;
}

#tishi_wenzi{
    font-size: 16px;
    padding-left: 13px;
}

#caozuo_sure{
    width: 80px;
    height: 34px;
    border: 1px solid #487AF8;
    color: #487AF8;
    background-color: #F2F4FF;
    border-radius: 3px;
    padding-left: 5px;
    line-height: 34px;
    font-size: 12px;
    margin-top: 54px;
}

#caozuo_sure{
    float: right;
    margin-right: 40px;
}

.add_vis{
    visibility: hidden;
}
.border_red{
    border: 1px solid red!important;
    outline: 0;
}