.inline-block {
    width: auto;
}

.no-warp {
    white-space: nowrap;
}

.dropdown button {
    display: inline-block;
    width: auto;
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-menu ul {
    padding-left: 0;
    max-height: 280px;
    overflow-y: auto;
}

.dropdown-menu li {
    padding: 5px;
}

.dropdown-menu li:hover {
    color: #fff;
    background-color: #1b7cee;
}