<link rel="stylesheet" href="pages/mall_manage/banner_app/index_recommend_history/css/index_recommend_history.css">
<div ng-controller="index_recommend_history_ctrl">
        <!--选择城市开始-->
        <div class="city">
            <div class="form-inline clearfix">
                <select  name="province" ng-model="params.time_type" ng-change="type_change(params.time_type)" class="form-control" ng-options="item.value as item.name for item in time"></select>
                <input ng-if="params.time_type=='custom'" id="start_time" ng-change="time_change()"  ng-model="params.start_time" max-date="{{params.end_time}}" ngc-lay-date  class="form-control" type="text" placeholder="开始时间">
                <input ng-if="params.time_type=='custom'" id="end_time"  ng-change="time_change()"  ng-model="params.end_time" min-date="{{params.start_time}}" ngc-lay-date  class="form-control" type="text"  placeholder="结束时间">
            </div>
        </div>
        <!--Table内容  开始-->
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>商品编号</th>
                        <th>标题</th>
                        <th>来源商家</th>
                        <th>上架浏览</th>
                        <!--<td>上架销量</td>-->
                        <th>平台价格</th>
                        <th>创建时间</th>
                        <th>图片</th>
                        <th>详情</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in recommendList">
                        <td>{{item.from_type}}</td>
                        <td>{{item.sku=='0'?'无':item.sku}}</td>
                        <td class="table_txt">{{item.title}}</td>
                        <td class="blue">{{item.supplier_name==''?'链接':item.supplier_name}}</td>
                        <td>{{item.viewed_number}}</td>
                        <!--<td>{{item.sold_number}}</td>-->
                        <td ng-if="item.sku!='0'">{{item.platform_price}}</td>
                        <td ng-if="item.sku=='0'">—</td>
                        <td>{{item.create_time}}</td>
                        <td><img id="show_img_size" ng-src="{{item.image}}" alt=""></td>
                        <td><a data-target="#shop_modal_details" data-toggle="modal" ng-click="shop_details(item)">详情</a></td>
                    </tr>
                </tbody>
            </table>
            <!--分页-->
            <tm-pagination conf="Config"></tm-pagination>
    <!--商铺|链接  详情模态框开始-->
    <div class="modal fade" id="shop_modal_details">
        <div class="modal-dialog" role="document">
            <!--商铺详情模态框-->
            <div class="modal-content" ng-if="shop_datails.from_type=='商家'">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">推荐——商家详情</h4>
                </div>
                <!--商铺详情模态框-->
                <div class="modal-body" >
                    <div class="row">
                        <p class="col-sm-12">商品名称 : {{shop_details_title}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">类型 : {{shop_details_types}}</p>
                        <p class="col-sm-6">商品编号 : {{shop_details_sku}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">来源商家 : {{shop_details_supplier_name}}</p>
                        <p class="col-sm-6">创建时间 : {{shop_details_time}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">是否启用 : <span class="yesGreen" ng-class="{'noRed':(shop_details_status=='停用')}">{{shop_details_status}}</span></p>
                        <p class="col-sm-6">上架浏览 : <span class="blue">{{shop_details_viewed_number}}</span></p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">库存 : {{shop_details_viewed_left}}</p>
                        <p class="col-sm-6">供货价格 : {{shop_details_supplier_price}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">平台价格 : {{shop_details_platform_price}}</p>
                        <p class="col-sm-6">市场价格 : {{shop_details_market_price}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-12">图片 : </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 img_box">
                            <img class="img_width" ng-src="{{shop_details_img}}" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>

            <!--链接详情模态框-->
            <div class="modal-content" ng-if="shop_datails.from_type=='链接'">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">推荐——链接详情</h4>
                </div>
                <!--商铺详情模态框-->
                <div class="modal-body">
                    <div class="row">
                        <p class="col-sm-6">名称 : {{link_details_title}}</p>
                        <p class="col-sm-6">类型 : {{link_details_from_type}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">来源商家 : <span class="blue">{{link_details_supplier_name==''?'链接':link_details_supplier_name}}</span></p>
                        <p class="col-sm-6">创建时间 : {{link_details_create_time}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-6">是否启用 : <span class="yesGreen" ng-class="{'noRed':(link_details_status=='停用')}">{{link_details_status}}</span></p>
                        <p class="col-sm-6">浏览 : {{link_details_viewed_number}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-12">图片 : </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 img_box">
                            <img class="img_width" ng-src="{{link_details_img}}"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--商铺|链接 详情模态框结束-->
</div>
