/*内容开始*/
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    height: 37px;
    line-height: 37px;
}
.hr_p{
    border-bottom: 1px solid #eee;
}
.row{
    margin-bottom: 20px;
}

.money_hr{
    margin: 10px 0;
    padding-left: 0;
}

/*模态框*/
.red_mark {
    color: red;
}

#express_name {
    width: 247px;
    height: 30px;
    margin-left: 44px;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 30px;
}

#send_modal modal-body {
    color: #666F80;
}

.warning {
    width: 522px;
    height: 30px;
    background: #FFF2F2;
    color: #E82A2A;
    border: 1px solid #E82A2A;
    border-radius: 3px;
    font-weight: bold;
    padding: 16px 0 16px 10px;
    margin-bottom: 20px;
    line-height: 0;
}

#total {
    color: #FF9800;
}
.arrows {
    color: #487AF8;
    cursor: pointer;
    font-size: 26px;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}

