hr{
    margin: 10px 0;
}
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    height: 35px;
    line-height: 35px;
}
.form-horizontal .control-label{
    text-align: left;
}
.row{
    margin-bottom: 20px;
}
.hr_p{
    border-bottom: 1px solid #eee;
}
.attr_span{
    padding-left: 0;
    margin-bottom: 10px;
}
.arrow_class{
    color: #487AF8;
    cursor: pointer;
    font-size:26px;
}


#send_modal modal-body {
    color: #666F80;
}

#total {
    color: #FF9800;
}

.arrows {
    color: #5677FC;
    margin-left: 55px;
}
.border_red{
    border: 1px solid red;
}
#textcount{
    position: absolute;
    right: 20px;
    bottom: 0;
}
.btn-right{
    margin-right: 15px;
}


/* 评论图片放大 */
.modal-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-img button {
    position: absolute;
    top: 15px;
    right: 18px;
    z-index: 10;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}



