/*内容开始*/
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
}

li{
    list-style: circle!important;
}

/*——订单详情——*/
.order_detail > div, .good_detail > div {
    margin-top: 20px;
}

/*订单号*/
.order_num span:last-child {
    margin-left: 97px;
}

.order_state span:last-child {
    margin-left: 83px;
}

hr{
    margin-top: 29px;
    margin-bottom: 37px;
}

ul{
    margin-top: 41px;
}

ul li p:last-child{
    font-size: 14px;
    color: #C5C6C9;
}

.btns{
    margin-top: 175px;
}

#back{
    margin-bottom: 43px;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}
