* {
    outline: none;
}

header {
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border-bottom: 1px solid #E6E9F0;
    position: relative;
}

header span:nth-child(2),
header span:nth-child(3) {
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

header span:nth-child(4) {
    color: rgba(171, 171, 171, 1);
}

header img {
    position: absolute;
    right: 20px;
    top: 8px;
}

/*内容开始*/
section {
    padding-left: 40px;
    color: #666F80;
}

.order_detail {
    margin-top: 40px;
}

h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
}

/*——订单详情——*/
.order_detail > div, .good_detail > div {
    margin-top: 20px;
}

/*订单号*/
.order_num span:last-child {
    margin-left: 97px;
}

.order_state span:last-child {
    margin-left: 83px;
}

hr{
    margin-top: 29px;
    margin-bottom: 37px;
}

ul{
    margin-top: 41px;
}

ul li p:last-child{
    font-size: 14px;
    color: #C5C6C9;
}

.btns{
    margin-top: 175px;
}

#back{
    margin-bottom: 43px;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}
