hr{
    margin: 10px 0;
}
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    height: 35px;
    line-height: 35px;
}
.form-horizontal .control-label{
    text-align: left;
}
.row{
    margin-bottom: 20px;
}
.hr_p{
    border-bottom: 1px solid #eee;
}
.total{
    color: #FF9800!important;
}
.img_box{
    width: 100px;
    height: 100px;
}
.img_box img{
    width: 100%;
}
.score{
    color: #979899;
}
.score_small{
    font-size: 12px;
    color: #979899;
}
.attr_span{
    padding-left: 0;
    margin-bottom: 10px;
}
.arrow_class{
    color: #487AF8;
    cursor: pointer;
    font-size:26px;
}
.btn-right{
    margin-right: 15px;
}
.red{
    color: #E51C23;
}

.track_p{
    border: 1px solid red;
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    background-color: #FFF2F2;
    color: #E82A2A;
    border-radius: 3px;
}