
.track_red{
    color: red;
}
.track_span{
    height: 34px;
    line-height: 34px;
}
.track_p{
    border: 1px solid red;
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    background-color: #FFF2F2;
    color: #E82A2A;
    border-radius: 3px;
}

.txt_red{
    color: #FF5722;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}




