/*内容开始*/
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    height: 37px;
    line-height: 37px;
}
.hr_p{
    border-bottom: 1px solid #eee;
}
.row{
    margin-bottom: 20px;
}

.good_attr {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 83px;
    padding: 0;
}

.good_attr li {
    margin-bottom: 14px;
}

#total{
    color: #FF9800;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}