/*顶部导航*/
*{
    outline: none;
}

li {
    list-style: none;
}
/*内容开始*/
section {
    padding: 40px 0 0 40px;
    color: #666F80;
}

h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
}
.arrow_class{
    margin-left:55px;
    color: #5677FC;
}
/*——订单详情——*/
.order_detail > div, .good_detail > div {
    margin-top: 20px;
}

/*订单号*/
.order_num span:last-child {
    margin-left: 97px;
}

.order_state span:last-child {
    margin-left: 83px;
}

/*用户*/
.user span:last-child {
    margin-left: 111px;
}

/*订单金额*/
.order_money ul:nth-child(2) {
    display: inline-block;
    margin-left: 84px;
    vertical-align: text-top;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid whitesmoke;

}

.order_money ul li {
    float: left;
    width: 120px;
}

.order_money > ul:last-child {
    margin-left: 102px;
}

/*供货价*/
.supplier_money {
    margin-top: 40px !important;
}

.supplier_money span:last-child {
    margin-left: 97px;
}

/*市场价*/
.market_money span:last-child {
    margin-left: 97px;
}

/*剩余付款时间*/
.left_paytime span:last-child {
    margin-left: 83px;
}
/*配送方式*/
.shipping_type span:nth-child(2){
    margin-left: 83px;
}
.shipping_way{
    cursor: pointer;
    color: #487AF8;
}
.shipping_type span:nth-child(3){
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: black;
}


/*————订单详情————*/
.good_detail h3 {
    display: inline;
}

.view_good {
    margin-left: 74px;
    width: 95px;
    height: 28px;
    background: #F2F4FF;
    color: #487AF8;
    border: 1px solid #487AF8;
    border-radius: 3px;
}

.good_attr {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 83px;
    padding: 0;
}

.good_attr li {
    margin-bottom: 14px;
}

/*电话*/
.phonenum span:last-child {
    margin-left: 112px;
}

/*纳税人识别码*/
.udid span:last-child {
    margin-left: 56px;
}

.back {
    margin-left: 10px;
}
/*异常*/
.unusual_detail{
    margin-top: 20px;
}
.unusual_detail>ul{
    padding-left: 15px;
    margin: 20px 0;
}
.unusual_detail>ul>li:nth-child(1){
    list-style: disc;
}
.unusual_detail>ul>li{
    float: left;
    margin-right:70px;
}
.unusual_detail>ul:after{
    content: '';
    display: table;
    clear: both;
}
.btn_group{
    margin: 35px 0;
}
/*模态框*/
.red_mark {
    color: red;
}

#express_name {
    width: 247px;
    height: 30px;
    margin-left: 44px;
    border-radius: 3px;
    padding-left: 10px;
    line-height: 30px;
}

#send_modal modal-body {
    color: #666F80;
}

.express_num {
    margin-top: 38px;
}

.express_num input {
    vertical-align: text-top;
    width: 360px;
    height: 30px;
    margin-left: 72px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
}

.warning{
    width: 522px;
    height: 30px;
    background: #FFF2F2;
    color:#E82A2A;
    border: 1px solid #E82A2A;
    border-radius: 3px;
    font-weight: bold;
    padding: 16px 0 16px 10px;
    margin-bottom: 20px;
    line-height: 0;
}

#total{
    color: #FF9800;
}

/*快递单号*/
.delivery_input{
    width: 420px;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
    /*margin-left: 30px;*/
    float: right;
}
.track_p{
    border: 1px solid red;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    background-color: #FFF2F2;
    color: #E82A2A;
    padding-left: 10px;
    font-size: 16px;
}
.track_span:nth-child(1){
    color: red;
}
.track_span{
    font-size: 16px;
    line-height: 32px;
}
/*属性*/
.attr_span{
    display: inline-block;
    width: 80px;
}
.h3_display{
    display: inline-block;
}
.ver_top{
    vertical-align: top;
}
.track_red{
    color: red;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}