
/*内容开始*/
section {
    padding: 40px 0 0 40px;
    color: #666F80;
}
hr{
    margin: 10px 0;
}
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    height: 35px;
    line-height: 35px;
}
.row{
    margin-bottom: 20px;
}
.hr_p{
    border-bottom: 1px solid #eee;
}
.arrow_class{
    color: #5677FC;
}


.shipping_way{
    cursor: pointer;
    color: #487AF8;
}
.change_num{
    padding: 3px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: black;
}


.total{
    color: #FF9800!important;
}

/*快递单号*/
.delivery_input{
    width: 420px;
    height: 35px;
    line-height: 35px;
    outline: none;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
    /*margin-left: 30px;*/
    float: right;
}
.track_p{
    border: 1px solid red;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    background-color: #FFF2F2;
    color: #E82A2A;
    padding-left: 10px;
    font-size: 16px;
}
.track_span:nth-child(1){
    color: red;
}
.track_span{
    font-size: 16px;
    line-height: 32px;
}
/*属性*/
.attr_span{
    display: inline-block;
    width: 80px;
}

.ver_top{
    vertical-align: top;
}
.track_red{
    color: red;
}

.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}