
h3 {
    color: rgba(102, 111, 128, 1);
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    height: 35px;
    line-height: 35px;
}
.row{
    margin-bottom: 20px;
}
.hr_p{
    border-bottom: 1px solid #eee;
}
.arrow_class{
    color: #487AF8;
    cursor: pointer;
    font-size: 26px;
}

.change_num{
    padding: 3px;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}

.total{
    color: #FF9800!important;
}


.track_p{
    border: 1px solid red;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    background-color: #FFF2F2;
    color: #E82A2A;
    padding-left: 10px;
    font-size: 16px;
}

.track_height{
    height: 34px;
    line-height: 34px;
}

.track_red{
    color: red;
}

/*属性*/
.attr_span{
    display: inline-block;
    width: 80px;
}

.ver_top{
    vertical-align: top;
}


.dl_active4{
    background-color: #E6E9F0!important;
}
.a_active4{
    color: #5677FC!important;
}