<link rel="stylesheet" href="pages/mall_manage/brand_manage/brand_details/css/brand_details.css"/>
<div ng-controller="brand_details_ctrl">
    <section>
        <!--所属分类-->
        <div class="shop_name">
            <span>所属分类</span>
            <span>{{item.category_title}}</span>
        </div>
        <!--品牌-->
        <div class="shop_num">
            <span>品牌</span>
            <span>{{item.brand_name}}</span>
        </div>
        <!--授权期限-->
        <div class="shop_name">
            <span>授权期限</span>
            <span>{{item.authorization_start}} 至 {{item.authorization_end}}</span>
        </div>

        <hr/>
        <!--授权书上传-->
        <div class="shop_img" ng-repeat="imgs in (item.images)">
            <span>{{imgs.authorization_name}}</span>
            <img ng-src="{{baseUrl + '/'+ imgs.image}}" alt=""/>
        </div>
        <hr/>
        <!--申请人-->
        <div class="shop_name">
            <span>商家名称</span>
            <span>{{item.supplier_name}}</span>
        </div>
        <!--账户申请-->
        <div class="shop_name">
            <span>申请账户</span>
            <span>{{item.mobile}}</span>
        </div>
        <!--申请时间-->
        <div class="shop_name">
            <span>申请时间</span>
            <span>{{item.create_time}}</span>
        </div>
        <hr/>
        <!--审核状态-->
        <div class="shop_name">
            <span>审核状态</span>
            <span class="green" ng-if="item.review_status=='2'">通过</span>
            <span class="red" ng-if="item.review_status=='1'">不通过</span>
        </div>
        <!--审核备注-->
        <div class="shop_name">
            <span>审核备注</span>
            <span>{{item.review_note}}</span>
        </div>
        <!--按钮-->
        <div class="btn_back">
            <button class="btn btn-default" ui-sref="brand_index({check_flag:true})">返回</button>
        </div>
    </section>
</div>