/*头部开始*/
header{
    width: 32rem;
    height: 4rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
header > div{
    position: relative;
}
.return_btn{
    /*display: inline-block;*/
    position: absolute;
    left: 0;
    /*top:1rem;*/
    width:3rem;
    height: 4rem;
    line-height: 4rem;
    /*border:2px solid red;*/
}
section{
    margin-top: 1rem;
}
header div {
    line-height: 4rem;
}

header div span {
    font-size: 1.4rem;
}
.postion_span{
    color: #53A8F4;
    font-size: 1.2rem;
    margin-left: .2rem;
}
.cur_location{
    position: absolute;
    top: 0;
    right:1.4rem;
    height: 4rem;
    /*lh4rem*/
}
.in_span {
    margin-left: 1rem;
    color: #53A8F4 ;
}

.pic_span {
    /*margin-left: 12.8rem;*/
    font-size: 1.5rem;
}
.pos_span{
    color:#53A8F4;
    margin-left: .3rem;
    font-size: 1.1rem;
}
.map {
    margin-left: 8rem;
    /*width: 1rem;*/
    color: #53A8F4;
}
header div i{
    margin-left: 7.8rem;
    color: #53A8F4;
}
/*头部结束*/

section{
    margin-top: 4rem;
    background-color: #F6F6F6;
}


.search_box{
    height: 4.1rem;
    background-color: white;
    border: 1px solid #666;
}
.memo_pad{
    margin-top: 20px;
    background-color: white;
    height:3rem;
    line-height:3rem ;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
.memo_pad ul {
    padding-left: 0;
}
.memo_pad li{
    font-size: 1.3rem;
    color: #B8B6B6;
    /*margin-left: 3rem;*/
}
.sort{
    color:#A9A9A9 ;
}
.filter_col{
    color:#53A8F4;
}
.mall_list{
    background-color: white;
    /*height: 12rem;*/
}
.flex_div{
    position: relative;

    /*top:1rem;*/
}
.item_commodity{
    position: relative;
    top: .8rem;
    border-bottom: 1px solid #eaeaea;
}
.item_commodity div{
    display: inline-block;
}
.item_commodity_divimg {
    position: relative;
    /*margin-left: 1rem;*/
    /*top:1rem*/
    left: 1rem;
    top: 1.8rem;
}
.item_commodity_divimg img {
    /*position: absolute;*/
    /*top:-3.2rem;*/
    margin-bottom: 3rem;
    margin-top: -0.9rem;
}
.item_commodity_comment{
    /*margin-left: 1rem;*/
    position: absolute;
    left: 12rem;
    top: 1rem;

}
.item_commodity p,span{
    font-size: 1.3rem;
}
.img_item{
    width: 8.5rem;
    margin-top: -1.5rem;
    margin-left: .6rem;
}
#myModal8 .modal-dialog{
    width: 28rem;
    background-color: white;
    position: absolute;
    /*top: -1rem;*/
    /*border: 1px solid red;*/
    margin-left: 4rem;
}
.style_screen{
    position: relative;
}
.header_font{
    /*overflow: hidden;*/
    margin-bottom: 1.2rem;
}

.down_arrow{
    margin-left: 18rem;
    /*margin-top: -2rem*/
    position: absolute;

}
.well{
    background-color: white;
    border: none;
}
.well{
    padding: 0.1rem;
}
.well ul li{
    width: 6rem;
    height: 2.4rem;
    border: 1px solid #999;
    color: #959292;
    border-radius:0.5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.4rem;
    font-size: 1rem;
    margin-left: .2rem;
    margin-bottom: .7rem;
    margin-top: .7rem;


}
.price_range{
    margin: 1.2rem 0;
}
.price_range input{
    width: 6.12rem;
    height: 3.1rem;
    font-size: 1rem;
}
.all_brand_btn{
    /*height: 3rem;*/
    width:24rem;
    background-color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    border-top:1px solid #959292;
}
.reset_btn{
    width: 12rem;
    font-: 1.2rem;
}
.modal-footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal_body_height{
    height: 30rem;
    /*margin-left: -2rem;*/
}
.myModal_brand {
    width: 30rem;
    background-color: white;
    position: absolute;
    top: -1rem;
    /*border: 1px solid red;*/
    /*margin-left: -2rem;*/
}
.ui-content{
    width: 30rem;
}
.list_li li{
    width: 21rem;
}
.ui-filterable{
    width:21rem;
}
.back_btn{
    width: 10rem;
    margin-left: -4.2rem;
}

.comment_one{
    font-size: 1.2rem!important;
    color: #4A4A4A;
}

.comment_two{
    font-size: 1.1rem!important;
    color: #6C6C6C;
}

.comment_span,.comment_span_two{
    font-size: 1rem!important;
    color: #B8B6B6;
}
header div{
    height: 4rem;
    width: auto;
    background-color: white;
    position: relative;
    /*border-bottom:1px solid #999 ;*/
}
.left_retrun{
    margin-left: 1rem;
    color: #999;
}
.search_details{
    position: absolute;
    left:4rem;
    top: 1.5rem;
    width: 1.6rem;
}
.mall_home{
    position: relative;
    left: 1rem;
    width: 1.6rem;
}
header input{
    width:25rem ;
    height: 2.6rem;
    border-radius:2rem ;
    font-size: 1.1rem;
    padding-left: 3rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    border: 1px solid #e5e5e5;
}
section{
    background-color: #F6F6F6;
}
.span_center{
    margin-left: 11rem;
    font-size: 1.4rem;
}

.search_box{
    height: 4.1rem;
    background-color: white;
    border: 1px solid #666;
}
.memo_pad{
    background-color: white;
    height:3rem;
    line-height:3rem ;
    margin-bottom: 1rem;
}
.memo_pad ul {
    padding-left: 0;
}
.memo_pad li{
    font-size: 1.4rem;
    margin-left: 2.6rem;
    color: #B8B6B6;
    display: inline-block;
}
.up_down{
    width: 1rem;
    height: 1.5rem;
}
.filter_nor{
    width: 1.4rem;
    height: 1.7rem;
}
.sort{
    color:#A9A9A9 ;
}
.filter_col{
    color:#53A8F4;
}
.mall_list{
    background-color: white;
    /*height: 12rem;*/
}
.flex_div{
    position: relative;
}
.item_commodity{
    position: relative;
    top: .8rem;
    border: 1px solid #E9EDEE;
}
.item_commodity div{
    display: inline-block;
}
.item_commodity_divimg {
    position: relative;
    /*margin-left: 1rem;*/
    /*top:1rem*/
    left: 1rem;
    top: 1rem;
}
.item_commodity_divimg img {
    /*position: absolute;*/
    /*top:-3.2rem;*/
    margin-bottom: 3rem;
    margin-top: .1rem;
}
.item_commodity_comment{
    /*margin-left: 1rem;*/
    position: absolute;
    left: 12rem;
    top: 1rem;

}
.item_commodity p,span{
    font-size: 1.2rem;
}
.img_item{
    width: 9rem;
    margin-top: -1.2rem;
    margin-left: .6rem;
}
#myModal8 .modal-dialog{
    width: 28rem;
    background-color: white;
    position: absolute;
    /*top: -1rem;*/
    /*border: 1px solid red;*/
    margin-left: 4rem;
}
.style_screen{
    position: relative;
    height: 51.8rem;
}
.style_size{
    font-size: 1.3rem;
    color: #4A4A4A;
    margin-left: 1rem;
}
.down_list{
    width: 1.2rem;
}
.header_font{
    /*overflow: hidden;*/
    margin-bottom: 1.2rem;
}

.down_arrow{
    margin-left: 18rem;
    position: absolute;

}
.changeColor{
    color: red!important;
    border-color: red!important;

}
.well{
    background-color: white;
    border: none;
}
.well{
    padding: 0.1rem;
}
.well ul{
    margin-left: 1rem;
}
.well ul li{
    width: 5.5rem;
    height: 2.4rem;
    border: 1px solid #999;
    color: #959292;
    border-radius:0.5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.4rem;
    font-size: 1.1rem;
    margin-left: .5rem;
    margin-bottom: .7rem;
    margin-top: .7rem;
}
.price_range{
    margin: 1.2rem 0;
}
.price_range input{
    width: 5.5rem;
    height: 3rem;
    font-size: 1.1rem;
    border: 1px solid #B8B6B6;
    margin-left: 1rem;
    padding-left: 1rem;
}
.all_brand_btn{
    /*height: 3rem;*/
    width:32rem;
    background-color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    border-top:1px solid #E9EDEE;
    border-bottom: 1px solid #E9EDEE;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.all_brand_btn span{
    color: #959292;
    font-size: 1.2rem;
    margin-left: -5rem;
}
.reset_btn{
    width: 13.2rem;
    font-size: 1.2rem;
    height: 4rem;
    color: #4A4A4A;
}
.last_btn{
    background-color: #53A8F4;
    color: white;
}
.modal-footer {
    padding: 0;
    border-top: 1px solid #e5e5e5;
}
.model_content{
    width: 32rem!important;
    height: 58rem!important;
    /*margin-top: -28px;*/
    margin-left: -2.2rem;

}
.modal-body{
    position: relative;
}
.brand_content{
    margin-left: -3rem;
    font-size: 1.4rem;
}
.footer_size{
    /*margin-left: -100px!important;*/
    width: 31.6rem;
    position: absolute;
    top: 49.5rem;
    left: -.1rem;
}
.footer_size button{
    width: 14rem;
    height: 4rem;
    font-size: 1.2rem
}
.btn_brand{
    margin-left: -3rem;
    background-color: white;
    color: #6C6C6C;
    border: 1px solid #999;
}
.btn_brandRight{
    margin-left: -20px;
    background-color: #53A8F4;
    color: white;
}
.modal-footer {
    padding: 15px;
    border-top: none;
}
.back_btn{
    width: 10rem;
    margin-left: -4.2rem;
}
/*第三个页面*/
.brands_more{

}
.brands_more ul{

}
.brands_more ul li {
    list-style: none;
    width: 5.5rem;
    height: 2.4rem;
    border: 1px solid #999;
    color: #959292;
    border-radius:0.5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.4rem;
    font-size: 1.1rem;
    margin-left: .5rem;
    margin-bottom: .7rem;
    margin-top: .7rem;
}
.nullGoods{
    text-align: center;
    background-color: white;
    padding-top: 2rem;
}
.nullGoods span{
    font-size: 1.4rem;
    color: #9b9b9b;
}
.filter_color{
    color: #53A7F3!important;
}

