/*��ѡ����ť��ʽ*/
input[type="radio"] {
    display: none;
}
input[type="radio"]+span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}
input[type="radio"]:checked+span {
    border: 1px solid #C2C2C2;
    background-color: #53A8F4;
}
/*����*/

/*��ѡ����ť��ʽ*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}
input[type="checkbox"]:checked+span {
    border: 1px solid #C2C2C2;
    background-color: #53A8F4;
}
/*����*/
.back{
    background-color: #F6F6F6;
}
header{
    width: 32rem;
    height: 4rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
header div{
    line-height: 4rem;
}
header div span{
    font-size: 1.2rem;
}
.in_span{
    margin-left: 1rem;
    /*color:#53A8F4 ;*/
    font-weight: 100;
}
.pic_span{
    margin-left: 11rem;
    font-size: 1.5rem;
}
.pos_span{
    color:#53A8F4;
    margin-left: .3rem;
    font-size: 1.1rem;
}
header div i{
    margin-left: 7.8rem;
    color: #53A8F4;
}
.shu{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: .9rem;
    margin-top: .4rem;
}
.quarters_small{
    background-color: white;
    width: auto;
    height: 10rem;
    margin-top: 5rem;
    padding-bottom: 2rem;
}
.quarters_small p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;

}
.choose_quarter{
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #4A4A4A;
}
.quarters_small input {
    width: 22rem;
    height: 2.7rem;
    border: 1px solid #C2C2C2;
    border-radius: 2rem;
    padding-left: 2rem;
    font-size: 1.2rem;
}
.quarters_small img{
    width: 1.5rem;
    position: relative;
    left: 2rem;
    top:-.2rem;
}
.quarters_adress{
    padding-left: 1rem;
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 1rem;
}
.quarters{
    margin-left: 2rem;
    font-size: 1.2rem;
    display: inline-block;
}

.housing_information{
    background-color: white;
    margin-top: 1rem;
    overflow: hidden;
}

.shu_house{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: .9rem;
    margin-top: 1.4rem;
}
.housing_information p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top: 1rem;

}
.choose_ul li label{
    font-weight:400;
    font-size: 1.1rem;
}
.housing_information h2{
    font-weight: 400;
    font-size: 1.3rem;
    color: #4A4A4A;
}
.list_dis{
    /*padding-left: 1rem;*/
    padding-bottom: 1rem;
    border-bottom: 1px solid #C2C2C2;
}
.list_dis ul li {
    display: inline-block;
    list-style: none;
    margin-left: 2rem;
    padding-top: 1rem;
}
.list_dis ul li  img {
    width: 6.1rem;
}
.list_dis ul li span{
    font-size:1rem;
}
.housing_information h1 ,h2{
    padding-left: 1.2rem;
}
.comment_height ul {
    padding-left: 1rem;

}
.comment_height ul li {
    font-size: 1.3rem;
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 1rem;
    padding-top:1rem;
    color: #4A4A4A;
}
.comment_height ul li span{
    margin-left: 2rem;

}
.stairs_span{
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 1.2rem;
}
.right{
    /*margin-left: 2rem;*/
    width: 20px;
    margin: 0 0 0 1rem!important;
}
.y{
    font-size: .8rem;
}
.n{
    font-size: .8rem;
}
.more_choose{
    width: 28rem;
    border: 1px solid #C2C2C2;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
}
.department_choose {
    margin-top: 1rem;
    background-color: white;
    overflow: hidden;
}
.department_choose p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.choose_ul li {
    display: inline-block;
    margin-left: 1rem;

}
.choose_ul li span{
    font-size: 1.2rem;
}
/*ϵ��*/
.tag{
    padding-left:1.5rem;
    color: #06CB7E;
    margin-left: .4rem;
    margin-top: 1.2rem;
}
.tag span{
    display: inline-block;
    margin-right:1rem;
    border-radius:1.5rem;
    border:1px solid #8DE2C1;
    text-align: center;
    font-size:1rem;
    padding-left:1.3rem;
    padding-right:1.3rem;
    padding-top:.3rem;
    height:2rem;
    background-color: #F9FEFC;
}
.note_div{
    margin-top: 1rem;
}
.note_div ul li button{
    border:1px solid #FF06CB7E;
    display: inline-block;
    background-color: white;
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    margin-left: 1rem;
    color: #FF06CB7E;
    font-size: .8rem;
}
.note_div h3{
    margin-left: 1rem;
}
.style_choose{
    margin-top: 1rem;
    border-top: 3px solid #C2C2C2;
}
.style_choose h1{
    margin-left: 1rem;
}
.style_choose_div ul li {
    display: inline-block;
    margin-left: 1rem;
    padding-top: 1rem;
}
.style_choose_div ul li button{
    width: 5rem;
    height: 2.5rem;
    background-color: white;
    border: 1px solid #C2C2C2;
    font-size: .8rem;
}
.specific_tab ul li{
    background-color: white;
    border: 1px solid #C2C2C2;
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    color: #FF06CB7E;
    display: inline-block;
    margin-left: 1rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 1rem;
}
.title_span{
    padding-left: 1.6rem;
    font-size: 1.3rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block;
}

.search_a{
    font-size: 1.2rem;
    color: #4A4A4A;
}
.decoration{
    margin-bottom: 1.5rem;
    width: 12.5rem;
}
.decoration li:last-child{
    border-bottom: none;
}
.title_p{
    font-size: 1.1rem;
    color: #4A4A4A;
}
.title_p span{
    color: #6C6C6C;
    padding-left: 1rem;
    font-weight:400!important;
}
.pic{
    font-size: 1.1rem;
    color: #F59C23;
}
.edit_span{
    margin-top: 1rem;
}
.edit_span span{
    border: 1px dotted #E5E5E5;
    display: inline-block;
    line-height: 3.2rem;
    text-align: center;
    border-radius: 2.5rem;
    width: 12rem;
    height: 3.2rem;
    color:#53A8F4;
    font-size: 1.2rem;
    /*margin-left: 2.5rem;*/

}
.siwe{
    background-color: white;
}
.mait{
    background-color: white;
    margin-top: 1rem;
}
.comment_span{
    color: #C2C2C2;
    font-size: .8rem;
    margin-left: 1rem;
    margin-top: .6rem;
}
.pic_d{
    margin-top: 1rem;
    background-color: white;
    overflow: hidden;
    margin-bottom: 1rem;
}
.pic_d p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top:1rem;
}
.div_img{
    padding-bottom: 1rem;
}
.pic_d img{
    width: 93%;
    margin-left: 1rem;
}
.left_main{
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 15rem;
    margin-left: 1rem;
}
.right_main {
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 15rem;
}
.left_main ul {
    border: 1px solid #C2C2C2;
}
.right_main ul {
    border:1px solid #C2C2C2;
}

.decoration li{
    font-size: 1.2rem;
    /*margin-left: 1rem;*/
    color: #888;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: .4rem;
    padding-top: .4rem;
}
.decoration li span{
    font-size:1.1rem ;
    color: #6C6C6C;
}
.pic_q{
   position: absolute;
   right: 0;
   color: #959292;
}
a{
    text-decoration: none!important;
}

.fixed_home li{
    font-size: 1.2rem!important;
    color: #888;
    position: relative;
}
. fixed_home p{

}
.special_requirements{
    /*margin-left: 1rem;*/
    margin-top: 1rem;
    overflow: hidden;
    background-color: white;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}
.special_requirements p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top:1rem;
}
.main_text{
    /*margin-top: 1rem;*/
    width: 30rem;
    height: 10rem;
    padding-left: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #B8B6B6;
}
.special_requirements span{
    position: relative;
    left: 27rem;
    top:-2rem;
    font-size: 1rem;
    color: #999;
}
.first_span{
    color: #F55122;
    font-size: 1.6rem;
    position: relative;
    left: 1rem;
    top: .8rem;
    /*margin-left: 2rem;*/
    /*margin-top: 0.2rem;*/
}
.footer_set{
    display: inline-block;
    line-height: 1.2rem;
}

.second_span{
    font-size: 1.2rem;
    color: #F59C22;
    text-decoration:line-through ;
    /*margin-left: 1rem;*/
    position: relative;
    left: 2rem;
    top: .8rem;
}
.three_span{
    font-size:1rem;
    color: #B8B6B6;
    position: relative;
    left: 1rem;
    top: .8rem;
    /*margin-left: 2rem;*/
    /*padding-top: 1rem;*/
}
.footer_settlement {
    background-color: white;
    height: 4rem;
    width: 32rem;
    position: fixed;
    z-index: 100;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15);

}
.btn_l{
    margin-left: 1.2rem;
    width: 8rem!important;
    border-left: 1px solid #CDD3D7;

}
.footer_settlement button{
    width: 8rem;
    height: 4rem;
    background-color: white;
    border: none;
    border-left: 1px solid #CDD3D7;
    font-size: 1.3rem;
    color: #6C6C6C;
    /*margin-left: 1rem;*/
    /*margin-top: -1rem!important;*/
    position: relative;
    /*top:.8rem;*/
    left: 1rem;

}
.a{
    border: 2px solid #53A8F4 ;
}
.ba{
    color: #53A8F4;
}
.primary_btn{
    background-color: #53A8F4!important;
    color: white!important;
    /*margin-left: 1rem;*/
    text-align: center;
}
.structure{
    border: 1px solid #E5E5E5;
    width: 29rem;
    margin-left: 1.2rem;
    padding-top: 1rem;
    margin-top: 1rem;
    border-radius: .2rem;
    margin-bottom: 1.7rem;

}
.structure ul{
    margin-left:.8rem;
}
.structure ul li{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.structure ul li span{
    color: #6C6C6C;
}
.structure ul li label{
    font-size: 1.2rem;
    font-weight:400;
    color: #6C6C6C!important;
}
.active_l{
    color: #53A8F4!important;
}
.have ,.no{
    font-size: 1.3rem;
    margin-left: .3rem;
    font-weight: 400;
}
.lou_stairs label{
    margin-left: 1rem;
}
.choose_ul label{
    margin-left: 1rem;
    margin-top: .5rem;
    font-size: 1rem;
}
.series {
    padding-top: 1rem;
}
.series h1{
    margin-left:1rem;
}
.series ul li{
    display: inline-block;
    font-size: 1rem ;
    margin-left: 2rem;
    padding-top: 1rem;
}
.series label{
    font-weight:normal;
    vertical-align: middle;
}
.fit{
    padding-top: 1rem;
}
.fit h1{
    margin-left: 1rem;
    font-size: 1.4rem;
    color: #6C6C6C;
    font-weight: 400;
}
.fit p{
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #959292;
}
.choose_style {
    padding-top: 1rem;
    background-color: white;
    overflow: hidden;
    margin-top: 1rem;
}

[ng-cloak] {
    display: none;
}

.choose_style p {
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.choose_style ul {
    margin-bottom: 1rem;
}

.choose_style ul li {
    display: inline-block;

}
.active{
    border:1px solid #53A8F4 !important;
    color: #53A8F4!important;
}
.size_img{
    width: 100%;
}
.size_div span{
    width: 1rem;
    height: 1rem;
}
.choose_style ul li button {
    background-color: white;
    width: 7.5rem;
    height: 2.4rem;
    font-size: 1.2rem;
    color: #6C6C6C;
    border: 1px solid #C2C2C2;
    margin-left: 1rem;
    /*margin-top: 1rem;*/
    border-radius: .5rem !important;
}

.carousel {
    /*margin-top: 1rem;*/
    border: 1px solid #C2C2C2;
    width: 30rem;
    height: 16rem;
    margin-left: 1rem;
}

.note {
    margin-top: 1.5rem;
}

.note ul li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;

}

.note ul li button {
    width:7.1rem;
    height: 2.4rem;
    background-color: white;
    border: 1px solid #C2C2C2;
    margin-top: .3rem;
    font-size: 1rem;
}

.btn_vr button {
    width: 28rem;
    height: 4rem;
    background-color: #53A8F4;
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
    border-radius: .3rem;

}
.choose_stairs{
    margin-top: 1rem;
}
.choose_span {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #4A4A4A;
}
.choose_stairs label{
    margin-left: 2rem;
}
.choose_stairs label span {
    margin-top: -.2rem;
}
/*系列*/
.tag {
    margin-left: 1.2rem;
    padding-left: 1.5rem;
    color: #06CB7E;
}

.tag span {
    display: inline-block;
    margin-right: 1.2rem;
    border-radius: 1.5rem;
    border: 1px solid #8DE2C1;
    text-align: center;
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .2rem;
    height: 2rem;
    background-color: #F9FEFC;
}

/*风格*/
.btn_checked {
    border: 1px solid #53A8F4 !important;
    color: #53A8F4 !important;
}

.note button {
    border-radius: 1.5rem;
    color: #06CB7E;
    background-color: #F9FEFC !important;
    border: 1px solid #8DE2C1 !important;
}

button {
    outline: none !important;
}
/*户型选中状态*/
.house img{
    outline:2px solid blue;
}
.house {
    color:blue;
}


.masonry {
    column-count: 2;
    column-gap: 0;
    background-color: white;
    overflow: hidden;
    margin-top: 1rem;
}
.p_masonry{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: inline-block;

}
.comment_edit{
    color: #B8B6B6;
    font-size: 1rem;
    margin-left:1rem ;
}
.item_masonry{
    background-color: white;
    overflow: hidden;
    padding-bottom: 2rem;
}

.item_p {
    break-inside: avoid;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #E5E5E5;
    margin-left: 1rem;
    width: 14rem;
    margin-bottom: 1.5rem;
    border-radius: 2px;

}