input[disabled]{
    background: none;
}
h1{
    font-family: PingFangSC-Regular;
    font-weight: 400!important;
    font-size: 1.5rem!important;
}
label{
    font-weight: 400!important;
}

/*单选按按钮样式*/
input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}

/*结束*/

/*多选按按钮样式*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}

input[type="checkbox"]:checked + span {
    border: 1px solid #C2C2C2;
    background-color: #53A8F4;
}

/*结束*/
.back{
    background-color: #F6F6F6;
}
.area_news{
    background-color: white;
}
.background_w{
    background-color: white;
    padding-bottom: 1.5rem;
}
/*头部开始*/
header{
    width: 32rem;
    height: 4rem;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
header > div{
    position: relative;
}
.return_btn{
    /*display: inline-block;*/
    position: absolute;
    left: 0;
    /*top:1rem;*/
    width:3rem;
    height: 4rem;
    line-height: 4rem;
    /*border:2px solid red;*/
}
section{
    margin-top: 1rem;
}
header div {
    line-height: 4rem;
}

header div span {
    font-size: 1.4rem;
}
.postion_span{
    color: #53A8F4;
    font-size: 1.2rem;
    margin-left: .2rem;
}
.cur_location{
    position: absolute;
    top: 0;
    right:1.4rem;
    height: 4rem;
    /*lh4rem*/
}
.in_span {
    margin-left: 1rem;
    color: #53A8F4 ;
}

.pic_span {
    margin-left: 12.8rem;
    font-size: 1.5rem;
}
.pos_span{
    color:#53A8F4;
    margin-left: .3rem;
    font-size: 1.1rem;
}
.map {
    margin-left: 8rem;
    /*width: 1rem;*/
    color: #53A8F4;
}
header div i{
    margin-left: 7.8rem;
    color: #53A8F4;
}
/*头部结束*/

.quarters_small {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 2rem;
    position: relative;
    /*margin-top: 1rem;*/
    background: white;
    position: relative;
    overflow: hidden;
}
.quarters_small p{
    margin-top: 1rem;
    font-size: 1.5rem;
}
.shu{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: .9rem;
    top:1.3rem;
    /*margin: 1.4rem 0 0 1.5rem;*/
    font-size: 1.5rem;
}
.shu_house{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: .9rem;
    margin-top: 1.4rem;
}
.shu_house_3{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: .9rem;
    margin-top: .6rem;
}
.shu_house_2{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: .9rem;
    margin-top: 1.4rem;
}
.shu_house_4{
    width: .3rem;
    height: 1.5rem;
    background-color: #53A8F4;
    position: absolute;
    left: .9rem;
    margin-top: 1.4rem;
}

.shu_house_1{
    width: .3rem;
    height: 1.5rem;
    background-color:#53A8F4;
    position: absolute;
    left: 1.4rem;
    margin-top: .6rem;
}
.seachr{
    position: absolute;
    left:9rem;
    top:5.7rem;
}
.seach{
    color: #B8B6B6;
    font-size: 1.3rem!important;
    border-radius: 1.5rem!important;
    height: 3rem!important;
    padding-left: 2rem!important;
}
.quarters_adress {
    /*padding-left: 1rem;*/
    font-size: 1.3rem!important;
    display: inline-block;
    /*margin:1rem 0 0 -.5rem;*/
    margin-top: 2rem;
    margin-left: -.5rem;
}

.quarters {
    margin-left: 2rem;
    font-size: 1rem;
    display: inline-block;
}

.quarters_small p {
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;

}

.choose_quarter {
    display: inline-block;
    margin: 1rem 0 0 1rem;
    font-size: 1.3rem!important;
    color: #4A4A4A!important;
}
.quarters_small{
    position: relative;
    top: 4rem;
}
.quarters_small input {
    width: 22rem;
    height: 2.2rem;
    border: 1px solid #C2C2C2;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    margin-left: 2rem;
}

.p {
    font-size: 1.2rem;
    margin-left: -2.8rem;
    margin-top: .2rem;
}

.house_area {
    /*padding-top: 1rem;*/
    background: white;
    margin-top: 5rem;
    overflow: hidden;
    padding-bottom: 2rem;
}
.house_area h1{
    margin: 1.4rem 0 0 1.5rem;
    font-size: 1.5rem;
}
.house_area p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    position: relative;
    top: 1rem;
}
.house_span {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #4A4A4A;
}

.house_area input {
    width: 21rem;
    height: 3rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border: 1px solid #C2C2C2;
    font-size: 1.2rem;
    border-radius: .3rem;
    padding-left:1rem;
}

.apartment_layout {
    margin-top: 1rem;
    border-top: 1px solid #e5e5e5;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
}

.apartment_span {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #4A4A4A;
    position: relative;
    top: 1rem;
}

.apartment_ul span {
    margin-left: -3rem;
    font-size: 1.2rem;
}

.apartment_ul {
    margin-left: 4rem;
    margin-top: -2.5rem;
    /*position: relative;*/
    /*top:2rem;*/
}

.apartment_ul li {
    display: inline-block;
    width: 10rem;
    height: 3rem;
    margin-left: 3.3rem;
    margin-right:-2.3rem;
    position: relative;
    border:1px solid #e5e5e5;
    border-radius: 12px;
    margin-top:.7rem;
}

.apartment_ul li input {
    width: 8rem;
    height: 2.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-left: 4rem;
    border: none;
}

.apartment_ul button {
    width: 2rem;
    height: 2rem;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: .2rem;
}

.btn_left {
    position: absolute;
    left: 0.5rem;
    top: .5rem;
    color: #53A8F4;
}

.btn_right {
    position: absolute;
    right: 0.5rem;
    top: .5rem;
    color: #53A8F4;
}

.text_all {
    width:22rem;
    margin-left: 2rem;
    margin-top: 1.3rem;
    border: 1px solid #C2C2C2;
    color: #4A4A4A;
    font-size: 1.3rem;
    border-radius: .3rem;
    padding-left: 1rem;
    padding-top: .5rem;
}

.address_content {
    position: relative;
}

.text_all_length {
    position: absolute;
    right: 2.6rem;
    bottom: .5rem;
    font-size: 1rem;
    color: #B8B6B6;
}

.storey {
    border-top: 1px solid #C2C2C2;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.storey_span{
    font-size: 1.3rem;
    margin-left: 1rem;
    /*margin-top: 1rem;*/
    position: relative;
    top:1rem;
    color: #4A4A4A;
}

.storey h1 {
    margin-left: 1rem;
}

.storey_ul {
    margin-left: .5rem;
    margin-top:1rem;
}

.storey_ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.2rem;
    margin-left: .5rem;
    margin-right:1.53rem;
    font-weight: 400!important;
    color: #4A4A4A;
    position: relative;
    right:.5rem;
}
.series li,.structure li{
     display: inline-block;
     list-style: none;
     font-size: 1.2rem;
     margin-left: .5rem;
     font-weight: 400!important;
     color: #4A4A4A;
     position: relative;
     right:1rem;
 }
input[type='radio'] ~ img{
    position: absolute;
    top: 14px!important;
    left: -2px!important;
    display: none;
}
.storey_ul input[type='radio'] ~ img{
    position: absolute;
    top: 1rem;
    left: -.05rem;
    display: none;
}
input[type='radio']:checked ~ img{
    display: inline-block;
}
#img_size{
    position: absolute;
    top: 19px!important;
    left: -2px!important;

}
#img_size_1{
    position: absolute;
    top: 19px!important;
    left: -2px!important;

}
.rey{
    margin-top: 1rem;
    border-top: 1px solid #e5e5e5;
    position: relative;
    padding-bottom: 1rem;
}
.storey_txt{
    font-size: 1rem;
    font-weight: 400;
}
/*.ml{*/
/*margin-left: 1rem;*/
/*}*/
.bay_window {
    border-top: 1px solid #e5e5e5;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.input_windin{
    margin-top: .7rem;
}
.bay_span {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #4A4A4A;
}

.bay_window input {
    width: 12rem;
    height: 3rem;
    border-radius: .4rem;
    border: 1px solid #C2C2C2;
    margin-left: 4.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.bay_square {
    margin-left: -2.2rem;
    font-size: 1.2rem;

}

.choose_stairs {
    padding-top: 1rem;
    border-top: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    position: relative;
}

.choose_span {
    position: relative;
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #4A4A4A;
    top:.4rem;

}

.choose_stairs label {
    margin-left: 2rem;
    position: relative;
}
.img_size{
    position: absolute;
    top:0;
    left:.5rem;
}

.have, .no {
    margin-left: .1rem;
    font-size: 1.2rem;
    margin-top: .5rem;
    position: relative;
    top: .2rem;
    left: .2rem;
}

.structure {
    border: 1px solid #E5E5E5;
    width: 29rem;
    margin-left: 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
    border-radius: .2rem;
}

.structure ul li {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 2.8rem;
    margin-bottom: 1rem;
}

.structure ul li span {
    color: #6C6C6C;
}

.series {
    padding-top: 1rem;
    background: white;
    margin-top: 1rem;
    position: relative;
    margin-left: -.5rem;
}
ol, ul {
     padding-left: 0;
}
.series h1{
    margin: .6rem 0 1.3rem 2rem;
    font-size: 1.5rem;
}
.series p {
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.series ul li {
    display: inline-block;
    font-size: 1rem;
    margin-left: 2rem;
    padding-top:.2rem;
    position: relative;
    right:1rem;
    /*padding-top: 1rem;*/
}

.series label {
    font-weight: normal;
    vertical-align: middle;
}


.fit {
    padding-top: 1rem;
}

.fit h1 {
    margin-left: 1rem;
}

.fit p {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #999;
}

.choose_style {
    padding-top: 1rem;
    margin-top: .6rem;
}
.choose_style h1{
    margin: .6rem 0 0 1.5rem;
    font-size: 1.5rem;
}
[ng-cloak] {
    display: none;
}

.choose_style p {
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    position: relative;
    top: 1rem;
}

.choose_style ul li {
    display: inline-block;
}

.choose_style ul li button {
    background-color: white;
    width:5.6rem;
    height: 2.3rem;
    font-size: .9rem;
    color: #999;
    border: 1px solid #C2C2C2;
    margin-left: 0.4rem;
    margin-top: 1rem;
    border-radius: .5rem !important;
}

.carousel {
    margin-top: 1rem;
    border: 1px solid #C2C2C2;
    width: 30rem;
    height: 16rem;
    margin-left: 1rem;
}

.note {
    margin-top: 1.5rem;
}

.note ul li {
    display: inline-block;
    margin-left: .5rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;

}

.note ul li button {
    width: 6rem;
    height: 2rem;
    background-color: white;
    border: 1px solid #C2C2C2;
    font-size: .9rem;
}
.btn_vr {
    background-color: white;
    width: 32rem;
    border: none;
}
.btn_vr button {
    width: 30rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: .3rem;
    background-color: #53A8F4;
    color: white;
    font-size: 1.2rem;

}

/*轮播*/
.swiper-slide img{
   width:100%;
}

.swiper-pagination span {
    width: 1rem;
    height: 1rem;
}
/*系列*/
.tag {
    padding-top: 1rem;
    color: #06CB7E;
}
ol, ul {
     padding-left: 0;
}
.tag span {
    display: inline-block;
    margin-right: -.5rem;
    border-radius: 1.5rem;
    border: 1px solid #8DE2C1;
    text-align: center;
    font-size: .9rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: .3rem;
    height: 2rem;
    margin-left: 1rem;
    background-color: #F9FEFC;
}

/*风格*/
.btn_checked {
    border: 1px solid #53A8F4 !important;
    color: #53A8F4 !important;
}

.note button {
    border-radius: 1.5rem;
    color: #06CB7E;
    background-color: #F9FEFC !important;
    border: 1px solid #8DE2C1 !important;
}

button {
    outline: none !important;
}
/*提交按钮样式*/
button[disabled]{


}

/*数据获取 样式*/
.left_main{
    display: inline-block;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
}
.title_span{
    margin-left: 1rem;
}
.right_main {
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 14rem;
    margin-left: 1.2rem;
}
.right_main ul li{
    margin-bottom: .5rem;
    font-size: 1rem;
    border-bottom: 1px solid #C2C2C2;
}
.left_main ul {
    /*border: 1px solid #C2C2C2;*/
    margin-bottom: 1rem;
}
.right_main ul {
    margin-bottom: 1rem;
}
.left_main ul li{
    margin-bottom: .5rem;
    font-size: 1rem;
    /*border-bottom: 1px solid rgba(222, 222, 224, 0.9);*/
    margin-left: 1rem;
}
.basis_border{
    border-bottom: 1px solid rgba(222, 222, 224, 0.9);
}
.basis_border:last-child div{
    border-bottom: none!important;
}
/*.left_main div{*/
    /*border-bottom: 1px solid rgba(222, 222, 224, 0.9);*/
/*}*/
.last_chird div:last-child{
    border-bottom: none!important;
}
.right_main ul li {
    border-bottom: 1px solid rgba(222, 222, 224, 0.9);
    margin-left: 1rem;
}
.decoration p{
    padding-left: 1rem;
    /*padding-top: .5rem;*/
    font-size: 1rem;
}
.font_size p{
     margin-top: 0.5rem;
}
.pic{
    color:#FFB13D ;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
}
.left_main p{
    padding-left: 1rem;
    /*padding-top: .5rem;*/
    font-size: 1rem;
}

.pic_q{
    /*position: absolute;*/
    right: 1rem;
    bottom:0;
    margin-left: 4rem;
    color: #959292;
    font-size: 1.1rem!important;
}
.dw{
    position: relative;
}
.right_main p{
    padding-left: 1rem;
    /*padding-top: .5rem;*/
    font-size: 1rem;
}
.right_main span{
    color:#FFB13D ;
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
/*.decoration li{*/
    /*margin-bottom: .5rem;*/
    /*font-size: 1rem;*/
    /*border-bottom: 1px solid #C2C2C2;*/
/*}*/
.right_main ul {
    border:1px solid #C2C2C2;
}

.material_choose h1{
    display: inline-block;
    /*font-size: 1rem;*/
    /*margin-left: 1rem;*/
    /*margin-top: 1rem;*/
    margin: 1.4rem 0 0 1.5rem;
    font-size: 1.5rem;
}
.comment_span{
    display: inline-block;
    margin-top: -5rem;
    margin-left: .5rem;
    font-size: 1.1rem;
    color: #C2C2C2;
}
.two_category{
    padding-top:.77rem;
    padding-bottom:.77rem;
}
.two_category li:last-child{
    border-bottom: none;
}
.basis_decoration{
    column-count: 2;
    column-gap: 0;
    background-color: white;
    overflow: hidden;
    margin-top: 1rem;
}
.pic {
    margin-bottom:1rem;
    padding:0!important;
}
.basis_decoration ul{
    padding:0;
}
.basis_decoration ul li{
    position: relative;
}
.basis_decoration ul li .pic_q{
    position: absolute;
    right:0;
}
.basis_decoration ul p{
    padding: 0;
}
.cur_title{
    color: #6c6c6c;
    font-size:1rem;
}
.dark{
    color: #B8B6B6;
}
.basis_item{
    break-inside: avoid;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    margin:1rem .4rem;
    border-radius: 2px;
}
.basis_title{
    font-family: PingFangSC-Semibold;
    font-size: 1.1rem!important;
    color: #4A4A4A;
    font-weight: bold;
}
.basis_title_span{
    font-size: 1.1rem!important;
    font-weight: 400!important;
}
.basis_txt{
    color: #6C6C6C;
    font-size:1.1rem!important;
}
/*样式结束*/
/*风格样式*/
.special_requirements{
    /*margin-left: 1rem;*/
    margin-top: 1rem;
    overflow: hidden;
    background-color: white;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.special_requirements p{
    padding-left: 1.6rem;
    font-size: 1.5rem;
    color: #4A4A4A;
    margin-bottom: 1rem;
    margin-top:1rem;
}
.main_text{
    /*margin-top: 1rem;*/
    width: 30rem;
    height: 10rem;
    padding-left: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #B8B6B6;
}
.special_requirements span{
    position: relative;
    left: 27rem;
    top:-2rem;
    font-size: 1rem;
    color: #999;
}
/*尾部样式*/
.footer_settlement{
    width:100vw;
    height:4rem;
    overflow: hidden;
    margin:0!important;
    background-color: white;
}
.footer_set{
    width:calc(100% - 13.6rem);
    float: left;
    padding-left:1.19rem;
    height:4rem;
}
.first_span{
    font-size:1.53rem;
    color: #F55122 ;
}
.second_span{
    font-size:1.19rem;
    color: #F59C22;
    text-decoration: line-through;
}
.no_data{
    width:12.68rem;
    height: 3.23rem;
    border-radius:4rem;
    color: #53A8F4;
    font-size: 1.2rem;
    border:1px dotted #E5E5E5 ;
    background: none;
}
.three_span{
    font-size:1rem;
    color: #B8B6B6;
}
.footer_settlement button:first-of-type{
    border:none;
    float: left;
    width:6.8rem;
    height: 4rem;
    color: #6C6C6C;
    font-size:1.2rem;
    border-left:.08rem solid #CDD3D7;
    background-color: #fff;
}
.footer_settlement button:last-of-type{
    border:none;
    float: left;
    width:6.8rem;
    height: 4rem;
    color: #fff;
    font-size:1.2rem;
    border-left:.08rem solid #CDD3D7;
    background-color: #53A8F4 ;
}
.house_tips{
    position: absolute;
    right:4.6rem;
    /*bottom: 0rem;*/
    font-size:1rem!important;
    margin-top:.5rem!important;
    margin-bottom: 1rem;
}
.error_tips{
    position: relative;
    left:7.6rem;
    font-size:1rem!important;
    color: #F55122!important;
}
.address_tips{
    top:2rem;
}
.window_tips{
    left:9rem;
    top:1rem;
}
/*.first_span{*/
    /*color: #F55122;*/
    /*font-size: 1.5rem;*/
    /*margin-left: 1.19rem;*/
/*}*/
/*.footer_set{*/
    /*display: inline-block;*/
    /*!*line-height: 1.2rem;*!*/
    /*width:calc(100% - 14rem);*/
/*}*/
/*.second_span{*/
    /*font-size: 1rem;*/
    /*color: #F55122;*/
    /*text-decoration:line-through ;*/
    /*margin-left: 1.19rem;*/
/*}*/
/*.three_span{*/
    /*font-size: .8rem;*/
    /*color: #999;*/
    /*margin-left: 2rem;*/
    /*padding-top: 1rem;*/
/*}*/
/*!*.footer_settlement {*!*/
    /*!*background-color: white;*!*/
    /*!*height: 3rem;*!*/
    /*!*border-top:2px solid #C2C2C2;*!*/
    /*!*padding-top: 1rem;*!*/
/*!*}*!*/
/*.footer_settlement button{*/
    /*width: 7rem;*/
    /*height: 3.1rem;*/
    /*background-color: white;*/
    /*border: 1px solid #53A8F4;*/
    /*font-size: 1rem;*/
    /*display: inline-block;*/
    /*padding:0;*/
    /*!*margin-left: 1rem;*!*/
    /*!*margin-top: -1rem!important;*!*/
    /*!*position: relative;*!*/
    /*!*top:-.6rem;*!*/
    /*!*left: 2rem;*!*/

/*}*/
/*.primary_btn{*/
    /*background-color: #53A8F4!important;*/
    /*color: white!important;*/
/*}*/