body{
    background-color: #F6F6F6 !important;
}
input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #B8B6B6;
    background-color: white;
}

a {
    text-decoration: none !important;
}

button {
    outline: none !important;
}

.back {
    margin-top: 5rem;
}


/***********
小区信息
************/
/*小区选择-start*/
.shu {
    width: .3rem;
    height: 1.5rem;
    background-color: #333;
    position: absolute;
    left: 1.2rem;
    top: 1.7rem;
}

.title{
    padding-left: 1.1rem;
    font-size: 1.6rem;
    color: #666;
    margin: 0;
}
.sub_title{
    font-size: 1.4rem;
    color: #666;
}
.list_box{
    margin-top: 1.6rem;
}
.input_box{
    margin-left: 1.6rem;
    position: relative;
}
.input_box input{
    display: block;
    padding: .3rem 3rem;
    color: #666;
    font-size: 1.4rem;
    border: 2px solid #E5E5E5;
    border-radius: 2rem;
    width: 22.3rem;
    margin-top: -0.3rem;
}

.input_box img{
    position: absolute;
    left: 1.2rem;
    top: 0.6rem;
}
/*小区选择-end*/

/*小区地址-start*/
.list_box .info{
    font-size: 1.4rem;
    color: #999;
    margin-left: 1.6rem;
}
/*小区地址-end*/

/***********
房屋信息
************/
/*户型选择-start*/

.housing_information {
    margin-top: 1rem;
    overflow: hidden;
}

.housing_information h2 {
    padding-left: 1.2rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #4A4A4A;
}

.list_dis {
    padding-bottom: 1rem;
    padding-top: 1.6rem;
}

.list_dis ul {
    overflow: auto;
    white-space: nowrap;
    padding-left: 0;
    margin-top: 0.3rem;
}

.list_dis ul li {
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    list-style: none;
    margin-right: 1.2rem;
    color: #999;
}

.huxing div{
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: .3rem;
    border: 2px solid #fff;
    margin-bottom: .3rem;
}

.huxing div img {
    padding: .2rem;
    margin-bottom: .5rem;
    width: 100%;
    height: 100%;
}

.huxing.active{
    color: #333;
}

.huxing.active div{
    border: 2px solid #333;
}
/*户型选择-end*/

/*层高飘窗-start*/
.comment_height ul {
    padding-left: 0;
}

.comment_height ul li {
    font-size: 1.3rem;
    padding: 1.2rem 0;
    color: #666;
    border-top: 2px solid #dcdcdc;
}

.comment_height ul li span{
    color: #999;
    margin-left: 1.6rem;
}
/*层高飘窗-end*/

/*楼梯选择-start*/
.comment_height ul li span.choose_span{
    margin-left: 0;
    color: #666;
}

.choose_stairs label{
    margin-left: 1.6rem;
}
.comment_height ul li span.have{
    margin-left: 0.3rem;
    font-weight: normal;
    color: #666;
}

.comment_height ul li span.no{
    margin-left: 0.3rem;
    font-weight: normal;
    color: #999;
}

.choose_stairs label img{
    margin-top: -0.2rem;
}
.choose_stairs label .check_img{
    margin-top: -0.2rem;
}
.structure{
    border: 2px solid #dcdcdc;
    width: 100%;
    padding: 1.2rem 1.2rem 0 1.2rem;
    border-radius: .3rem;
}
.structure ul {
}

.structure ul li {
    display: inline-block;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #6C6C6C;
}

.structure ul li label {
    font-weight: 400;
}

.structure ul li label img{
    margin-top: -0.2rem;
}

.structure ul li label .check_img{
    margin-top: -0.1rem;
}

/*楼梯选择-end*/
.tag {
    color: #06CB7E;
}

.tag span {
    display: inline-block;
    margin-right: 1rem;
    padding: .3rem 1.3rem 0;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    background-color: #F9FEFC;
    border-radius: 1.5rem;
    border: 1px solid #8DE2C1;
}

.decoration {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0.8rem;
}

.decoration li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.title_p {
    font-size: 1.2rem;
    color: #666;
    font-weight: normal;
}

.title_p span {
    color: #999;
    padding-left: 1rem;
    font-weight: 400 !important;
    font-size: 1rem;
}

.pic {
    font-size: 1.2rem;
    color: #D9AD65;
}

.edit-btn {
    display: block;
    margin: 2rem auto 0.8rem;
    width: 12rem;
    height: 3.2rem;
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3.2rem;
    background-color: #fff;
    border: .1rem dashed #e5e5e5;
    border-radius: 2.5rem;
}

.decoration li {
    font-size: 1.2rem;
    /*margin-left: 1rem;*/
    color: #888;
    position: relative;
    border-bottom: 2px solid #efefef;
    padding-bottom: .4rem;
    padding-top: .4rem;
}

.decoration li span {
    font-size: 1rem;
    color: #999;
    line-height: 2.2rem;
}

.decoration li span.brand {
    color: #666;
}

.pic_q {
    position: absolute;
    right: 0;
    color: #999;
}

.special_requirements {
    margin-bottom: 5rem !important;
    padding: 1.2rem 1.2rem 0 1.2rem !important;
}

.main_text {
    padding-top: .5rem;
    padding-left: 1rem;
    width: 100%;
    height: 10rem;
    font-size: 1.3rem;
    outline: none;
    border-radius: .3rem;
    border: 2px solid #B8B6B6;
    margin-top: 1.2rem;
}

.special_requirements span {
    position: relative;
    left: 26rem;
    top: -2rem;
    font-size: 1rem;
    color: #999;
}

.footer_set > p:first-child {
    margin-top: .5rem;
    margin-bottom: 0;
    line-height: normal;
}

.first_span {
    color: #D9AD65;
    font-size: 1.6rem;
}

.second_span {
    margin-left: .8rem;
    font-size: 1.2rem;
    color: #D9AD65;
}

.three_span {
    font-size: 1rem;
    color: #B8B6B6;
}

.footer_settlement {
    position: fixed !important;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;
    margin-bottom: 0 !important;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.2)
}

.primary_btn {
    width: 10rem;
    height: 4rem;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    background-color: #333;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #333;
}

.series ul{
    padding-left: 0;
}

.series ul li {
    display: inline-block;
    font-size: 1rem;
    margin-right: 2.2rem;
    padding: 1rem 0;
}

.series label {
    font-weight: normal;
    vertical-align: middle;
}

.fit {
    padding-top: 1.2rem;
}

.fit h1 {
    font-size: 1.4rem;
    color: #666;
    font-weight: 400;
}

.fit p {
    font-size: 1.2rem;
    color: #999;
}

.choose_style ul {
    margin-bottom: 1rem;
    padding-left: 0;
    padding-bottom: .5rem;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 1.2rem;
}

.choose_style ul li {
    display: inline-block;

}

.choose_style ul li button {
    margin-right: 1rem;
    padding: 0.3rem 1.2rem;
    font-size: 1.2rem;
    color: #6C6C6C;
    background-color: white;
    border: 2px solid #C2C2C2;
    border-radius: .3rem !important;
    min-width: 7rem;
}

.carousel {
    width: 100%;
    height: 16rem;
    border: 1px solid #C2C2C2;
    margin-top: 1.2rem;
}

.carousel img {
    max-width: 100%;
}

.application {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.application button {
    width: 28rem;
    height: 4rem;
    background-color: #53A8F4;
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
    border-radius: .3rem;
}



.tag {
    color: #06CB7E;
}

.tag span {
    display: inline-block;
    margin-right: 0.8rem;
    padding: .2rem 1.2rem 0;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 1.5rem;
    border: 2px solid #999;
    color: #333;
}

.btn_checked {
    border: 2px solid #333 !important;
    color: #333 !important;
}

.item_masonry {
    padding: 1.2rem .8rem 1.2rem 1.2rem !important;
}

.item_masonry > p {
    display: inline-block;
    vertical-align: middle;
}

.masonry {
    position: relative;
    margin-top: 1.2rem;
    background-color: white;
}

.masonry .column {
    float: left;
    width: 14.3rem;
    margin-right: 0.7rem;
}

.masonry .column:first-child {
    margin-left: 0;
}

.masonry .box {
    margin-bottom: .7rem;
    padding: .5rem .8rem;
    border: 2px solid #E5E5E5;
    border-radius: .3rem;
}

.comment_edit {
    color: #B8B6B6;
    font-size: 1rem;
    margin-left: 1rem;
    vertical-align: super;
}

.background_w {
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1.2rem;
    position: relative;
}