body{
    background-color: white;
}
.back{
    background-color: #F6F6F6;
}
header div{
    height: 4rem;
    width: auto;
    background-color: white;
    /*border-bottom:4px solid #999 ;*/
}
header div span{
    line-height: 4rem;
    font-size: 1.2rem;
}
header div:last-child span{
    padding-left: .5rem;
}
.span_center{
   margin-left: 13rem;
    font-size: 1.2rem;
}
.list_comment{
    margin-top: 1rem;
    background-color: white;
    width: auto;
    overflow: hidden;
}
.ul_item{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.ul_item li{
    display: inline-block;
}
.li_item{
    display:inline-block;
    margin-left: 3rem;
    margin-bottom: 2rem;
    position: relative;
}
.li_item img{
    width: 6rem;
    margin-bottom: 2rem;
    position: relative;
}
.li_item span{
    /*margin-left: 1rem;*/
    font-size: 1.1rem;
    left: 1rem;
    color: #4A4A4A;
     position: absolute;
    top:6.5rem;
}