header{
    width: 32rem;
    height:4rem;
    border-bottom: 1px solid #C2C2C2;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.back{
    background-color: #f4f4f4;
}
header div{
    line-height: 4rem;
}
header div span{
    font-size: 1.2rem;
}
.in_span{
    margin-left: 1.2rem;
    color: #53A8F4;
}
.pic_span{
    margin-left: 11rem;
    font-size: 1.5rem;
    color: #4A4A4A;
}
.wall_material h1 {
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #C2C2C2;
    font-size: 1.4rem;
}
.wall_ul li{
    font-size: 1.2rem;
    padding-left: 1rem;
    position: relative;
}
/*.wall_margin{*/
    /*margin:30px 0;*/
/*}*/
.wall_brand{
   color: #959292;
    font-size: 1.1rem;
}
.wall_span_brand{
    float: left;
    width: 10rem;
}
.wall_money{
    /*position: absolute;*/
    left: 23rem;
    top:1rem;
    font-size: 1.2rem;
    color: #F59C22;
    float: right;
    margin-right: 2rem;
    transition: margin-right linear .2s;
}
.wall_money i{
    font-size: 1.6rem;
}
.wall_money_sec{
    position: relative;
    left: 14rem;
    top:-.5rem;
    color: #C2C2C2;
}
.add_material{
    text-align: center;
    margin-top: 1rem;
    background-color: white;
}
.add_material span:nth-child(1){
    font-size: 2rem;
}
.add_material span:nth-child(2){
    font-size: 1.3rem;
}
.sheet_material{
    margin-top: 5rem;
    /*margin-bottom: 3rem;*/
    background-color: white;
}
.sheet_material h1{
    margin-top: 3rem;
    border-bottom: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.money{
    position: relative;
    left: 20rem;
    /*top:-.5rem;*/
    color: #C2C2C2;
}
.handyman_span{
    width:12rem;
    margin-left: 8rem;
    border: 1px solid #C2C2C2;
    height: 2.6rem;
    border-radius: .5rem;
}
.handyman_sec{
    margin-left: 1rem;
}
.two-sided{
    position: relative;
    top: 2rem;left: -5rem;
}
.handyman_input{
    width:12rem;
    margin-left: 14rem;
    border: 1px solid #C2C2C2;
    height: 2.6rem;
    border-radius: .5rem;
}
.preservation{
    width: 32rem;
    margin-top: 1rem;
    background-color: white;
    position: fixed;
    height: 4rem;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15);

}
.preservation span{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.preservation button{
    background-color: #F55122;
    color: white;
    font-size: 1.2rem;
    width: 8.5rem;
    height:4rem;
    border: none;
    position: absolute;
    right: 0;
}
.preservation span:nth-child(1){
    position: absolute;
    bottom: 1.1rem;
    left:0;
}
.money_col{
    color: #F55122;
    font-size: 1.5rem!important;
    margin-left: -.3rem!important;
    position: absolute;
    bottom: .9rem;
    left: 5rem;
}
.edit{
    margin-left: 8.5rem;
    color:#53A8F4 ;
}
.wall_span{
    display: inline-block;
    top:1rem;
    color: #4A4A4A;
    font-size: 1.3rem;
    font-family: PingFangSC-Regular;
}
.first_top{
    margin-top: 4.5rem!important;
}

.add_mater{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    background-color: white;
}
.add_mater span{
    color: #53A8F4;
}

.color_a{
    color:#53A8F4;
    font-size: 1.3rem;
}
.color_b{
    margin-bottom: 7rem;
}
.add_col{
    color:#53A8F4;
    font-size: 1.5rem;
}

a:hover{
    text-decoration: none;
}

/*模态框*/
.modal-dialog{
    border-radius:.5rem !important;
    width:21.28rem!important;
    overflow: hidden;
}
.comment_img img{
    /*width:100%;*/
    /*height: 100%;*/
    width:21.28rem!important;
    height:21.28rem!important;
}
.close{
    position: absolute;
    top:1rem;
    left:1rem;
    font-size:3rem!important;
    color: #53A8F4!important;
    z-index:100;
}
.comment{
    padding:1.5rem .85rem !important;
}
.good_title{
    position: relative;
    margin-bottom:.77rem !important;
    font-size:1.19rem;
}
.comment_span{
    color: #4a4a4a;
}
.comment_se{
    color: #F59C22;
    position: absolute;
    right: 0;
}
.comment_square{
    color: #B8B6B6;
    font-size:1rem;
    margin-bottom:1.36rem;

}
.comment_p{
    color: #4a4a4a;
    margin-bottom:.25rem;
    font-size:1.19rem;
}
.text_p{
    font-size:1rem;
    color: #6C6C6C;
}
.replace{
    width:100%;
    height: 2.9rem;
    line-height:2.9rem;
    border:none;
    background-color: #53A8F4;
    color: #fff;
    font-size:1.19rem!important;
}
/*结束*/
.del{
    border: none;
    background-color: #FF7043;
    width: 4rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    position: absolute;
    right: -2rem;
    top:.7rem;
    /*display: none;*/
    transition: right linear .2s;
}
.cur_animate > span{
    margin-right:4rem;
}
.cur_animate > button{
    right:0rem;
}
.del_two{
    display:block;
    border: none;
    background-color: #FF7043;
    width: 4rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 27rem;
    top:.6rem
}

.btn{
    width: 100%;
    height: 3rem;
    border: none;
    font-size: 1.2rem;
}
.del_btn{
    color: #0000cc;
    width: 45%!important;
    background-color: white;
    position: relative;
    /*left: .5rem;*/
    border-left: 1px solid #C2C2C2;
    padding-right: 0.3rem;
}
.def_btn{
    width: 45%!important;
    background-color: white;
    position: relative;
    left: -1rem;
}

.comment_img img{
    width:18.5rem;
    height: 10rem;
}
.comment{
    margin-top: 1rem;
    font-size: 1rem;
}

.comment_span{
    font-size: 1.2rem;
    color: #4A4A4A;
    /*margin-left: -8rem;*/
}
.text_p{
    color:#6C6C6C;
    font-size: 1rem;
    text-align: left;
    padding-left: .5rem;

}
.comment_se{
    margin-left: 6rem;
    color: #F59C22;
}
.comment_square{
    color:#B8B6B6 ;
    font-size: 1rem;
    /*margin-left: -1.2rem;*/
}
.comment_p{
    padding-top: 1rem;
    /*margin-left: -11rem;*/
    font-size: 1.2rem;
    color: #4A4A4A;

}
.replace button{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}