.main_body{
    background-color: #F6F6F6;
}
.header{
    position: fixed;
    left: 1.19rem;
    top: 1rem;
    z-index: 100;
    width: 2.4rem;
    height: 2.4rem;
    background: rgba(0,0,0,0.7);
    border-radius: 3rem;
}
.header img{
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
}
.main{
    width: auto;
    height: auto;
}
.main .details_banner{
    width:100%;
    height: 30.7rem;
    position:relative;
    background-color: #e5e5e5;
}
.main .details_banner img{
    width:100%;
    /*height: 15rem;*/
}
.main .intro_box {
    width: auto;
    height: auto;
    padding: 1.36rem 0 1.1rem 1.19rem;
    background-color: #fff;
    margin-bottom: 1rem;
}
.main .intro_box .product_name{
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    color: #666;
}
.main .intro_box  .introduce{
    font-size:1rem;
    color: #999;
    margin-bottom:1rem;
}
.main .intro_box  .cost{
    margin-bottom: 0!important;
    font-size: 2.2rem;
    color: #D9AD65;
}
.main .standard{
    position: relative;
    font-size: 1.36rem;
    background-color: #fff;
    padding-left: 1.2rem;
}

.main .standard .standard_txt{
    border-bottom: 1px solid #e5e5e5;
    padding: 1.2rem 1.2rem 1.2rem 0;
}
/*.main .standard >div:nth-child(1){*/
    /*position: absolute;*/
    /*left:0;*/
    /*top:0;*/
    /*z-index: 10;*/
/*}*/
.img_size{
    width: .8rem!important;
    /*margin-left: .2rem!important;*/
}
.img_size_1{
    /*margin-left: .5rem!important;*/
    width: .8rem!important;
}
.main .standard >div:nth-child(2){
    position: absolute;
    right:1.2rem;
    top:1.19rem;
    z-index: 10;
}
.specification_box {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    left:0;
    top:1rem;
    background-color: #2aabd2;
}
.specification_box >li{
    width:auto;
    height: auto;
    margin-top: 1rem;
    background-color: #be10b3;
}
.specification_box .inventory_box{
    height: 10rem;
    background-color: #67b168;
}
.specification_box .inventory_box img{
    width:11.4rem;
    height: 8.5rem;
}
.colour{
    display: inline-block;
    line-height: 3rem;
    background-color: #a94442;
}
.comment{
    height: 3rem;
    margin-top: .8rem;
    background-color: white;
    line-height: 3rem;
    border-bottom:1px solid #666 ;
}
.comment span{
    font-size: 1rem;
    margin-left: 1rem;
}

.comment_list{
    position: relative;
    /*height: 10rem ;*/
    padding:1.19rem;
    background-color: white;
    /*margin-left: 1rem;*/
}
.comment_total{
    margin-bottom:1.66rem;
    font-size: 1.3rem;
}
.comment_list img{
    width: 3.5rem;
    border-radius:50% ;
}
.comment_man{
    margin-bottom:1.44rem;
}
.comment_list p{
    margin-left: 1rem;
    margin-top: .8rem;

    font-size: 1rem;
}
.user_comment{
    position: absolute;
    margin-left: 2rem;
    margin-top: .6rem;
    font-size: 1.3rem;
    color: #4A4A4A;
}
.comment_time{
    position: absolute;
    margin-left: 21rem;
    margin-top: .6rem;
    font-size: 1rem;
}
.comment_des{
    color: #4A4A4A;
}
.all_comment {
    height: 3rem;
    background-color: white;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
}
.all_comment span{
   font-size: 1.3rem
}
.shop_header{
    height: 11rem;
    width: auto;
    background-color: white;
    margin-bottom: 1rem;
}
.shop_header_child{
    margin-top: 1rem;
}
.shop_header_child .img_box{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: .3rem;
    background: #e5e5e5;
    display: inline-block;
    margin: 1.2rem 0 0 1.2rem;
}

.shop_header_child .img_box img{
    width: 100%;
    height: 100%;
}
.shop_header_child span{
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 1.8rem;
}
.shop_number {
    margin-top: .6rem;
}
.shop_number ul{
    margin-top: 2rem;
}
.shop_number ul li {
    width: 50%;
    position: relative;
    float: left;
    font-size: 1.2rem;
    text-align: center;
    color: #999;
    font-size: 1.2rem;
}
.shop_number ul li:first-child{
    border-right: 1px solid #e5e5e5;
}
.Stroll{
    margin-left:11rem;
    margin-top: 2rem;

}
.Stroll button{
    height: 2.5rem;
    width: 8rem;
    background: white;
    font-size: 1rem;
    border: 1px solid #53A8F4;
    color: #53A8F4;
    border-radius:2rem ;
    outline: none;
}
.comment_p{
    margin-top: 1rem;
}
.num_shop {
    color: #D9AD65;
    font-size: 1.4rem;
}
.line{
    display: inline-block;
    height: 2.2rem;
    width: .1rem;
    background-color: #666;
    margin-left: 1.4rem;
}
.pic_tabs li a{
    width:15rem!important;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
}
.tab_one img{
    width: 100%;
}
.tab_one p {
    font-size: 1.2rem;
    padding-left: 1rem;
    text-align: center;
    padding-right:1rem;
}
.shop_two ul li{
    font-size: 1.2rem;
    padding-left: 1.2rem;
    position: relative;
    color: #666;
    height: 4.08rem;
    line-height: 4.08rem;
    border-bottom: 2px solid #dcdcdc;
}
.comment_num {
    position: absolute;
    right:1rem;
    color: #959292;
}
.img_size_3{
    width:1.8rem!important;
}
.foot_tab{
    width: 32rem;
    height: 4rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 2;
    text-align: center;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}
.foot_tab .add{
    height: 4rem;
    width:9.36rem;
    color: #fff;
    font-size:1.36rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    order: 1px solid #333;
}
.foot_tab div{
    position: absolute;
    left:1.19rem;
    top:.57rem;
    font-size:1rem;
}
.li_span{
    padding: .5rem;
    background-color:#F55122 ;
    color: white;
    width: 8rem;
    text-align: center;
    margin-left:2rem!important;
}
#myModal{
    margin-top: 28rem;
}
.modal-content{
    width:100vw;
}
.size_model ,.modal-dialog{
    width: 29.8rem;
    margin-left: 0!important;
    margin-right: 0!important;
}
.modal-header p span{
    font-size: 1.2rem;
    margin-left: -2rem;
}
.add_cart{
    display: inline-block;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: .3rem;
}
.add_cart img{
    width: 100%;
    height: 100%;
}
.modal-body span{
    font-size: 1.8rem;
    margin-left: 1rem;
}
.sl{
    padding: 1.6rem 0 0.3rem 0;
    border-top: 2px solid #e5e5e5;
    margin-top: 1.2rem;
}
.sl input {
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
    border: 2px solid #e5e5e5;
    background: #fff;
    border-radius: .3rem;
}
.sl span{
    font-size: 1.2rem;
    margin-top: 0.7rem;
}
.modal-body{
    padding: 1.2rem;
}
.input_div{
    display: inline-block;
}
.text_box{
    margin-left: 1.3rem;
    margin-right: 1rem;
}
.div_pic{
    
}
.pic_data{
    position: absolute;
    top: 1rem;
    left: 9.6rem;
    color: #D9AD65;
}
.shu_pic{
    position: absolute;
    top: 3.2rem;
    left: 9.6rem;
    font-size: 1.2rem !important;
    color: #999;
}
.modal-header{
    min-height: 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
    position: relative;
}
.modal-header .close{
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    color: #333;
    opacity: 1;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    line-height: 4rem;
    z-index: 999;
}
.modal-footer_div{
    border-top:1px solid #999;
    height: 4rem;
}
/*.modal-footer_div  button{*/
    /*width: 14.4rem;*/
    /*height: 4rem;*/
    /*line-height: 4rem;*/
    /*font-size: 1.2rem;*/
/*}*/
.resct_btn_two {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
    background-color:#333;
    color: white;
    border:none;
    width: 100vw;
}
#myModalP{
    width: 20rem;
    margin-left: 5rem;
    margin-top: 25rem;
}
.modal.in .modal-dialog{
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
}
.modal.fade .modal-dialog{
    bottom: 0px;
    left: 0px;
    position: absolute;
}
.modal-body_success{
    padding: 3rem;
    font-size: 1.2rem;
}
.modal-body_success p{
    padding-left: 2rem;
}
.service_item{
    
}
.service_item ul li {
    display: inline-block;
    font-size: 1.4rem;
    color: #999;
    margin-left: 1rem;
}
.service_item ul li:last-child{
    float: right;
    margin-right: 1.5rem;
}
.service_item ul li img {
    margin-top: -0.2rem;
}
.service_item{
    background: #fff;
    padding: 1.2rem 0;
}
.modal-title {
    font-size: 1.5rem!important;
    text-align: center;
}
.myModal_sec, .modal-body-comment{
    margin-bottom: 1.6rem;   
}
.myModal_sec{
    margin-top: -2rem;
}
.modal-body-comment{
    
}
.service_comment li{
    padding: 1.2rem 0 .6rem 0;
}
.t-header{
    border-bottom: 1px solid #999;
    padding:.1rem 0;
}
.t-header-two{
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem;
}
.t-header-two h1{
    text-align: center;
    font-size: 1.4rem;
}
.t-header h1{
    text-align: center;
}
.service_comment ul li img{
    margin-top: -0.7rem;
    margin-left: 1.2rem;
}
.service_comment ul li span {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #333333;
}
.service_comment ul li p{
    font-size: 1.2rem;
    color: #999;
    padding-left: 4rem;
}
.modal-footer-btn button{
    width: 100%;
    height: 4rem;
    color: white;
    font-size: 1.2rem;
    background: #333;
}
.modal {
    position: fixed;
    top: -1rem;
}
.nav-tabs{
    border-bottom: none !important;
}
.tab-content{
    margin-top: 1.2rem;
}
.pic_comment{
    background-color: #fff;
    margin-bottom: 1rem;
}
.btn_color{
    background-color: #53A8F4;
    height: 3.5rem;
}
.nav-tabs > li > a{
    line-height:2rem;
    border: none !important;
    color:#999;
}
.shop_two ul li:last-child{
    border-bottom: none;
}
hr{
    border-top: none;
}
.active > a{
    color: #333!important;
}
.active hr{
    width: 3rem;
    height: .2rem;
    position: relative;
    bottom: .2rem;
    background-color: #333;
}