.header_shop{
    line-height: 4rem;
    background-color: white;
    width: auto;
}
.header_shop span {
    font-size: 1.2rem;
    line-height: 4rem;
}
.return_arrow{
    margin-left: 1rem;
}
.all_comment{
    margin-left: 13rem;
}
.massage{
    margin-left: 9rem;
}
.header_main ul{
    display: inline-block;
    margin-left: 9rem;
}
.header_main ul li {
    display: inline-block;
}
.header_main img{
    margin-left: 1rem;
}
.header_main span{
    font-size: 1.2rem;
    margin-left: 1rem;
}