.form-horizontal .control-label {
     text-align: left;
 }

.form-horizontal .form-control-static {
    text-align: left;
}

.btns button{
    margin-right: 10px;
}

.form-group .form-control-static .pic-style {
    height: 120px;
}

/* 审核图片放大 */
.modal-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-img img {
    max-width: 700px;
}

.modal-img button {
    position: absolute;
    top: 15px;
    right: 18px;
    z-index: 10;
}