<link rel="stylesheet" href="pages/supplier_wallet/css/frozen_money.css">
<div ng-controller="frozen_money_ctrl">
    <section>
        <div class="btns">
            <select id="time_choose" ng-model="params.time_type">
                <option value="all">全部时间</option>
                <option value="today">今天</option>
                <option value="week">本周</option>
                <option value="month">本月</option>
                <option value="year">本年</option>
                <option value="custom">自定义</option>
            </select>

            <input ng-if="params.time_type == 'custom'" id="start_time" ng-model="params.start_time" ngc-lay-date
                   class="time_interval" type="text" placeholder="开始时间" max-date="{{params.end_time}}">
            <input ng-if="params.time_type == 'custom'" id="stop_time" ng-model="params.end_time" ngc-lay-date
                   class="time_interval" type="text" placeholder="结束时间" min-date="{{params.start_time}}">
        </div>

        <table>
            <tr>
                <td>
                    操作时间
                    <span class="sortpic" ng-click="sortTime()">
                        <i class="glyphicon glyphicon-triangle-top" ng-class="{'active':params.sort_time == 1}"></i>
                        <i class="glyphicon glyphicon-triangle-bottom"
                           ng-class="{'active':params.sort_time == 2}"></i>
                    </span>
                </td>
                <td>冻结金额</td>
                <td>冻结原因</td>
            </tr>

            <tr class="table_content" ng-repeat="item in frozendetail track by $index">
                <td ng-bind="item.create_time"></td>
                <td ng-bind="item.freeze_money"></td>
                <td>
                    <span class="frozen_reason" data-toggle="modal" data-target="#frozen_reason" ng-bind="item.freeze_reason" ng-click="showReason(item.freeze_reason)"></span>
                </td>
            </tr>
        </table>
        <tm-pagination conf="pageConfig"></tm-pagination>
    </section>

    <div class="modal customer_modal detail_modal fade" id="frozen_reason" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">备注</h4>
                </div>
                <div class="modal-body body_font">
                    <div>
                        <span ng-bind="reason"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>