<link rel="stylesheet" href="pages/supplier_wallet/css/income_pay.css">
<div ng-controller="income_pay_ctrl">
    <!--头部开始-->
    <div class="header clearfix">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <a class="crumbs">钱包</a>
        <a class="crumbs crumbs_on">&gt;收支明细</a>
        <img class="pull-right" src="lib/images/user.png" alt="">
        <!--<a class="pull-right">退出</a>-->
    </div>
    <!--头部结束-->
    <section>
        <div class="select_top">
            <select  name="province" ng-model="selectValue" class="time_select" ng-options="item.name for item in time">
            </select>
            <input ng-if="selectValue.name=='自定义'" id="start_time"  ng-model="myng.begin_time" ngc-lay-date  class="start_stop_time" type="text" placeholder="开始时间">
            <input ng-if="selectValue.name=='自定义'" id="stop_time"   ng-model="myng.end_time" ngc-lay-date  class="start_stop_time" type="text"  placeholder="结束时间">
            <span style="margin-right: 10px">类型选择</span>
            <select ng-model="selectStatus" class="time_select" ng-options="items.id as items.value for items in status_arr"></select>
        </div>
    </section>
</div>