<link rel="stylesheet" href="pages/supplier_wallet/css/income_pay.css">
<div ng-controller="income_pay_ctrl">
        <div class="search form-inline clearfix">
            <!--时间-->
            <select  name="province" ng-model="params.time_type" ng-change="time_status_change()" class="form-control" ng-options="item.value as item.name for item in time"></select>
            <input ng-if="params.time_type=='custom'" id="start_time" ng-change="time_change()"  ng-model="params.start_time" max-date="{{params.end_time}}" ngc-lay-date  class="form-control" type="text" placeholder="开始时间">
            <input ng-if="params.time_type=='custom'" id="end_time"  ng-change="time_change()"  ng-model="params.end_time" min-date="{{params.start_time}}" ngc-lay-date  class="form-control" type="text"  placeholder="结束时间">
            <!--类型-->
            <span class="type_margin">类型选择</span>
            <select ng-model="params.type" class="form-control" ng-change="status_change()" ng-options="items.id as items.value for items in status_arr"></select>
            <!--搜索-->
            <div class="form-group pull-right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索订单号或交易单号" ng-model="income_search">
                    <span class="iconfont icon-search"></span>
                </div>
                <button class="btn btn-default btn_left" ng-click="search_click()">搜索</button>
            </div>
        </div>
        <!-- 表格 -->
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>
                    <span>时间</span>
                    <img ng-src="{{time_src}}" ng-click="time_sort()" class="img_size"></th>
                <th>金额</th>
                <th>交易单号</th>
                <th>订单号</th>
                <th>资金类型</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in income_pay_list">
                <td>{{item.create_time}}</td>
                <td>{{item.access_money}}</td>
                <td>{{item.transaction_no}}</td>
                <td>{{item.order_no}}</td>
                <td>{{item.access_type}}</td>
                <td class="blue" ng-click="show_click(item.transaction_no,item.access_type)">查看</td>
            </tr>
            </tbody>
        </table>
        <!--分页-->
        <tm-pagination conf="wjConfig"></tm-pagination>
        <!--详情模态框-->
        <div class="modal customer_modal detail_modal fade" id="detail_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" ng-if="detail_list[1].name=='货款金额'">货款详情</h4>
                        <h4 class="modal-title" ng-if="detail_list[1].name=='扣款金额'">扣款详情</h4>
                    </div>
                    <div class="modal-body body_font">
                        <div ng-repeat="item in detail_list">

                            <span class="modal_txt">{{item.name}}：</span>
                            <span ng-class="{'orange_color':item.name=='货款金额'||item.name=='运费金额'||item.name=='扣款金额'}">{{item.value}}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
</div>