<link rel="stylesheet" href="pages/supplier_wallet/css/set_password.css">
<div ng-controller="set_password_ctrl">
    <section>
        <form name="form" novalidate >
        <div ng-if="show_first==true||show_unfirst==true">
            <img src="lib/images/red.png" alt="">
            <span class="password_span">新密码</span>
                <input type="password" class="password_input" placeholder="请输入交易密码" maxlength="6" ng-model="myng.new_pw" id="new_pw" name="new_pw" required ng-class="{'border_red':(form.new_pw.$invalid && submitted)||(form.new_pw.$error.required && des_blur) || pw_flag}" ng-blur="des_blur=!!form.new_pw.$error">
            <span class="prompt">限6位整数数字</span>
        </div>
        <div class="password_div" ng-if="show_first==true">
            <img src="lib/images/red.png" alt="">
            <span class="password_span">再次输入</span>
            <input type="password" class="password_input" placeholder="请再次输入" maxlength="6" ng-model="myng.again_pw" id="again_pw" name="again_pw" required ng-class="{'border_red':(form.again_pw.$invalid && submitted)||(form.again_pw.$error.required && again_blur) || pw_flag}" ng-blur="again_blur=!!form.again_pw.$error">
            <span class="prompt">限6位整数数字</span>
            <div class="prompt_red" ng-if="pw_flag">
                <img src="lib/images/red.png" alt="">
                <span>{{pw_two_txt}}</span>
            </div>
        </div>
        <div class="password_div" ng-if="show_unfirst==true">
            <img src="lib/images/red.png" alt="">
            <span class="password_span">验证码</span>
            <input type="text" class="password_input" placeholder="请输入验证码" ng-model="myng.v_code" id="v_code" name="v_code" required ng-class="{'border_red':(form.v_code.$invalid && submitted)||(form.v_code.$error.required && v_code_blur) ||v_code_flag}" ng-blur="v_code_blur=!!form.v_code.$error">
            <button class="btn btn-primary send" ng-if="show_send" ng-click="send_click()">发送</button>
            <span ng-if="!show_send">{{Countdown}}s</span>
            <span class="prompt">*当前接收验证码的手机号为：{{head_m}}****{{foot_m}}</span>
            <div class="prompt_red" ng-if="pw_flag||v_code_flag">
                <img src="lib/images/red.png" alt="">
                <span>{{unfirst_txt}}</span>
            </div>
        </div>
        <div ng-if="show_first==true||show_unfirst==true">
            <button class="btn btn-primary btn_top"  ng-click="confirm_btn(form.$valid,form.$error.required)">确定</button>
            <button class="btn btn-default btn_top" ui-sref="supplier_wallet">返回</button>
        </div>
        </form>
        <!--确定模态框-->
        <div class="modal fade modelCenter" id="save_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        设置成功
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save_confirm()">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>