<link rel="stylesheet" href="pages/supplier_wallet/css/supplier_wallet.css">
<div ng-controller="supplier_wallet_ctrl">
    <!--头部开始-->
    <div class="header clearfix">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <a class="crumbs wallet_bold">钱包</a>
        <img class="pull-right" src="lib/images/user.png" alt="">
        <!--<a class="pull-right">退出</a>-->

    </div>
    <!--头部结束-->
    <section>
        <!--Tab-->
        <ul class="nav_ul">
            <li ui-sref="supplier_account">商家账户信息</li>
            <li ui-sref="income_pay">收支明细</li>
            <li ui-sref="set_password">交易密码</li>
        </ul>
        <div class="select_top">
            <select  name="province" ng-model="params.time_type" ng-change="time_status_change()" class="time_select" ng-options="item.value as item.name for item in time">
            </select>
            <input ng-if="params.time_type=='custom'" id="start_time"  ng-model="params.time_start" ng-change="time_change()" max-date="{{params.time_end}}" ngc-lay-date  class="start_stop_time" type="text" placeholder="开始时间">
            <input ng-if="params.time_type=='custom'" id="stop_time"   ng-model="params.time_end" ng-change="time_change()"  min-date="{{params.time_start}}" ngc-lay-date  class="start_stop_time" type="text"  placeholder="结束时间">
            <span class="status_choose">状态选择</span>
            <select ng-model="params.status" class="time_select" ng-change="time_change()" ng-options="items.id as items.value for items in status_arr"></select>
        </div>
        <!-- 表格 -->
        <table class="table table-responsive table_css">
            <thead>
            <tr>
                <th>申请时间</th>
                <th>申请金额</th>
                <th>实到帐金额</th>
                <th>扣除费用</th>
                <th>状态</th>
                <th>备注</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in supplier_wallet_list">
                <td>{{item.apply_time}}</td>
                <td>{{item.cash_money}}</td>
                <td>{{item.real_money}}</td>
                <td>{{item.lost_money}}</td>
                <td>{{item.status}}</td>
                <td class="blue supplier_reason">{{item.supplier_reason}}</td>
                <td class="blue"   ui-sref="wallet_detail({transaction_no:item.transaction_no})">查看</td>
            </tr>
            </tbody>
        </table>
        <!--分页-->
        <tm-pagination conf="wjConfig"></tm-pagination>
    </section>
</div>