<link rel="stylesheet" href="pages/supplier_wallet/css/wallet_detail.css">
<div ng-controller="wallet_detail_ctrl">
    <!--头部开始-->
    <div class="header clearfix">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <a class="crumbs wallet_bold" ui-sref="supplier_wallet">钱包</a>
        <a class="crumbs crumbs_on">&gt;钱包详情</a>
        <img class="pull-right" src="lib/images/user.png" alt="" ng-click="show_sign()">
        <a class="pull-right sign_out" ng-if="sign_out_flag" ng-click="sign_out()">退出登录</a>
    </div>
    <!--头部结束-->
    <section>
        <div>
            <span>商家名称</span>
            <span>{{wallet_detail.supplier_name}}</span>
        </div>
        <div>
            <span>开户银行</span>
            <span>{{wallet_detail.bank_name}}</span>
        </div>
        <div>
            <span>银行账号</span>
            <span>{{wallet_detail.card_no}}</span>
        </div>
        <div>
            <span>开户行所在地</span>
            <span>{{wallet_detail.position}}</span>
        </div>
        <div>
            <span>开户所在支行</span>
            <span>{{wallet_detail.bank_branch}}</span>
        </div>
        <div>
            <span>开户名</span>
            <span>{{wallet_detail.username}}</span>
        </div>
        <div>
            <span>提现金额</span>
            <span>{{wallet_detail.cash_money}}</span>
        </div>
        <div>
            <span>申请时间</span>
            <span>{{wallet_detail.apply_time}}</span>
        </div>
        <hr>
        <div>
            <span>实到账余额</span>
            <span>{{wallet_detail.real_money}}</span>
        </div>
        <div>
            <span>扣除费用</span>
            <span>{{wallet_detail.lost_money}}</span>
        </div>
        <div>
            <span>状态</span>
            <span>{{wallet_detail.status}}</span>
        </div>
        <div>
            <span>处理时间</span>
            <span>{{wallet_detail.handle_time}}</span>
        </div>
        <div>
            <span>交易单号</span>
            <span>{{wallet_detail.transaction_no}}</span>
        </div>
        <div class="remark">
            <span class="remark_left" >备注</span>
            <span class="remark_right">{{wallet_detail.supplier_reason}}</span>
        </div>
        <div>
            <button class="btn btn-default btn_top" ng-click="wallet_back()">返回</button>
        </div>
    </section>
</div>