/*申请样板间主页样式*/
.apply_case_index > div{
    margin-bottom:20px;
}
.apply_case_index p {
    margin-bottom: 20px;
    font-size:14px;
}
.apply_case_index table{
    font-size:14px;
}
.apply_case_index table th{
    border: 0 !important;
    font-weight:normal!important;
    color: #7A8599;
}
.apply_case_index table td{
    color: #666F80;
}
.apply_case_index .other_btn{
    border:.5px solid #5677FC;
    color: #5677FC;
}