/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
header button{
    width:40px;
    height: 40px;
    border-radius:50% ;
    line-height: 40px;
    border:.5px solid #ccc;
    background: none;
}
.highLight{
    color: #000!important;
    font-weight:bold!important;
}
.dark{
    color: #2F3033!important; ;
    font-weight: normal!important;
}
/*样板间详情*/
.case_detail{
    padding-left:40px;
    padding-right:40px;
}
.case_detail .materials p{
    padding-left:0!important;
}
.case_detail > div{
    padding:40px 0;
    border-bottom:.5px solid #ccc;
}
.case_detail h3{
    font-size:14px;
    font-weight: bold;
    margin-bottom:10px;
    margin-top:0;
}
.case_detail p{
    font-size:14px;
    height:30px;
    line-height: 30px;
}
.case_detail button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    margin-left:10px;
    margin-right:10px;
    border-radius:2px;
}
.case_detail .remove{
    border-color: #3F94F6!important;
    color: #3F94F6;
}