/*顶部导航*/
ul{
    padding: 0;
    list-style: none;
}

.topnav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.topnav span {
    float: left;
    margin: 20px 0 20px 40px;
}

.topnav h6 {
    float: left;
    font-size: 14px;
    line-height: 36px;
    margin-left: 5px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: bold;
    color: #2F3033;
}

.topnav h6:last-child{
    font-weight: 400;
}

.topnav h6:last-child{
    color: gray;
}

/*选择拥有系列的分类*/
.choose_series_content{
    padding-top: 48px;
    padding-left: 40px;
}

.choose_series_content p{
    font-size: 14px;
    color: #666F80;
}

/*选择拥有系列的分类*/
.ulright{
    display: inline-block;
    margin-top: 11px;
}

.ulright ul{
    display: inline-block;
    width: 161px;
    height: 313px;
    padding-left: 10px;
    border: 1px solid #ABABAB;
    margin-right: 9px;
    vertical-align: top;
}

.ulright ul li{
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ABABAB;
}

.thirdul{
    width: 180px!important;
}

.lastul li{
    padding: 6px 7px 8px 7px;
    text-align: start;
    margin:  9px 9px 9px 0;
    border: 1px solid #5677FC;
    color: #5677FC;
    position: relative;
}

.lastul img{
    position: absolute;
    width: 24px;
    left: 104px;
    top: 7px;

}

/*两个按钮*/
.btn_sure{
    margin-top: 92px;
}


.btn_sure button{
    width: 80px;
    height: 34px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding-left: 5px;
    line-height: 34px;
    font-size: 12px;
    color: #5e6166;
    background-color: white;
    margin-right: 20px;
}

#save{
    color:#487AF8;
    background-color: #F2F4FF;
    border: 1px solid #487AF8;
}

/*确认提示框*/
#save_content{
    width: 636px;
    height: 256px;
}

#tishi{
    padding-left: 13px;
    padding-top: 6px;
    font-weight: bold;
}

#tishi_wenzi{
    font-size: 16px;
    padding-left: 13px;
}

#caozuo_sure{
    width: 80px;
    height: 34px;
    border: 1px solid #487AF8;
    color: #487AF8;
    background-color: #F2F4FF;
    border-radius: 3px;
    padding-left: 5px;
    line-height: 34px;
    font-size: 12px;
    margin-top: 54px;
}

#caozuo_sure{
    float: right;
    margin-right: 40px;
}

