
.choose_series_p{
    font-size: 14px;
    color: #666F80;
}

/*选择拥有系列的分类*/
.ulright li label{
    font-weight: normal;
    width: 100%;
    cursor: pointer;
}
.ulright{
    display: inline-block;
    margin-top: 11px;
}

.ulright ul{
    display: inline-block;
    width: 161px;
    height: 313px;
    padding-left: 10px;
    border: 1px solid #ABABAB;
    margin-right: 9px;
    vertical-align: top;
    overflow: auto;
    cursor: pointer;
}

.ulright ul li{
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ABABAB;
}

.thirdul{
    width: 180px!important;
}

.lastul li{
    padding: 6px 7px 8px 7px;
    text-align: start;
    margin:  9px 9px 9px 0;
    border: 1px solid #5677FC;
    color: #5677FC;
    position: relative;
}

.lastul img{
    position: absolute;
    width: 24px;
    left: 92px;
    top: 7px;

}
.btn-fixed{
    position: fixed;
    bottom: 40px;
}
.btn-right{
    margin-right: 20px;
}

