
.form-horizontal .control-label{
  text-align: left;
}
.row{
  margin-bottom: 20px;
}
.img_txt_c{
  font-size: 12px;
  color: #666F80;
}
/*公共样式开始*/
.red{
  color: red;
  margin-right: 3px;
}
.img_size{
  width: 30px;
  height: 30px;
}
.checkbox_index{
  position: relative;
  z-index: 9999;
}

/*添加模态框*/

#my_modal_add{
  height: 650px;
}
#shop_num_null,#shop_num_null2,#shop_num_null3,#shop_num_null4{
  border:1px solid red;
  margin-bottom: 10px;
  height: 34px;
  line-height: 34px;
  background-color: #FFF2F2;
  color: #E82A2A;
  border-radius: 3px;
}

.clear{
  clear: both;
}
.still{
  background-color: #F0F0F0!important;
}
.shop_left{
  margin-left: 10px;
  font-weight: bold;
}
.shop_get_sku{
  position: relative;
  z-index: 9999;
}
.modal_red{
  color:red;
}
.txt_left{
  padding-left: 0;
}
.img_top{
  padding-top: 10px;
}
.dl_active6{
  background-color: #E6E9F0!important;
}
.a_active6{
  color: #5677FC!important;
}
.img_txt{
  padding-left: 15px;
}
.btn_top{
  margin-top: 10px;
}
.modal_img{
  width: 100%;
}
.img_banner{
  width: 254px;
  height: 137px;
  overflow: hidden;
}
.img_recommend{
  width: 167px;
  height: 144px;
  overflow: hidden;
}
.img_div:after{
  content: '';
  display: table;
  clear: both;
}