<div class="associate_list">
    <p><span>关联订单：{{total_orders}}</span><span>关联金额：{{total_amount | currency:'￥'}}</span></p>
    <table class="table table-responsive table-hover">
        <tr>
            <th>手机号</th>
            <th>订单号</th>
            <th>交易费用</th>
            <th>交易时间</th>
            <th>备注</th>
        </tr>
        <tr ng-repeat="item in all_order_detail">
            <td>{{item.mobile}}</td>
            <td>{{item.order_no}}</td>
            <td>{{item.amount_order | currency:'￥'}}</td>
            <td>{{item.create_time}}</td>
            <td>
                <div class="col-sm-5" style="padding-left: 0!important;">
                    <input data-toggle="modal" ng-click="getRemark(item)" data-target="#remarks" type="text" class="form-control" ng-model="item.remarks">
                </div>
            </td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <div class="modal fade" id="remarks" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title text-left">备注</h4>
                </div>
                <div class="modal-body row">
                    <p class="col-md-3">备注(选填)</p>
                    <textarea  ng-model="cur_item.remarks" class="col-md-9" placeholder="请填写备注项" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="other_btn" ng-click="editRemark()" data-dismiss="modal">确认</button>
                    <button type="button" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>