<div class="distribution_detail row">
    <form name="count_profit">
        <div class="row">
            <p class="col-md-2">手机号</p>
            <p class="col-md-10">{{myself.mobile}}</p>
        </div>
        <div class="row">
            <p class="col-md-2">加入时间</p>
            <p class="col-md-10">{{myself.applydis_time}}</p>
        </div>
        <div class="row">
            <p class="col-md-2">绑定的手机号(父级)</p>
            <p class="col-md-2" style="color: #5677FC;">{{fatherset.mobile}}</p>
            <p class="col-md-2">{{fatherset.add_time}}</p>
        </div>
        <div class="row" ng-if="subset.length==0">
            <p class="col-md-2">被绑定的手机号(子级)</p>
        </div>
        <div class="row" ng-repeat="item in subset | limitTo:10">
                <p class="col-md-2" ng-if="$index==0">被绑定的手机号(子级)</p>
                <p class="col-md-2" ng-if="$index!=0">&nbsp;</p>
                <p class="col-md-2" style="color: #5677FC;">{{item.mobile}}</p>
                <p class="col-md-2">{{item.applydis_time}}</p>
        </div>
        <div class="row" ng-if="subset.length>10">
                <p class="col-md-2">&nbsp;</p>
                <p class="col-md-10">
                    <button class="remove" style="margin-left: 0;border:0;" ng-click="associate()">查看列表</button>
                </p>
        </div>
        <div class="row">
            <p class="col-md-2">相关联交易订单</p>
            <p class="col-md-10">
                <button class="remove" style="margin-left: 0;" ng-click="associate()">查看列表</button>
            </p>
        </div>
        <div class="row">
            <p class="col-md-2">收益</p>
            <div class="col-md-2">
                <input type="text" ng-pattern="/^0\.\d[1-9]$|^0\.[1-9]$|^[1-9]\d{0,4}\.\d{1,2}$|^[1-9]\d{0,4}$|^[1-9]\d{5}\.\d$|^[1-9]\d{5}$|^[1-9]\d{6,7}$/" name="profit" maxlength="8" placeholder="请输入金额" ng-model="ctrlScope.profit"
                       class="form-control">
                <p style="margin-top: 10px;font-size: 12px;" ng-if="count_profit.profit.$invalid&&submitted" ng-class="{'error':count_profit.profit.$invalid&&submitted}">金额小数点最多两位</p>
            </div>
        </div>
        <div class="from-group submit">
            <button type="button" class="btn btn-primary" ng-click="save_profit(count_profit.$valid)">保存</button>
            <button type="button" class="btn btn-default" ng-click="go_index()">返回</button>
        </div>
    </form>
</div>