<div class="distribution_detail row">
        <p class="col-md-2">手机号</p>
        <p class="col-md-10">111</p>
        <p class="col-md-2">加入时间</p>
        <p class="col-md-10">111</p>
        <p class="col-md-2">绑定的手机号(父级)</p>
        <p class="col-md-10">111</p>
        <p class="col-md-2">被绑定的手机号(子级)</p>
        <div class="col-md-10">
            <div>
            <p style="padding-left: 0;color: #487AF8;" class="col-md-2">13696969696</p>
            <p style="padding-left: 0;" class="col-md-10">2017-10-10</p>
            </div>
            <p class="col-md-12" style="color:#487AF8;padding: 0;margin-top: 10px;margin-bottom: 10px;">查看更多</p>
        </div>
    <p class="col-md-2">相关联交易订单</p>
    <p class="col-md-10">
        <button class="remove" style="margin-left: 0;" ng-click="associate()">查看列表</button>
    </p>
    <p class="col-md-2">收益</p>
    <div class="col-md-10" >
    <div class="col-md-2" style="padding-left: 0;">
        <input type="text" placeholder="请输入金额" class="form-control">
    </div>
    </div>
    <div class="from-group submit">
        <button type="button" ng-click="save_remark()">保存</button>
        <button type="button" ng-click="go_index()">返回</button>
    </div>
</div>