/*头部样式修改*/
header{
    height: 60px;
    line-height:60px;
    font-size:14px!important;
    border-bottom:1px solid #E6E9F0;
    padding:0 40px;
    position: relative;
    text-align: right;
}
.header_title{
    position: absolute;
    left:0;
    margin-left:40px;
}
/*商城财务主页*/
.mall_finance{
    padding-left:40px;
    padding-right:40px;
    padding-top:10px;
}
.mall_finance h1{
    font-size:16px;
    margin-bottom:20px;
}
.mall_finance .col-md-2{
    box-sizing: content-box;
    height:90px;
    border:1px solid #5677FC;
    text-align: center;
    padding:30px 0;
    color: #5677FC;
    cursor: pointer;
}
.mall_finance > div{
    padding-top:20px;
    padding-bottom: 20px;
}
.mall_finance button{
    width:70px;
    height: 32px;
    font-size:12px;
    background: none;
    border:.5px solid #ccc;
    /*margin-left:10px;*/
    margin-right:10px;
    border-radius:2px;
}