/*商家提现管理样式*/
.withdraw_manage{
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
}
.withdraw_manage span{
    margin-right:15px;
}
.withdraw_manage > div{
    margin-bottom:20px;
}
.withdraw_manage p {
    margin-bottom: 20px;
    font-size:14px;
}
.withdraw_manage table{
    font-size:14px;
}
.withdraw_manage table th{
    border: 0 !important;
    font-weight:normal!important;
    color: #7A8599;
}
.withdraw_manage table td{
    color: #666F80;
}
.withdraw_manage button{
    padding:5px 10px;
    height: 30px;
    margin-right:20px;
    font-size:14px;
    background:none;
    border:.5px solid #ccc;
    border-radius:2px;
}
/*.apply_case_index .form-control{*/
/*padding:20px 12px;*/
/*}*/
/*.apply_case_index td{*/
/*padding-top:15px !important;*/
/*padding-bottom:15px !important;*/
/*}*/
/*.apply_case_index td input{*/

/*}*/
.withdraw_manage .modal-content{
    padding:40px!important;
}
.withdraw_manage .modal button{
    width:80px;
    height: 30px;
}
.withdraw_manage .other_btn{
    border:.5px solid #5677FC;
    color: #5677FC;
}