<!DOCTYPE html>
<html ng-app="intelligent_nodata">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/rem.css">
    <link rel="stylesheet" href="css/all.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/inteligent_nodata.css"/>
</head>
<body ng-controller="nodata_ctrl">
<header>
    <div>
        <span class="in_span"><</span>
        <span class="pic_span">智能报价</span>
        <img src="images/dingw.png" alt=""/>
        <span class="postion_span">成都</span>
    </div>
</header>

<section>
    <!--小区信息-->
    <div class="quarters_small">
        <h1>小区信息</h1>
        <span class="choose_quarter">小区选择</span>
        <input type="text" placeholder="请输入小区名字" /><br/>
        <div class="address_content">

        <p class="quarters_adress">小区地址</p>
        <textarea class="text_all" rows="5" cols="43" placeholder="例：金牛区沙西线66号" ng-model="message"></textarea>
        <span class="text_all_length">{{message.length}}/45</span>
        </div>
    </div>

    <!--房屋信息-->
    <div class="house_area">
        <span class="house_span">房屋面积</span>
        <input type="text" placeholder="180"  onkeyup="this.value=this.value.replace(/[^\d]/g,'')" maxlength="3"/>

        <span class="p">m<sup>2</sup></span>
    </div>
    <!--户型-->
    <div class="apartment_layout">
        <span class="apartment_span">户型</span>
        <div>
            <ul class="apartment_ul">
                <li>
                    <a href="">
                        <input type="text" value="3" class="val_input"/>
                        <span>室</span>
                        <button class="btn_left reduce_a">-</button>
                        <button class="btn_right add_a">+</button>
                    </a>

                </li>
                <li>
                    <input type="text" value="2" class="val_input_b"/>
                    <span>厅</span>
                    <button class="btn_left reduce_b">-</button>
                    <button class="btn_right add_b">+</button>
                </li>
                <li>
                    <input type="text" value="2" class="val_input_c"/>
                    <span>卫</span>
                    <button class="btn_left reduce_c">-</button>
                    <button class="btn_right add_c">+</button>
                </li>
                <li>
                    <input type="text" value="2" class="val_input_d"/>
                    <span>厨</span>
                    <button class="btn_left reduce_d">-</button>
                    <button class="btn_right add_d">+</button>
                </li>
            </ul>
        </div>
    </div>

    <!--层高-->
    <div class="storey">
        <h1>层高</h1>
        <ul class="storey_ul">
            <li >
                <input type="radio" name="storey_content"/>
                <span>2.8m<sup>2</sup></span>
            </li>
            <li >
                <input type="radio" name="storey_content"/>
                <span>3m<sup>2</sup></span>
            </li>
            <li >
                <input type="radio" name="storey_content"/>
                <span>3m<sup>2</sup></span>
            </li>
            <li >
                <input type="radio" name="storey_content"/>
                <span>>3m<sup>2</sup></span>
                <span>(跃成商铺等)</span>
            </li>
        </ul>
    </div>

    <!--飘窗-->
    <div class="bay_window">
        <span class="bay_span">飘窗</span>
        <input type="text"placeholder="20"/>
        <spann class="bay_square">m<sup>2</sup></spann>
    </div>

    <!--楼梯有无-->
    <div class="choose_stairs">
        <span class="choose_span">楼梯选择</span>
        <input type="radio" name="have_stairs"/><span class="have">有</span>
        <input type="radio" name="have_stairs"/><span class="no">无</span>
    </div>

    <!--结构-->
    <div class="structure">
        <ul>
            <li>
                <input type="checkbox"/>
                <span>实木构造</span>
            </li>
            <li>
                <input type="checkbox"/>
                <span>实木构造</span>
            </li> <li>
                <input type="checkbox"/>
                <span>实木构造</span>
            </li>
            <li>
                <input type="checkbox"/>
                <span>实木构造</span>
            </li>
            <li>
                <input type="checkbox"/>
                <span>实木构造</span>
            </li>
        </ul>
    </div>

    <!--系类选择-->
    <div class="series">
        <h1>系列选择</h1>
        <ul>
            <li ng-repeat="item in series" ng-cloak ng-click="toggleSeries(item.series)">
                <label ng-cloak><input type="radio" name="series" ng-checked="(nowSeries==item.series)">{{item.series}}</label>
            </li>
        </ul>
    </div>

    <!--适合人群-->
        <div ng-switch on="nowSeries">
            <div ng-switch-when="齐家">
                <div class="tag"><span ng-cloak  ng-repeat="item in series[0].theme.split(',')">{{item}}</span></div>
                <div class="fit">
                    <h2>适合人群</h2>
                    <p ng-cloak>{{series[0].intro}}</p>
                </div>
            </div>
            <div ng-switch-when="享家">
                <div class="tag"><span ng-cloak ng-repeat="item in series[1].theme.split(',')">{{item}}</span></div>
                <div class="fit">
                    <h2>适合人群</h2>
                    <p ng-cloak>{{series[1].intro}}</p>
                </div>
            </div>
            <div ng-switch-default>

            </div>
        </div>

    <!--风格选择-->
    <div  class="choose_style">
        <h1>风格选择</h1>
        <ul>
            <li ng-repeat="item in style">
                <button ng-cloak ng-class="{'btn_checked':(nowStyle==item.style)}" ng-click="toggleStyle(item.style)">{{item.style}}</button>
            </li>
        </ul>

    </div>

    <!--轮播图-->
<div ng-switch on="nowStyle">
    <div ng-switch-when="现代简约">
         <div class="carousel">
1
         </div>
        <!--现代简约便签-->
        <div class="note">
            <ul>
                <li ng-repeat="item in style[0].theme.split(',')">
                    <button ng-cloak>{{item}}</button>
                </li>
            </ul>
        </div>
    </div>
    <div ng-switch-when="中国风">
        <div class="carousel">
2
        </div>
        <!--中国风便签-->
        <div class="note">
            <ul>
                <li ng-repeat="item in style[1].theme.split(',')">
                    <button ng-cloak>{{item}}</button>
                </li>
            </ul>
        </div>
    </div>
    <div ng-switch-default>

    </div>
</div>
    <!--便签  -->
   <div class="note">
       <ul>
           <li>
               <button>外形简介</button>
           </li>
           <li>
               <button>外形简介</button>
           </li>
           <li>
               <button>外形简介</button>
           </li>
           <li>
               <button>外形简介</button>
           </li>
           <li>
               <button>外形简介</button>
           </li>
       </ul>
   </div>

    <!--按钮-->
    <div class="btn_vr">
      <button >生成3D/VR图和材料</button>
    </div>

    <div style="height: 20rem"></div>
</section>
<script src="../js/jquery.js"></script>
<script src="../js/angular.min.js"></script>
<script src="js/rem.js"></script>
<script src="js/global.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/Intelligent_nodata.js"></script>
</body>
</html>
