<link rel="stylesheet" href="css/movefurniture.css"/>
<div ng-controller="second_level_material_ctrl">
    <header>
        <div>
            <span ng-click="curGoPrev()"><img src="images/mall_nav_return.png" alt=""></span>
            <sapn class="span_center">{{stair[index].title}}</sapn>
        </div>
    </header>
    <section>
        <div class="list_comment">
            <ul class="ul_item">
                <li class="li_item" ng-repeat="item in second_material" ng-click="go_details(item)">
                    <a>
                        <img src="images/bed.png" alt=""/><br/>
                        <span>{{item.title}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>