body{
    height: 100%;
}
.main{
    width: auto;
    height: 100%;
    background-color: lightgreen;
}
/*¼òÀú*/
.resumes{
    float: left;
    /*overflow: hidden;*/
    width: 10rem;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    /*background-color: #01BEFF;*/
}
.resumes >li{
    width: 10rem;
    height: 81px;
    margin-top: 0.1rem;
    background-color: #ECB84B;
}
.resumes >li>a{
    float: left;
    width: 10rem;
    height: 8rem;
    text-align: center;
    position: relative;
    line-height: 8rem;
    font-size: 1.6rem;
}
/*.resumes >li a:hover,.resumes >li a:active{*/
    /*text-decoration:none;*/
    /*color:red;*/
/*}*/

.resumes_content{
    width: 21.9rem;
    height: auto;
    float: left;
    font-size: 12px;
    background-color: #06BE04;
}
