.title_span{
    font-size: 1.2rem;
    padding-top: 1rem;
    display: inline-block;
    margin-left: 1rem;
}
.comment_span{
    color: #C2C2C2;
    font-size: .8rem;
    margin-left: 1rem;
    margin-top: .6rem;
}
.left_main{
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 15rem;
    margin-left: 1rem;
}
.right_main {
    /*border: 1px solid #C2C2C2;*/
    display: inline-block;
    width: 15rem;
}
.left_main ul {
    border: 1px solid #C2C2C2;
}
.right_main ul {
    border:1px solid #C2C2C2;
}

.special_requirements{
    margin-left: 1rem;
    margin-top: 1rem;
}
.main_text{
    margin-top: 2rem;
    width: 28rem;
    height: 10rem;
    padding-left: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
}
.special_requirements span{
    position: relative;
    left: 25rem;
    top:-2rem;
    font-size: 1rem;
}
.first_span{
    color: #F55122;
    font-size: 1.2rem;
    margin-left: 2rem;
}
.footer_set{
    display: inline-block;
    line-height: 1.2rem;
}
.second_span{
    font-size: 1rem;
    color: #F55122;
    text-decoration:line-through ;
    margin-left: 2rem;
}
.three_span{
    font-size: .8rem;
    color: #999;
    margin-left: 2rem;
    padding-top: 1rem;
}
.footer_settlement {
    background-color: white;
    height: 3rem;
    border-top:2px solid #C2C2C2;
    padding-top: 1rem;
}
.footer_settlement button{
    width: 7rem;
    height: 3.1rem;
    background-color: white;
    border: 1px solid #53A8F4;
    font-size: 1rem;
    /*margin-left: 1rem;*/
    /*margin-top: -1rem!important;*/
    position: relative;
    top:-.6rem;
    left: 2rem;

}
.primary_btn{
    background-color: #53A8F4!important;
    color: white!important;
    margin-left: 1rem;
}