body{
    background-color: white;
}
header div{
    height: 4rem;
    width: auto;
    background-color: white;
    border-bottom:4px solid #999 ;
}
header div span{
    line-height: 4rem;
    font-size: 1.2rem;
}
header div:last-child span{
    padding-left: .5rem;
}
.span_center{
    margin-left: 13rem;
    font-size: 1.2rem;
}
.memo_pad{
    background-color: white;
    height:4.1rem;
    line-height:4.1rem ;
}
.memo_pad li{
    font-size: 1rem;
    margin-left: 3.6rem;
    display: inline-block;

}
.mall_list{
    background-color: white;
    /*height: 12rem;*/
}
.flex_div{
    /*position: relative;*/
    /*top:1rem;*/
}
/*.item_li{*/
    /*background-color: white;*/
/*}*/
.item_commodity div{
    display: inline-block;
}
.item_commodity_divimg {
    /*position: relative;*/
    margin-left: 1rem;
}
.item_commodity_divimg img {
    position: relative;
    top:-3.2rem;
}
.item_commodity_comment{
    margin-left: 1rem;
}
.item_commodity p,span{
    font-size: 1.2rem;
}
.img_item{
    width: 9rem;
    /*margin-top: 2rem;*/
    margin-left: .6rem;

}
#myModal .modal-dialog{
    width: 28rem;
    background-color: white;
    position: absolute;
    top: -1rem;
    /*border: 1px solid red;*/
    margin-left: 4rem;
}
.style_screen{
    position: relative;
}
.header_font{
    /*overflow: hidden;*/
    margin-bottom: 1.2rem;
}

.down_arrow{
    margin-left: 18rem;
    /*margin-top: -2rem*/
    position: absolute;

}
.well{
    background-color: white!important;
    border: none!important;
    padding: 0.1rem;

}

.well ul li{
    width: 6rem;
    height: 2.4rem;
    border: 1px solid #999;
    color: #959292;
    border-radius:0.5rem;
    display: inline-block;
    text-align: center;
    line-height: 2.4rem;
    font-size: 1rem;
    margin-left: .2rem;
    margin-bottom: .7rem;
    margin-top: .7rem;


}
.price_range{
    margin: 1.2rem 0;
}
.price_range input{
    width: 6.12rem;
    height: 3.1rem;
    font-size: 1rem;
}
.all_brand_btn{
    /*height: 3rem;*/
    width:24rem;
    background-color: white;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    border-top:1px solid #959292;
}
.reset_btn{
    width: 12rem;
    height: 3rem;
   font-size: 1.2rem!important;
}
.footer_div {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    font-size: 1.2rem;
}
.modal_body_height{
    height: 30rem;
    /*margin-left: -2rem;*/
}
.myModal_brand {
    width: 30rem;
    background-color: white;
    position: absolute;
    top: -1rem;
    /*border: 1px solid red;*/
    /*margin-left: -2rem;*/
}
.ui-content{
    width: 30rem;
}
.list_li li{
    width: 21rem;
}
.ui-filterable{
    width:21rem;
}
.back_btn{
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem!important;
    margin-left: 1rem;
}
.footer_div_btn{
    /*margin-left: -2rem;*/
    padding: 1rem 0;
}
a{
    font-size: 1rem!important;
}
