body{
    background-color: white;
}
header div{
    height: 4rem;
    width: auto;
    background-color: white;
    border-bottom:4px solid #999 ;
}
header div span{
    line-height: 4rem;
    font-size: 1.2rem;
}
header div:last-child span{
    padding-left: .5rem;
}
.span_center{
   margin-left: 13rem;
    font-size: 1.2rem;
}
.list_comment{
    margin-top: 1rem;
    background-color: white;
    width: auto;
}
.ul_item{
    margin-top: 1rem;
}
.li_item{
    display:inline-block;
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.li_item img{
    width: 6rem;
}
.li_item span{
    margin-left: 1rem;
    font-size: 1rem;
}