header{
    width: 32rem;
    height:4rem;
    border-bottom: 1px solid #C2C2C2;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.back{
    background-color: #f4f4f4;
}
header div{
    line-height: 4rem;
}
header div span{
    font-size: 1.2rem;
}
.in_span{
    margin-left: 1.2rem;
    color: #53A8F4;
}
.pic_span{
    margin-left: 11rem;
    font-size: 1.5rem;
    color: #4A4A4A;
}
.wall_material h1 {
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid #C2C2C2;
    font-size: 1.4rem;
}
.wall_ul li{
    padding-bottom: 1rem;
    border-bottom: 1px solid #C2C2C2;
    font-size: 1.2rem;
    padding-left: 1rem;
    position: relative;
}

.left_com{
    width: .6rem;
    position: absolute;
    right: 1rem;
    top: 1.1rem;
}

.left_com{
    width: .6rem;
    position: absolute;
    right: 1rem;
    top: 1.1rem;
}

.wall_brand{
   color: #959292;
    font-size: 1.1rem;
}

.left_com{
    width: .6rem;
    position: absolute;
    right: 1rem;
    top: 1.1rem;
}

.left_com{
    width: .6rem;
    position: absolute;
    right: 2rem;
    top: 1.3rem;
}

.wall_ul li{
    position: relative;
}
.wall_money{
    position: absolute;
    left: 23rem;
    top:1rem;
    font-size: 1.1rem;
    color: #F59C22;
}
.wall_money_sec{
    position: relative;
    left: 14rem;
    top:-.5rem;
    color: #C2C2C2;
}
.add_material{
    text-align: center;
    margin-top: 1rem;
    background-color: white;
}
.sheet_material h1{
    margin-top: 3rem;
    border-bottom: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.money{
    position: relative;
    left: 20rem;
    /*top:-.5rem;*/
    color: #C2C2C2;
}
.handyman_span{
    width:12rem;
    margin-left: 8rem;
    border: 1px solid #C2C2C2;
    height: 2.6rem;
    border-radius: .5rem;
}
.handyman_sec{
    margin-left: 1rem;
}
.two-sided{
    position: relative;
    top: 2rem;left: -5rem;
}
.handyman_input{
    width:12rem;
    margin-left: 14rem;
    border: 1px solid #C2C2C2;
    height: 2.6rem;
    border-radius: .5rem;
}
.preservation{
    width: 32rem;
    margin-top: 1rem;
    background-color: white;
    position: fixed;
    height: 4rem;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.15);

}
.preservation span{
    font-size: 1.2rem;
    margin-left: 1rem;
}
.preservation button{
    background-color: #F55122;
    color: white;
    font-size: 1.2rem;
    width: 8.5rem;
    height:4rem;
    margin-left: 11.1rem;
    border: none;
}
.money_col{
    color: #F55122;
    font-size: 1.5rem!important;
    margin-left: -.3rem!important;
}
.edit{
    margin-left: 8.5rem;
    color:#53A8F4 ;
}
.wall_span{
    display: inline-block;
    top:1rem;
    color: #4A4A4A;
    font-size: 1.3rem;
}
.first_top{
    margin-top: 4.5rem!important;
}
.wall_ul li{
    margin-top: .5rem;
}
.add_mater{
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    background-color: white;
}
.add_mater span{
    color: #53A8F4;
}
.sheet_material{
    margin-top: 3.5rem;
    background-color: white;
}
.color_a{
    color:#53A8F4;
    font-size: 1.3rem;
}
.color_b{
    margin-bottom: 7rem;
}
.add_col{
    color:#53A8F4;
    font-size: 1.5rem;
}

a:hover{
    text-decoration: none;
}

/*模态框*/

.comment{
    margin-top: 1rem;
    font-size: 1rem;
}

.comment_p{
    padding-top: 1rem;
}
.modal-dialog{
    /*padding-top: 6rem;*/
}
.replace button{
    width: 100%;
    height: 2rem;
    font-size: 1rem;
}
/*结束*/
.del{
    border: none;
    background-color: #FF7043;
    width: 4rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    position: relative;
    left: 15rem;
    top:-1rem;
    display: none;

}
/*.modal-body{*/
    /*font-size: 1.2rem;*/
    /*padding-top: 2rem;*/
    /*padding-bottom: 2rem;*/
    /*text-align: center;*/
/*}*/
.del_two{
    display:block;
    border: none;
    background-color: #FF7043;
    width: 4rem;
    height: 3rem;
    color: white;
    font-size: 1rem;
    position: absolute;
    left: 27rem;
    top:.6rem
}
#whit{
    padding: 30px!important;
    font-size: 1.2rem!important;
    text-align: center!important;
}
.btn{
    width: 47%;
    height: 3rem;
    border: none;

    /*background-color: white;*/
    /*margin-left: -1rem;*/
    font-size: 1.2rem;
}
.del_btn{
    color: #0000cc;
    width: 45%!important;
    background-color: white;
    position: relative;
    /*left: .5rem;*/
    border-left: 1px solid #C2C2C2;
    padding-right: 0.3rem;
}
.def_btn{
    width: 45%!important;
    background-color: white;
    position: relative;
    left: -1rem;
}

.comment_img img{
    width:18.5rem;
    height: 10rem;
}
.comment{
    margin-top: 1rem;
    font-size: 1rem;
}

.comment_span{
    font-size: 1.2rem;
    color: #4A4A4A;
    /*margin-left: -8rem;*/
}
.text_p{
    color:#6C6C6C;
    font-size: 1rem;
    text-align: left;
    padding-left: .5rem;

}
.comment_se{
    margin-left: 6rem;
    color: #F59C22;
}
.comment_square{
    color:#B8B6B6 ;
    font-size: 1rem;
    /*margin-left: -1.2rem;*/
}
.comment_p{
    padding-top: 1rem;
    /*margin-left: -11rem;*/
    font-size: 1.2rem;
    color: #4A4A4A;

}
.replace button{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}