.main{
    width: auto;
    height: auto;
}
.main .details_banner{
    width:100%;
    height: 15.7rem;
    position:relative;
    background-color: #31b0d5;
}
.main .details_banner img{
    width:100%;
    /*height: 15rem;*/
}
.main .intro_box {
    width: auto;
    height: auto;
    margin-top: 1rem;
    background-color: #fff;
}
.main .intro_box .product_name{
    font-size: 1.6rem;
    line-height: 4rem;
}
.main .intro_box  .intro{
    font-size: 1.2rem;
}
.main .intro_box  .intro .activity{
    display: inline;
    color:#FF9F13;
}
.main .intro_box  .intro .introduce{
    display: inline;
    color:#A1A1A1;
}
.main .intro_box  .intro .cost{
    font-size: 1.4rem;
    color:#FF5722;
}
.main .standard{
    height: 3rem;
    margin-top: .6rem;
    position: relative;
    line-height: 3rem;
    font-size: 1.4rem;
    background-color: #fff;
    /*border: 1px solid #666;*/
}
.main .standard >div:nth-child(1){
    position: absolute;
    left:1rem;
    top:0;
    z-index: 10;
}
.main .standard >div:nth-child(2){
    position: absolute;
    right:1rem;
    top:0;
    z-index: 10;
}
.specification_box {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    left:0;
    top:1rem;
    background-color: #2aabd2;
}
.specification_box >li{
    width:auto;
    height: auto;
    margin-top: 1rem;
    background-color: #be10b3;
}
.specification_box .inventory_box{
    height: 10rem;
    background-color: #67b168;
}
.specification_box .inventory_box img{
    width:11.4rem;
    height: 8.5rem;
}
.colour{
    display: inline-block;
    line-height: 3rem;
    background-color: #a94442;
}
.comment{
    height: 3rem;
    margin-top: .8rem;
    background-color: white;
    line-height: 3rem;
    border-bottom:1px solid #666 ;
}
.comment span{
    font-size: 1rem;
    margin-left: 1rem;
}

.comment_list{
    position: relative;
    height: 10rem ;
    background-color: white;
    /*margin-left: 1rem;*/
}
.comment_list img{
    width: 3rem;
    border-radius:50% ;
}
.comment_list p{
    margin-left: 0.3rem;
    font-size: 1rem;
}
.user_comment{
    position: absolute;
    margin-left: 2rem;
    margin-top: .6rem;
    font-size: 1rem;
}
.comment_time{
    position: absolute;
    margin-left: 21rem;
    margin-top: .6rem;
    font-size: 1rem;
}
.all_comment{
    height: 3rem;
    background-color: white;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
}
.shop_header{
    height: 15rem;
    width: auto;
    background-color: white;
}
.shop_header_child img{
    padding-left: 1rem;
}
.shop_header_child span{
    position: relative;
    top:-2rem;
    font-size:1.2rem;
    margin-left: 1rem;
}
