/*解决手机网页使用 rem 单位 第一次加载默认大小*/
@media only screen and (max-width: 310px) {body, html {font-size: 9.38px}}
@media only screen and (max-width: 320px) and (min-width: 310px) {body, html {font-size: 9.69px}}
@media only screen and (max-width: 325px) and (min-width: 320px) {body, html {font-size: 10px}}
@media only screen and (max-width: 350px) and (min-width: 325px) {body, html {font-size: 10.16px}}
@media only screen and (max-width: 360px) and (min-width: 350px) {body, html {font-size: 10.94px}}
@media only screen and (max-width: 365px) and (min-width: 360px) {body, html {font-size: 11.25px}}
@media only screen and (max-width: 376px) and (min-width: 365px) {body, html {font-size: 11.41px}}
@media only screen and (max-width: 385px) and (min-width: 376px) {body, html {font-size: 11.75px}}
@media only screen and (max-width: 414px) and (min-width: 385px) {body, html {font-size: 12.03px}}
@media only screen and (max-width: 470px) and (min-width: 414px) {body, html {font-size: 12.94px}}
@media only screen and (max-width: 480px) and (min-width: 470px) {body, html {font-size: 14.69px}}
@media only screen and (max-width: 540px) and (min-width: 480px) {body, html {font-size: 16.88px}}
@media only screen and (max-width: 560px) and (min-width: 540px) {body, html {font-size: 15px}}
@media only screen and (max-width: 570px) and (min-width: 560px) {body, html {font-size: 17.5px}}
@media only screen and (max-width: 630px) and (min-width: 570px) {body, html {font-size: 17.8px}}
@media only screen and (max-width: 640px) and (min-width: 630px) {body, html {font-size: 19.69px}}
@media only screen and (max-width: 710px) and (min-width: 640px) {body, html {font-size: 20px}}
@media only screen and (max-width: 720px) and (min-width: 710px) {body, html {font-size: 22.19px}}
@media only screen and (min-width: 720px) {body, html {font-size: 22.5px}}





