
.search_box{
    height: 4.1rem;
    background-color: white;
    border-bottom: 3px solid #999;
    margin-bottom: 2rem;
}
body{
    background-color: white;
}

.search{
    width: 24.3rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    position: absolute;
    top: 0.85rem;
    left:1.2rem;
    padding-left: 2.4rem;
    background-image: url("../images/search.png");
    background-size:1rem;
    background-repeat: no-repeat;
    background-position: 1rem 0.7rem;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    border: 1px solid #999;
    /*color:#fff;*/
}
.search_box .massage{
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top:1.5rem;
    font-size: 0.8rem;
    right:1.2rem;
}
h2{
    padding-left: 1rem;
}
.tab_li{
    padding-left: 1rem;
}
.tab_li li {
    display: inline-block;
    width: 5.3rem;
    height: 2.4rem;
    background-color: #F3F3F3;
    text-align: center;
    line-height: 2rem;
    margin-left: 1rem;
    border-radius:.3rem ;
}
.tab_div{
    border-bottom: 1px solid #999;
    padding-bottom: 2rem;
}
.history_search{
    padding-bottom: 2rem;
}
.history_search ul {
    padding-left: 1rem;
}
.history_search ul li{
    list-style: none;
    font-size: 1rem;
    color: #999;
    margin-bottom: .6rem;
}
.clear_history_btn button{
    width: 10rem;
    height: 3rem;
    border: 1px solid #999;
    font-size: 1rem;
    background-color: white;
    margin-left: 12rem;
}
.tab_hidden ul li{
    list-style: none;
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    color: #666;
    padding-left: 1rem;
    border-bottom:.1rem solid #E9EDEE;


}