/*ͷ����ʼ*/
header{
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border-bottom: 1px solid #E6E9F0 ;
}
.shop_manage{
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: 700;
}
.manage_child{
    font-size: 14px;
    color: #8D9199;
    line-height: 14px;
}
header img{
    margin-left:66%;
}
/*ͷ������*/

/*��������*/
section{
    padding-left: 40px;
}
.shop_name{
    margin-bottom: 25px;
    margin-top: 40px;
}
.shop_name span{
    color: #666F80;
    font-size: 14px;
}
.shop_name span:nth-child(2){
    margin-left: 85px;
}
/*.shop_num{*/
    /*margin-bottom: 25px;*/
/*}*/
/*.shop_num span{*/
    /*color: #666F80;*/
    /*font-size: 14px;*/
/*}*/
/*.shop_num span:nth-child(2){*/
    /*margin-left: 112px;*/
/*}*/
hr{
    margin-left: 6px;
    width: 90%;
    color: #ABABAB;
}
.shop_img{
    margin-bottom: 25px;
    margin-top: 25px;
}
.shop_img span{
    color: #666F80;
    display: inline-block;
    min-width:56px
}
.shop_img img{
    width: 310px;
    height: 222px;
    margin-left: 85px;
    vertical-align: text-top;
}
.shop_img_more{
    margin-bottom: 25px;
    margin-top: 25px;
}
.shop_img_more span{
    color: #666F80;
    font-size: 14px;
}
.shop_img_more img{
    width: 310px;
    height: 222px;
    border: 1px solid #ABABAB;
    margin-left: 88px;
    vertical-align: text-top;
}
.shop_select{
    margin-bottom: 25px;
    margin-top: 25px;
}
.shop_select span{
    color: #666F80;
    font-size: 14px;
}
.shop_select select{
    width: 200px;
    height: 30px;
    border: 1px solid #ABABAB;
    border-radius: 4px;
    margin-left: 85px;
}
.shop_input{
    margin-bottom: 25px;
    margin-top: 25px;
}
.shop_input span{
    color: #666F80;
    font-size: 14px;
}
.shop_input textarea{
    width: 740px;
    height: 100px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
    margin-left: 85px;
    vertical-align: text-top;
}
.btn_back{
    margin-top: 30px;
    margin-bottom: 40px;
}
.btn_left{
    margin-left: 20px;
}
