<link rel="stylesheet" href="pages/mall_manage/brand_manage/brand_check/css/brand_check.css"/>
<div ng-controller="brand_check_ctrl">
        <!--品牌分类-->
        <div class="row">
            <p class="col-sm-2">品牌分类</p>
            <p class="col-sm-10">{{item.category_title}}</p>
        </div>
        <!--品牌名称-->
        <div class="row">
            <p class="col-sm-2">品牌名称</p>
            <p class="col-sm-10">{{item.brand_name}}</p>
        </div>
        <!--授权期限-->
        <div class="row">
            <p class="col-sm-2">授权期限</p>
            <p class="col-sm-10">{{item.authorization_start}} 至 {{item.authorization_end}}</p>
        </div>
        <hr/>
        <!--授权书上传-->
        <div class="row" ng-repeat="imgs in (item.images)">
            <p class="col-sm-2">{{imgs.authorization_name}}</p>
            <p class="col-sm-10">
                <img ng-src="{{ imgs.image}}"/>
            </p>
        </div>
        <hr/>
        <!--商家名称-->
        <div class="row">
            <p class="col-sm-2">商家名称</p>
            <p class="col-sm-10">{{item.supplier_name}}</p>
        </div>
        <!--账户申请-->
        <div class="row">
            <p class="col-sm-2">申请账户</p>
            <p class="col-sm-10">{{item.mobile}}</p>
        </div>
        <!--申请时间-->
        <div class="row">
            <p class="col-sm-2">申请时间</p>
            <p class="col-sm-10">{{item.create_time}}</p>
        </div>
        <hr/>
        <!--审核状态-->
        <div class="row">
            <p class="col-sm-2">审核状态</p>
            <p class="col-sm-10">
                <select class="check_select" ng-model="myng.check_select" ng-options="item.value as item.name for item in check_arr"></select>
            </p>
        </div>
        <!--审核备注-->
        <div class="row">
            <p class="col-sm-2">审核备注</p>
            <p class="col-sm-10">
                <textarea class="texta" ng-model="review_txt" placeholder="请填写不通过/通过原因"></textarea>
            </p>
        </div>
        <!--按钮-->
        <div class="row btn_top">
            <p class="col-sm-12">
                <button class="btn btn-primary" data-toggle="modal" data-target="#review_modal">确认</button>
                <button class="btn btn-default btn_left" ui-sref="brand_index({check_flag:true})">返回</button>
            </p>
        </div>
    <!--确认模态框-->
    <div class="modal fade" id="review_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">审核备注</h4>
                </div>
                <div class="modal-body">
                    <span>是否确认审核？</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="review_btn()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>