.city{
  margin-bottom: 20px;
}

.table{
  table-layout:fixed;
}

#show_img_size{
  width: 30px;
  height: 30px;
}
.img_sort_size{
  width: 10px;
  height: 16px;
}
.table_txt{
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blue{
  color: #3F94F6;
}
.img_box{
  width: 254px;
  height: 137px;
  overflow: hidden;
}
.img_width{
  width: 100%;
}
.yesGreen{
  color: #92C661!important;
}
.noRed{
  color:#E6594D!important;
}