<!doctype html>
<html lang="en" ng-app="app" ng-controller="index_ctrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>艾特生活-大后台</title>
    <link rel="shortcut icon" type="image/x-icon" href="lib/images/bitbug_favicon.ico">
    <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/data_js/need/laydate.css">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_457498_7sqqq3xhq0u7syvi.css">
    <link rel="stylesheet" href="lib/css/common.css">
    <link rel="stylesheet" href="lib/css/index.css">
</head>
<body ng-cloak>
<!--左侧导航栏开始-->
<div class="nav_box">
    <div class="logo">
        <img src="lib/images/logo.png" alt=""/>
    </div>
    <dl>
        <dt ui-sref="home" ng-class="{on:other_flag=='home'}" ng-click="other_display('home')"><i class="iconfont icon-shouye i_width"></i>首页</dt>
    </dl>
    <dl>
        <dt ng-click="mall_click()" ng-class="{on:mall_flag}"><i class="iconfont icon-shangchengguanli i_width"></i>商城管理</dt>
        <dd ng-repeat="item in mall_obj" ng-click="mall_repeat(item)" ng-class="{true:'show',false:'hide'}[mall_flag]"><a ng-class="{dd_on: mall_active == item.id}" ng-bind="item.name"></a></dd>
    </dl>

    <dl>
        <dt ui-sref="intelligent.intelligent_index" ng-class="{on:other_flag=='intelligent_index'}" ng-click="other_display('intelligent_index')"><i class="iconfont icon-baojia i_width"></i>智能报价</dt>
    </dl>

    <dl>
        <dt ng-click="finance_click()" ng-class="{on:finance_flag}"><i class="iconfont icon-caiwu i_width"></i>财务中心</dt>
        <dd ng-repeat="item in finance_obj" ng-click="finance_repeat(item)" ng-class="{true:'show',false:'hide'}[finance_flag]"><a ng-class="{dd_on: finance_active == item.id}" ng-bind="item.name"></a></dd>
    </dl>

    <dl>
        <dt ui-sref="account.normal" ng-class="{on:other_flag=='account.normal'}" ng-click="other_display('account.normal')"><i class="iconfont icon-zhanghuguanli i_width"></i>账户管理</dt>
    </dl>
    <dl>
        <dt ui-sref="distribution.index" ng-class="{on:other_flag=='distribution.index'}" ng-click="other_display('distribution.index')"><i class="iconfont icon-fenxiao i_width"></i>分销</dt>
    </dl>
    <dl>
        <dt ui-sref="apply_case_index" ng-class="{on:other_flag=='apply_case_index'}" ng-click="other_display('apply_case_index')"><i class="iconfont icon-yangbanjian i_width"></i>装修申请</dt>
    </dl>
</div>
<!--左侧导航栏结束-->

<!--头部导航开始-->
<header id="header">
    <breadcrumb crumb-conf="crumbs"></breadcrumb>
    <button class="iconfont icon-dengchu" ng-click="loginOut()"></button>
</header>
<!--头部导航结束-->

<!--右侧内容页面容器结束-->
<div id="content" class="clearfix" ui-view></div>
<!--右侧内容页面容器结束-->

<!--公用-->
<script src="lib/js/baseUrl.js"></script>
<script src="lib/js/jquery-3.1.1.js"></script>
<script src="lib/js/angular.js"></script>
<script src="lib/js/angular-ui-router.js"></script>
<script src="lib/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="lib/js/angular-css.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="lib/js/ng-file-upload.js"></script>
<script src="lib/js/ng-file-upload-shim.js"></script>
<script src="lib/js/ngDraggable.js"></script>
<script src="lib/js/checklist-model.js"></script>
<script src="lib/data_js/laydate.js"></script>
<script src="../../js/constant.js"></script>


<script src="app.js"></script>
<script src="lib/js/common_lh.js"></script>     <!-- 公用 -->
<script src="lib/js/index.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/editor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/editor/ueditor.all.js"> </script>
<script src="lib/js/angular-ueditor.js"></script>
<!--公用-->

<!--王杰-->
<script src="pages/mall_manage/banner_app/banner_recommend/js/banner_recommend_ctrl.js"></script>               <!--banner推荐-->
<script src="pages/mall_manage/banner_app/index_recommend/js/index_recommend_ctrl.js"></script>                 <!--首页推荐-->
<script src="pages/mall_manage/banner_app/banner_history/js/banner_history_ctrl.js"></script>                   <!--banner历史数据-->
<script src="pages/mall_manage/banner_app/index_recommend_history/js/index_recommend_history_ctrl.js"></script> <!--推荐 历史数据-->
<script src="pages/mall_manage/brand_manage/brand_index/js/brand_index.js"></script>                            <!--品牌管理-->
<script src="pages/mall_manage/brand_manage/brand_details/js/brand_details.js"></script>                        <!--品牌详情-->
<script src="pages/mall_manage/brand_manage/brand_check/js/brand_check_ctrl.js"></script>                       <!--品牌审核-->
<script src="pages/mall_manage/brand_manage/add_brand/js/add_brand_ctrl.js"></script>                           <!--添加品牌-->
<script src="pages/mall_manage/style_manage/style_index/js/style_index_ctrl.js"></script>                       <!--系列/风格/属性管理-->
<script src="pages/mall_manage/style_manage/add_series/js/add_series_ctrl.js"></script>                         <!--添加系列-->
<script src="pages/mall_manage/style_manage/series_detail/js/series_detail_ctrl.js"></script>                   <!--系列详情页-->
<script src="pages/mall_manage/style_manage/add_style/js/add_style_ctrl.js"></script>                           <!--添加新风格-->
<script src="pages/mall_manage/style_manage/style_detail/js/style_detail_ctrl.js"></script>                     <!--风格详情-->
<script src="pages/mall_manage/new_brand_class_manage/new_brand_class/js/new_brand_class_tab.js"></script>      <!--新品牌/分类 tab -->
<script src="pages/mall_manage/new_brand_class_manage/new_brand_class/js/new_brand.js"></script>                <!--新品牌 -->
<script src="pages/mall_manage/new_brand_class_manage/new_brand_class/js/new_class.js"></script>                <!--新分类 -->
<script src="pages/mall_manage/new_brand_class_manage/new_brand_class/js/new_brand_check.js"></script>          <!--新品牌审核 -->
<script src="pages/mall_manage/new_brand_class_manage/new_brand_class/js/new_class_check.js"></script>          <!--新品牌审核 -->

<!--王杰-->

<!--谢力-->
<script src="pages/account_manage/add_user/js/add_user_ctrl.js"></script>                                       <!--添加用户-->
<script src="pages/mall_manage/style_manage/choose_series/js/choose_series_ctrl.js"></script>                   <!--选择系列分类-->
<script src="pages/mall_manage/style_manage/choose_style/js/choose_style_ctrl.js"></script>                     <!--选择风格-->
<script src="pages/account_manage/account_comment/js/account_comment_ctrl.js"></script>
<script src="pages/account_manage/account_comment/js/change_num_ctrl.js"></script>
<script src="pages/account_manage/account_comment/js/bind_record_ctrl.js"></script>
<script src="pages/account_manage/account_comment/js/operation_record_ctrl.js"></script>
<script src="pages/account_manage/account_comment/js/idcard_right_ctrl.js"></script>
<!--谢力-->

<!--张放-->
<script src="pages/intelligent/js/intelligent.js"></script>
<script src="pages/distribution/js/distribution.js"></script>
<!--<script src="pages/apply_case/js/apply_case.js"></script>-->
<script src="pages/apply_case/js/apply_case_index.js"></script>
<script src="pages/apply_case/js/case_detail.js"></script>
<script src="pages/financial_center/mall/js/controller.js"></script>
<script src="pages/financial_center/owner/js/owner_finance.js"></script>
<script src="pages/financial_center/owner/js/withdraw_manage.js"></script>
<script src="pages/financial_center/owner/js/withdraw_manage_detail.js"></script>
<script src="pages/financial_center/owner/js/account.js"></script>
<script src="pages/financial_center/owner/js/account_detail.js"></script>
<script src="pages/financial_center/owner/js/freeze_money.js"></script>
<script src="pages/financial_center/owner/js/freeze_list.js"></script>
<script src="pages/financial_center/owner/js/money_list.js"></script>
<!--张放-->

<!--芳子-->
<script src="pages/mall_manage/class_manage/cla_mag/js/class.js"></script>                                      <!--分类管理-->
<script src="pages/mall_manage/class_manage/cla_mag/js/class_online.js"></script>                               <!--已上架分类-->
<script src="pages/mall_manage/class_manage/cla_mag/js/class_offline.js"></script>                              <!--已下架分类-->
<script src="pages/mall_manage/class_manage/onsale_edit/js/onsale_edit_ctrl.js"></script>                       <!--已上架分类编辑-->
<script src="pages/mall_manage/class_manage/offsale_edit/js/offsale_edit_ctrl.js"></script>                     <!--已下架分类编辑-->
<script src="pages/mall_manage/class_manage/add_class/js/add_class_ctrl.js"></script>                           <!--添加分类-->
<script src="pages/mall_manage/merchant_manage/merchant_index/js/merchant_index_ctrl.js"></script>              <!--商城管理首页-->
<script src="pages/mall_manage/merchant_manage/store_mag/js/store_mag_ctrl.js"></script>                        <!--商家-->
<script src="pages/mall_manage/merchant_manage/add_store/js/add_store_ctrl.js"></script>                        <!--添加商家-->
<script src="pages/mall_manage/brand_manage/online_edit/js/online_edit_ctrl.js"></script>                       <!--商家管理-已上架编辑-->
<script src="pages/mall_manage/brand_manage/offline_edit/js/offline_edit_ctrl.js"></script>                     <!--商家管理-已上架编辑-->
<script src="pages/mall_manage/merchant_manage/store_mag/js/store_detail.js"></script>                          <!--商家详情-->
<script src="pages/mall_manage/merchant_manage/merchant_comment/js/merchant_details_ctrl.js"></script>          <!--品牌授权详情-->
<script src="pages/mall_manage/merchant_manage/commodity_manage/commodity/js/commodity.js"></script>            <!--商品-->
<script src="pages/mall_manage/merchant_manage/commodity_manage/commodity/js/commodity_online.js"></script>     <!--已上架-->
<script src="pages/mall_manage/merchant_manage/commodity_manage/commodity/js/commodity_offline.js"></script>    <!--已下架-->
<script src="pages/mall_manage/merchant_manage/commodity_manage/commodity/js/commodity_wait.js"></script>       <!--等待上架-->
<script src="pages/mall_manage/merchant_manage/commodity_manage/commodity/js/commodity_deleted.js"></script>    <!--已删除-->
<script src="pages/mall_manage/merchant_manage/commodity_manage/commodity_details/js/commodity_detail_ctrl.js"></script>          <!--商品详情-->
<script src="pages/mall_manage/style_manage/edit_attribute/js/edit_attribute_ctrl.js"></script>                                   <!--编辑属性-->
<script src="pages/account_manage/account_mag/js/account.js"></script>                                          <!--账户管理-->
<script src="pages/account_manage/account_mag/js/account_normal.js"></script>                                   <!--正常-->
<script src="pages/account_manage/account_mag/js/account_closed.js"></script>                                   <!--已关闭-->
<script src="pages/mall_manage/merchant_settle/js/settle_verify.js"></script>                                   <!--商家入驻审核-->
<script src="pages/mall_manage/merchant_settle/js/settle_verify_wait.js"></script>                              <!--等待审核-->
<script src="pages/mall_manage/merchant_settle/js/settle_verify_pass.js"></script>                              <!--审核通过-->
<script src="pages/mall_manage/merchant_settle/js/settle_verify_fail.js"></script>                              <!--审核失败-->
<script src="pages/mall_manage/merchant_settle/js/verify_detail.js"></script>                                   <!--审核详情-->
<!--芳子-->

<!-- lh -->
<script src="pages/home/js/home.js"></script>   <!-- 首页 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order.js"></script>                    <!-- 订单 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_all.js"></script>                <!-- 全部 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_unpaid.js"></script>             <!-- 待付款 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_unshipped.js"></script>          <!-- 待发货 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_unreceived.js"></script>         <!-- 待收货 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_completed.js"></script>          <!-- 已完成 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_cancel.js"></script>             <!-- 已取消 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/after_sales.js"></script>              <!-- 售后 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/sales_details.js"></script>            <!-- 售后详情 -->
<script src="pages/mall_manage/merchant_manage/order_manage/comments_del/js/comments_del.js"></script>      <!-- 删除评论 -->
<script src="pages/mall_manage/merchant_manage/order_manage/order/js/order_details.js"></script>            <!-- 订单详情 -->
<script src="pages/mall_manage/merchant_manage/order_manage/express/js/order_express.js"></script>          <!-- 物流详情 -->
<script src="pages/mall_manage/merchant_manage/order_manage/goods_details/js/goods_details.js"></script>    <!-- 订单商品详情 -->
<script src="pages/mall_manage/merchant_manage/search_page/js/search_page.js"></script>                     <!-- 搜索页面 -->
<script src="pages/mall_manage/data_page/js/data_page.js"></script>                                         <!-- 商城数据 -->
</body>
</html>