<!doctype html>
<html lang="en" ng-app="app" ng-controller="login_ctrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome">
    <link rel="shortcut icon" type="image/x-icon" href="lib/images/bitbug_favicon.ico">
    <link rel="stylesheet" href="lib/css/login.css">
    <title>艾特生活-大后台</title>
</head>
<body>
    <div class="content">
        <img src="lib/images/logo.png">
        <p class="logo_txt">艾特生活</p>
        <!--手机号-->
        <div class="margin_top">
            <input type="text" placeholder="账号" class="enter_input"  ng-model="my_username" ng-class="{'border_red':error_flag}">
        </div>
        <!--密码-->
        <div class="margin_top">
            <input type="password"  placeholder="密码" class="enter_input"  ng-model="my_password" ng-class="{'border_red':error_flag}">
        </div>
        <p class='error_red' ng-if="error_flag" ng-bind="error_txt"></p>
        <button class="login_btn"  ng-click="login()">登录</button>
    </div>
<script src="lib/js/jquery-3.1.1.js"></script>
<script src="lib/js/angular.js"></script>
<script src=lib/js/login.js></script>
</body>
</html>