<!doctype html>
<html lang="en" ng-app="app" ng-controller="login_ctrl" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome">
    <link rel="shortcut icon" type="image/x-icon" href="lib/images/bitbug_favicon.ico">
    <link rel="stylesheet" href="lib/css/common.css">
    <link rel="stylesheet" href="lib/css/login.css">
    <title>艾特生活-大后台</title>
</head>
<body>
<div id="particles">
    <div class="content">
        <img src="lib/images/logo.png">
        <p class="logo_txt">艾特生活</p>
        <!--手机号-->
        <div class="margin_top">
            <input type="text" placeholder="账号" class="enter_input enter_input_one"  ng-model="username">
        </div>
        <!--密码-->
        <div>
            <input type="password"  placeholder="密码" class="enter_input enter_input_two"  ng-model="password">
        </div>
        <p class='error_red' ng-if="error_flag" ng-bind="error_txt"></p>
        <button class="login_btn btn-info" ng-disabled="isLoading"  ng-click="login()">
            <span ng-if="!isLoading">登录</span>
            <span class="loading" ng-if="isLoading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </button>
    </div>
</div>
<script src="lib/js/baseUrl.js"></script>
<script src="lib/js/jquery-3.1.1.js"></script>
<script src="lib/js/angular.js"></script>
<script src="lib/js/jquery.particleground.min.js"></script>
<script src=lib/js/login.js></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#particles').particleground({
            dotColor: 'rgba(201,206,209,0.25)',
            lineColor: 'rgba(201,206,209,0.3)',
            directionX: 'center',
            directionY: 'down',
            maxSpeedX: 0.1,
        });
    });
</script>
</body>
</html>