<link rel="stylesheet" href="pages/brand_manage/css/brand_index.css">
<div ng-controller="brand_index_ctrl">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" ui-sref="add_brand"><i class="iconfont icon-add"></i> 添加</button>
        </div>
    </div>
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>品牌LOGO</th>
            <th>品牌名称</th>
            <th>申请时间
                <span class="sort" ng-click="sortClick()">
                    <i class="iconfont icon-up" ng-class="{'active':params.sort_time== 1}"></i>
                    <i class="iconfont icon-down" ng-class="{'active':params.sort_time== 2}"></i>
                </span>
            </th>
            <th>状态</th>
            <th>审核备注</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in brand_list">
            <td><img class="img-size" ng-src="{{item.logo}}" alt=""></td>
            <td>{{item.name}}</td>
            <td>{{item.create_time}}</td>
            <td ng-class="{'blue':item.review_status=='待审核','red':item.review_status=='通过','green':item.review_status=='不通过'}">{{item.review_status}}</td>
            <td class="ellipsis"><a ng-click=remark(item.reason)>{{item.reason}}</a></td>
            <td><a href="">查看</a></td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <!--审核备注模态框-->
    <div class="modal fade" id="remark_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">审核备注</h4>
                </div>
                <div class="modal-body">
                    <p>{{remark_value}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>