<link rel="stylesheet" href="pages/order_manage/css/express.css">
<div ng-controller="express_ctrl">

    <section>
        <div class="row">
            <div class="col-sm-12 control-label">
                <h3>订单详情</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 control-label">
                <span>订单号</span>
            </div>
            <div class="col-sm-10 control-label">
                <span>{{order_no}}</span>
            </div>
        </div>
        <!--配送方式-->
        <div class="row">
            <div class="col-sm-2 control-label">
                <span>配送方式</span>
            </div>
            <div class="col-sm-10 control-label">
                <span ng-bind="order_info.waybillname||'送货上门'"></span>
            </div>
        </div>
        <!--用户-->
        <div class="row" ng-if="!order_info.shipping_type">
            <div class="col-sm-2 control-label">
                <span>快递单号</span>
            </div>
            <div class="col-sm-10 control-label">
                <span ng-bind="order_info.waybillnumber"></span>
            </div>
        </div>
        <hr>

        <!--物流信息-->
            <div class="row">
                <div class="col-sm-12 control-label">
                    <h3>物流信息</h3>
                </div>
            </div>

            <ul>
                <li ng-repeat="item in order_info.list">
                    <p ng-bind="item.context"></p>
                    <p ng-bind="item.time"></p>
                </li>
            </ul>

        <div class="row">
            <div class="col-sm-12 control-label">
            <button class="btn btn-default" ng-click="backPage()">返回</button>
            </div>
        </div>
    </section>
</div>