<link rel="stylesheet" href="pages/order_manage/css/order_manage_index.css">
<div ng-controller="ordermanage_ctrl">

        <!--选项卡-->
        <div class="tab clearfix">
            <ul>
                <li ng-class="{'active':all_flag}" ng-click="tabFunc('all_flag')">全部{{listcount.all}}</li>
                <li ng-class="{'active':waitpay_flag}" ng-click="tabFunc('waitpay_flag')">待付款{{listcount.unpaid}}</li>
                <li ng-class="{'active':waitsend_flag}" ng-click="tabChange('waitsend_flag')">
                    待发货{{listcount.unshipped}}
                </li>
                <li ng-class="{'active':waitreceive_flag}" ng-click="tabChange('waitreceive_flag')">
                    待收货{{listcount.unreceiveed}}
                </li>
                <li ng-class="{'active':finish_flag}" ng-click="tabFunc('finish_flag')">已完成{{listcount.completed}}
                </li>
                <li ng-class="{'active':cancel_flag}" ng-click="tabFunc('cancel_flag')">已取消{{listcount.canceled}}</li>
            </ul>
        </div>
        <!--表格-->
        <div role="tabpanel" class="tab-pane" ng-if="!!all_flag || !!waitpay_flag || !!finish_flag ||!!cancel_flag">
            <div class="all_choose">
                <select class="time_choose" ng-model="params.time_type">
                    <option value="all">全部时间</option>
                    <option value="today">今天</option>
                    <option value="week">本周</option>
                    <option value="month">本月</option>
                    <option value="year">本年</option>
                    <option value="custom">自定义</option>
                </select>

                <input ng-if="params.time_type == 'custom'" id="start_time" ng-model="params.start_time" ngc-lay-date
                       class="time_interval" type="text" placeholder="开始时间" max-date="{{params.end_time}}">
                <input ng-if="params.time_type == 'custom'" id="stop_time" ng-model="params.end_time" ngc-lay-date
                       class="time_interval" type="text" placeholder="结束时间" min-date="{{params.start_time}}">

                <div class="searchbox">
                    <input type="text" ng-model="myng.keyword" placeholder="搜索订单号或商品名称">
                    <span class="glyphicon glyphicon-search search"></span>
                </div>
                <button ng-click="search()">搜索</button>
                <div class="tab_tools clearfix btn_menu_right">
                    <div class="pull-right">
                        <!-- 筛选菜单 -->
                        <div class="btn-group">
                            <span class="btn btn-default dropdown-toggle btn_list" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i></span>
                            <!--Menu-->
                            <ul class="dropdown-menu dropdown-menu-right btn_list_menu">
                                <li ng-repeat="item in menu_list">
                                    <lable>
                                        <input type="checkbox" class="right_input"
                                               ng-model=item.value>{{item.name}}
                                    </lable>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <table>
                <tr>
                    <td ng-if="menu_list[0].value">订单编号</td>
                    <td class='apply_time' ng-if="menu_list[1].value">
                        商品编号
                    </td>
                    <td ng-if="menu_list[2].value">商品名称</td>
                    <td ng-if="menu_list[3].value" ng-click="sortMoney()">
                        订单金额
                        <span class="sortpic">
                        <i class="glyphicon glyphicon-triangle-top"
                           ng-class="{'active':params.sort_money == 1}"></i>
                        <i class="glyphicon glyphicon-triangle-bottom"
                           ng-class="{'active':params.sort_money == 2}"></i>
                    </span>
                    </td>
                    <td ng-if="menu_list[4].value" ng-click="sortTime()">
                        下单时间
                        <span class="sortpic">
                        <i class="glyphicon glyphicon-triangle-top" ng-class="{'active':params.sort_time == 1}"></i>
                        <i class="glyphicon glyphicon-triangle-bottom"
                           ng-class="{'active':params.sort_time == 2}"></i>
                    </span>
                    </td>
                    <td ng-if="menu_list[5].value">用户</td>
                    <td ng-if="menu_list[6].value">绑定手机</td>
                    <td ng-if="menu_list[7].value">订单状态</td>
                    <td ng-if="menu_list[8].value">异常</td>
                    <td ng-if="menu_list[9].value">评论</td>
                    <td ng-if="menu_list[10].value">详情</td>
                    <td ng-if="menu_list[11].value">操作</td>
                </tr>

                <tr class="table_content" ng-repeat="item in alltabledetail">
                    <td ng-if="menu_list[0].value" ng-bind="item.order_no"></td>
                    <td ng-if="menu_list[1].value" ng-bind="item.sku"></td>
                    <td ng-if="menu_list[2].value" ng-bind="item.goods_name"></td>
                    <td ng-if="menu_list[3].value">{{item.amount_order | currency:"¥"}}</td>
                    <td ng-if="menu_list[4].value" ng-bind="item.create_time"></td>
                    <td ng-if="menu_list[5].value" ng-bind="item.user_name"></td>
                    <td ng-if="menu_list[6].value" ng-bind="item.mobile"></td>
                    <td ng-if="menu_list[7].value" ng-bind="item.status"></td>
                    <td ng-if="menu_list[8].value" ng-bind="item.unusual" ng-class={txt_red:item.unusual!='无异常'}></td>
                    <td ng-if="menu_list[9].value" ng-bind="item.comment_grade"></td>
                    <!--<td ng-if="menu_list[9].value" ng-bind="item.comment_grade"></td>-->
                    <td ng-if="menu_list[10].value" class="view"
                        ng-click=viewDetail(item.order_no,item.sku,item.status)>查看
                    </td>
                    <td ng-if="menu_list[11].value&&item.handle=='发货'" ng-bind="item.handle" class="font_blue" ng-click="wait_send_ship(item.shipping_type,item.order_no,item.sku)"></td>
                    <td ng-if="menu_list[11].value&&!item.handle" ng-bind="item.handle"></td>
                </tr>
            </table>
            <tm-pagination conf="pageConfig"></tm-pagination>
        </div>
        <!--------------------王杰开始-------------------------------->
        <!--待发货-->
        <div ng-if="waitsend_flag">
            <div class="search form-inline clearfix">
                <div class="form-group pull-left">
                    <select  name="province" ng-model="wjparams.time_type" ng-change="wait_send_type()" class="form-control" ng-options="item.value as item.name for item in time"></select>
                    <input ng-if="wjparams.time_type=='custom'" id="start_time1"  ng-model="wjparams.start_time" max-date="{{wjparams.end_time}}"  ng-change="wait_send_change_time()" ngc-lay-date  class="form-control" type="text" placeholder="开始时间">
                    <input ng-if="wjparams.time_type=='custom'" id="stop_time1"   ng-model="wjparams.end_time"  min-date="{{wjparams.start_time}}" ng-change="wait_send_change_time()" ngc-lay-date  class="form-control" type="text"  placeholder="结束时间">
                </div>
                <div class="form-group pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="myng.w_search" placeholder="搜索订单号或商品名称">
                        <span class="iconfont icon-search"></span>
                    </div>
                    <button class="btn btn-default" ng-click="wait_send_search_btn()">搜索</button>
                    <button class="btn btn-default" ng-click="filter=!filter" ng-class="{'btn-focus':filter}"><i class="iconfont icon-shaixuan"></i></button>
                    <ul ng-show="filter" class="filter">
                        <li><label><input type="checkbox"  ng-model="waitsend_1" ng-click="waitsend_all(waitsend_1)">订单编号</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_2" ng-click="waitsend_all(waitsend_2)">商品编号</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_3" ng-click="waitsend_all(waitsend_3)">商品名称</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_4" ng-click="waitsend_all(waitsend_4)">订单金额</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_5" ng-click="waitsend_all(waitsend_5)">下单时间</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_6" ng-click="waitsend_all(waitsend_6)">用户</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_7" ng-click="waitsend_all(waitsend_7)">绑定手机</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_8" ng-click="waitsend_all(waitsend_8)">订单状态</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_9" ng-click="waitsend_all(waitsend_9)">异常</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_10" ng-click="waitsend_all(waitsend_10)">评论</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_11" ng-click="waitsend_all(waitsend_11)">详情</label></li>
                        <li><label><input type="checkbox"  ng-model="waitsend_12" ng-click="waitsend_all(waitsend_12)">操作</label></li>
                    </ul>
                </div>
            </div>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th ng-if="waitsend_1">订单编号</th>
                    <th ng-if="waitsend_2">商品编号</th>
                    <th ng-if="waitsend_3">商品名称</th>
                    <th ng-if="waitsend_4">订单金额<img ng-src="{{sort_money_img}}" ng-click="sort_money_click()"  class="sortpic"></th>
                    <th ng-if="waitsend_5">下单时间<img ng-src="{{sort_time_img}}" ng-click="sort_time_click()"  class="sortpic"></th>
                    <th ng-if="waitsend_6">用户</th>
                    <th ng-if="waitsend_7">绑定手机</th>
                    <th ng-if="waitsend_8">订单状态</th>
                    <th ng-if="waitsend_9">异常</th>
                    <th ng-if="waitsend_10">评论</th>
                    <th ng-if="waitsend_11">详情</th>
                    <th ng-if="waitsend_12">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in waitsend_list">
                    <td ng-if="waitsend_1">{{item.order_no}}</td>
                    <td ng-if="waitsend_2">{{item.sku}}</td>
                    <td ng-if="waitsend_3">{{item.goods_name}}</td>
                    <td ng-if="waitsend_4">{{item.amount_order | currency:"¥"}}</td>
                    <td ng-if="waitsend_5">{{item.create_time}}</td>
                    <td ng-if="waitsend_6">{{item.user_name}}</td>
                    <td ng-if="waitsend_7">{{item.mobile}}</td>
                    <td ng-if="waitsend_8">{{item.status}}</td>
                    <td ng-if="waitsend_9" ng-show="item.unusual !='无异常'" class="txt_red">{{item.unusual}}</td>
                    <td ng-if="waitsend_9" ng-show="item.unusual=='无异常'">{{item.unusual}}</td>
                    <td ng-if="waitsend_10">{{item.comment_grade}}</td>
                    <td ng-if="waitsend_11"><a ng-click="viewDetail(item.order_no,item.sku,item.status)">查看</a></td>
                    <td ng-if="waitsend_12" ng-show="item.unusual != '无异常'">&nbsp;</td>
                    <td ng-if="waitsend_12" ng-show="item.unusual=='无异常'"><a ng-click="wait_send_ship(item.shipping_type,item.order_no,item.sku)">发货</a></td>
                </tr>
                </tbody>
            </table>
            <!--分页-->
            <tm-pagination conf="wjConfig"></tm-pagination>
        </div>
        <!--确认发货模态框-->
        <div class="modal customer_modal fade" id="wait_send_confirm_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body body_font">
                        <span>是否确认发货</span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" ng-click="ship_confirm_btn()">确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--快递单号发货模态框-->
        <div class="modal customer_modal fade" id="track_confirm_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">发货操作</h4>
                    </div>
                    <div class="modal-body body_font">
                        <p class='track_p' ng-if='track_flag'>{{track_font}}</p>
                        <div>
                            <span class="track_red">*</span>
                            <span class='track_span'>快递单号</span>
                            <input type="text" class="delivery_input" ng-model="delivery_input_model">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"  ng-click='track_confirm_btn()'>确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--待收货-->
        <div ng-if="waitreceive_flag">
            <div class="search form-inline clearfix">
                <div class="form-group pull-left">
                    <select  name="province" ng-model="wjparams.time_type" ng-change="wait_send_type()" class="form-control" ng-options="item.value as item.name for item in time"></select>
                    <input ng-if="wjparams.time_type=='custom'" id='wait_receive_begin_time' ng-model="wjparams.start_time" max-date="{{wjparams.end_time}}" ng-change="wait_send_change_time()" ngc-lay-date  class="form-control" type="text" placeholder="开始时间">
                    <input ng-if="wjparams.time_type=='custom'" id='wait_receive_end_time'  ng-model="wjparams.end_time"  min-date="{{wjparams.start_time}}" ng-change="wait_send_change_time()" ngc-lay-date  class="form-control" type="text"  placeholder="结束时间">
                </div>
                <div class="form-group pull-right">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="myng.w_search" placeholder="搜索订单号或商品名称">
                        <span class="iconfont icon-search"></span>
                    </div>
                    <button class="btn btn-default" ng-click="wait_send_search_btn()">搜索</button>
                    <button class="btn btn-default" ng-click="filter=!filter" ng-class="{'btn-focus':filter}"><i class="iconfont icon-shaixuan"></i></button>
                    <ul class="filter" ng-show="filter">
                        <li><label><input type="checkbox"  ng-model="waitreceive_1" ng-click="waitsend_all(waitreceive_1)">订单编号</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_2" ng-click="waitsend_all(waitreceive_2)">商品编号</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_3" ng-click="waitsend_all(waitreceive_3)">商品名称</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_4" ng-click="waitsend_all(waitreceive_4)">订单金额</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_5" ng-click="waitsend_all(waitreceive_5)">下单时间</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_6" ng-click="waitsend_all(waitreceive_6)">用户</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_7" ng-click="waitsend_all(waitreceive_7)">绑定手机</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_8" ng-click="waitsend_all(waitreceive_8)">订单状态</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_9" ng-click="waitsend_all(waitreceive_9)">异常</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_10" ng-click="waitsend_all(waitreceive_10)">评论</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_11" ng-click="waitsend_all(waitreceive_11)">详情</label></li>
                        <li><label><input type="checkbox"  ng-model="waitreceive_12" ng-click="waitsend_all(waitreceive_12)">操作</label></li>
                    </ul>
                </div>
            </div>
            <table class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th ng-if="waitreceive_1">订单编号</th>
                    <th ng-if="waitreceive_2">商品编号</th>
                    <th ng-if="waitreceive_3">商品名称</th>
                    <th ng-if="waitreceive_4">订单金额<img ng-src="{{sort_money_img}}" ng-click="sort_money_click()"  class="sortpic"></th>
                    <th ng-if="waitreceive_5">下单时间<img ng-src="{{sort_time_img}}" ng-click="sort_time_click()"  class="sortpic" ></th>
                    <th ng-if="waitreceive_6">用户</th>
                    <th ng-if="waitreceive_7">绑定手机</th>
                    <th ng-if="waitreceive_8">订单状态</th>
                    <th ng-if="waitreceive_9">异常</th>
                    <th ng-if="waitreceive_10">评论</th>
                    <th ng-if="waitreceive_11">详情</th>
                    <th ng-if="waitreceive_12">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in wait_receive_list">
                    <td ng-if="waitreceive_1">{{item.order_no}}</td>
                    <td ng-if="waitreceive_2">{{item.sku}}</td>
                    <td ng-if="waitreceive_3">{{item.goods_name}}</td>
                    <td ng-if="waitreceive_4">{{item.amount_order | currency:"¥"}}</td>
                    <td ng-if="waitreceive_5">{{item.create_time}}</td>
                    <td ng-if="waitreceive_6">{{item.user_name}}</td>
                    <td ng-if="waitreceive_7">{{item.mobile}}</td>
                    <td ng-if="waitreceive_8">{{item.status}}</td>
                    <td ng-if="waitreceive_9" ng-show="item.unusual!='无异常'" class="txt_red">{{item.unusual}}</td>
                    <td ng-if="waitreceive_9" ng-show="item.unusual=='无异常'">{{item.unusual}}</td>
                    <td ng-if="waitreceive_10">{{item.comment_grade}}</td>
                    <td ng-if="waitreceive_11"><a ng-click="viewDetail(item.order_no,item.sku,item.status)">查看</a></td>
                    <td ng-if="waitreceive_12">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <!--分页-->
            <tm-pagination conf="wjConfig"></tm-pagination>
        </div>
        </div>

        <!--------------------王杰结束-------------------------------->

</div>