<link rel="stylesheet" href="pages/order_manage/css/record_goods_detail.css">
<div ng-controller="goods_detail_ctrl">
    <section>
        <!--商品分类-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>商品分类</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{goods_item.category}}</span>
                </div>
            </div>
            <!--商品名称-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>商品名称</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{goods_item.goods_name}}</span>
                </div>
            </div>
            <!--商品特色-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>商品特色</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{goods_item.subtitle}}</span>
                </div>
            </div>
            <!--选择品牌-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>选择品牌</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{goods_item.brand}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>风格</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{goods_item.style}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>系列</span>
                </div>
                <div class="col-sm-10 control-label">
                    <span>{{goods_item.series}}</span>
                </div>
            </div>
            <!--商品属性-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>商品属性</span>
                </div>
                <div class="col-sm-2 control-label">
                    <span>属性名称</span>
                </div>
                <div class="col-sm-2 control-label">
                    <span>属性内容</span>
                </div>
                <div class="col-sm-4 control-label">
                    <span>单位</span>
                </div>
            </div>
            <div class="row" ng-repeat="item in goods_attrs">
                <span class="col-sm-offset-2 col-sm-2 control-label">{{item.name}}</span>
                <span class="col-sm-2 control-label">{{item.value}}</span>
                <span class="col-sm-2 control-label">{{item.unit}}</span>
            </div>
            <hr>
            <!--上传图片-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>图片</span>
                </div>
                <div class="col-sm-2 control-label img_size coverimg">
                    <img class="img_size" src="{{goods_item.cover_image}}" alt="">
                    <div id="coverimg_span">封面图</div>
                </div>
                <div class="img_size col-sm-2 control-label" ng-repeat="item in goods_images track by $index">
                    <img src="{{item.image}}" alt="">
                </div>
            </div>
            <!--价格/库存-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span >价格/库存</span>
                </div>
                <div class="col-sm-5 control-label">
                    <span class="col-sm-3 control-label">供货价格</span>
                    <span class="col-sm-3 control-label">平台价格</span>
                    <span class="col-sm-3 control-label">市场价格</span>
                    <span class="col-sm-3 control-label">库存</span>
                    <hr class="col-sm-12 control-label">
                </div>
                <div class="col-sm-offset-2 col-sm-5 control-label">
                    <span class="col-sm-3 control-label">{{goods_item.supplier_price | currency:"¥"}}</span>
                    <span class="col-sm-3 control-label">{{goods_item.platform_price | currency:"¥"}}</span>
                    <span class="col-sm-3 control-label">{{goods_item.market_price | currency:"¥"}}</span>
                    <span class="col-sm-3 control-label">{{goods_item.left_number}}</span>
                </div>
            </div>
            <!--采购价-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span >采购价</span>
                </div>
                <div class="col-sm-5 control-label">
                    <span class="col-sm-4 control-label">装修公司采购价</span>
                    <span class="col-sm-4 control-label">项目经理采购价</span>
                    <span class="col-sm-4 control-label">设计师采购价</span>
                    <hr class="col-sm-12 control-label">
                </div>
                <div class="col-sm-offset-2 col-sm-5 control-label">
                    <span class="col-sm-4 control-label">{{goods_item.purchase_price_decoration_company | currency:"¥"}}</span>
                    <span class="col-sm-4 control-label">{{goods_item.purchase_price_manager | currency:"¥"}}</span>
                    <span class="col-sm-4 control-label">{{goods_item.purchase_price_designer | currency:"¥"}}</span>
                    <hr class="col-sm-12 control-label">
                </div>
            </div>
            <!--物流模块-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>商品物流</span>
                </div>
                    <div class="col-sm-10 control-label">
                        <span ng-if="goods_item.logisticsTemplate.delivery_method==0">快递物流</span>
                        <span ng-if="goods_item.logisticsTemplate.delivery_method==1">送货上门</span>
                    </div>
                    <div class="col-sm-offset-2 control-label">
                        <span class="col-sm-2 control-label">快递方式</span>
                        <span>{{goods_item.logisticsTemplate.name}}</span>
                    </div>
                    <div class="col-sm-offset-2 control-label">
                        <span class="col-sm-2 control-label">城市选择</span>
                        <span class="city_left" ng-repeat="city in goods_city.slice(0,3)">{{city.district_name}}</span>
                        <span class="city_see"  ng-show="goods_city.length > 3" data-toggle="modal" data-target="#cityModal">查看</span>
                    </div>
                    <div class="col-sm-offset-2 control-label">
                        <span class="col-sm-2 control-label">是否包邮</span>
                        <span  ng-if="goods_item.logisticsTemplate.delivery_cost_default==0">包邮</span>
                        <span  ng-if="goods_item.logisticsTemplate.delivery_cost_default!=0">不包邮</span>
                    </div>
                    <div class="col-sm-offset-2 control-label" ng-if="goods_item.logisticsTemplate.delivery_cost_default!=0">
                        <span class="col-sm-2 control-label">收费金额</span>
                        <div >默认{{goods_item.logisticsTemplate.delivery_number_default}}件商品：¥{{goods_item.logisticsTemplate.delivery_cost_default}}</div>
                        <span class="col-sm-offset-2">每增加{{goods_item.logisticsTemplate.delivery_number_delta}}件商品，运费增加：¥{{goods_item.logisticsTemplate.delivery_cost_delta}}</span>
                    </div>
            </div>
            <hr>
            <!--售后-->
            <div class="row" ng-if="goods_after.length>0">
                <div class="col-sm-2 control-label">
                    <span>售后</span>
                </div>
                <div class="col-sm-offset-2 control-label padding_left" ng-repeat="item in goods_after">
                    <p>{{item}}</p>
                </div>
            </div>
            <!--保障-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>保障</span>
                </div>
                <div class="col-sm-offset-2 control-label padding_left" ng-repeat="item in goods_guarantee">
                    <p>{{item}}</p>
                </div>
            </div>
            <hr>
            <!--线下商城二维码-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>线下商城二维码</span>
                </div>
                <div class="col-sm-10 control-label">
                    <img class="img_size" src="{{goods_item.qrcode}}" alt="">
                </div>
            </div>
            <hr>
            <!--详细描述-->
            <div class="row">
                <div class="col-sm-2 control-label">
                    <span>详细描述</span>
                </div>
                <div class="col-sm-10 control-label">
                    <p ng-bind-html="goods_item.description | toHtml"></p>
                </div>
            </div>
            <!--操作-->
            <div class="row">
                <div class="col-sm-12 control-label">
                    <button class="btn btn-default" ng-click="backPage()">返回</button>
                </div>
            </div>
    </section>
    <div id="cityModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">城市选择</h4>
                </div>
                <div class="modal-body">
                    <p class="city">
                        <span ng-repeat="item in goods_city">{{item.district_name}}</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>