<link rel="stylesheet" href="pages/order_manage/css/waitpay_detail.css">
<div ng-controller="waitpaydetail_ctrl">
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h3>订单详情</h3>
            </div>
        </div>
        <!--订单号-->
        <div class="row">
            <div class="col-sm-2">订单号</div>
            <div class="col-sm-10" ng-bind="order_no"></div>
        </div>

        <!--订单状态-->
        <div class="row">
            <div class="col-sm-2">订单状态</div>
            <div class="col-sm-10" ng-bind="order_detail.status"></div>
        </div>

        <!--用户-->
        <div class="row">
            <div class="col-sm-2">用户</div>
            <div class="col-sm-10" ng-bind="order_detail.username"></div>
        </div>

        <!--订单金额-->
        <div class="row">
            <div class="col-sm-2">订单金额</div>
            <span class="col-sm-2">总金额</span>
            <span class="col-sm-2" ng-bind="order_detail.role"></span>
            <span class="col-sm-2">运费</span>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-6 hr_p"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <span class="col-sm-2" id="total">{{order_detail.amount_order | currency:"¥"}}</span>
            <span class="col-sm-2">{{order_detail.goods_price | currency:"¥"}}</span>
            <span class="col-sm-2">{{order_detail.freight | currency:"¥"}}</span>
        </div>

        <!--供货价-->
        <div class="row">
            <div class="col-sm-2">供货价</div>
            <div class="col-sm-10">{{order_detail.supplier_price | currency:"¥"}}</div>
        </div>

        <!--市场价-->
        <div class="row">
            <div class="col-sm-2">市场价</div>
            <div class="col-sm-10">{{order_detail.market_price | currency:"¥"}}</div>
        </div>

        <!--商品个数-->
        <div class="row">
            <div class="col-sm-2">商品个数</div>
            <div class="col-sm-10" ng-bind="order_detail.goods_number"></div>
        </div>

        <!--付款方式-->
        <div class="row">
            <div class="col-sm-2">付款方式</div>
            <div class="col-sm-10" ng-bind="order_detail.pay_name"></div>
        </div>

        <!--下单时间-->
        <div class="row">
            <div class="col-sm-2">下单时间</div>
            <div class="col-sm-10" ng-bind="order_detail.create_time"></div>
        </div>
        <!--付款时间-->
        <div class="row">
            <div class="col-sm-2">剩余付款时间</div>
            <div class="col-sm-10" ng-bind="lefttime"></div>
        </div>
        <hr>

        <!-----商品详情----->
        <div class="row">
            <div class="col-sm-2">
                <h3>商品详情</h3>
            </div>
            <div class="col-sm-10">
                <button class="btn btn-primary" ui-sref="record_goods_detail({order_no:order_no,sku:sku,tabflag:tabflag,statename:statename})">
                    <i class="iconfont icon-yanjing"></i>
                    <span>查看商品</span>
                </button>
            </div>
        </div>

        <!--商品名称-->
        <div class="row">
            <div class="col-sm-2">商品名称</div>
            <div class="col-sm-10" ng-bind="goods_value.goods_name"></div>
        </div>

        <!--商品编号-->
        <div class="row">
            <div class="col-sm-2">商品编号</div>
            <div class="col-sm-10" ng-bind="sku"></div>
        </div>

        <!--商品属性-->
        <div class="row">
            <div class="col-sm-2 control-label">
                <span>商品属性</span>
            </div>
            <div class="col-sm-4 control-label">
                <div ng-repeat="item in attr">
                    <span class="col-sm-6 attr_span" ng-if="item.unit==''">{{item.name}}</span>
                    <span class="col-sm-6 attr_span" ng-if="item.unit!=''">{{item.name}}{{'( '+item.unit+' )'}}</span>
                    <span class="col-sm-6 attr_span">{{item.value}}</span>
                </div>
            </div>
        </div>
        <hr/>

        <!---收货详情---->
        <div class="row">
            <div class="col-sm-12">
                <h3>收货详情</h3>
            </div>
        </div>

        <!--收货人-->
        <div class="row">
            <div class="col-sm-2">收货人</div>
            <div class="col-sm-10" ng-bind="receive_details.consignee"></div>
        </div>

        <!--收货地址-->
        <div class="row">
            <div class="col-sm-2">收货地址</div>
            <div class="col-sm-10" ng-bind="receive_details.district"></div>
        </div>

        <!--电话-->
        <div class="row">
            <div class="col-sm-2">电话</div>
            <div class="col-sm-10" ng-bind="receive_details.consignee_mobile"></div>
        </div>

        <!--留言-->
        <div class="row" ng-if="receive_details.buyer_message!=''">
            <div class="col-sm-2">留言</div>
            <div class="col-sm-10" ng-bind="receive_details.buyer_message"></div>
        </div>

        <!--发票类型-->
        <div class="row">
            <div class="col-sm-2">发票类型</div>
            <div class="col-sm-10" ng-bind="receive_details.invoice_type"></div>
        </div>

        <!--抬头-->
        <div class="row">
            <div class="col-sm-2">抬头</div>
            <div class="col-sm-10" ng-bind="receive_details.invoice_header"></div>
        </div>

        <!--纳税人识别码-->
        <div class="row" ng-if="receive_details.invoicer_card!=''">
            <div class="col-sm-2">纳税人识别码</div>
            <div class="col-sm-10" ng-bind="receive_details.invoicer_card"></div>
        </div>

        <!--发票内容-->
        <div class="row">
            <div class="col-sm-2">发票内容</div>
            <div class="col-sm-10" ng-bind="receive_details.invoice_content" ui-sref="done_detail">明细</div>
        </div>

        <div class="row">
           <div class="col-sm-12">
                <button class="btn btn-default pull-left" id="back" ui-sref="order_manage({tabflag:tabflag})">返回</button>
            </div>
        </div>
    </section>
</div>