<link rel="stylesheet" href="pages/order_manage/css/waitsend_detail.css">
<div ng-controller="waitsend_detail_ctrl">
    <!--顶部导航-->
    <header>
        <div>
            <i class="glyphicon glyphicon-home"></i>
            <span class="order_manage" ng-click="back_list()">订单管理</span>
            <span>>订单详情</span>
            <img src="lib/images/user.png" alt=""/>
        </div>
    </header>

    <section>
        <div class="order_detail">
            <h3>订单详情</h3>

            <!--订单号-->
            <div class="order_num">
                <span>订单号</span>
                <span>{{order_no}}</span>
            </div>

            <!--订单状态-->
            <div class="order_state">
                <span>订单状态</span>
                <span>{{status}}</span>
            </div>

            <!--用户-->
            <div class="user">
                <span>用户</span>
                <span>{{username}}</span>
            </div>


            <!--订单金额-->
            <div class="order_money">
                <span>订单金额</span>
              <ul>
                  <li>总金额</li>
                  <li>{{role}}</li>
                  <li>运费</li>
              </ul>

                <ul>
                    <li id="total">{{amount_order | currency:"¥"}}</li>
                    <li>{{goods_price | currency:"¥"}}</li>
                    <li>{{freight | currency:"¥"}}</li>
                </ul>
            </div>

            <!--供货价-->
            <div class="supplier_money">
                <span>供货价</span>
                <span>{{supplier_price}}</span>
            </div>

            <!--供货价-->
            <div class="market_money">
                <span>市场价</span>
                <span>{{market_price}}</span>
            </div>

            <!--商品个数-->
            <div class="order_state">
                <span>商品个数</span>
                <span>{{goods_number}}</span>
            </div>

            <!--付款方式-->
            <div class="order_state">
                <span>付款方式</span>
                <span>{{pay_name}}</span>
            </div>

            <!--下单时间-->
            <div class="order_state">
                <span>下单时间</span>
                <span>{{create_time}}</span>
            </div>

            <!--付款时间-->
            <div class="left_paytime">
                <span>付款时间</span>
                <span>{{paytime}}</span>
            </div>

            <!--配送方式-->
            <div class="shipping_type" ng-if="shipping_way!=''">
                <span>配送方式</span>
                <span class='shipping_way' ng-if="shipping_way!='送货上门'" ui-sref="express({express_params})">{{shipping_way}}</span>
                <span class='shipping_way' ng-if="shipping_way=='送货上门'" ui-sref="express({express_params})">{{shipping_way}}</span>
                <span ng-if="shipping_way!='送货上门'" data-toggle="modal" data-target="#change_track_modal" ng-click='clear_track()'>修改单号</span>
            </div>
        </div>
        <hr>

        <!-----商品详情----->
        <div class="good_detail">
            <h3>商品详情</h3>
            <button class="view_good" ui-sref="record_goods_detail({express_params})">
                <span class="glyphicon glyphicon-eye-open"></span>
                查看商品
            </button>


            <!--商品名称-->
            <div class="order_state">
                <span>商品名称</span>
                <span>{{goods_name}}</span>
            </div>

            <!--商品编号-->
            <div class="order_state">
                <span>商品编号</span>
                <span>{{sku}}</span>
            </div>

            <!--商品属性-->
            <div class="order_state">
                <span>商品属性</span>

                <ul class="good_attr">
                    <li ng-repeat="item in attr">
                        <span class="attr_span" ng-if="item.unit==''">{{item.name}}</span>
                        <span class="attr_span" ng-if="item.unit!=''">{{item.name}}{{'( '+item.unit+' )'}}</span>
                        <span>{{item.value}}</span>
                    </li>
                </ul>
            </div>
        </div>
            <hr/>

            <!---收货详情---->
            <div class="order_detail">
                <h3>收货详情</h3>

                <!--收货人-->
                <div class="market_money">
                    <span>收货人</span>
                    <span>{{consignee}}</span>
                </div>

                <!--收货地址-->
                <div class="order_state">
                    <span>收货地址</span>
                    <span>{{district}}</span>
                </div>

                <!--电话-->
                <div class="phonenum">
                    <span>电话</span>
                    <span>{{consignee_mobile}}</span>
                </div>

                <!--留言-->
                <div class="phonenum">
                    <span>留言</span>
                    <span>{{buyer_message}}</span>
                </div>

                <!--发票类型-->
                <div class="order_state">
                    <span>发票类型</span>
                    <span>{{invoice_header_type}}</span>
                </div>

                <!--抬头-->
                <div class="phonenum">
                    <span>抬头</span>
                    <span>{{invoice_header}}</span>
                </div>

                <!--纳税人识别码-->
                <div class="udid">
                    <span>纳税人识别码</span>
                    <span>{{invoicer_card}}</span>
                </div>

                <!--发票内容-->
                <div class="order_state">
                    <span>发票内容</span>
                    <span>{{invoice_content}}</span>
                </div>
        </div>

        <!--待发货异常详情-->
        <div class="unusual_detail" ng-if="item.order_type=='unshipped'"    ng-repeat="item in is_unusual_list_msg">
            <hr>
            <div >
                <h3 class="h3_display">异常记录-待发货</h3>
                <i class="glyphicon glyphicon-chevron-up arrow_class" ng-if="unshipped_img_flag_up" ng-click="arrow_unshipped()"></i>
                <i class="glyphicon glyphicon-chevron-down arrow_class" ng-if="unshipped_img_flag_down" ng-click="arrow_unshipped()"></i>
            </div>
            <ul ng-repeat="items in item.list" ng-if="unshipped_ul_flag">
                <li>{{items.type}}</li>
                <li>
                    <p>{{items.value}}</p>
                    <p>{{items.content}}</p>
                </li>
                <li>{{items.time}}</li>
            </ul>
        </div>
        <!--待收货异常详情-->
        <div class="unusual_detail" ng-if="item.order_type=='unreceived'" ng-repeat="item in is_unusual_list_msg">
            <hr>
            <div >
                <h3 class="h3_display">异常记录-待收货</h3>
                <i class="glyphicon glyphicon-chevron-up arrow_class" ng-if='unreceived_img_flag_up' ng-click="arrow_unreceived()"></i>
                <i class="glyphicon glyphicon-chevron-down arrow_class" ng-if='unreceived_img_flag_down' ng-click="arrow_unreceived()"></i>
            </div>
            <ul ng-repeat="items in item.list" ng-if="unreceived_ul_flag">
                <li>{{items.type}}</li>
                <li>
                    <p>{{items.value}}</p>
                    <p>{{items.content}}</p>
                </li>
                <li>{{items.time}}</li>
            </ul>
        </div>
        <!--待收货-->
        <!--按钮组-->
        <div ng-if="is_unusual=='1'" class="btn_group">
            <button class="btn btn-primary pull-left" data-toggle="modal" data-target="#agree_modal" >同意</button>
            <button class="btn btn-default back" data-toggle="modal" data-target="#turn_down">驳回</button>
            <button class="btn btn-default back" ng-click="back_list()">返回</button>
        </div>
        <div ng-if="is_unusual=='0'" ng-hide="tabflag=='waitreceive_flag'|| tabflag=='all_flag'"  class="btn_group">
            <button class="btn btn-primary pull-left" ng-click="wait_send_ship()">发货</button>
            <button class="btn btn-default back"  ng-click="back_list()">返回</button>
        </div>
        <!--待收货-->
        <div ng-if="tabflag=='waitreceive_flag' || tabflag=='all_flag' && is_unusual!='1'" class="btn_group">
            <button class="btn btn-default"  ng-click="back_list()">返回</button>
        </div>

        <!--驳回模态框-->
        <div class="modal customer_modal detail_modal fade" id="turn_down" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">驳回操作</h4>
                    </div>
                    <div class="modal-body body_font">
                        <span class="">驳回原因（选填）</span>
                        <textarea class="ver_top" placeholder="请填写驳回原因" cols="30" rows="10" ng-model='turn_down_txt'></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" ng-click='turn_down_confirm()'>确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--同意模态框-->
        <div class="modal customer_modal detail_modal fade" id="agree_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body body_font">
                        <span>是否确认关闭订单并退款</span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" ng-click='agree_confirm()' >确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--修改订单号-->
        <div class="modal customer_modal fade" id="change_track_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">发货操作</h4>
                    </div>
                    <div class="modal-body body_font">
                        <p class='track_p' ng-if='track_change_flag'>{{track_change_font}}</p>
                        <span class='track_span track_red'>*</span>
                        <span class='track_span'>快递单号</span>
                        <input type="text" class="delivery_input" ng-model="track_input_model">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="change_track_btn()">确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--确认发货模态框-->
        <div class="modal customer_modal fade" id="wait_send_confirm_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body body_font">
                        <span>是否确认发货</span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" ng-click="ship_confirm_btn()">确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--快递单号发货模态框-->
        <div class="modal customer_modal fade" id="track_confirm_modal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">发货操作</h4>
                    </div>
                    <div class="modal-body body_font">
                        <p class='track_p' ng-if='track_flag'>{{track_font}}</p>
                        <div>
                            <span class='track_span'>*</span>
                            <span class='track_span'>快递单号</span>
                            <input type="text" class="delivery_input" ng-model="delivery_input_model">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"  ng-click='track_confirm_btn()'>确认</button>
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>