<!--<div ng-controller="commodity">-->
    <header>
        <div>
            <i class="glyphicon glyphicon-home"></i>
            <span class="shop_manage" ui-sref='merchant_index'>商城管理 ></span>
            <span class="shop_manage" ui-sref='store_mag'>商家管理 ></span>
            <span class="manage_child">商品管理</span>
            <img src="pages/mall_manage/merchant_manage/commodity_manage/images/user.png" alt=""/>
        </div>
    </header>
    <!--选项卡-->
    <div class="tab">
        <ul>
            <li ui-sref-active="tab_blue"  ui-sref=".online">已上架</li>
            <li ui-sref-active="tab_blue" ui-sref=".offline">已下架</li>
            <li ui-sref-active="tab_blue" ui-sref=".wait">等待上架</li>
            <li ui-sref-active="tab_blue" ui-sref=".deleted">已删除</li>
        </ul>
    </div>
    <div ui-view></div>
    <!--------等待上架开始------->
    <!--<section ng-if="wait_flag">-->
        <!--<div class="operating">-->
            <!--<ul>-->
                <!--<li ng-model="selectwaitAll" ng-click="allwait(selectwaitAll)">全选</li>-->
                <!--<li data-toggle="modal" data-target="#allwaitonline_modal" ng-click="allwaitToOnline()">上架</li>-->
            <!--</ul>-->
            <!--<span ng-click="wait_menu(wait_menu_flag)" class="menu glyphicon glyphicon-menu-hamburger"></span>-->
            <!--<div class="search_box">-->
                <!--<input class="search_input" type="text" placeholder="  搜索商品编号或名称" ng-model="changed.wait_search">-->
                <!--<span class="glyphicon glyphicon-search search"></span>-->
                <!--<button class="search_btn" ng-click="waitSearch()">搜索</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;Menu 切换&ndash;&gt;-->
            <!--<div class="on_menu" ng-if="wait_menu_flag">-->
                <!--<ul>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_1"-->
                               <!--ng-click="wait_a(wait_1)">商品编号-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_2"-->
                               <!--ng-click="wait_b(wait_2)">商品名称-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_3"-->
                               <!--ng-click="wait_c(wait_3)">供货价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_4"-->
                               <!--ng-click="wait_d(wait_4)">市场价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_5"-->
                               <!--ng-click="wait_e(wait_5)">平台价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" class="right_input" ng-model="wait_6" ng-click="wait_f(wait_6)">装饰公司采购价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" class="right_input" ng-model="wait_7" ng-click="wait_g(wait_7)">项目经理采购价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" class="right_input" ng-model="wait_8" ng-click="wait_h(wait_8)">设计师采购价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_9"-->
                               <!--ng-click="wait_i(wait_9)">库存-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_10"-->
                               <!--ng-click="wait_j(wait_10)">销量-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_11"-->
                               <!--ng-click="wait_k(wait_11)">状态-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_12"-->
                               <!--ng-click="wait_l(wait_12)">发布时间-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_13"-->
                               <!--ng-click="wait_m(wait_13)">图片-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_14"-->
                               <!--ng-click="wait_n(wait_14)">审核备注-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_15"-->
                               <!--ng-click="wait_o(wait_15)">详情-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="wait_16"-->
                               <!--ng-click="wait_p(wait_16)">操作-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td>&nbsp;</td>-->
                <!--<td ng-if="wait_1">商品编号</td>-->
                <!--<td ng-if="wait_2">商品名称</td>-->
                <!--<td ng-if="wait_3">供货价格</td>-->
                <!--<td ng-if="wait_4">市场价格</td>-->
                <!--<td ng-if="wait_5">平台价格</td>-->
                <!--<td ng-if="wait_6">装修公司采购价格</td>-->
                <!--<td ng-if="wait_7">项目经理采购价格</td>-->
                <!--<td ng-if="wait_8">设计师采购价格</td>-->
                <!--<td ng-if="wait_9">库存</td>-->
                <!--<td ng-if="wait_10">-->
                    <!--销量-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_up.png" alt="" class="sortpic" ng-show="waitsold_ascorder" ng-click="waitSoldDesorder()">-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_down.png" alt="" class="sortpic" ng-show="waitsold_desorder" ng-click="waitSoldAscorder()">-->
                <!--</td>-->
                <!--<td ng-if="wait_11">状态</td>-->
                <!--<td ng-if="wait_12">-->
                    <!--发布时间-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_up.png" alt="" class="sortpic" ng-show="waittime_ascorder" ng-click="waitTimeDesorder()">-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_down.png" alt="" class="sortpic" ng-show="waittime_desorder" ng-click="waitTimeAscorder()">-->
                <!--</td>-->
                <!--<td ng-if="wait_13">图片</td>-->
                <!--<td ng-if="wait_14">审核备注</td>-->
                <!--<td ng-if="wait_15">详情</td>-->
                <!--<td ng-if="wait_16">操作</td>-->
            <!--</tr>-->
            <!--<tr class="table_content" ng-repeat="item in waitgoods track by $index">-->
                <!--<td><input type="checkbox" ng-checked="selectwaitAll" ng-model="item.state"></td>-->
                <!--<td ng-if="wait_1">{{item.sku}}</td>-->
                <!--<td ng-if="wait_2">{{item.title}}</td>-->
                <!--<td ng-if="wait_3">{{item.supplier_price | currency:"¥"}}</td>-->
                <!--<td ng-if="wait_4">{{item.market_price | currency:"¥"}}</td>-->
                <!--<td ng-if="wait_5">{{item.platform_price | currency:"¥"}}</td>-->
                <!--<td ng-if="wait_6">{{item.purchase_price_decoration_company | currency:"¥"}}</td>-->
                <!--<td ng-if="wait_7">{{item.purchase_price_manager | currency:"¥"}}</td>-->
                <!--<td ng-if="wait_8">{{item.purchase_price_designer | currency:"¥"}}</td>-->
                <!--<td ng-if="wait_9">{{item.left_number}}</td>-->
                <!--<td ng-if="wait_10">{{item.sold_number}}</td>-->
                <!--<td ng-if="wait_11" class="sky_blue">{{item.status}}</td>-->
                <!--<td ng-if="wait_12">{{item.publish_time}}</td>-->
                <!--<td ng-if="wait_13"><img class='goodpic' ng-src="{{baseUrl + '/'+ item.cover_image}}"-->
                                         <!--alt=""></td>-->
                <!--<td ng-if="wait_14" data-toggle="modal" data-target="#wait_shelves_remarks_modal"><span-->
                        <!--class="check_border wait_check" ng-bind="item.reason||'点击输入'" ng-click="checkReason(item.id,item.reason)"></span></td>-->
                <!--<td ng-if="wait_15" class="blue" ui-sref="commodity_detail_wait({waitgood:item})">编辑</td>-->
                <!--<td ng-if="wait_16" class="blue" data-toggle="modal" data-target="#waitup_shelves_modal" ng-click="waitToOnline(item.id)">上架</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</section>-->

    <!--上架模态框-->
    <!--<div class="modal fade" id="waitup_shelves_modal" data-backdrop="static" data-keyboard="false">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                            <!--aria-hidden="true">&times;</span></button>-->
                    <!--<h4 class="modal-title">提示</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<span>是否确认上架1件商品</span>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" ng-click="sureWaitToOnline()">确认</button>-->
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancelGoodOnline()">-->
                        <!--取消-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!--&lt;!&ndash;等待上架 上架被移除模态框&ndash;&gt;-->
    <!--<div class="modal fade" id="waitup_not_shelves_modal">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                            <!--aria-hidden="true">&times;</span></button>-->
                    <!--<h4 class="modal-title">提示</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<span>{{waitcantonline}}</span>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='sureCantOnline()'>确认-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!--&lt;!&ndash;批量上架模态框&ndash;&gt;-->
    <!--<div class="modal fade" id="allwaitonline_modal">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>&ndash;&gt;-->
                    <!--<h4 class="modal-title">提示</h4>-->
                <!--</div>-->
                <!--<div class="modal-body" ng-show="waitarr.length">-->
                    <!--是否确认上架{{waitarr.length}}个商品-->
                <!--</div>-->

                <!--<div class="modal-body" ng-show="!waitarr.length">-->
                    <!--请选择商品上架-->
                <!--</div>-->

                <!--<div class="modal-footer" ng-show="waitarr.length">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="surewaitonline()">-->
                        <!--确认-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancelWaitOnline()">取消</button>-->
                <!--</div>-->
                <!--<div class="modal-footer" ng-show="!waitarr.length">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">确认</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;等待上架结束&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

    <!--审核备注模态框-->
    <!--<div class="modal fade" id="wait_shelves_remarks_modal">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                            <!--aria-hidden="true">&times;</span></button>-->
                    <!--<h4 class="modal-title">审核备注</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<span style="margin-right: 50px;vertical-align: top">审核备注（选填）</span>-->
                    <!--<textarea placeholder="请填写等待上架原因，如选择多个则批量备注" cols="30" rows="10" ng-model="lastreason"></textarea>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sureCheckReason()">确认</button>-->
                    <!--<button type="button" class="btn btn-defalut" data-dismiss="modal">取消</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;删除模块开始&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--<section ng-if="del_flag">-->
        <!--<div class="operating">-->
            <!--<span ng-click="del_menu(del_menu_flag)" class="menu glyphicon glyphicon-menu-hamburger"></span>-->
            <!--<div class="search_box">-->
                <!--<input class="search_input" type="text" placeholder="  搜索商品编号或名称" ng-model="changed.deleted_search">-->
                <!--<span class="glyphicon glyphicon-search search"></span>-->
                <!--<button class="search_btn" ng-click="deletedSearch()">搜索</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;Menu&ndash;&gt;-->
            <!--<div class="on_menu" ng-if="del_menu_flag">-->
                <!--<ul>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_1"-->
                               <!--ng-click="del_a(del_1)">商品编号-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_2"-->
                               <!--ng-click="del_b(del_2)">商品名称-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_3"-->
                               <!--ng-click="del_c(del_3)">供货价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_4"-->
                               <!--ng-click="del_d(del_4)">市场价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_5"-->
                               <!--ng-click="del_e(del_5)">平台价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" class="right_input" ng-model="del_6" ng-click="del_f(del_6)">装饰公司采购价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" class="right_input" ng-model="del_7" ng-click="del_g(del_7)">项目经理采购价格-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" class="right_input" ng-model="del_8" ng-click="del_h(del_8)">设计师采购价格</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_9"-->
                               <!--ng-click="del_i(del_9)">库存-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_10"-->
                               <!--ng-click="del_j(del_10)">销量-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_11"-->
                               <!--ng-click="del_k(del_11)">状态-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_12"-->
                               <!--ng-click="del_l(del_12)">发布时间-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_13"-->
                               <!--ng-click="del_m(del_13)">图片-->
                    <!--</li>-->
                    <!--<li><input type="checkbox" checked="checked" class="right_input" ng-model="del_14"-->
                               <!--ng-click="wait_n(del_14)">详情-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td ng-if="del_1">商品编号</td>-->
                <!--<td ng-if="del_2">商品名称</td>-->
                <!--<td ng-if="del_3">供货价格</td>-->
                <!--<td ng-if="del_4">市场价格</td>-->
                <!--<td ng-if="del_5">平台价格</td>-->
                <!--<td ng-if="del_6">装修公司采购价格</td>-->
                <!--<td ng-if="del_7">项目经理采购价格</td>-->
                <!--<td ng-if="del_8">设计师采购价格</td>-->
                <!--<td ng-if="del_9">库存</td>-->
                <!--<td ng-if="del_10">-->
                    <!--销量-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_up.png" alt="" class="sortpic" ng-show="deletedsold_ascorder" ng-click="deletedSoldDesorder()">-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_down.png" alt="" class="sortpic" ng-show="deletedsold_desorder" ng-click="deletedSoldAscorder()">-->
                <!--</td>-->
                <!--<td ng-if="del_11">状态</td>-->
                <!--<td ng-if="del_12">-->
                    <!--删除时间-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_up.png" alt="" class="sortpic" ng-show="deletedtime_ascorder" ng-click="deletedTimeDesorder()">-->
                    <!--<img src="pages/mall_manage/merchant_manage/commodity_manage/images/arrow_down.png" alt="" class="sortpic" ng-show="deletedtime_desorder" ng-click="deletedTimeAscorder()">-->
                <!--</td>-->
                <!--<td ng-if="del_13">图片</td>-->
                <!--<td ng-if="del_14">详情</td>-->
            <!--</tr>-->
            <!--<tr class="table_content" ng-repeat="item in deletedgoods track by $index">-->
                <!--<td ng-if="del_1">{{item.sku}}</td>-->
                <!--<td ng-if="del_2">{{item.title}}</td>-->
                <!--<td ng-if="del_3">{{item.supplier_price | currency:"¥"}}</td>-->
                <!--<td ng-if="del_4">{{item.market_price | currency:"¥"}}</td>-->
                <!--<td ng-if="del_5">{{item.platform_price | currency:"¥"}}</td>-->
                <!--<td ng-if="del_6">{{item.purchase_price_decoration_company | currency:"¥"}}</td>-->
                <!--<td ng-if="del_7">{{item.purchase_price_manager | currency:"¥"}}</td>-->
                <!--<td ng-if="del_8">{{item.purchase_price_designer | currency:"¥"}}</td>-->
                <!--<td ng-if="del_9">{{item.left_number}}</td>-->
                <!--<td ng-if="del_10">{{item.sold_number}}</td>-->
                <!--<td ng-if="del_11">{{item.status}}</td>-->
                <!--<td ng-if="del_12" class="sky_blue">{{item.delete_time}}</td>-->
                <!--<td ng-if="del_13"><img class='goodpic' ng-src="{{baseUrl + '/'+ item.cover_image}}" alt="">-->
                <!--</td>-->
                <!--<td ng-if="del_14" class="blue" ui-sref="commodity_detail_del({deletegood:item})">查看</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</section>-->
    <!--&lt;!&ndash;-&#45;&#45;&#45;&#45;删除模块结束-&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--</div>-->