<div class="search form-inline clearfix">
    <!--全选、上架-->
    <button class="btn btn-default" ng-click=checkAll()>全选</button>
    <button class="btn btn-default" data-toggle="modal" data-target="#alloff_modal" ng-click="batchOffline()">下架</button>

    <div class="form-group pull-right">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="keyword" placeholder="搜索商家编号或名称">
                <span class="glyphicon glyphicon-search"></span>
        </div>
        <button class="btn btn-default" ng-click="search()">查询</button>
        <button class="btn btn-default" ng-click="filter = !filter"
                ng-class={'btn-focus':filter}>
            <i class="iconfont icon-shaixuan"></i>
        </button>
        <ul class="filter" ng-if="filter">
            <li class="checkbox" ng-repeat="item in menu_list">
                <label>
                    <input type="checkbox" ng-model=item.value>{{item.name}}
                </label>
            </li>
        </ul>
    </div>
</div>

<!--表格内容-->
<table class="table table-responsive table-hover">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th ng-if="menu_list[0].value">商品编号</th>
        <th ng-if="menu_list[1].value">商品名称</th>
        <th ng-if="menu_list[2].value">供货价格</th>
        <th ng-if="menu_list[3].value">市场价格</th>
        <th ng-if="menu_list[4].value">平台价格</th>
        <th ng-if="menu_list[5].value">装修公司采购价格</th>
        <th ng-if="menu_list[6].value">项目经理采购价格</th>
        <th ng-if="menu_list[7].value">设计师采购价格</th>
        <th ng-if="menu_list[8].value">库存</th>
        <th ng-if="menu_list[9].value" ng-click="sortVolumn()">
            销量
            <span class="sort">
                    <i class="iconfont icon-up" ng-class="{'active':volumn_ascorder}"></i>
                    <i class="iconfont icon-down" ng-class="{'active':volumn_desorder}"></i>
                </span>
        </th>
        <th ng-if="menu_list[10].value">状态</th>
        <th ng-if="menu_list[11].value" ng-click="sortTime()">
            上架时间
            <span class="sort">
                    <i class="iconfont icon-up" ng-class="{'active':time_ascorder}"></i>
                    <i class="iconfont icon-down" ng-class="{'active':time_desorder}"></i>
                </span>
        </th>
        <th ng-if="menu_list[12].value">操作人员</th>
        <th ng-if="menu_list[13].value">图片</th>
        <th ng-if="menu_list[14].value">详情</th>
        <th ng-if="menu_list[15].value">操作</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in tabledetail track by $index">
        <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
        <td ng-if="menu_list[0].value">{{item.sku}}</td>
        <td ng-if="menu_list[1].value">{{item.title}}</td>
        <td ng-if="menu_list[2].value">{{item.supplier_price | currency:"¥"}}</td>
        <td ng-if="menu_list[3].value">{{item.market_price | currency:"¥"}}</td>
        <td ng-if="menu_list[4].value">{{item.platform_price | currency:"¥"}}</td>
        <td ng-if="menu_list[5].value">{{item.purchase_price_decoration_company | currency:"¥"}}</td>
        <td ng-if="menu_list[6].value">{{item.purchase_price_manager | currency:"¥"}}</td>
        <td ng-if="menu_list[7].value"> {{item.purchase_price_designer | currency:"¥"}}</td>
        <td ng-if="menu_list[8].value">{{item.left_number}}</td>
        <td ng-if="menu_list[9].value">{{item.sold_number}}</td>
        <td ng-if="menu_list[10].value" class="green">{{item.status}}</td>
        <td ng-if="menu_list[11].value">{{item.online_time}}</td>
        <td ng-if="menu_list[12].value">{{item.operator}}</td>
        <td ng-if="menu_list[13].value"><img class="goodpic" ng-src="{{ item.cover_image}}" alt=""></td>
        <td ng-if="menu_list[14].value" class="blue" ui-sref="commodity_detail({id:item.id,storeid:storeid})">编辑</td>
        <td ng-if="menu_list[15].value" class="blue" data-toggle="modal" data-target="#down_shelves_reason_modal"
            ng-click="singlegoodOffline(item.id)">下架
        </td>
    </tr>
    </tbody>


</table>
<tm-pagination conf="pageConfig"></tm-pagination>


<!--单个下架 模态框-->
<div class="modal fade" tabindex="-1" role="dialog" id="down_shelves_reason_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">下架原因</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3">
                        下架原因（选填）
                    </div>
                    <div class="col-xs-8">
                        <textarea class="form-control" rows="10" ng-model="offline_reason"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='sureGoodOffline()'>确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='cancelSingleOffline()'>取消</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="alloff_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">下架操作</h4>
            </div>
            <div class="modal-body" ng-show="table.roles.length">
                <div class="row">
                    <div class="col-xs-3">
                        下架{{table.roles.length}}个分类
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        下架原因（选填）
                    </div>
                    <div class="col-xs-8">
                        <textarea class="form-control" rows="10" ng-model="batch_offlinereason"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-body" ng-show="!table.roles.length">
                请选择商品下架
            </div>
            <div class="modal-footer" ng-show="table.roles.length">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='surepiliangoffline()'>确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click='cancelplliangoffline()'>取消</button>
            </div>
            <div class="modal-footer" ng-show="!table.roles.length">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>

        </div>
    </div>
</div>

