<div class="table_left">
    <div class="btn_group">
        <!--搜索框、menu-->
        <div class="right-btns">
            <div class="tab_tools clearfix">
                <div class="btn-group pull-right">
                            <span class="btn btn-default dropdown-toggle btn_list" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-th-list"></i></span>
                    <!--Menu-->
                    <ul class="dropdown-menu dropdown-menu-right btn_list_menu">
                        <li ng-repeat="item in menu_list">
                            <lable>
                                <input type="checkbox" class="right_input"
                                       ng-model=item.value>{{item.name}}
                            </lable>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-box">
                <input type="text" ng-model="keyword" placeholder="搜索商品编号或名称">
                <span class="glyphicon glyphicon-search search"></span>
                <button class="btn btn-default" type="submit" ng-click="search()">搜索</button>
            </div>
        </div>
    </div>

    <!--表格内容-->
    <table>
        <tr>
            <td>&nbsp;</td>
            <td ng-if="menu_list[0].value">商品编号</td>
            <td ng-if="menu_list[1].value">商品名称</td>
            <td ng-if="menu_list[2].value">供货价格</td>
            <td ng-if="menu_list[3].value">市场价格</td>
            <td ng-if="menu_list[4].value">平台价格</td>
            <td ng-if="menu_list[5].value">装修公司采购价格</td>
            <td ng-if="menu_list[6].value">项目经理采购价格</td>
            <td ng-if="menu_list[7].value">设计师采购价格</td>
            <td ng-if="menu_list[8].value">库存</td>
            <td ng-if="menu_list[9].value" ng-click="sortVolumn()">
                销量
                <span class="sortpic">
                    <i class="glyphicon glyphicon-triangle-top" ng-class="{'active':volumn_ascorder}"></i>
                    <i class="glyphicon glyphicon-triangle-bottom" ng-class="{'active':volumn_desorder}"></i>
                </span>
            </td>
            <td ng-if="menu_list[10].value">状态</td>
            <td ng-if="menu_list[11].value" ng-click="sortTime()">
                删除时间
                <span class="sortpic">
                    <i class="glyphicon glyphicon-triangle-top" ng-class="{'active':time_ascorder}"></i>
                    <i class="glyphicon glyphicon-triangle-bottom" ng-class="{'active':time_desorder}"></i>
                </span>
            </td>
            <td ng-if="menu_list[12].value">操作人员</td>
            <td ng-if="menu_list[13].value">图片</td>
            <td ng-if="menu_list[14].value">详情</td>
        </tr>
        <tr class="table_content" ng-repeat="item in tabledetail track by $index">
            <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
            <td ng-if="menu_list[0].value">{{item.sku}}</td>
            <td ng-if="menu_list[1].value">{{item.title}}</td>
            <td ng-if="menu_list[2].value">{{item.supplier_price | currency:"¥"}}</td>
            <td ng-if="menu_list[3].value">{{item.market_price | currency:"¥"}}</td>
            <td ng-if="menu_list[4].value">{{item.platform_price | currency:"¥"}}</td>
            <td ng-if="menu_list[5].value">{{item.purchase_price_decoration_company | currency:"¥"}}</td>
            <td ng-if="menu_list[6].value">{{item.purchase_price_manager | currency:"¥"}}</td>
            <td ng-if="menu_list[7].value"> {{item.purchase_price_designer | currency:"¥"}}</td>
            <td ng-if="menu_list[8].value">{{item.left_number}}</td>
            <td ng-if="menu_list[9].value">{{item.sold_number}}</td>
            <td ng-if="menu_list[10].value" class="green">{{item.status}}</td>
            <td ng-if="menu_list[11].value">{{item.delete_time}}</td>
            <td ng-if="menu_list[12].value">{{item.operator}}</td>
            <td ng-if="menu_list[13].value"><img class="goodpic" id="img_size"
                                                 ng-src="{{baseUrl + '/'+ item.cover_image}}"
                                                 alt=""></td>
            <td ng-if="menu_list[14].value" class="blue" ui-sref="commodity_detail_del({deletegood:item,storeid:storeid})">查看</td>
        </tr>
    </table>
    <tm-pagination conf="pageConfig"></tm-pagination>

    <!--单个下架 模态框-->
    <div class="modal fade" id="down_shelves_reason_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">下架原因</h4>
                </div>
                <div class="modal-body">
                    <span style="margin-right: 50px;vertical-align: top">下架原因（选填）</span>
                    <textarea cols="30" rows="10" ng-model="offline_reason"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='sureGoodOffline()'>确认
                    </button>
                    <button type="button" class="btn btn-defalut" data-dismiss="modal" ng-click='cancelSingleOffline()'>取消</button>
                </div>
            </div>
        </div>
    </div>



    <!--批量下架 模态框-->
    <div class="modal fade" id="alloff_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="piliangxiajia_content">
                <div class="modal-header" id="piliangxiajia_header">
                    <h4 class="modal-title" id="piliangxiajiacaozuo">
                        下架操作
                    </h4>
                </div>
                <div class="modal-body" id="piliangxiajia_body" ng-show="table.roles.length">
                    <h6 id="piliangxiajia_fenlei">下架
                        {{table.roles.length}}个分类
                    </h6>
                    <h6 id="piliangxiajia_reason">下架原因（选填）</h6>
                    <textarea name="" id="piliangxiajia_textarea" cols="43" rows="14"
                              placeholder="请填写下架原因，如选择多个则为批量备注" ng-model="batch_offlinereason"></textarea>
                </div>

                <div class="modal-body" ng-show="!table.roles.length">
                    请选择商品下架
                </div>
                <div class="btn_modal" ng-show="table.roles.length">
                    <button id="piliang_cancel" data-dismiss="modal" ng-click="cancelplliangoffline()">取消</button>
                    <button id="piliang_sure" data-dismiss="modal" ng-click="surepiliangoffline()">确认</button>
                </div>

                <div class="modal-footer" ng-show="!table.roles.length">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
                </div>


            </div>
        </div>
    </div>

</div>