ul{
    list-style: none;
}

/*选项卡样式*/
/*.cla_mag_tabbar{*/
    /*padding-left: 40px;*/
/*}*/

/*.cla_mag_tabtitle{*/
    /*!*padding-top: 41px;*!*/
    /*!*padding-bottom: 36px;*!*/
    /*!*width: 1000px;*!*/
    /*border-bottom: 2px solid #E6E9F0;*/
/*}*/

/*.cla_mag_tabtitle span{*/
    /*display: block;*/
    /*float: left;*/
    /*font-family: Helvetica-Bold;*/
    /*font-size: 14px;*/
    /*color: #666F80;*/
    /*padding-bottom: 16px;*/
    /*font-weight: bold;*/
/*}*/

/*.cla_mag_tabtitle span:nth-child(1){*/
    /*margin-right: 40px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*border-bottom: 2px solid transparent;*/
    /*cursor: pointer;*/
/*}*/

/*.cla_mag_tabtitle span:nth-child(2){*/
    /*margin-right: 40px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*border-bottom: 2px solid transparent;*/
    /*cursor: pointer;*/
/*}*/

/*.clickstyle{*/
    /*color: #3F94F6!important;*/
    /*border-bottom: 2px solid #3F94F6!important;*/
/*}*/

/*按钮组*/
/*.cla_mag_btngroup{*/
    /*padding-top: 40px;*/
/*}*/

.cla_mag_btngroup .chooseall_btn,.xiajia_btn,.chaxun,#add{
    font-family: Helvetica;
    font-size: 12px;
    color: #666F80;
    line-height: 12px;
    padding: 10px 18px;
    background-color: white;
    border: 1px solid #BFC0C2;
    border-radius: 3px;
    margin-right: 14px;
}

.cla_mag_btngroup #fenleidrop{
    display: inline-block;
}

.cla_mag_btngroup .fenleichoose_span{
    margin-right: 10px;
    font-size: 12px;
    color: #666F80;
}

/*.cla_mag_btngroup select{*/
    /*width: 188px;*/
    /*height: 34px;*/
    /*padding-left: 12px;*/
    /*border-radius: 3px;*/
    /*font-size: 14px;*/
    /*margin-right: 13px;*/
    /*margin-right: 13px;*/
/*}*/

/*已上架Table内容*/
.onsale_table table tr{
    height: 42px;
    border-bottom: 1px solid #E6E9F0;

}
.onsale_table table tr td{
    font-family: Helvetica;
    font-size: 14px;
    color: #666F80;
    line-height: 14px;
    padding: 0 24px;
}
.onsale_table table tr td a{
    color: #3F94F6;
}
.onsale_table tr td:nth-child(1){
    width: 16px;
    height: 16px;
}

.onsale_table table img{
    width: 30px;
    height: 30px;
}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0px!important;
}
.th{
    font-family: Helvetica;
    font-size: 14px;
    color: #7A8599;
    line-height: 14px;
}
.yesGreen{
    color: #92C661!important;
}
.noRed{
    color:#E6594D!important;
}

.onsale_table .edit{
    color: #5677FC;
    cursor: pointer;
}

.onsale_table .xiajia{
    color: #5677FC;
    cursor: pointer;
}

/*排序按钮样式*/
table .sortpic {
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
}

table .sortpic i{
    display: block;
    font-size: 12px;
    color: #ababab;
}

table .sortpic .glyphicon-triangle-bottom {
    margin-top: -4px;
}

/*已下架tab样式*/
.cla_mag_btngroup #add{
    padding-top: 8px;
}

.offsale_table table tr td{
    padding: 0 19px;
}

/*模态框*/
#xiajia_content,#shuru_content,#piliangxiajia_content{
    width: 635px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    overflow: hidden;
    padding-top: 40px;
}

#xiajia_modal，#piliangxiajia_modal{
    padding: 40px 0 20px 0;
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #2F3033;
    line-height: 18px;
    font-weight: bold;
}

#shuru_xiajiareason{
    padding: 40px 0 20px 0;
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #2F3033;
    line-height: 18px;
    font-weight: bold;
}

#xiajia_header,#shuru_header,#piliangxiajia_header{
    padding: 0!important;
}

#xiajia_body,#shuru_body,#piliangxiajia_body{
    padding: 0px!important;
}

#xiajia_body h6{
    font-size: 16px;
    color: #3c3c3c;
}

#piliangxiajia_body h6{
    font-size: 16px;
    color: #3c3c3c;
}


#xiajia_reason,#shuru_reason,#piliangxiajia_reason{
    margin-top: 20px;
}

#xiajia_textarea,#shuru_textarea,#piliangxiajia_textarea{
    float: right;
    margin-top: -24px;
}

.btn_modal{
    height: 60px;
    margin-top: 290px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sure,#cancel,#shuru_cancel,#shuru_sure,#piliang_cancel,#piliang_sure{
    float: right;
    font-family: Helvetica;
    font-size: 12px;
    color: #5677FC;
    line-height: 12px;
    padding: 6px 18px;
    background-color: white;
    border: 1px solid #5677FC;
    border-radius: 3px;
}

#cancel,#shuru_cancel,#piliang_cancel{
    margin-left: 15px;
    cursor: pointer;
}

#dianji_shuru{
    display: inline-block;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
    border: 1px solid #BFC0C2;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px !important;
    text-align: center;
}

#xiajiacaozuo,#piliangxiajiacaozuo{
    padding-bottom: 10px;
    font-weight: bold;
}

textarea{
    font-size: 15px;
    font-weight: 400;
}
.yesred{
    color:red!important;
}

.shangjia{
    cursor: pointer;
}

#shuru_reason{
    font-size: 16px;
}

#shuru_textarea{
    margin-top: -27px;
}

#shurucaozuo{
    padding-bottom: 10px;
}

/*已下架_操作_模态框样式*/
#caozuo_content,#sjcaozuo_content{
    width: 636px!important;
    height: 256px!important;
}

#caozuo_shangjia,#sjcaozuo_shangjia{
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#caozuo_body,#sjcaozuo_body{
    padding-left: 20px;
    font-size: 16px;
}

#caozuo_body h6{
    font-size: 16px;
    float: left;
    margin-left: 20px;
}

#sjcaozuo_body h6{
    font-size: 16px;
    float: left;
    margin-left: 20px;
}

.btn_modal_two{
    margin-top: 74px;
}

#caozuo_cancel,#caozuo_sure,#sjcaozuo_cancel,#sjcaozuo_sure{
    float: right;
    font-family: Helvetica;
    font-size: 12px;
    color: #5677FC;
    line-height: 12px;
    padding: 6px 18px;
    background-color: white;
    border: 1px solid #5677FC;
    border-radius: 3px;
    margin-right: 20px;
}

.active{
    color: #1B7CEE!important;
}


