/*按钮组样式补充*/
.class-choose{
    margin-right: 15px;
}

table img{
    width: 30px;
    height: 30px;
}

input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0px!important;
}

/*状态字段*/
.class-state{
    color: #92C661!important;
}

/*编辑字段*/
table .edit{
    color: #5677FC;
    cursor: pointer;
}

/*操作字段*/
table .handle{
    color: #5677FC;
    cursor: pointer;
}

#dianji_shuru span{
    display: inline-block;
    width: 50px;
    border-radius: 3px;
    border: 1px solid #666F80;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

textarea{
    font-size: 15px;
    font-weight: 400;
}

.off-state{
    color:red!important;
}

.active{
    color: #1B7CEE!important;
}


