<section>
    <div class="search form-inline clearfix">
        <button class="btn btn-primary" ui-sref="add_class"><i class="iconfont icon-add"></i>添加</button>
    </div>

    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>所属</th>
            <th>分类图片</th>
            <th>分类名称</th>
            <th>分类级别</th>
            <th>申请时间
                <span class="sort">
                            <i class="iconfont icon-up" ng-class="{'active':params.sort_time == 1}"></i>
                            <i class="iconfont icon-down" ng-class="{'active':params.sort_time == 2}"></i>
                        </span>
            </th>
            <th>状态</th>
            <th>审核备注</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in datalist">
            <td ng-bind="item.parent_title"></td>
            <td><img ng-src="{{item.icon}}"></td>
            <td ng-bind="item.title"></td>
            <td ng-bind="item.level"></td>
            <td ng-bind="item.create_time"></td>
            <td ng-bind="item.review_status" ng-class="{'pass-green':item.review_status=='已通过','fail-red':item.review_status=='不通过','wait-blue':item.review_status=='等待审核'}"></td>
            <td>
            <span class="remark" data-toggle="modal" data-target="#remark"
                  ng-bind="item.reason" ng-click="showRemark(item.reason)"></span>
            </td>
            <td class="wait-blue" ui-sref="class_detail({id:item.id})">查看</td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="pageConfig"></tm-pagination>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="remark">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">审核备注</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        说明
                    </div>
                    <div class="col-md-8">
                        <p ng-bind="remark"></p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>