<div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <span class="col-md-1 control-label">分类名称</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="detail.title"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-1 control-label">分类所属</span>
            <div class="col-md-11 form-control-static">
                <span ng-bind="detail.titles"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-1 control-label padding-out">分类图片</span>
            <div class="col-md-11 form-inline">
                <img ng-src="{{detail.icon}}" class="pic-style" alt="">
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-1 control-label padding-out">分类描述</span>
            <div class="col-md-11 form-inline">
                <div ng-bind-html="detail.description | toHtml"></div>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-1 control-label">审核状态</span>
            <div class="col-md-11 form-control-static" ng-bind="detail.review_status"></div>
        </div>

        <div ng-if="detail.review_status!='待审核'">
        <div class="form-group">
            <span class="col-md-1 control-label">审核时间</span>
            <div class="col-md-11 form-control-static" ng-bind="detail.review_time"></div>
        </div>

        <div class="form-group">
            <span class="col-md-1 control-label">审核备注</span>
            <div class="col-md-11 form-control-static" ng-bind="detail.reason"></div>
        </div>
        </div>

        <div class="btns">
            <button class="btn btn-primary" ui-sref="edit_class({id:id,title:title})" ng-if="detail.review_status=='不通过'">编辑</button>
            <button class="btn btn-default" ui-sref="class_manage">返回</button>
        </div>
    </form>
</div>