/* 面包屑 start */
header {
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border-bottom: 1px solid #E6E9F0;
    position: relative;
}

header span:nth-child(2),
header span:nth-child(3) {
    font-size: 14px;
    color: #2F3033;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

header span:nth-child(4) {
    color: rgba(171, 171, 171, 1);
}

header img {
    position: absolute;
    right: 20px;
    top: 8px;
}
/* 面包屑 end */

section {
    padding-left: 40px;
    color: #666F80;
}