/*内容开始*/
.red_mark{
    color: red;
}

.input_style{
    margin-left: 90px;
    width: 217px;
    height: 36px;
    border: 1px solid #ABABAB;
    border-radius: 3px;
    padding-left: 5px;
}

form>div:not(:first-child){
    margin-top: 40px;
}

.bank_user input{
    margin-left: 75px;
}

.district input{
    margin-left: 61px;
}

.btn_group{
    margin-top: 82px!important;
}

#back{
    margin-left: 20px;
}

.body_font{
    font-size: 16px;
}

.tored{
    border: 1px solid red!important;
}
.dl_active9{
    background-color: #E6E9F0!important;
}
.a_active9{
    color: #5677FC!important;
}