
.table_content {
    border-top: 1px solid #e6e6e6;
}

.frozen_reason{
    display: inline-block;
    width: 80px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #5677FC;
}

.active{
    color: #1B7CEE!important;
}

.dl_active9{
    background-color: #E6E9F0!important;
}
.a_active9{
    color: #5677FC!important;
}