section{
  padding-left: 40px;
  width: 95%;
}
.select_top{
  margin: 30px 0;
}
/*时间*/
.time_select{
  width: 188px;
  height: 32px;
  font-size: 12px;
  color: #666F80;
  border-radius: 3px;
  border: 1px solid #BFC0C2;
  margin-right: 10px;
}
.start_stop_time{
  width: 150px;
  margin-right: 10px;
  height: 32px;
  font-size: 12px;
  color: #666F80;
  padding: 0;
  border: 1px solid #BFC0C2;
  border-radius: 3px;
}
/*搜索*/
.search_box{
  float: right;
}
.search_div{
  display: inline-block;
  width: 225px;
  height: 32px;
  position: relative;
}
.search_div:after{
  content: '';
  display: table;
  clear: both;
}
.search_div input{
  height: 32px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #8D9199;
}
.search_logo{
  position: absolute;
  right: 10px;
  top:50%;
  transform: translateY(-50%);
}
.search_btn{
  margin-left: 30px;
}
.blue{
  color: #5677FC!important;
}
#detail_modal{
  font-size: 16px;
  color: #666F80;
}
.img_size{
  width: 10px;
  height: 16px;
}
.orange_color{
  color: #FF9800!important;
}
.type_right{
  margin-right: 10px;
}
.outline_z{
  outline:0
}
.modal_txt{
  display:inline-block;
  width: 90px;
}
.wallet_bold{
  font-weight: bold!important;
}

.dl_active9{
  background-color: #E6E9F0!important;
}
.a_active9{
  color: #5677FC!important;
}