section{
  padding-left: 40px;
  width: 95%;
}
.select_top{
  margin: 30px 0;
}
/*时间*/
.time_select{
  width: 188px;
  height: 32px;
  font-size: 12px;
  color: #666F80;
  border-radius: 3px;
  border: 1px solid #BFC0C2;
  margin-right: 10px;
}
.start_stop_time{
  width: 135px;
  height: 32px;
  font-size: 12px;
  color: #666F80;
  border-radius: 3px;
  border: 1px solid #E6E9F0;
  box-shadow: inset 0 2px 3px 0 #EEF1F8;
  margin-right: 10px;
}
/*搜索*/
.search_box{
  float: right;
}
.search_div{
  display: inline-block;
  width: 225px;
  height: 32px;
  position: relative;

  /*border:1px solid red;*/
  /*top:50%;*/
  /*left: 50%;*/
  /*transform: translateY(-50%);*/
}
.search_div:after{
  content: '';
  display: table;
  clear: both;
}
.search_div input{
  height: 32px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #8D9199;
  /*position: absolute;*/
}
.search_logo{
  position: absolute;
  right: 10px;
  /*border: 1px solid red;*/
  top:50%;
  transform: translateY(-50%);
}
.search_btn{
  margin-left: 50px;
}
.blue{
  color: #5677FC!important;
}
#detail_modal{
  font-size: 16px;
  color: #666F80;
}
.img_size{
  width: 10px;
  height: 16px;
}
.orange_color{
  color: #FF9800!important;
}