section{
  padding: 40px 0 0 40px;
}
.password_div{
  margin-top: 25px;
}
.password_span{
  display: inline-block;
  width: 60px;
  margin-right: 50px;
}
.password_input{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ABABAB;
}
.send{
  padding: 4px 9px!important;
}
.prompt{
  font-size: 12px;
  color: #ABABAB;
  margin-left: 3px;
}
.prompt_red{
  font-size: 12px;
  color: #E51C23;
  margin-left: 135px;
}
.time{
  color: black;
  margin-left: 100px;
}
.btn_top{
  margin: 450px 20px 0 0;
}
.modelCenter{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.border_red{
  border: 1px solid red;
  outline:0;
}
.wallet_bold{
  font-weight: bold!important;
}
.dl_active9{
  background-color: #E6E9F0!important;
}
.a_active9{
  color: #5677FC!important;
}