/*内容开始*/
section>div:not(:first-child){
    margin-top:18px;
}

/*商家名称*/
.margin_left_86{
    margin-left: 86px;
}

.margin_left_58{
    margin-left: 58px;
}

.margin_left_72{
    margin-left: 72px;
}

.account_owner span:last-child{
    margin-left: 100px;
}

.forzen_money span:last-child{
    margin-left: 42px;
    color: #3F59B5;
}

hr{
    margin-top: 53px;
    margin-bottom: 32px;
}

/*按钮*/
.btn_group{
    margin-top: 82px!important;
}

.btn_group button{
    margin-right: 20px;
}

.dl_active9{
    background-color: #E6E9F0!important;
}
.a_active9{
    color: #5677FC!important;
}

