section{
  padding-left: 40px;
  width: 95%;
}
section div{
  margin:20px 0;
}
section div span:nth-child(1){
  display: inline-block;
  width: 100px;
  margin-right: 50px;
  color: #666F80;
}
