input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*内容开始*/
.red_mark{
    color: red;
}

.input_style{
    margin-left: 90px;
    width: 217px;
    height: 36px;
    border: 1px solid #ABABAB;
    border-radius: 3px;
    padding-left: 5px;
}
.money span:nth-child(4){
    color: #ABABAB;
    margin-left: 10px;
}

.warning{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 170px;
}

form>div:nth-child(2){
    margin-top: 40px!important;
}

.btn_group{
    margin-top: 82px;
}

#back{
    margin-left: 20px;
}

.body_font{
    font-size: 16px;
}

.tored{
    border:1px solid red!important;
}

.dl_active9{
    background-color: #E6E9F0!important;
}
.a_active9{
    color: #5677FC!important;
}