<link rel="stylesheet" href="css/cell_search.css">
<link rel="stylesheet" href="zui-1.7.0-dist/dist/css/zui.min.css"/>
<div ng-controller="cell_search_ctrl">
    <header>
        <div class="header_cell">
            <i class="icon icon-zoom-in icon-3x "></i>
            <input type="text" placeholder="请输入小区名字" ng-model="data" ng-change="getData()"/>
            <span><a ng-click="goPrev()">取消</a></span>
        </div>
    </header>

    <section>
        <!--有结果显示数据-->
        <div class="have_data" ng-if="search_data.length">
            <ul class="cell_ul">
                <li ng-repeat="item in search_data">
                    <span class="first_fru">{{item.toponymy}}</span><br/>
                    <span class="second_fru">{{item.site_particulars}}</span>
                </li>
            </ul>
        </div>

        <!--无数据显示-->
        <div class="no_data" ng-if="!search_data.length">
            <span>暂无数据显示</span><br/>
            <a ui-sref="nodata({toponymy:data})">没有我的小区?</a>
        </div>
    </section>
</div>