<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../css/all.css"/>
    <link rel="stylesheet" href="css/rem.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/commodity_details.css"/>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!--<script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="js/jquery-1.11.2.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body ng-app="myApp">

<header>
    <div>
        <span><</span>
        <sapn class="span_center">欧式板</sapn>
    </div>
</header>
<section ng-controller="comment_controller">
    <!--便签栏-->
    <div class="memo_pad">
        <li ng-click="sort('comment_number')" >销量优先</li>
        <li ng-click="sort('platform_price')">价格</li>
        <li ng-click="sort('favourable_comment_rate')">好评率</li>
        <li data-toggle="modal" data-target="#myModal">筛选</li>
    </div>
    <!--商品展示列表-->
    <div class="mall_list">
        <div class="flex_div" >
               <div class=" item_commodity"  ng-repeat="n in message |limitTo:myFilter.limit ">
                   <div class="item_commodity_divimg">
                      <img src="{{n.image}}" alt="" class="img_item " />
                   </div>
                   <div class="item_commodity_comment">
                       <p class="comment_one">{{n.title}}</p>
                       <p class="comment_two">{{n.subtitle}}</p>
                       <span class="comment_span">销量数：{{n.comment_number}}&nbsp;&nbsp;</span>
                       <span class="comment_span_two">{{n.favourable_comment_rate}}%好评</span>
                       <p style="margin-top: .8rem;color: #F59C22" class="comment_span_three">￥{{n.platform_price}}</p>
                   </div>
               </div>
        </div>
   </div>

       <!--筛选框-->
    <div class="popup_screen">
        <div class="style_popup">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- -->
                        <div class="modal-body">
                            <div class="style_screen" >
                                <!--f风格选择？-->
                                <div class="header_font">
                                    <span >风格选择</span>
                                    <span class="down_arrow"  data-toggle="collapse" href="#collapseExample_comment" aria-expanded="false" aria-controls="collapseExample_comment">#</span>
                                </div>

                                <!--x下拉面板-->
                                <div class="collapse" id="collapseExample_comment">
                                    <div class="well">
                                        <ul class="item_li">
                                            <li >美式田园</li>
                                            <li>美式田园</li>
                                            <li>美式田园</li>
                                            <li>美式田园</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--系列选择-->
                                <div class="header_font">
                                    <span>系列选择</span>
                                    <span class="down_arrow"  data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">#</span>
                                </div>
                                <!--x下拉面板-->
                                <div class="collapse" id="collapseExample">
                                    <div class="well">
                                        <ul>
                                            <li>美式系类</li>
                                            <li>金典系类</li>
                                            <li>复古系类</li>
                                            <li>田园系类</li>
                                            <li>田园系类</li>
                                        </ul>
                                    </div>
                                </div>

                                <!--价格区间-->
                                <div class="header_font">
                                    <span>价格选择</span>
                                </div>

                                <div class="price_range">
                                    <input type="text" placeholder="输入最低价格" maxlength="8"  pattern="[1-9]\d*"/>
                                    <span>---</span>
                                    <input type="text" placeholder="输入最高价格" maxlength="8" pattern="[1-9]\d*"/>
                                </div>


                                <!--品牌选择-->
                                <div class="header_font">
                                    <span>品牌选择</span>
                                </div>
                                <div class="well">
                                    <ul>
                                        <li>牧师品牌</li>
                                        <li>木生品牌</li>
                                        <li>复古系类</li>
                                        <li>田园系类</li>
                                        <li>田园系类</li>
                                    </ul>

                                </div>
                                <div class="all_brand_btn">
                                    <span data-toggle="modal" data-target="#myModal_brand">查看全部品牌 ></span>
                                </div>
                                <!--  模态框   品牌-->
                                <!-- Modal -->
                                <div class="modal fade" id="myModal_brand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">

                                            <div class="modal-body  modal_body_height">
                                                <!--品牌商家详情-->
                                                <div data-role="page" id="pageone">
                                                    <div data-role="main" class="ui-content">
                                                        <h4>品牌搜索</h4>
                                                        <form class="ui-filterable">
                                                            <input id="myFilter" class="input_width" data-type="search" placeholder="请输入搜索内容">
                                                        </form>
                                                        <ul data-role="listview" class="list_li" data-filter="true" data-input="#myFilter" data-autodividers="true" data-inset="true">
                                                            <li><a href="#">Adele</a></li>
                                                            <li><a href="#">Agnes</a></li>
                                                            <li><a href="#">Albert</a></li>
                                                            <li><a href="#">Billy</a></li>
                                                            <li><a href="#">Bob</a></li>
                                                            <li><a href="#">Calvin</a></li>
                                                            <li><a href="#">Cameron</a></li>
                                                            <li><a href="#">Chloe</a></li>
                                                            <li><a href="#">Christina</a></li>
                                                            <li><a href="#">Diana</a></li>
                                                            <li><a href="#">Gabriel</a></li>
                                                            <li><a href="#">Glen</a></li>
                                                            <li><a href="#">Ralph</a></li>
                                                            <li><a href="#">Valarie</a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default back_btn" >返回</button>
                                                <button type="button" class="btn btn-primary back_btn">确认</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default reset_btn" >重置</button>
                            <button type="button" class="btn btn-primary reset_btn">完成</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<script src="../js/jquery.js"></script>
<script src="../js/angular.min.js"></script>
<script src="js/rem.js"></script>
<script src="js/global.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/commodity_details.js"></script>
<script>

</script>
</body>
</html>