 <link rel="stylesheet" href="css/ation.css"/>
    <link rel="stylesheet" href="css/swiper-3.4.2.min.css"/>
<div ng-controller="intelligent_quotation_ctrl">
<header>
    <div>
        <a ui-sref="home">
        <span class="in_span"><</span></a>
        <span class="pic_span">智能报价</span>
        <img src="images/dingw.png" alt=""/>
        <span class="postion_span">成都</span>
    </div>
</header>

<!--小区信息-->

<div class="quarters_small">
    <h1>小区信息</h1>
    <span class="choose_quarter">小区选择</span>
    <img src="images/big.png" alt=""/>
    <a ui-sref="cell_search"><input type="text" ng-model="all_data.toponymy" placeholder="请输入小区名字" class="search_a"/><br/></a>

    <p class="quarters_adress">小区地址</p>
    <p class="quarters">{{all_data.site_particulars}}</p>
</div>

<!--房屋信息-->
<div class="housing_information">
    <h1>房屋信息</h1>
    <h2>户型选择</h2>
    <div class="list_dis">
        <ul house-style>
            <li ng-repeat="item in data" index="{{$index}}" ng-click="toggleHouse($index)" ng-class="{house:$index==house_index}">
                <img src="images/bed.png"  alt="" class="b"/><br/>
                <span class="black">{{item.particulars}}{{item.area}}m</span>
            </li>
        </ul>
    </div>
    <div class="comment_height">
        <ul>
            <li>层高 <span>{{data[house_index].high}}m</span></li>
            <li>飘窗 <span>{{data[house_index].window}}m</span></li>
        </ul>

    </div>

    <!--楼梯有无-->
    <div class="choose_stairs">
        <span class="choose_span">楼梯选择</span>
        <label ng-click="choose_stairs = true">
            <input type="radio" checked="checked"  name="have_stairs" />
            <span></span>
            <span class="have">有</span>
        </label>
        <label ng-click="choose_stairs = false">
            <input type="radio" name="have_stairs" />
            <span></span>
            <span class="no">无</span>
        </label>
    </div>

    <!--结构-->
    <div class="structure" ng-show="choose_stairs">
        <ul>
            <li ng-repeat="item in stairs_details" ng-click="toggleStairs(item.attribute)">
                <label>
                    <input type="radio" name="stairs" ng-checked="nowStairs==item.attribute"/>
                    <span></span>
                    <span>{{item.attribute}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>

<!--x系类选择-->
<div class="department_choose">
    <h1>系类选择</h1>
    <div>
        <ul class="choose_ul">
            <li ng-repeat="n in series">
                <label ng-click="toggleSeries(n.series)">
                    <input type="radio" name="style" ng-checked="(nowSeries==n.series)">
                    <span></span>
                    <span>{{n.series}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>

<!--适合人群-->
<div ng-switch on="nowSeries">
    <div ng-switch-when="齐家">
        <div class="tag"><span ng-cloak  ng-repeat="item in series[0].theme.split(',')">{{item}}</span></div>
        <div class="fit">
            <h1>适合人群</h1>
            <p ng-cloak>{{series[0].intro}}</p>
        </div>
    </div>
    <div ng-switch-when="享家">
        <div class="tag"><span ng-cloak ng-repeat="item in series[1].theme.split(',')">{{item}}</span></div>
        <div class="fit">
            <h1>适合人群</h1>
            <p ng-cloak>{{series[1].intro}}</p>
        </div>
    </div>
    <div ng-switch-default>

    </div>
</div>

<!--风格选择-->
    <!--风格选择-->
    <div class="choose_style">
        <h1>风格选择</h1>
        <ul>
            <li ng-repeat="item in style">
                <button ng-cloak ng-class="{'btn_checked':(nowStyle==item.style)}"
                        ng-click="toggleStyle(item.style)">{{item.style}}
                </button>
            </li>
        </ul>

    </div>

    <!--轮播图-->
    <div ng-switch on="nowStyle">
        <div ng-switch-when="现代简约">
            <div class="carousel">
                1
            </div>
            <!--现代简约便签-->
            <div class="note">
                <ul>
                    <li ng-repeat="item in style[0].theme.split(',')">
                        <button ng-cloak>{{item}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-switch-when="中国风">
            <div class="carousel">
                2
            </div>
            <!--中国风便签-->
            <div class="note">
                <ul>
                    <li ng-repeat="item in style[1].theme.split(',')">
                        <button ng-cloak>{{item}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-switch-default>

        </div>
    </div>

    <!--按钮-->
    <div class="btn_vr">
        <button>生成3D/VR图和材料</button>
    </div>

<!--3D/VR图-->
<!--<div>-->
    <!--&lt;!&ndash;轮播图&ndash;&gt;-->
    <!--<div>-->
        <!--<div style="width: 30rem;height: 15rem;border: 1px solid #C2C2C2;margin-left: 1rem;margin-top: 1rem"></div>-->
    <!--</div>-->
<!--</div>-->

<!--材料选择-->
<!--&lt;!&ndash;<div class="material_choose">-->
 <!--<p class="title_span">材料选择</p>-->
    <!--<span  class="comment_span">点击以下版块查看详情和编辑</span>-->
    <!--&lt;!&ndash;左边内容&ndash;&gt;-->
    <!--<div class="left_main">-->
        <!--&lt;!&ndash;基础装修&ndash;&gt;-->
        <!--<ul class="decoration">-->
            <!--<li></li>-->
        <!--</ul>-->

        <!--&lt;!&ndash;固定家居&ndash;&gt;-->
        <!--<ul class="fixed_home">-->
            <!--<li></li>-->
        <!--</ul>-->

        <!--&lt;!&ndash;家电配套&ndash;&gt;-->
        <!--<ul class="appliance_matching">-->
            <!--<li>-->

            <!--</li>-->
        <!--</ul>-->

        <!--&lt;!&ndash;智能配套&ndash;&gt;-->
        <!--<ul class="Intelligence">-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash;右边内容&ndash;&gt;-->
    <!--<div class="right_main">-->
        <!--&lt;!&ndash;主材料&ndash;&gt;-->
        <!--<ul class="main_material">-->
            <!--<li></li>-->
        <!--</ul>-->

        <!--&lt;!&ndash;移动家具&ndash;&gt;-->
        <!--<ul class="mobile_furniture">-->
            <!--<li></li>-->
        <!--</ul>-->

        <!--&lt;!&ndash;软装配套&ndash;&gt;-->
        <!--<ul class="soft_outfit">-->
            <!--<li></li>-->
        <!--</ul>-->
        <!--&lt;!&ndash;生活配套、&ndash;&gt;-->
        <!--<ul class=life_matching">-->
            <!--<li></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;特殊要求&ndash;&gt;-->
<!--<div class="special_requirements">-->
    <!--<h1>特殊要求</h1>-->
    <!--<textarea class="main_text">请输入你的要求</textarea>-->
    <!--<span>0/300</span>-->
<!--</div>-->

<!--&lt;!&ndash;尾部结算&ndash;&gt;-->
<!--<div class="footer_settlement">-->
    <!--<div class="footer_set">-->
        <!--<span class="first_span">$125888</span>-->
        <!--<span class="second_span">$1515151</span><br/>-->
        <!--<span class="three_span">未包含施工图费用，8项全场8折</span>-->
    <!--</div>-->
    <!--<button>保存方案</button>-->
    <!--<button class="primary_btn">去装修</button>-->
<!--</div>&ndash;&gt;-->
</div>