
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="zui-1.7.0-dist/dist/css/zui.min.css"/>
<div ng-controller="main_ctrl" class="main_body">
<header>
        <a ng-click="curGoPrev()"><img src="images/mall_nav_return.png" alt=""></a>
        <span >{{stair[index].title}}</span >
</header>
<div class="fill"></div>
<section>
<!--地面材料-->
    <div ng-repeat="item in stair_copy[index].second_level" class="detail_block">
        <span class="second_title">{{stair_copy[index][item].title}}</span>
        <div ng-repeat="item1 in stair_copy[index][item].three_level track by $index">
        <ul>
            <li data-toggle="modal" data-target="#myModal" ng-click="goModalData(stair_copy[index][item][item1][item2])"
             ng-repeat="item2 in stair_copy[index][item][item1].goods_detail track by $index" class="main_details">
                <span class="wall_span">{{stair_copy[index][item][item1].title}}&times;{{stair_copy[index][item][item1][item2].quantity}}</span><br/>
                <span class="wall_brand">{{stair_copy[index][item][item1][item2].name}}</span>
                <span class="wall_money">{{stair_copy[index][item][item1][item2].cost | currency:'￥'}}
                    <img src="images/left_more.png" alt=""></span>
            </li>
        </ul>
        </div>
    </div>



<!--按钮、-->
<div class="preservation">
    <span>合计：</span>
    <span class="money_col">{{stair_copy[index].cost | currency:'￥'}}</span>
    <button ng-click="change_material()">保存</button>
</div>
    <div class="footer_fill"></div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="whit" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="comment_img">
                        <img src="images/all.png" alt=""/>
                    </div>
                    <div class="comment">
                        <p class="good_title">
                        <span class="comment_span">{{modalData.name}}</span>
                        <span class="comment_se">{{modalData.cost | currency:'￥'}}</span>
                        </p>
                        <p class="comment_square">产品类别：{{modalData.title}} 数量：{{modalData.quantity}}</p>


                        <p class="comment_p">商品特色</p>
                        <p class="text_p ">{{modalData.subtitle}}</p>
                    </div>
                    <button type="button" class="btn replace btn-primary"  data-dismiss="modal" ng-click="replace_material(modalData)">更换</button>
                </div>
        </div>
    </div>
</section>
</div>
