/*头部开始*/
.goodattrs>div:not(:first-child){
    margin-top: 15px;
}

.picarr img{
    width: 120px;
    height: 120px;
}
/*头部结束*/

/*公共样式开始*/
.margin_left{
    margin-left: 85px;
}
.margin_top{
    margin-top: 15px;
}
.inline_block{
    display: inline-block;
    vertical-align: top;
}
.img_size{
    width: 120px;
    height: 120px;
    background-color:#ccc;
}
.font_size{
    display: inline-block;
    width: 56px;
    margin-right: 25px;
}
hr{
    margin: 10px auto;
}
.purchase_left{
    margin-left: 40px;
}
.purchase_input{
    width: 140px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.red_img{
    margin-left: -20px;
}
.description_size{
    width: 750px;
    height: 365px;
    background-color: #CCCCCC;
    display: inline-block;
    vertical-align: top;
}
.description_size_min{
    height: 240px!important;
}
.btn_margin_top{
    margin: 65px auto;
}
.btn_size{
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 20px;
}
.blue{
    color: #487AF8;
    background-color: #F2F4FF;
    border: 1px solid #487AF8;
}
/*公共样式结束*/
.coverimg{
    position: relative;
}

.warning{
    border: 1px solid red;
}

input{
    outline:none;
}

#coverimg_span{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 24px;
    font-size: 12px;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    z-index: 2;
}

#save_body{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn_modal_two{
    overflow: hidden;
    padding-right: 15px;
    padding-bottom: 15px;
}

#caozuo_sure,#caozuo_sure_end{
    float: right;
    width: 84px;
    height: 36px;
    padding-left: 5px;
    line-height: 36px;
    font-size: 12px;
    color: #5e6166;
    margin-top: 54px;
    border: 1px solid #487AF8;
    background-color: #F2F4FF;
    border-radius: 3px;
}

#save_body_end{
    height: 100px;
}

#save_wenzi{
    font-size: 16px;
}

.margin_left_style{
    margin-left: 111px;
}


.pic{
    margin-left: 10px;
}

#buyprice{
    text-indent: 1.5rem;
}


#price_rule{
    margin-top: 10px!important;
}

/*选择城市*/
.choosecity span:last-child{
    color:#5677FC;
}

/*售后*/
.afterservice>div{
    margin-top:-15px;
    margin-left: 110px
}

/*保障*/
.safeguard>div{
    margin-left: 110px
}


/*二维码*/
.qrcode>div{
    text-indent:4rem
}

.qrcode img{
    width: 170px;
    height: 170px;
}

#reason{
    margin-right: 50px;
    vertical-align: top
}

.purchase_input_default{
    margin-right: 100px;
}


/* 城市选择 */
.city span + span::before {
    content: '、'
}

div.city span:nth-child(4)::before {
    content: ''
}

.city a {
    margin-left: 20px;
}




