<div class="search form-inline clearfix">
    <select class="form-control" ng-model="params.time_type">
        <option value="all">全部时间</option>
        <option value="today">今天</option>
        <option value="week">本周</option>
        <option value="month">本月</option>
        <option value="year">本年</option>
        <option value="custom">自定义</option>
    </select>
    <input id="startTime" ng-if="params.time_type == 'custom'" ng-model="params.start_time"
           max-date="{{params.end_time}}" class="form-control" type="text" placeholder="开始时间" ngc-lay-date>
    <input id="endTime" ng-if="params.time_type == 'custom'" ng-model="params.end_time" min-date="{{params.start_time}}"
           max-date="" class="form-control" type="text" placeholder="结束时间" ngc-lay-date>
    <div class="form-group pull-right">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="params.keyword" placeholder="搜索订单号、商品名称或手机号">
            <span class="iconfont icon-search"></span>
        </div>
        <button class="btn btn-default" ng-click="search()">查询</button>
        <button class="btn btn-default" href="javascript: void(0);" ng-click="filter = !filter" ng-class="{'btn-focus': filter}">
            <i class="iconfont icon-shaixuan"></i>
        </button>
        <div class="filter" ng-if="filter">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.orderNum"> 订单编号
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.goodsNum"> 商品编号
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.goodsName"> 商品名称
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.orderMoney"> 订单金额
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.orderTime"> 下单时间
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.user"> 用户
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.phone"> 绑定手机
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.orderState"> 订单状态
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.exception"> 异常
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.comments"> 评论
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.details"> 详情
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="orderFilter.operation"> 操作
                </label>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th ng-if="orderFilter.orderNum">订单编号</th>
            <th ng-if="orderFilter.goodsNum">商品编号</th>
            <th ng-if="orderFilter.goodsName">商品名称</th>
            <th ng-if="orderFilter.orderMoney" class="pointer" ng-click="sortMoney()">
                订单金额
                <span class="sort">
                    <i class="iconfont icon-up" ng-class="{'active':params.sort_money == 1}"></i>
                    <i class="iconfont icon-down" ng-class="{'active':params.sort_money == 2}"></i>
                </span>
            </th>
            <th ng-if="orderFilter.orderTime" class="pointer" ng-click="sortTime()">
                下单时间
                <span class="sort">
                    <i class="iconfont icon-up" ng-class="{'active':params.sort_time == 1}"></i>
                    <i class="iconfont icon-down" ng-class="{'active':params.sort_time == 2}"></i>
                </span>
            </th>
            <th ng-if="orderFilter.user">用户</th>
            <th ng-if="orderFilter.phone">绑定手机</th>
            <th ng-if="orderFilter.orderState">订单状态</th>
            <th ng-if="orderFilter.exception">异常</th>
            <th ng-if="orderFilter.comments">评论</th>
            <th ng-if="orderFilter.details">详情</th>
            <th ng-if="orderFilter.operation">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in list">
            <td ng-if="orderFilter.orderNum">{{obj.order_no}}</td>
            <td ng-if="orderFilter.goodsNum">{{obj.sku}}</td>
            <td ng-if="orderFilter.goodsName">{{obj.goods_name}}</td>
            <td ng-if="orderFilter.orderMoney">{{obj.amount_order}}</td>
            <td ng-if="orderFilter.orderTime">{{obj.create_time}}</td>
            <td ng-if="orderFilter.user">{{obj.user_name}}</td>
            <td ng-if="orderFilter.phone">{{obj.mobile}}</td>
            <td ng-if="orderFilter.orderState">{{obj.status}}</td>
            <td ng-if="orderFilter.exception">{{obj.unusual}}</td>
            <td ng-if="orderFilter.comments">{{obj.comment_grade}}</td>
            <td ng-if="orderFilter.details"><a ui-sref="order_details({orderNo: obj.order_no,sku: obj.sku,status: obj.status,type:0})">查看</a></td>
            <td ng-if="orderFilter.operation"><a ui-sref="order_details({orderNo: obj.order_no,sku: obj.sku,status: obj.status,type:1})">平台介入</a></td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="pageConfig"></tm-pagination>
</div>