<form class="form-horizontal">
    <div class="order-details">
        <div class="form-group">
            <div class="col-xs-12">
                <h3>订单详情</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">订单号</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.order_no}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">订单状态</label>
            <div class="col-xs-10">
                <p class="form-control-static" ng-if="is_close_order">售后中</p>
                <p class="form-control-static" ng-if="!is_close_order">售后完成</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">用户</label>
            <div class="col-xs-10">
                <span>{{orderDetails.username}}</span>
                <a href="javascript:void (0);" class="btn btn-primary">
                    <i class="iconfont icon-information"></i>
                    <span>沟通</span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">订单金额</label>
            <div class="col-xs-4">
                <table class="table table-responsive">
                    <tr>
                        <th>总金额</th>
                        <th>{{orderDetails.role}}</th>
                        <th>运费</th>
                    </tr>
                    <tr>
                        <td class="total-money">¥{{orderDetails.amount_order}}</td>
                        <td>¥{{orderDetails.goods_price}}</td>
                        <td>¥{{orderDetails.freight}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">供货价</label>
            <div class="col-xs-10">
                <p class="form-control-static">¥{{orderDetails.supplier_price}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">市场价</label>
            <div class="col-xs-10">
                <p class="form-control-static">¥{{orderDetails.market_price}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">商品个数</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.goods_number}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">付款方式</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.pay_name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">下单时间</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.create_time}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">付款时间</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.paytime}}</p>
            </div>
        </div>
        <div class="form-group" ng-if="orderDetails.complete_time != 0">
            <label class="col-xs-2 control-label">完成时间</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.complete_time}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">配送方式</label>
            <div class="col-xs-10">
                <p class="form-control-static">
                    <a ui-sref="express({orderNo: params.order_no,sku: params.sku})">{{orderDetails.shipping_way}}</a>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="goods-details">
        <div class="form-group">
            <div class="col-xs-2 control-label">
                <h3>商品详情</h3>
            </div>
            <div class="col-xs-10">
                <a ui-sref="goods_details({orderNo: params.order_no,sku: params.sku})" class="btn btn-primary">
                    <i class="iconfont icon-yanjing"></i>
                    <span>查看商品</span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">商品名称</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{goodsDetails.goods_name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">商品编号</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{orderDetails.sku}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">商品属性</label>
            <div class="col-xs-10">
                <div class="form-control-static goods-attr">
                    <div class="row" ng-repeat="obj in goodsDetails.attr">
                        <div class="col-xs-2">{{obj.name}}</div>
                        <div class="col-xs-10">{{obj.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="receive-detail">
        <div class="form-group">
            <div class="col-xs-12">
                <h3>收货详情</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">收货人</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.consignee}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">收货地址</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.district}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">电话</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.consignee_mobile}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">留言</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.buyer_message}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">发票类型</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.invoice_type}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">抬头</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.invoice_header}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">纳税人识别码</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.invoicer_card}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">发票内容</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{receiveDetails.invoice_content}}</p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="exce-record" ng-if="receiving.length != 0">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>异常记录-待发货</h3>
                <i class="iconfont icon-arrow pointer" ng-class="{'icon-arrow-up': isShowreceiving}"
                   ng-click="isShowreceiving = !isShowreceiving"></i>
            </div>
        </div>
        <div ng-if="isShowreceiving">
            <div class="row list" ng-repeat="obj in receiving">
                <div class="col-xs-2 stage">{{obj.type}}</div>
                <div class="col-xs-4">
                    <p>
                        <span>{{obj.value}}</span>
                        <span class="pull-right">{{obj.time}}</span>
                    </p>
                    <p class="exce-info">{{obj.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="exce-record" ng-if="delivery.length != 0">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>异常记录-待收货</h3>
                <i class="iconfont icon-arrow pointer" ng-class="{'icon-arrow-up': isShowDelivery}"
                   ng-click="isShowDelivery = !isShowDelivery"></i>
            </div>
        </div>
        <div ng-if="isShowDelivery">
            <div class="row list" ng-repeat="obj in delivery">
                <div class="col-xs-2 stage">{{obj.type}}</div>
                <div class="col-xs-4">
                    <p>
                        <span>{{obj.value}}</span>
                        <span class="pull-right">{{obj.time}}</span>
                    </p>
                    <p class="exce-info">{{obj.content}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr ng-if="delivery.length != 0 || receiving.length != 0"/>
    <div class="receive-detail" ng-if="comments.length != 0">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>评论回复</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2">顾客评论</div>
            <div class="col-xs-10">
                <p>
                    <span class="reviews-name" ng-if="comments.name != ''">{{comments.name}}</span>
                    <span>{{comments.content}}</span>
                </p>
                <p class="img-list">
                    <img class="pointer" ng-repeat="obj in comments.image" ng-src="{{obj.image}}" ng-click="showImage(obj.image)">
                </p>
                <div class="row">
                    <div class="col-xs-2">商品评分</div>
                    <div class="col-xs-10">{{comments.score}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 score">店家服务</div>
                    <div class="col-xs-10">
                        <star max="5" readonly="true" rating-value="comments.store_service_score/2"></star>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 score">物流速度</div>
                    <div class="col-xs-10">
                        <star max="5" readonly="true" rating-value="comments.logistics_speed_score/2"></star>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 score">配送人员服务</div>
                    <div class="col-xs-10">
                        <star max="5" readonly="true" rating-value="comments.shipping_score/2"></star>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-2">店家回复</div>
            <div class="col-xs-10">
                {{comments.reply}}
                <a href="javascript:void (0);" ng-click="delComments()" ng-if="comments.length != 0">删除</a>
            </div>
        </div>
    </div>
    <hr ng-if="comments.length != 0"/>
    <div class="sales-info">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>售后信息</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">服务类型</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{sale_detail.type}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">问题描述</label>
            <div class="col-xs-10">
                <p class="form-control-static">{{sale_detail.description}}</p>
                <p class="img-list">
                    <img ng-repeat="str in sale_detail.image" ng-src="{{str.image}}" ng-click="showImage(str.image)">
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="exce-record">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>售后进度</h3>
                <i class="iconfont icon-arrow pointer" ng-class="{'icon-arrow-up': isShowSales}"
                   ng-click="isShowSales = !isShowSales"></i>
            </div>
        </div>
        <div ng-if="isShowSales">
            <div class="row list" ng-repeat="obj in sale_progress">
                <div class="col-xs-2 stage">{{obj.type}}</div>
                <div class="col-xs-4">
                    <p>
                        <span>{{obj.value}}</span>
                        <span class="pull-right">{{obj.time}}</span>
                    </p>
                    <p class="exce-info" ng-if="obj.code != 'shipped'">{{obj.content}}</p>
                    <p class="exce-info" ng-if="obj.code == 'shipped'">
                        <a ui-sref="express({orderNo: params.order_no, waybillnumber: obj.number, type: 'sales'})">{{obj.content + '(' + obj.number + ')'}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="exce-record" ng-if="sale_progress_platform.length != 0">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>平台介入</h3>
                <i class="iconfont icon-arrow pointer" ng-class="{'icon-arrow-up': isShowPlatform}"
                   ng-click="isShowPlatform = !isShowPlatform"></i>
            </div>
        </div>
        <div ng-if="isShowPlatform">
            <div class="row list" ng-repeat="obj in sale_progress_platform">
                <div class="col-xs-2 stage">{{obj.type}}</div>
                <div class="col-xs-4">
                    <p>
                        <span>{{obj.value}}</span>
                        <span class="pull-right">{{obj.time}}</span>
                    </p>
                    <p class="exce-info" ng-if="obj.code != 'shipped'">{{obj.content}}</p>
                    <p class="exce-info" ng-if="obj.code == 'shipped'">
                        <a ui-sref="express({orderNo: params.order_no, waybillnumber: obj.number, type: 'sales'})">{{obj.content + '(' + obj.number + ')'}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr ng-if="platformInter == 1" />
    <div class="receive-detail" ng-if="platformInter == 1">
        <div class="form-group">
            <div class="col-xs-12 title">
                <h3>平台介入</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">操作类型</label>
            <div class="col-xs-3">
                <select class="form-control" ng-options="list.value as list.name for list in platform_intervention" ng-model="interOper.handle_type"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">说明</label>
            <div class="col-xs-8">
                <textarea class="form-control" rows="5" placeholder="请输入操作理由" ng-model="interOper.reason"></textarea>
            </div>
        </div>
    </div>
    <div class="operation">
        <button class="btn btn-primary" ng-if="is_close_order" ng-click="close_order()">关闭订单</button>
        <button class="btn btn-primary" ng-if="platformInter == 1" ng-click="confirmAction()">确认</button>
        <a class="btn btn-default" href="javascript: history.go(-1);">返回</a>
    </div>
</form>


<!-- 关闭订单模态框 -->
<div id="closeOrderModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关闭订单操作</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">关闭理由</label>
                        <div class="col-xs-9">
                            <textarea class="form-control" cols="30" rows="10" ng-model="close_order_params.reason"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" ng-click="enter_close_order()">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 图片浏览模态框 -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-img" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img ng-src="{{showImg}}">
            </div>
        </div>
    </div>
</div>