<div class="account">
    <div class="search form-inline clearfix">
        <span>状态</span>
        <select ng-model="params.status" ng-change="getAccount()" ng-options="item.num as item.status for item in all_status" ng-change="getCategory(1)"  class="form-control"></select>
        <div class="form-group pull-right">
            <div class="input-group">
                <input class="form-control" ng-model="vm.keyword" placeholder="搜索业主名称、手机号或魔方号" type="text">
                <span class="iconfont icon-search"></span>
            </div>
            <button class="btn btn-default" ng-click="getAccountList()">搜索</button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>魔方号</th>
            <th>业主名称</th>
            <th>绑定手机号</th>
            <th>钱包余额</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in account_list">
            <td>{{item.aite_cube_no}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.balance}}</td>
            <td ng-class="{true:'blue',false:'red'}[item.status=='正常']">{{item.status}}</td>
            <td><a ui-sref="account_detail({id:item.id})">详情</a></td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <!--<div class="modal fade" id="remarks" tabindex="-1" role="dialog">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--&lt;!&ndash;<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>&ndash;&gt;-->
                    <!--<h4 class="modal-title text-left">备注</h4>-->
                <!--</div>-->
                <!--<div class="modal-body row">-->
                    <!--<p class="col-sm-3">备注(选填)</p>-->
                    <!--<textarea  ng-model="cur_item.remark" class="col-sm-9" placeholder="请填写备注项" cols="30" rows="10"></textarea>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="other_btn" ng-click="edit_remarks()" data-dismiss="modal">确认</button>-->
                    <!--<button type="button" data-dismiss="modal">取消</button>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
</div>