<div class="account">
    <div class="search form-inline clearfix">
        <span>分类选择</span>
        <select ng-model="ctrlScope.cur_first_level" ng-options="item.id as item.title for item in first_level" ng-change="getCategory(1)"  class="form-control"></select>
        <select ng-if="second_level.length!=0" ng-model="ctrlScope.cur_second_level" ng-options="item.id as item.title for item in second_level" ng-change="getCategory(2)" class="form-control"></select>
        <select ng-if="third_level.length!=0" ng-model="ctrlScope.cur_third_level" ng-options="item.id as item.title for item in third_level" ng-change="getCategory(3)" class="form-control"></select>
        <span>店铺类型</span>
        <select ng-model="params2.type_shop" ng-change="getCategory()" ng-options="item.num as item.name for item in shop_type"  class="form-control"></select>
        <span>状态</span>
        <select ng-model="params2.status" ng-change="getCategory()" ng-options="item.num as item.name for item in shop_status" class="form-control"></select>
        <div class="form-group pull-right">
            <div class="input-group">
                <input class="form-control" ng-model="ctrlScope.keyword2" placeholder="搜索商家名称或商家编号" type="text">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <button class="btn btn-default" ng-click="get_account_list()">查询</button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>商家编号</th>
            <th>商家名称</th>
            <th>店铺类型</th>
            <th>所属类目</th>
            <th>钱包余额</th>
            <th>状态</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in account_list">
            <td>{{item.shop_no}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.type_shop}}</td>
            <td>{{item.category_name}}</td>
            <td>{{item.balance}}</td>
            <td ng-style="{'color':item.status == '正常营业'?'#26C6DA':'#E8502E'}">{{item.status}}</td>
            <td style="color: #5677FC;" ng-click="go_account_detail(item)">详情</td>
        </tr>
    </table>
    <tm-pagination conf="Config2"></tm-pagination>
    <div class="modal fade" id="remarks" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title text-left">备注</h4>
                </div>
                <div class="modal-body row">
                    <p class="col-sm-3">备注(选填)</p>
                    <textarea  ng-model="cur_item.remark" class="col-sm-9" placeholder="请填写备注项" cols="30" rows="10"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="other_btn" ng-click="edit_remarks()" data-dismiss="modal">确认</button>
                    <button type="button" data-dismiss="modal">取消</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>