<div class="withdraw_list">
    <div class="search form-inline clearfix">
            <select ng-model="params.time_type" ng-change="getFreezeList()" ng-options="item.value as item.name for item in time_types" class="form-control"></select>
            <input ng-if="params.time_type == 'custom'" ng-change="getFreezeList()" ng-model="params.start_time" max-date="{{params.end_time}}" id="start_time" class="form-control" placeholder="开始时间" type="text" ngc-lay-date>
            <input ng-if="params.time_type == 'custom'" ng-change="getFreezeList()" ng-model="params.end_time" min-date="{{params.start_time}}" id="end_time" class="form-control" placeholder="结束时间" type="text" ngc-lay-date>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>操作时间</th>
            <th>冻结金额</th>
            <th>冻结原因</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in freeze_list">
            <td>{{item.create_time}}</td>
            <td>{{item.freeze_money}}</td>
            <td data-toggle="modal" data-target="#remarks" ng-click="getFreezeReason(item)">{{item.freeze_reason}}</td>
            <td >
                <button ng-click="removeFreeze(item)">解冻</button>
            </td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
    <div class="modal fade" id="remarks" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-left">备注</h4>
                </div>
                <div class="modal-body row">
                    <p class="col-md-3">备注(选填)</p>
                    <p class="col-md-9">{{cur_item.freeze_reason}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>