.pic-style{
    width: 120px;
    height: 120px;
}

.padding-out{
    padding-top: 0!important;
}

.btns{
    margin-top: 20px;
    margin-left: 52px;
}

.btns button{
    margin-right: 10px;
}

.dl_active8{
    background-color: #E6E9F0!important;
}
.a_active8{
    color: #5677FC!important;
}