.active {
    color: #1B7CEE;
}

.remark {
    display: inline-block;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5677FC;
}

.pass-green {
    color: #8BC34A;
}

.fail-red {
    color: #FF5722;
}

.wait-blue {
    color: #5677FC;
}

.pic-style{
    width: 30px;
    height: 30px;
}

.dl_active8{
    background-color: #E6E9F0!important;
}
.a_active8{
    color: #5677FC!important;
}