.pic-style{
    width: 120px;
    height: 120px;
}

.padding-out{
    padding-top: 0!important;
}

.dl_active8{
    background-color: #E6E9F0!important;
}
.a_active8{
    color: #5677FC!important;
}

.control-label + .control-label {
    text-align: left;
}