/*添加的内容的样式*/
.sort_img_box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: table-cell;

    vertical-align:middle;
    text-align: center;
    background-color: #fff;
    border: 1px solid #E6E9F0 ;
}
.sort_img{
    width: 100%;
    vertical-align:middle
}

