<div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-12">
                <h3>基本信息</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">头像</span>
            <div class="col-md-10 form-control-static">
                <img ng-src="{{account_detail.icon}}" alt="">
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">昵称</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.nickname"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">曾用昵称</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.old_nickname?account_detail.old_nickname:'无'"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">地区</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.district_name"></span>
            </div>
        </div>


        <div class="form-group">
            <span class="col-md-2 control-label">出生日期</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.birthday"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">个性签名</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.signature"></span>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>注册信息</h3>
            </div>
        </div>

        <div class="form-group bind-mobile">
            <span class="col-md-2 control-label">绑定手机号</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.mobile"></span>
                <button class="btn btn-primary" ui-sref="change_num({user_id:account_detail.id})">更换</button>
                <span class="blue">过往绑定记录</span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">魔方号</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.aite_cube_no"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">注册时间</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.create_time"></span>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>角色信息</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label" ng-repeat="role in account_detail.role_names">
                <span>{{role}}</span>
            </span>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>实名认证</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label blue" ng-bind="account_detail.review_status_desc" ng-click="jumpPage()"></span>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>账户状态</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label" ng-bind="account_detail.status"></span>
            <div class="col-md-10 form-control-static">
                <span class="blue">过往操作记录</span>
            </div>
        </div>

        <div class="form-group" ng-if="account_detail.status == '关闭'">
            <span class="col-md-2 control-label">操作人员</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.status_operator"></span>
            </div>
        </div>

        <div class="form-group" ng-if="account_detail.status == '关闭'">
            <span class="col-md-2 control-label">关闭原因</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.status_remark"></span>
            </div>
        </div>



        <button class="btn btn-default" ui-sref="account_user_list.normal" ng-if="account_detail.status == '正常'">返回</button>
        <button class="btn btn-default" ui-sref="account_user_list.closed" ng-if="account_detail.status == '关闭'">返回</button>
    </form>

    <!--<div class="shop_name">-->
    <!--<hr/>-->

    <!--&lt;!&ndash;注册信息&ndash;&gt;-->
    <!--<div>-->
        <!--<span>注册信息</span>-->
    <!--</div>-->
    <!--绑定手机号-->
        <!--<div class="shop_num">-->
            <!--<span>绑定手机号</span>-->
            <!--<span>{{mobile}}</span>-->
            <!--&lt;!&ndash;<span>{{id}}</span>&ndash;&gt;-->
            <!--<button><a ui-sref="change_num({icon,nickname-->
              <!--,old_nickna,district_name,birthday,-->
              <!--signature,mobile,aite_cube_no,-->
              <!--create_time,names,review_status_desc,-->
              <!--status,id,status_remark,status_operator,a})">更换</a></button>-->
            <!--<span><a ui-sref="bind_record({icon,nickname-->
              <!--,old_nickna,district_name,birthday,-->
              <!--&lt;!&ndash;signature,mobile,aite_cube_no,&ndash;&gt;-->
              <!--&lt;!&ndash;create_time,names,review_status_desc,&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;status,id,status_remark,status_operator,a})">过往绑定记录</a></span>&ndash;&gt;&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;魔方号&ndash;&gt;-->
    <!--<div class="shop_m">-->
        <!--<span>魔方号</span>-->
        <!--<span>{{aite_cube_no}}</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;注册时间&ndash;&gt;-->
    <!--<div class="shop_more">-->
        <!--<span>注册时间</span>-->
        <!--<span>{{create_time}}</span>-->
    <!--</div>-->
    <!--<hr/>-->
    <!--&lt;!&ndash;角色信息&ndash;&gt;-->
    <!--<div>-->
        <!--<span>角色信息</span>-->
    <!--</div>-->
    <!--业主-->
    <!--<div class="shop_name">-->
        <!--<span>{{names}}</span>-->
        <!--&lt;!&ndash;<span>商城商家</span>&ndash;&gt;-->
    <!--</div>-->
    <!--<hr/>-->

    <!--</div>-->
    <!--<div class="flag">-->
        <!--<span>正常</span>-->
        <!--<span> <a ui-sref="operation_record({icon,nickname-->
          <!--,old_nickna,district_name,birthday,-->
          <!--signature,mobile,aite_cube_no,-->
          <!--create_time,names,review_status_desc,-->
          <!--status,id,status_remark,status_operator,a})">过往操作记录</a></span>-->
    <!--</div>-->
    <!--<div ng-if="a" class="last_div">-->
        <!--<span>操作人员</span>-->
        <!--<span>{{status_operator}}</span> <br/> <br/>-->
        <!--<span>关闭原因</span>-->
        <!--<span>{{status_remark}}</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;按钮&ndash;&gt;-->
    <!--<button class="btn btn-default" ng-click="back_page()">返回</button>-->
</div>