<div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-12">
                <h3>基本信息</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">头像</span>
            <div class="col-md-10 form-control-static">
                <img ng-src="{{account_detail.icon}}" alt="">
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">昵称</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.nickname"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">曾用昵称</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.old_nickname?account_detail.old_nickname:'无'"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">地区</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.district_name"></span>
            </div>
        </div>


        <div class="form-group">
            <span class="col-md-2 control-label">出生日期</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.birthday"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">个性签名</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.signature"></span>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>注册信息</h3>
            </div>
        </div>

        <div class="form-group bind-mobile">
            <span class="col-md-2 control-label">绑定手机号</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.mobile"></span>
                <button class="btn btn-primary" ui-sref="change_num({user_id:account_detail.id})">更换</button>
                <span class="blue" ui-sref="bind_record({user_id:account_detail.id})">过往绑定记录</span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">魔方号</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.aite_cube_no"></span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label">注册时间</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.create_time"></span>
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>角色信息</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label" ng-repeat="role in account_detail.role_names">
                <span>{{role}}</span>
            </span>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>实名认证</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label blue" ng-bind="account_detail.review_status_desc" ng-click="jumpPage()"></span>
        </div>

        <hr/>

        <div class="form-group">
            <div class="col-md-12">
                <h3>账户状态</h3>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-2 control-label" ng-bind="account_detail.status"></span>
            <div class="col-md-10 form-control-static">
                <span class="blue" ui-sref="operation_record({user_id:account_detail.id})">过往操作记录</span>
            </div>
        </div>

        <div class="form-group" ng-if="account_detail.status == '关闭'">
            <span class="col-md-2 control-label">操作人员</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.status_operator"></span>
            </div>
        </div>

        <div class="form-group" ng-if="account_detail.status == '关闭'">
            <span class="col-md-2 control-label">关闭原因</span>
            <div class="col-md-10 form-control-static">
                <span ng-bind="account_detail.status_remark"></span>
            </div>
        </div>

        <button class="btn btn-default" ui-sref="account_user_list.normal" ng-if="account_detail.status == '正常'">返回</button>
        <button class="btn btn-default" ui-sref="account_user_list.closed" ng-if="account_detail.status == '关闭'">返回</button>
    </form>
</div>