<div>
    <div class="content">
        <table class="table table-responsive table-hover">
            <thead>
            <tr>
                <th>绑定手机号</th>
                <th ng-click="sortTime()">
                    <span>时间</span>
                    <span class="sort">
                            <i class="iconfont icon-up" ng-class="{'active':sortStyleFunc() == 4}"></i>
                            <i class="iconfont icon-down" ng-class="{'active':sortStyleFunc() == 3}"></i>
                    </span>
                </th>
                <th>操作人员</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in record">
                <td>{{item.mobile}}</td>
                <td>{{item.create_time}}</td>
                <td>{{item.op_username}}</td>
            </tr>
            </tbody>
        </table>
        <tm-pagination conf="pageConfig"></tm-pagination>
    </div>

    <button class="btn btn-default back-btn" ui-sref="account_mag_detail">返回</button>
</div>
