<div ng-controller="change_num_ctrl">
    <section>
        <form name="formNum" class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                    <span class="col-sm-1 control-label"><i class="glyphicon glyphicon-asterisk red"></i>新手机号</span>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" name="input_num" placeholder="请输入新的手机号码"
                               ng-model="new_num" maxlength="11" ng-blur="checkNull()" ng-class="{'tored':warning.isNull}"/>
                        <h6 class="error-tips" ng-if="warning.isPhone"><i class="glyphicon glyphicon-asterisk"></i>请输入11位数字</h6>
                        <h6 class="error-tips" ng-if="warning.isRegistered"><i class="glyphicon glyphicon-asterisk"></i>该手机号已被注册，请重新输入</h6>
                    </div>
                </div>

            <div class="btns">
                <button class="btn btn-primary" ng-click="sureChange()">确认</button>
                <button class="btn btn-default" ui-sref="account_mag_detail">返回</button>
            </div>
        </form>
    </section>
</div>