<div>
    <div class="content">
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>绑定手机号</th>
                    <th ng-click="sortTime()">
                        <span>时间</span>
                        <span class="sort">
                            <i class="iconfont icon-up" ng-class="{'active':sortStyleFunc() == 4}"></i>
                            <i class="iconfont icon-down" ng-class="{'active':sortStyleFunc() == 3}"></i>
                    </span>
                    </th>
                    <th>操作人员</th>
                    <th>操作后状态</th>
                    <th>关闭原因</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in record">
                    <td>{{item.mobile}}</td>
                    <td>{{item.create_time}}</td>
                    <td>{{item.op_username}}</td>
                    <td>{{item.status}}</td>
                    <td ng-if="item.remark" data-toggle="modal" data-target="#close-reason" ng-click="showReason(item.remark)"><span class="reason-span">{{item.remark}}</span></td>
                    <td ng-if="!item.remark"></td>
                </tr>
                </tbody>
            </table>
        <tm-pagination conf="pageConfig"></tm-pagination>
        </div>



        <button class="btn btn-default back-btn" ui-sref="account_mag_detail">返回</button>


    <div class="modal fade" tabindex="-1" role="dialog" id="close-reason">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p ng-bind="reason"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

</div>
