.form-horizontal .control-label{
  text-align:left;
}

/*公用CSS样式 开始*/
#shop_num_null,#shop_num_null2{
  border:1px solid red;
  margin-bottom: 10px;
  height: 32px;
  line-height: 32px;
  background-color: #FFF2F2;
  color: #E82A2A;
  border-radius: 4px;
}
#show_img_size{
  width: 30px;
  height: 30px;
}
.shop_left{
  margin-left: 10px;
  font-weight: bold;
}

.img_sort_size{
  width: 10px;
  height: 16px;
}

.head_nav_font_weight{
  font-weight: bold;
}
.gray{
  color: #cccccc;
}
.btn_top{
  margin-top: 10px;
}
.yesGreen{
  color: #92C661!important;
}
.noRed{
  color:#E6594D!important;
}
.red{
  color: red;
  margin-right: 3px;
}
.blue{
  color: #3F94F6;
}
.still{
  background-color: #F0F0F0!important;
}
.ellipsis{
  word-break: keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
/*公用CSS样式 结束*/

/*APP推荐-banner开始*/

.city{
  margin-bottom: 20px;
}

.citySelect{
  padding: 6px 10px 10px 18px;
  font-size: 12px;
  color: #666F80;
  border-radius: 3px;
  border: 1px solid #BFC0C2;
}
.formDiv{
  display: inline-block;
}


.table{
  table-layout:fixed;
}
.tab_history{
  font-size: 12px;
  line-height: 34px;
}

.tab_class{
  margin-bottom: 20px;
}

/*添加模态框*/
.modal_tab{
  height: 50px;
}
.modal_tab>span{
  display: inline-block;
  text-align: center;
  width: 62px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
.img_box{
  width: 254px;
  height: 137px;
  overflow: hidden;
}
.img_width{
  width: 100%;
}
.modal_red{
  color:red;
}
.img_txt{
  padding-left: 15px;
}

.border_red{
  border:1px solid red!important;
}