<link rel="stylesheet" href="pages/index_recommend_history/css/index_recommend_history.css">

<div ng-controller="index_recommend_history_ctrl">
<!--头部导航开始-->
<div class="header_box">
    <div class="header_txt">
        <i class="glyphicon glyphicon-home"></i>
        <a href="javascript:void(0)" class="head_nav_font_weight">商品管理 </a>>
        <a ui-sref="index_recommend" class="head_nav_font_weight">APP推荐位-banner管理</a>
        <a href="javascript:void(0)" class="gray">历史数据统计</a>
    </div>
</div>
<!--头部导航结束-->

<!--APP推荐-banner开始-->
<div class="content">
    <!--选择城市开始-->
    <div class="city">
        <div class="formDiv">
                <select  name="province" ng-model="selectValue" class="time_select" ng-options="item.name for item in time">
                    <!--<option value="1">今天</option>-->
                    <!--<option value="2">本周</option>-->
                    <!--<option value="2">本月</option>-->
                    <!--<option value="2">本年</option>-->
                    <!--<option value="2">自定义</option>-->
                </select>
            <!--<input type="date" ng-if="selectValue.name=='自定义'" class="form-control" ng-model="date" wdate-picker placeholder="请输入时间">-->
            <input  ng-if="selectValue.name=='自定义'" id="start_time" type="text" ng-model="start_time" ngc-lay-date  class="start_stop_time">
            <input  ng-if="selectValue.name=='自定义'"  id="stop_time" ngc-lay-date type="text" ng-model="stop_time"  class="start_stop_time">
            <a href="" class="search" ng-click="history_search()">搜索</a>
        </div>
    </div>
    <!--选择城市结束-->

    <!--Table内容  开始-->
    <div class="tabTable">
        <table>
            <tr class="th">
                <td>类型</td>
                <td>商品编号</td>
                <td>标题</td>
                <td>来源商家</td>
                <td>上架浏览</td>
                <td>上架销量</td>
                <td>平台价格</td>
                <td>创建时间</td>
                <td>图片</td>
            </tr>
            <tr ng-repeat="item in recommendList">
                <td>{{item.from_type}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.title}}</td>
                <td><a href="">{{item.supplier_name}}</a></td>
                <td>{{item.viewed_number}}</td>
                <td>{{item.sold_number}}</td>
                <td>{{item.platform_price}}</td>
                <td>{{item.create_time}}</td>
                <td><img src="{{item.image}}" alt=""></td>
            </tr>
            <!--<tr>-->
                <!--<td>商家</td>-->
                <!--<td>CD789456</td>-->
                <!--<td>5.1地砖报销</td>-->
                <!--<td><a href="">小猫旗舰店</a></td>-->
                <!--<td>1211</td>-->
                <!--<td>530</td>-->
                <!--<td>540</td>-->
                <!--<td>2017-03-03 16:00</td>-->
                <!--<td><img src="1.jpg" alt=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>商家</td>-->
                <!--<td>CD789456</td>-->
                <!--<td>5.1地砖报销</td>-->
                <!--<td><a href="">小猫旗舰店</a></td>-->
                <!--<td>1211</td>-->
                <!--<td>530</td>-->
                <!--<td>540</td>-->
                <!--<td>2017-03-03 16:00</td>-->
                <!--<td><img src="1.jpg" alt=""></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>商家</td>-->
                <!--<td>CD789456</td>-->
                <!--<td>5.1地砖报销</td>-->
                <!--<td><a href="">小猫旗舰店</a></td>-->
                <!--<td>1211</td>-->
                <!--<td>530</td>-->
                <!--<td>540</td>-->
                <!--<td>2017-03-03 16:00</td>-->
                <!--<td><img src="1.jpg" alt=""></td>-->
            <!--</tr>-->
        </table>
    </div>
    <!--Table内容  结束-->
</div>
</div>
