<div class="add_drawing">
    <form name="curDrawing" novalidate class="form-horizontal">
        <div class="all">
            <div class="form-group">
                <label class="col-md-2 text-left"><i class="glyphicon glyphicon-asterisk red_mark"></i>图纸名称</label>
                <div class="col-md-3">
                    <input ng-class="{'error':(curDrawing.drawingName.$invalid&&submitted)||(curDrawing.drawingName.$error.required || curDrawing.drawingName.$error.pattern)&&change}"
                           ng-pattern="/^[\d\D]{1,12}$/" ng-blur="change=!!curDrawing.drawingName.$error"
                           type="text" name="drawingName" required placeholder="请输入图纸名称"
                           ng-model="cur_drawing.drawing_name" class="form-control">
                </div>
                <p class="col-md-7">*限1~12个字符</p>
            </div>
        </div>
        <div class="all">
            <h1>房屋信息</h1>
                <div class="form-group">
                    <label class="col-md-2 text-left">户型选择</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="cur_drawing.index" ng-options="item.index as item.house_type_name for item in house_type">
                        </select>
                    </div>
                    <p class="col-md-7">*请先添加户型</p>
                </div>
                <div class="form-group">
                    <label class="col-md-2 text-left">系列选择</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="cur_drawing.series" ng-options="item.id as item.series for item in all_series"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 text-left">风格选择</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="cur_drawing.style" ng-options="item.id as item.style for item in all_style"></select>
                    </div>
                </div>
        </div>
        <div class="all">
            <h1>上传图纸</h1>
            <div class="form-group">
                <label class="col-md-2 text-left"><i class="glyphicon glyphicon-asterisk red_mark"></i>图纸</label>
                <div class="col-md-10">
                    <div class="cur_drawing" ng-repeat="item in cur_drawing.all_drawing track by $index">
                        <img ng-src="{{item}}" width="100px" height="100px">
                        <div class="text-center" ng-click="deleteDrawing($index)">&times;</div>
                    </div>
                    <div style="width: 100px;height: 100px;display: inline-block" ngf-pattern="image/*"  ng-change="upload(data.file)"  ngf-select="" ng-model="data.file" ngf-multiple="false" ng-if="cur_drawing.all_drawing.length<6">
                        <img src="pages/intelligent/images/add.png" alt="" width="100px" height="100px">
                    </div>
                    <p class="pic_error" ng-if="drawing_error != ''"><i class="glyphicon glyphicon-asterisk red_mark"></i>{{drawing_error}}</p>
                </div>
            </div>
            <span></span>
        </div>
        <div class="from-group submit">
            <button class="btn btn-primary" type="submit" ng-click="saveDrawing(curDrawing.$valid)">确认</button>
            <button type="button" class="btn btn-default" ng-click="goPrev()">返回</button>
        </div>
    </form>
</div>