<div class="add_material">
    <h6 class="location"><i style="margin-right: 5px;font-size: 20px;" class="glyphicon glyphicon-map-marker"
                            aria-hidden="true"></i>{{province_name}}-{{city_name}}
    </h6>
    <div class="search form-inline clearfix">
        <div class="form-group">
            <button ui-sref="material_detail({status:0})"><i class="iconfont icon-add" style="margin-right: 5px;"
                                                             aria-hidden="true"></i>添加新材料
            </button>
            <button ng-click="refresh()" ng-disabled="status_words=='刷新中...'">{{status_words}}</button>
        </div>
        <div class="form-group pull-right">
            <div class="input-group">
                <input id="search" class="form-control" type="text" placeholder="搜索小区名称" ng-model="params.keyword">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <button class="btn btn-default" ng-click="getKeywordMaterialsList()">查询</button>
        </div>
    </div>
    <table class="table table-responsive table-hover">
        <tr>
            <th>材料名称</th>
            <th>创建日期</th>
            <th>相关</th>
            <th>详情</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in material_list">
            <td>{{item.three_materials}}</td>
            <td>{{item.add_time}}</td>
            <td>{{item.correlation_message}}</td>
            <td><a ui-sref="material_detail({status:1,id:item.id})">编辑</a></td>
            <td><a ng-click="deleteMaterial(item)">删除</a></td>
        </tr>
    </table>
    <tm-pagination conf="Config"></tm-pagination>
</div>