<div class="coefficient_manage">
    <h6 class="location"><i style="margin-right: 5px;font-size: 20px;" class="fa fa-map-marker" aria-hidden="true"></i>{{province_name}}-{{city_name}}
    </h6>
    <form novalidate name="cur_coefficient">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-1 text-right">
                <button type="button" ng-click="addCoefficient()" class="text-center"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
        <div class="row" ng-repeat="item in all_coefficient" style="margin-bottom: 20px;">
            <div class="col-md-1 text-right">
                <button type="button" class="text-center" ng-click="removeCoefficient(item)"><i class="glyphicon glyphicon-minus"></i></button>
            </div>
            <div class="col-md-2">
                <select ng-disabled="!$last" ng-model="item.category_id" class="form-control" ng-options="item1.id as item1.title for item1 in item.options"></select>
            </div>
            <div class="col-md-2">
                <input type="text" name="name{{$index}}" placeholder="请输入小于1的数字" ng-model="item.coefficient" class="form-control" required
                ng-pattern="/^0\.0[1-9]$|^0\.[1-9]\d?$|^1(\.00|\.0)?$/" ng-class="{'error':(cur_coefficient['name'+$index].$invalid&&submitted) ||
                ((cur_coefficient['name'+$index].$error.required || cur_coefficient['name'+$index].$error.pattern)&&item.flag)}"
                       ng-blur="item.flag=!!cur_coefficient['name'+$index].$error">
            </div>
            <p class="col-md-7">*0＜X≤1的数字，精确到小数点后两位</p>
        </div>
        <div class="from-group" style="margin-top:100px;">
            <button class="btn btn-primary" type="submit" ng-click="saveCoefficient(cur_coefficient.$valid)">确认</button>
            <button type="button" class="btn btn-default" ng-click="goPrev()">返回</button>
        </div>
    </form>
</div>