<div class="engineering_standards">
    <h6 class="location text-left"><i style="margin-right: 5px;font-size: 20px;" class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>{{province_name}}-{{city_name}}</h6>
    <table class="table table-responsive table-hover">
        <tr>
            <th>名称</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in process_list">
            <td>{{item.project}}</td>
            <td><a ng-click="goEngineeringDetail(item)">编辑</a></td>
        </tr>
    </table>
</div>