<div class="ulright">
    <form novalidate name="goods_manage">
    <h6 class="location"><i style="margin-right: 5px;font-size: 20px;" class="fa fa-map-marker" aria-hidden="true"></i>{{province_name}}-{{city_name}}</h6>
    <ul>
        <li ng-repeat="item in level_one" ng-class="{'cur_select':cur_level_one==item}" ng-click="go_detail(item,1)">{{item.title}}</li>
    </ul>

    <ul>
        <li ng-repeat="item in level_two" ng-class="{'cur_select':cur_level_two==item}" ng-click="go_detail(item,2)">{{item.title}}</li>
    </ul>

    <ul class="thirdul" style="overflow: auto">
        <li ng-repeat="item in level_three"><input ng-click="item_check(item,0)" type="checkbox" ng-model="item.complete">{{item.title}}</li>
    </ul>

    <ul class="lastul" style="overflow: auto">
        <li ng-repeat="item in check_item track by $index">
            <div>
            {{item.title}}
            <img src="pages/intelligent/images/close.png" alt="" ng-click="delete_check(item)">
            </div>
            <input type="text" style="display: inline-block" ng-model="item.quantity" placeholder="请输入数量" name="goods{{$index}}" ng-blur="item.flag = !!goods_manage['goods'+$index].$error"
            required ng-class="{'error':(goods_manage['goods'+$index].$invalid&&submitted)||(goods_manage['goods'+$index].$error.required&&item.flag)}">
        </li>
    </ul>
    <div class="from-group submit">
        <button class="remove" ng-click="save_goods_manage(goods_manage.$valid)">保存</button>
        <button ng-click="go_index()">返回</button>
    </div>
    </form>
</div>