<div class="home_manage">
    <h6 class="location"><i style="margin-right: 5px;font-size: 20px;" class="fa fa-map-marker" aria-hidden="true"></i>{{cur_province.name}}-{{cur_city.name}}</h6>
    <div class="form-group">
        <button ng-click="add_manage()"><i class="fa fa-plus" style="margin-right: 5px;" aria-hidden="true"></i>添加</button>
        <select ng-model="cur_county" ng-options="item.name for item in county"></select>
    </div>
    <table class="table">
        <tr>
            <th>推荐名称</th>
            <th>创建日期</th>
            <th>小区名称</th>
            <th>所在区域</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <!--<tr ng-repeat="">-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
        <!--</tr>-->
    </table>
</div>