<!--<div ng-controller="intelligent_ctrl">-->
    <!--&lt;!&ndash;<header>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="header_title highLight"><i style="font-size: 20px;margin-right: 5px;" class="fa fa-file-text" aria-hidden="true"></i><span ng-click="go_index()">智能报价</span><span ng-if="!!second_title" ng-click="go_second()" ng-class="{'dark':(!!second_title&&!three_title)}">>{{second_title}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span ng-if="!!three_title" ng-click="go_three()" ng-class="{'dark':(!!three_title&&!four_title)}">>{{three_title}}</span><span ng-if="!!four_title" class="dark">>{{four_title}}</span></div>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<span class="message">站内信</span>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<span class="account">个人面板</span>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<button><i class="fa fa-user" aria-hidden="true"></i></button>&ndash;&gt;-->
    <!--&lt;!&ndash;</header>&ndash;&gt;-->
    <!--&lt;!&ndash;<breadcrumb crumbConf="crumb"></breadcrumb>&ndash;&gt;-->
    <div ng-controller="intelligent_ctrl">
        <div>
        <div ui-view></div>
        </div>
    </div>
<!--</div>-->