<div class="intelligent_index">
    <button ui-sref="general_manage"><i style="margin-right: 5px;" class="fa fa-cog" aria-hidden="true"></i>通用管理
    </button>
    <form action="">
        <label>
            选择省份
            <select ng-model="ctrlScope.cur_province" ng-options="item.id as item.name for item in province"
                    ng-change="getCity()"></select>
        </label>
        <label>
            选择城市
            <select ng-model="ctrlScope.cur_city" ng-options="item.id as item.name for item in city"
                    ng-change="getCounty()"></select>
        </label>
    </form>
</div>
<div class="all_btn">
    <button ui-sref="worker_price_list({city:cur_city,province:cur_province})">资费/做工标准</button>
    <button ui-sref="engineering_standards({city:cur_city,province:cur_province})">工程标准</button>
    <button ng-click="goHouseList()">小区列表</button>
    <button ng-click="go_home_manage()">首页管理</button>
    <button ui-sref="goods_manage({city:cur_city,province:cur_province})">智能报价配套商品管理</button>
    <button ui-sref="add_support_goods({city:cur_city,province:cur_province})">案例/社区店配套商品管理</button>
    <button ui-sref="coefficient_manage({city:cur_city,province:cur_province})">系数管理</button>
    <button ui-sref="add_material({city:cur_city,province:cur_province})">材料添加项</button>
</div>