<div class="intelligent_index">
    <button ui-sref="general_manage"><i style="margin-right: 5px;" class="fa fa-cog" aria-hidden="true"></i>通用管理
    </button>
    <form>
        <label>
            选择省份
            <select ng-model="province" ng-options="item.region_code as item.region_name for item in province_options"
                    ng-change="getCity()"></select>
        </label>
        <label>
            选择城市
            <select ng-model="city" ng-options="item.region_code as item.region_name for item in city_options[province]"
                    ng-change="getCounty()"></select>
        </label>
    </form>
</div>
<div class="all_btn">
    <button ui-sref="worker_price_list">资费/做工标准</button>
    <button ui-sref="engineering_standards">工程标准</button>
    <button ui-sref="house_list">小区列表</button>
    <button ui-sref="home_manage">首页管理</button>
    <button ui-sref="goods_manage">智能报价配套商品管理</button>
    <button ui-sref="add_support_goods">案例/社区店配套商品管理</button>
    <button ui-sref="coefficient_manage">系数管理</button>
    <button ui-sref="add_material">材料添加项</button>
</div>