<div class="material_detail">
    <form novalidate name="material_detail">
        <div class="row" style="margin-top: 60px;">
            <p class="col-md-2">一级分类</p>
            <p class="col-md-2">二级分类</p>
            <p class="col-md-2">三级分类</p>
        </div>
        <div class="row" ng-if="cur_status == 0">
            <p class="col-md-2">
                <select ng-change="getCategory(1)" ng-options="item.title for item in level_one" ng-model="vm.cur_level_one"
                        class="form-control"></select>
            </p>
            <p class="col-md-2">
                <select ng-change="getCategory()" ng-options="item.title for item in level_two" ng-model="vm.cur_level_two"
                        class="form-control"></select>
            </p>
            <p class="col-md-2">
                <select ng-options="item.title for item in level_three" ng-model="vm.cur_level_three"
                        class="form-control"></select>
            </p>
            <p class="col-md-6">
                <button class="btn btn-primary" ng-click="getMaterialDetail()">抓取材料</button>
            </p>
        </div>
        <div class="row" ng-if="cur_status==1">
            <p class="col-md-2">{{material_category.first_level}}</p>
            <p class="col-md-2">{{material_category.second_level}}</p>
            <p class="col-md-2">{{material_category.third_level}}</p>
            <p class="col-md-6">
                <button class="btn btn-primary" ng-click="getMaterialDetail()">抓取材料</button>
            </p>
        </div>
        <div style="margin-top: 60px;" ng-if="basic_attr!=''">
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
                <p class="col-md-1">商品名称</p>
                <p class="col-md-2">{{basic_attr.goods_name}}</p>
            </div>
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
                <p class="col-md-1">商品编码</p>
                <p class="col-md-2">{{basic_attr.sku}}</p>
            </div>
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
                <p class="col-md-1">商品属性</p>
                <div class="col-md-2" ng-if="other_attr!=''">
                    <div class="row" ng-repeat="item in other_attr">
                        <p class="col-md-6">{{item.name}}</p>
                        <p class="col-md-6">{{item.value}}</p>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
                <p class="col-md-1">价格/库存</p>
                <div class="col-md-4">
                    <div class="row" style="border-bottom: 1px solid #ccc;margin-bottom: 5px;">
                        <p class="col-md-3">供货价格</p>
                        <p class="col-md-3">平台价格</p>
                        <p class="col-md-3">市场价格</p>
                        <p class="col-md-3">库存</p>
                    </div>
                    <div class="row">
                        <p class="col-md-3">{{basic_attr.purchase_price_decoration_company | currency:'￥'}}</p>
                        <p class="col-md-3">{{basic_attr.platform_price | currency:'￥'}}</p>
                        <p class="col-md-3">{{basic_attr.market_price | currency:'￥'}}</p>
                        <p class="col-md-3">{{basic_attr.left_number}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 60px;border-bottom: 1px solid #ccc;margin-bottom: 40px;">
            <p class="col-md-1" ng-click="tab_status = 0" style="margin-bottom: 0;"><span class="tab_title" ng-class="{'cur_choose':tab_status == 0}">系列相关</span>
            </p>
            <p class="col-md-1" ng-click="tab_status = 1" style="margin-bottom: 0;"><span class="tab_title" ng-class="{'cur_choose':tab_status == 1}">风格相关</span>
            </p>
            <p class="col-md-1" ng-click="tab_status = 2" style="margin-bottom: 0;" ><span class="tab_title" ng-class="{'cur_choose':tab_status == 2}">户型相关</span>
            </p>
        </div>
        <div class="row" ng-if="tab_status == 0">
            <p class="col-md-1" style="margin-top: 10px;">系列相关</p>
            <div class="col-md-10 tab-item">
                <div class="row">
                    <p class="col-md-2">系列名称</p>
                    <p class="col-md-2">需要数目</p>
                </div>
                <div class="row" ng-repeat="item in all_series">
                    <p class="col-md-2">{{item.series}}</p>
                    <p class="col-md-2">
                        <input name="series{{$index}}" type="text" required ng-pattern="/^\d{1,6}$/"
                               class="form-control" ng-model="item.quantity"
                               ng-blur="item.flag = !!material_detail['series'+$index].$error"
                               ng-class="{'error':(material_detail['series'+$index].$invalid&&submitted)||(material_detail['series'+$index].$error.required || material_detail['series'+$index].$error.pattern)&&!!item.flag}">
                    </p>
                    <p class="col-md-8">*≥0的整数数字</p>
                </div>
            </div>
        </div>
        <div class="row" ng-if="tab_status == 1">
            <p class="col-md-1" style="margin-top: 10px;">风格相关</p>
            <div class="col-md-10 tab-item">
                <div class="row">
                    <p class="col-md-2">风格相关</p>
                    <p class="col-md-2">需要数目</p>
                </div>
                <div class="row" ng-repeat="item in all_style">
                    <p class="col-md-2">{{item.style}}</p>
                    <p class="col-md-2">
                        <input name="style{{$index}}" required ng-pattern="/^\d{1,6}$/" type="text"
                               class="form-control" ng-model="item.quantity"
                               ng-blur="item.flag = !!material_detail['style'+$index].$error"
                               ng-class="{'error':(material_detail['style'+$index].$invalid&&submitted)||(material_detail['style'+$index].$error.required || material_detail['style'+$index].$error.pattern)&&!!item.flag}">
                    </p>
                    <p class="col-md-8">*≥0的整数数字</p>
                </div>
            </div>
        </div>
        <div class="row" ng-if="tab_status == 2">
            <p class="col-md-1" style="margin-top: 10px;">户型相关</p>
            <div class="col-md-10 tab-item">
                <div class="row">
                    <p class="col-md-2">户型面积</p>
                    <p class="col-md-2">需要数目</p>
                </div>
                <div class="row" ng-repeat="item in area_range">
                    <p class="col-md-2" ng-if="$first">{{item.max_area}}m<sup>2</sup>以下</p>
                    <p class="col-md-2" ng-if="!$first">{{item.min_area}}m<sup>2</sup>~{{item.max_area}}m<sup>2</sup></p>
                    <p class="col-md-2">
                        <input name="area{{$index}}" required ng-pattern="/^\d{1,6}$/" type="text" ng-model="item.quantity"
                               class="form-control" ng-blur="item.flag = !!material_detail['area'+$index].$error"
                               ng-class="{'error':(material_detail['area'+$index].$invalid&&submitted)||(material_detail['area'+$index].$error.required || material_detail['area'+$index].$error.pattern)&&!!item.flag}">
                    </p>
                    <p class="col-md-8">*≥0的整数数字</p>
                </div>
            </div>
        </div>
        <div class="from-group submit">
            <button class="btn btn-primary" type="submit" ng-click="save_material(material_detail.$valid)">确认</button>
            <button type="button" class="btn btn-default" ng-click="material_return()">返回</button>
        </div>
    </form>
</div>