<div class="worker_price_list">
    <h6 class="location text-right"><i style="margin-right: 5px;font-size: 20px;" class="fa fa-map-marker" aria-hidden="true"></i>{{province_name}}-{{city_name}}</h6>
    <table class="table table-responsive table-hover">
        <tbody>
        <tr>
            <th >工种名称</th>
            <th>详情</th>
        </tr>
        <tr ng-repeat="item in cur_worker_list">
            <td class="text-left">{{item.worker_kind}}</td>
            <td class="text-left edit" ng-click="edit_worker(item)">编辑</td>
        </tr>
        </tbody>
    </table>
</div>