<link rel="stylesheet" href="pages/mall_manage/class_manage/cla_mag/css/cla_mag.css">
<div ng-controller="cla_mag_tabbar" class="cla_mag_tabbar">
        <div class="cla_mag_tabtitle">
            <span id="onsale_tab" ng-click="tabFunc('onsale_flag')" ng-class="{clickstyle:onsale_flag}">已上架</span>
            <span id="offsale_tab" ng-click="tabFunc('offsale_flag')" ng-class="{clickstyle:offsale_flag}">已下架</span>
        </div>

        <!--已上架-->
        <div class="on_sale" id="on_sale">
            <!--上架菜单按钮组-->
            <div class="cla_mag_btngroup" ng-if="onsale_flag">
                <button class="chooseall_btn" ng-click=checkAll()>全选</button>
                <button class="xiajia_btn" data-toggle="modal" data-target="#batchoffline_modal">下架</button>
                <span class="fenleichoose_span">分类选择</span>
                <!--/*分类选择一级下拉框*/-->
                <select name=""  class="fenleichoose" ng-model="dropdown.firstselect" ng-options="item.id as item.title for item in firstclass" ng-change="subClass(firstselect)"></select>
                <!--/*分类选择二级菜单*/-->
                <select name="" class="cailiaochoose" ng-show="dropdown.firstselect=='0'?false:true" ng-options="item.id as item.title for item in secondclass" ng-model="dropdown.secselect"></select>
            </div>
            <div class="cla_mag_btngroup"  ng-if="offsale_flag">
                <button id="add" ui-sref="add_class">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>添加</span>
                </button>
                <button class="chooseall_btn" ng-click=checkAll()>全选</button>
                <button class="xiajia_btn" data-toggle="modal" data-target="#batchonline_modal">上架</button>
                <span class="fenleichoose_span">分类选择</span>
                <!--/*分类选择一级下拉框*/-->
                <select name=""  class="fenleichoose" ng-model="dropdown.firstselect" ng-options="item.id as item.title for item in firstclass" ng-change="subClass(firstselect)"></select>
                <!--/*分类选择二级菜单*/-->
                <select name="" class="cailiaochoose" ng-show="dropdown.firstselect=='0'?false:true" ng-options="item.id as item.title for item in secondclass" ng-model="dropdown.secselect"></select>
            </div>


            <!--已上架Table内容-->
            <div class="onsale_table">
                <table>
                    <tr class="th">
                        <td>&nbsp;</td>
                        <td>所属分类</td>
                        <td>分类图片</td>
                        <td>分类名称</td>
                        <td>分类级别</td>
                        <td ng-click=sortTime()>
                            <span ng-if="onsale_flag">上架时间</span>
                            <span ng-if="offsale_flag">下架时间</span>
                            <span class="sortpic">
                                 <i class="glyphicon glyphicon-triangle-top"
                                    ng-class="{'active':sortStyleFunc() == 4}"></i>
                                 <i class="glyphicon glyphicon-triangle-bottom"
                                    ng-class="{'active':sortStyleFunc() == 3}"></i>
                    </span>
                        </td>
                        <td ng-if="onsale_flag">添加人员</td>
                        <td ng-if="offsale_flag">操作人员</td>
                        <td>状态</td>
                        <td ng-if="offsale_flag">下架原因</td>
                        <td>详情</td>
                        <td>操作</td>
                    </tr>

                    <tr ng-repeat="item in listdata">
                        <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
                        <td>{{item.parent_title}}</td>
                        <td><img ng-src="{{baseUrl + '/'+ item.icon}}"></td>
                        <td>{{item.title}}</td>
                        <td>{{item.level}}</td>
                        <td ng-if="onsale_flag">{{item.online_time}}</td>
                        <td ng-if="!onsale_flag">{{item.offline_time}}</td>
                        <td ng-if="onsale_flag">{{item.online_person}}</td>
                        <td ng-if="!onsale_flag">{{item.offline_person}}</td>
                        <td class="yesGreen" ng-if="onsale_flag">{{item.status}}</td>
                        <td class="yesred" ng-if="!onsale_flag">{{item.status}}</td>
                        <td ng-if="onsale_flag" class="edit" ui-sref="onsale_edit({item:item})">编辑</td>
                        <td ng-if="!onsale_flag" class="edit" ui-sref="offsale_edit({item:item})">编辑</td>
                        <td ng-if="!onsale_flag" id="dianji_shuru" data-toggle="modal" data-target="#shuru_modal" ng-click="resetOffReason(item.id,item.offline_reason)" ng-bind="item.offline_reason||'点击输入'" ></td>
                        <td ng-if="onsale_flag" class="xiajia" data-toggle="modal" data-target="#xiajia_modal" ng-click="singleOffline(item.id)">下架</td>
                        <td ng-if="!onsale_flag" class="shangjia" data-toggle="modal" data-target="#shangjia_modal" ng-click="singleOnline(item.id)">上架</td>
                    </tr>
                </table>
                <tm-pagination conf="pageConfig"></tm-pagination >
            </div>
        </div>
    </div>

    <!--已上架 单个下架 模态框-->
    <div class="modal fade" id="xiajia_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="xiajia_content">
                <div class="modal-header" id="xiajia_header">
                    <h4 class="modal-title" id="xiajiacaozuo">
                        下架操作
                    </h4>
                </div>
                <div class="modal-body" id="xiajia_body">
                    <h6 id="xiajia_fenlei">下架
                       1个分类
                    </h6>
                    <h6 id="xiajia_reason">下架原因（选填）</h6>
                    <textarea name="" id="xiajia_textarea" cols="43" rows="14"
                              placeholder="请填写下架原因，如选择多个则为批量备注" ng-model="offlinereason"></textarea>
                </div>

                <div class="btn_modal">
                    <button id="cancel" data-dismiss="modal" ng-click="cancelOffline()">取消</button>
                    <button id="sure" data-dismiss="modal" ng-click="sureOffline()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--已上架 批量下架 模态框-->
    <div class="modal fade" id="batchoffline_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="piliangxiajia_content">
                <div class="modal-header" id="piliangxiajia_header">
                    <h4 class="modal-title" id="piliangxiajiacaozuo">
                        下架操作
                    </h4>
                </div>
                <div class="modal-body" id="piliangxiajia_body">
                    <h6 id="piliangxiajia_fenlei">下架
                        {{table.roles.length}}个分类
                    </h6>
                    <h6 id="piliangxiajia_reason">下架原因（选填）</h6>
                    <textarea name="" id="piliangxiajia_textarea" cols="43" rows="14"
                              placeholder="请填写下架原因，如选择多个则为批量备注" ng-model="batchoffline_reason"></textarea>
                </div>

                <div class="btn_modal">
                    <button id="piliang_cancel" data-dismiss="modal" ng-click="cancelBatchOffline()">取消</button>
                    <button id="piliang_sure" data-dismiss="modal" ng-click="sureBatchOffline()">确认</button>
                </div>
            </div>
        </div>
    </div>


    <!--已下架 单个上架 模态框-->
    <div class="modal fade" id="shangjia_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="caozuo_content">
                <div class="modal-header" id="caozuo_header">
                    <h4 class="modal-title" id="caozuo_shangjia">
                        提示
                    </h4>
                </div>
                <div class="modal-body" id="caozuo_body">
                    <h6 id="shangjia_makesure">上架1个分类，是否确认上架</h6>
                </div>

                <div class="btn_modal_two">
                    <button data-dismiss="modal" id="caozuo_cancel">取消</button>
                    <button data-dismiss="modal" id="caozuo_sure"  ng-click="sureOnline()">确认</button>
                </div>
            </div>
        </div>
    </div>


    <!--已下架 批量上架 模态框-->
    <div class="modal fade" id="batchonline_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="sjcaozuo_content">
                <div class="modal-header" id="sjcaozuo_header">
                    <h4 class="modal-title" id="sjcaozuo_shangjia">
                        提示
                    </h4>
                </div>
                <div class="modal-body" id="sjcaozuo_body">
                    <h6>上架{{table.roles.length}}个分类，是否确认上架</h6>
                </div>

                <div class="btn_modal_two">
                    <button data-dismiss="modal" id="sjcaozuo_cancel" ng-click="cancelplliangonline()">取消</button>
                    <button data-dismiss="modal" id="sjcaozuo_sure" ng-click="surepiliangonline()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <!--已下架 下架原因模态框-->
    <div class="modal fade" id="shuru_modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="shuru_content">
                <div class="modal-header" id="shuru_header">
                    <h4 class="modal-title" id="shurucaozuo">
                        下架原因
                    </h4>
                </div>
                <div class="modal-body" id="shuru_body">
                    <h6 id="shuru_reason">下架原因（选填）</h6>
                    <textarea name="" id="shuru_textarea" cols="50" rows="14"
                              placeholder={{original_reason==''?'请填写下架原因，如选择多个则为批量备注':''}} ng-model="original_reason"></textarea>
                </div>

                <div class="btn_modal">
                    <button data-dismiss="modal" id="shuru_cancel" ng-click="cancelReset()">取消</button>
                    <button data-dismiss="modal" id="shuru_sure" ng-click="surereset()">确认</button>
                </div>
            </div>
        </div>
    </div>


</div>
