<div class="form-inline clearfix">
        <button class="btn btn-default" ng-click=checkAll()>全选</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#batchoffline_modal">下架</button>
        <span class="class-choose">分类选择</span>
        <!--/*分类选择一级下拉框*/-->
        <select name=""  class="form-control" ng-model="dropdown.firstselect" ng-options="item.id as item.title for item in firstclass" ng-change="subClass(firstselect)"></select>
        <!--/*分类选择二级菜单*/-->
        <select name="" class="form-control" ng-show="dropdown.firstselect=='0'?false:true" ng-options="item.id as item.title for item in secondclass" ng-model="dropdown.secselect"></select>
</div>

<div class="content">
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>所属分类</th>
            <th>分类图片</th>
            <th>分类名称</th>
            <th>分类级别</th>
            <th ng-click=sortTime()>
                <span>下架时间</span>
                <span class="sort">
                            <i class="iconfont icon-up" ng-class="{'active':sortStyleFunc() == 4}"></i>
                            <i class="iconfont icon-down" ng-class="{'active':sortStyleFunc() == 3}"></i>
                        </span>
            </th>
            <th>添加人员</th>
            <th>状态</th>
            <th>详情</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in listdata">
            <td><input type="checkbox" checklist-model="table.roles" checklist-value="item.id"></td>
            <td>{{item.parent_title}}</td>
            <td><img ng-src="{{ item.icon}}"></td>
            <td>{{item.title}}</td>
            <td>{{item.level}}</td>
            <td>{{item.online_time}}</td>
            <td>{{item.online_person}}</td>
            <td class="class-state">{{item.status}}</td>
            <td class="edit" ui-sref="onsale_edit({item:item})">编辑</td>
            <td class="handle" data-toggle="modal" data-target="#xiajia_modal" ng-click="singleOffline(item.id)">下架</td>
        </tr>
        </tbody>
    </table>
    <tm-pagination conf="pageConfig"></tm-pagination>
</div>
<!--已上架 单个下架 模态框-->
<div class="modal fade" id="xiajia_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="xiajia_content">
            <div class="modal-header" id="xiajia_header">
                <h4 class="modal-title" id="xiajiacaozuo">
                    下架操作
                </h4>
            </div>
            <div class="modal-body" id="xiajia_body">
                <h6 id="xiajia_fenlei">下架
                    1个分类
                </h6>
                <h6 id="xiajia_reason">下架原因（选填）</h6>
                <textarea name="" id="xiajia_textarea" cols="43" rows="14"
                          placeholder="请填写下架原因，如选择多个则为批量备注" ng-model="offlinereason"></textarea>
            </div>

            <div class="btn_modal">
                <button id="cancel" data-dismiss="modal" ng-click="cancelOffline()">取消</button>
                <button id="sure" data-dismiss="modal" ng-click="sureOffline()">确认</button>
            </div>
        </div>
    </div>
</div>

<!--已上架 批量下架 模态框-->
<div class="modal fade" id="batchoffline_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" id="piliangxiajia_content">
            <div class="modal-header" id="piliangxiajia_header">
                <h4 class="modal-title" id="piliangxiajiacaozuo">
                    下架操作
                </h4>
            </div>
            <div class="modal-body" id="piliangxiajia_body" ng-if="table.roles.length">
                <h6 id="piliangxiajia_fenlei">下架
                    {{table.roles.length}}个分类
                </h6>
                <h6 id="piliangxiajia_reason">下架原因（选填）</h6>
                <textarea name="" id="piliangxiajia_textarea" cols="43" rows="14"
                          placeholder="请填写下架原因，如选择多个则为批量备注" ng-model="batchoffline_reason"></textarea>
            </div>

            <div class="modal-body" id="piliangxiajia_body" ng-if="!table.roles.length">
                <h6 id="piliangxiajia_fenlei">请至少选择一个分类</h6>
            </div>



            <div class="btn_modal" ng-if="table.roles.length">
                <button id="piliang_cancel" data-dismiss="modal" ng-click="cancelBatchOffline()">取消</button>
                <button id="piliang_sure" data-dismiss="modal" ng-click="sureBatchOffline()">确认</button>
            </div>

            <div class="btn_modal" ng-if="!table.roles.length">
                <button id="piliang_sure" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>