form {
    padding-top: 50px;
    padding-left: 140px;
}

.form-group .icon-style {
    padding-left: 0;
    padding-right: 0;
    width: 5%
}

.form-group .unit-style {
    width: 105px;
}

.form-group .unit-style .form-control {
    width: 100% !important;
}

.form-group .content-style .form-control {
    width: 30% !important;
}

.attr_font {
    color: #ABABAB;
}

.btns {
    margin-top: 200px;
}

.bg_blue {
    color: #487AF8;
    background-color: #F2F4FF;
}

.warningred {
    border: 1px solid red;
}